﻿@model dynamic

@{
    ViewBag.Title = "Доступ запрещен";
    Layout = "_kendo";
}

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        <!-- Error title -->
        <div class="text-center content-group">
            <h1 class="error-title" style="font-size: 100px;">Доступ запрещен</h1>
            <h5>Обратитесь к администратору или вернитесь назад!</h5>
        </div>
        <!-- /error title -->
        <!-- Error content -->
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                <button class="btn btn-block bg-slate-800" onclick="history.back();">
                    Вернуться назад
                </button>
            </div>
        </div>

    </div>
    <!-- /content area -->

</div>