﻿@using CoreDB.Base
@using CoreLimitless
@using CoreSupport.Reflection
@using CoreWeb2.Services
@using Kendo.Mvc.UI
@using Microsoft.EntityFrameworkCore
@inject ServiceDB<DataDb> service
@{
    ViewData["Title"] = "Home Page";
    Layout = "_kendo";
}

@*@(new LimitlessPageHeader
  {
      Caption = "Добро пожаловать"
  })*@

@*<div class="content">
    @(new LimitlessPanel
      {
          Class = "col-md-6",
          Title = "hello",
          Reload = "/Home/ping"
      })
</div>*@

@(Html.Kendo().Splitter()
      .Name("splitter")
      .Panes(panes =>
      {
          panes.Add().HtmlAttributes(new { id = "panel_left" });
          panes.Add().HtmlAttributes(new { id = "panel_right" });
      })
      .HtmlAttributes(new
      {
          style="width:calc(100%-4px);"
      }))

<script>
    $(function() {
        var element = $("#splitter").closest('.content-wrapper').get(0);
        var outerSplitter = $("#splitter").data("kendoSplitter");
        let resizeSensor = new ResizeSensor(element, function() {
            outerSplitter.wrapper.height(element.clientHeight - 2);
            outerSplitter.wrapper.width(element.clientWidth - 2);
            outerSplitter.resize();
        });
    });
</script>