﻿@using BaseDBFX.Table
@using Finflaex.Support.MVC.Models
@using Kendo.Mvc.UI
@model BaseDBFX.Base.ActionData

@{
    var label_status_list = (
        from label in Model.db.Labels
        where label.Type == TypeLabel.status
        orderby label.Order
        select new GuidValue
        {
            Guid = label.ID,
            Value = label.Caption
        })
        .ToArray();

    var label_status_value = (
        from org in Model.db.Organizations
        where org.ID == Model.GuidValue.id
        from label in org.Labels
        where label.Type == TypeLabel.status
        select label.ID)
        .FirstOrDefault();

    var label_work_step_list = (
        from label in Model.db.Labels
        where label.Type == TypeLabel.work_step
        orderby label.Order
        select new GuidValue
        {
            Guid = label.ID,
            Value = label.Caption
        })
        .ToArray();

    var label_work_step_value = (
        from org in Model.db.Organizations
        where org.ID == Model.GuidValue.id
        from label in org.Labels
        where label.Type == TypeLabel.work_step
        select label.ID)
        .FirstOrDefault();

    var label_user_list = (
        from user in Model.db.Logins
        where user.ID == Model.AuthorGuid
        from label in user.Labels
        where label.Type == TypeLabel.user
        orderby label.Caption
        select new GuidValue
        {
            Guid = label.ID,
            Value = label.Caption
        })
        .ToArray();

    var label_user_value = (
        from org in Model.db.Organizations
        where org.ID == Model.GuidValue.id
        from label in org.Labels
        where label.Type == TypeLabel.user
        where label.UserID == Model.AuthorGuid
        select label.ID)
        .ToArray();

    var label_direction_list = (
        from label in Model.db.Labels
        where label.Type == TypeLabel.org_direction
        orderby label.Order
        select new GuidValue
        {
            Guid = label.ID,
            Value = label.Caption
        })
        .ToArray();

    var label_direction_value = (
        from org in Model.db.Organizations
        where org.ID == Model.GuidValue.id
        from label in org.Labels
        where label.Type == TypeLabel.org_direction
        select label.ID)
        .ToArray();

    var label_product_list = (
        from label in Model.db.Labels
        where label.Type == TypeLabel.org_product
        orderby label.Order
        select new GuidValue
        {
            Guid = label.ID,
            Value = label.Caption
        })
        .ToArray();

    var label_product_value = (
        from org in Model.db.Organizations
        where org.ID == Model.GuidValue.id
        from label in org.Labels
        where label.Type == TypeLabel.org_product
        select label.ID)
        .ToArray();

    var label_operation_list = (
        from label in Model.db.Labels
        where label.Type == TypeLabel.org_operation
        orderby label.Order
        select new GuidValue
        {
            Guid = label.ID,
            Value = label.Caption
        })
        .ToArray();

    var label_operation_value = (
        from org in Model.db.Organizations
        where org.ID == Model.GuidValue.id
        from label in org.Labels
        where label.Type == TypeLabel.org_operation
        select label.ID)
        .ToArray();
}

<div class="row">
    <div class="col-lg-6">
        <dl>
            <dt>Статус в системе:</dt>
            <dd>
                @(Html.Kendo().DropDownList().Name("label_" + TypeLabel.status)
                      .DataValueField("Guid")
                      .DataTextField("Value")
                      .OptionLabel(new GuidValue
                      {
                          Guid = Guid.Empty,
                          Value = "- пусто -"
                      })
                      .HtmlAttributes(new
                      {
                          style = "width:100%;"
                      })
                      .Events(v => v.Change("ChangeSingleLabel"))
                      .BindTo(label_status_list)
                      .Value(label_status_value.ToString()))
            </dd>
            <dt>Статус клиента:</dt>
            <dd>
                @(Html.Kendo().DropDownList().Name("label_" + TypeLabel.work_step)
                      .DataValueField("Guid")
                      .DataTextField("Value")
                      .OptionLabel(new GuidValue
                      {
                          Guid = Guid.Empty,
                          Value = "- пусто -"
                      })
                      .HtmlAttributes(new
                      {
                          style = "width:100%;"
                      })
                      .Events(v => v.Change("ChangeSingleLabel"))
                      .BindTo(label_work_step_list)
                      .Value(label_work_step_value.ToString()))
            </dd>
        </dl>
    </div>
    <div class="col-lg-6">
        <dl>
            <dt>Деятельность:</dt>
            <dd>
                @(Html.Kendo().MultiSelect().Name("label_" + TypeLabel.org_direction)
                      .DataValueField("Guid")
                      .DataTextField("Value")
                      .HtmlAttributes(new
                      {
                          style = "width:100%;"
                      })
                      .Events(v => v.Change("ChangeMultiLabel"))
                      .BindTo(label_direction_list)
                      .Value(label_direction_value))
            </dd>
        </dl>
        <dl>
            <dt>Продукт:</dt>
            <dd>
                @(Html.Kendo().MultiSelect().Name("label_" + TypeLabel.org_product)
                      .DataValueField("Guid")
                      .DataTextField("Value")
                      .HtmlAttributes(new
                      {
                          style = "width:100%;"
                      })
                      .Events(v => v.Change("ChangeMultiLabel"))
                      .BindTo(label_product_list)
                      .Value(label_product_value))
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <dl>
            <dt>Мои метки:</dt>
            <dd>
                @(Html.Kendo().MultiSelect().Name("label_" + TypeLabel.user)
                      .DataValueField("Guid")
                      .DataTextField("Value")
                      .HtmlAttributes(new
                      {
                          style = "width:100%;"
                      })
                      .Events(v => v.Change("ChangeMultiLabel"))
                      .BindTo(label_user_list)
                      .Value(label_user_value))
            </dd>
        </dl>
        <dl>
            <dt>Операции:</dt>
            <dd>
                @(Html.Kendo().MultiSelect().Name("label_" + TypeLabel.org_operation)
                      .DataValueField("Guid")
                      .DataTextField("Value")
                      .HtmlAttributes(new
                      {
                          style = "width:100%;"
                      })
                      .Events(v => v.Change("ChangeMultiLabel"))
                      .BindTo(label_operation_list)
                      .Value(label_operation_value))
            </dd>
        </dl>
    </div>
</div>

<script>
    function ChangeSingleLabel() {
        $.post('@Url.Action("ChangeSingleLabel")',
            {
                model: {
                    id: '@Model.GuidValue.id.ToString()',
                    target: this.value(),
                    value: this.element.context.id
                }
            });
    }

    function ChangeMultiLabel() {
        console.log(this.value());
        $.post('@Url.Action("ChangeMultiLabel")',
            {
                model: {
                    id: '@Model.GuidValue.id.ToString()',
                    guids: this.value(),
                    value: this.element.context.id
                }
            });
    }
</script>