﻿@using CoreDB.Base
@using CoreWeb2.Services
@model dynamic
@inject ServiceDB<DataDb> gb

<ul class="nav navbar-nav pull-right visible-xs-block">
    <li>
        <a data-toggle="collapse" data-target="#navbar-mobile" class="icon-tree5"></a>
    </li>
    <li>
        <a class="sidebar-mobile-main-toggle icon-paragraph-justify3"></a>
    </li>
    @*<li>
        <a class="sidebar-mobile-secondary-toggle">
            <i class="icon-more"></i>
        </a>
    </li>
    <li>
        <a class="sidebar-mobile-opposite-toggle">
            <i class="icon-menu"></i>
        </a>
    </li>*@
</ul>