﻿@using CoreSupport.Reflection
@using Microsoft.ApplicationInsights.AspNetCore
@*
    @inject JavaScriptSnippet JavaScriptSnippet
*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @{
        var title = (string) ViewData["Title"];
        title = title.ret_if_NULL(() => "GB").ret(v => $"GB | {v}");
    }
    <title>@title</title>

    <environment names="Development">
        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/Scripts/ResizeSensor.js"></script>
        <script src="~/Scripts/ElementQueries.js"></script>

        <link rel="stylesheet" href="~/css/Roboto.css"/>
        <link rel="stylesheet" href="~/css/styles.css"/>
        <link rel="stylesheet" href="~/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/core.css"/>
        <link rel="stylesheet" href="~/dashboard/assets/css/components.css"/>
        <link rel="stylesheet" href="~/css/colors.css"/>

    </environment>

    <environment names="Staging,Production">
        
        <link rel="stylesheet" href="~/css/site.min.css"/>
        <script src="~/js/site.min.js"></script>
        <script src="~/js/fx_before.min.js"></script>

    </environment>

    @RenderSection("header", false)
</head>
@RenderBody()
</html>