﻿@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet JavaScriptSnippet

@{
    Layout = "_Layout";
}

@section header
{
    <environment names="Development">
        @*<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css"/>
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.moonlight.min.css" />
        <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.moonlight.mobile.min.css" />
        <script src="https://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.1.118/js/kendo.aspnetmvc.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2017.1.118/js/kendo.timezones.min.js"></script>*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/kendo.min.css"/>
        <script src="~/js/kendo.min.js"></script>
    </environment>
    
    <link rel="stylesheet" href="~/css/kendo.min.css"/>
    <script src="~/js/kendo.min.js"></script>

    @RenderSection("header", false)
}
@*
    @await Component.InvokeAsync("RenderBodyTag")
*@
<body class="sidebar-secondary-hidden">

    @RenderSection("top", false)

    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand"
               asp-area=""
               asp-controller="Home"
               asp-action="Index"
               style="font-size: 20px;">
                GROTTBJORN
            </a>
            @await Component.InvokeAsync("NavBar_xs")
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            @await Component.InvokeAsync("NavBar")
            @await Component.InvokeAsync("NavBarRigth")
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">
                    @await Component.InvokeAsync("UserInfo")
                    @await Component.InvokeAsync("Menu")
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Secondary sidebar -->
            <div class="sidebar sidebar-secondary sidebar-default">
                <div class="sidebar-content">
                    @*
                        <!-- Sidebar search -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Search</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content">
                                <form action="#">
                                    <div class="has-feedback has-feedback-left">
                                        <input type="search" class="form-control" placeholder="Search">
                                        <div class="form-control-feedback">
                                            <i class="icon-search4 text-size-base text-muted"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /sidebar search -->
                        <!-- Sub navigation -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Navigation</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content no-padding">
                                <ul class="navigation navigation-alt navigation-accordion">
                                    <li class="navigation-header">Category title</li>
                                    <li><a href="#"><i class="icon-googleplus5"></i> Link</a></li>
                                    <li><a href="#"><i class="icon-googleplus5"></i> Another link</a></li>
                                    <li><a href="#"><i class="icon-portfolio"></i> Link with label <span class="label bg-success-400">Online</span></a></li>
                                    <li class="navigation-divider"></li>
                                    <li>
                                        <a href="#"><i class="icon-cog3"></i> Menu levels</a>
                                        <ul>
                                            <li><a href="#"><i class="icon-IE"></i> Second level</a></li>
                                            <li>
                                                <a href="#"><i class="icon-firefox"></i> Second level with child</a>
                                                <ul>
                                                    <li><a href="#"><i class="icon-android"></i> Third level</a></li>
                                                    <li>
                                                        <a href="#"><i class="icon-apple2"></i> Third level with child</a>
                                                        <ul>
                                                            <li><a href="#"><i class="icon-html5"></i> Fourth level</a></li>
                                                            <li><a href="#"><i class="icon-css3"></i> Fourth level</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#"><i class="icon-windows"></i> Third level</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><i class="icon-chrome"></i> Second level</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /sub navigation -->
                        <!-- Form sample -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Form example</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <form action="#" class="category-content">
                                <div class="form-group">
                                    <label>Your name:</label>
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>

                                <div class="form-group">
                                    <label>Your password:</label>
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>

                                <div class="form-group">
                                    <label>Your message:</label>
                                    <textarea rows="3" cols="3" class="form-control" placeholder="Default textarea"></textarea>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="reset" class="btn btn-danger btn-block">Reset</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-info btn-block">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /form sample -->
                    *@
                </div>
            </div>
            <!-- /secondary sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
                @RenderBody()
            </div>
            <!-- /main content -->
            <!-- Opposite sidebar -->
            <div class="sidebar sidebar-opposite sidebar-default">
                <div class="sidebar-content">
                    @*
                        <!-- Sidebar search -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Search</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content">
                                <form action="#">
                                    <div class="has-feedback has-feedback-left">
                                        <input type="search" class="form-control" placeholder="Search">
                                        <div class="form-control-feedback">
                                            <i class="icon-search4 text-size-base text-muted"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /sidebar search -->
                        <!-- Sub navigation -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Navigation</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content no-padding">
                                <ul class="navigation navigation-alt navigation-accordion">
                                    <li class="navigation-header">Category title</li>
                                    <li><a href="#"><i class="icon-googleplus5"></i> Link</a></li>
                                    <li><a href="#"><i class="icon-googleplus5"></i> Another link</a></li>
                                    <li><a href="#"><i class="icon-portfolio"></i> Link with label <span class="label bg-success-400">Online</span></a></li>
                                    <li class="navigation-divider"></li>
                                    <li>
                                        <a href="#"><i class="icon-cog3"></i> Menu levels</a>
                                        <ul>
                                            <li><a href="#"><i class="icon-IE"></i> Second level</a></li>
                                            <li>
                                                <a href="#"><i class="icon-firefox"></i> Second level with child</a>
                                                <ul>
                                                    <li><a href="#"><i class="icon-android"></i> Third level</a></li>
                                                    <li>
                                                        <a href="#"><i class="icon-apple2"></i> Third level with child</a>
                                                        <ul>
                                                            <li><a href="#"><i class="icon-html5"></i> Fourth level</a></li>
                                                            <li><a href="#"><i class="icon-css3"></i> Fourth level</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#"><i class="icon-windows"></i> Third level</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><i class="icon-chrome"></i> Second level</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /sub navigation -->
                        <!-- Form sample -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Form example</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <form action="#" class="category-content">
                                <div class="form-group">
                                    <label>Your name:</label>
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>

                                <div class="form-group">
                                    <label>Your password:</label>
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>

                                <div class="form-group">
                                    <label>Your message:</label>
                                    <textarea rows="3" cols="3" class="form-control" placeholder="Default textarea"></textarea>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="reset" class="btn btn-danger btn-block">Reset</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-info btn-block">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /form sample -->
                    *@
                </div>
            </div>
            <!-- /opposite sidebar -->

        </div>
        <!-- /page content -->

    </div>

    <!-- Panel Reload -->
    <script src="~/dashboard/assets/js/plugins/loaders/blockui.min.js"></script>
    <script>
        var data_load_style = {
            message: '<i class="icon-spinner2 spinner"></i>',
            overlayCSS: {
                backgroundColor: '#fff',
                opacity: 0.8,
                cursor: 'wait',
                'box-shadow': '0 0 0 1px #ddd'
            },
            css: {
                border: 0,
                padding: 0,
                backgroundColor: 'none'
            }
        };
        $(document)
            .on('click',
            '.panel [data-action=reload]',
            function (e) {
                e.preventDefault();
                var block = $(this);
                block.closest(".panel").find(".panel-body").block(data_load_style);
                $.get(block.data("url"),
                    function (data) {
                        block.closest(".panel").find(".panel-body").html(data).unblock();
                    });
            })
            .ready(function () {
                $('.panel [data-url]')
                    .each(function () {
                        var block = $(this);
                        block.block(data_load_style);
                        block.find(".panel-body").html("грузим...");
                        $.get(block.data("url"),
                            function (data) {
                                block.closest(".panel").find(".panel-body").html(data);
                            })
                            .fail(function () {
                                block.find(".panel-body").html("error");
                            })
                            .always(function () {
                                block.unblock();
                            });;
                    });
            });
    </script>
    <!-- /Panel Reload -->
    @RenderSection("Scripts", false)
    @RenderSection("script", false)

    <script src="~/dashboard/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/ts/sysmsg.js"></script>
    <script>
        $(".styled, .multiselect-container input").uniform({
            radioClass: 'choice'
        });

        // File input
        $(".file-styled").uniform({
            wrapperClass: 'bg-blue',
            fileButtonHtml: '<i class="icon-file-plus"></i>'
        });
    </script>
    
    @await Component.InvokeAsync("RenderBodyTag")

</body>