﻿@using CoreDB.Base
@using CoreDB.Repository
@using CoreSupport.Reflection
@using CoreWeb2.Services
@using Microsoft.ApplicationInsights.AspNetCore
@using Microsoft.EntityFrameworkCore
@using Kendo.Mvc.UI
@inject JavaScriptSnippet JavaScriptSnippet
@inject ServiceDB<DataDb> service

@{
    Layout = "_base";

    var configs = await DataRepository.Create<UserRepository>(service.db).GetConfigs(service.Author.Guid);

    var body_classes = new List<string>();

    configs.ForEach(read =>
    {
        switch (read.Caption)
        {
            case "sidebar_size":
                body_classes.Add(read.BoolValue ? string.Empty : "sidebar-xs");
                break;
            case "sidebar_left":
                body_classes.Add(read.BoolValue ? string.Empty : "sidebar-secondary-hidden");
                break;
            case "sidebar_right":
                body_classes.Add(read.BoolValue ? "sidebar-opposite-visible" : string.Empty);
                break;
        }
    });
}

@section header
{
    <environment names="Development">

        <link rel="stylesheet" href="~/Content/kendo/2017.1.223/kendo.common.min.css" />
        <link rel="stylesheet" href="~/Content/kendo/2017.1.223/kendo.fiori.min.css" />
        <link rel="stylesheet" href="~/Content/kendo/2017.1.223/kendo.fiori.mobile.min.css" />

        <script src="~/Scripts/kendo/2017.1.223/kendo.all.min.js"></script>
        <script src="~/Scripts/kendo/2017.1.223/kendo.aspnetmvc.min.js"></script>
        <script src="~/Scripts/kendo/2017.1.223/kendo.timezones.min.js"></script>
        
        <script src="~/Scripts/fx_kendo.js"></script>
        
        <script src="~/ts/websocket.js"></script>
        <script src="~/ts/menu.js"></script>
        <script src="~/ts/config.js"></script>

    </environment>
    <environment names="Staging,Production">
        
        <link rel="stylesheet" href="~/css/kendo.min.css"/>

        <script src="~/js/kendo.min.js"></script>

        <script src="js/fx_after.min.js"></script>

    </environment>
    
    @(Html.Kendo().Notification()
          .Name("notification")
          .Position(p => p.Pinned(false).Top(50).Right(30))
          .Stacking(NotificationStackingSettings.Down)
          .AutoHideAfter(60*1000)
          .Templates(t =>
          {
              //t.Add().Type("info").ClientTemplateID("emailTemplate");
              //t.Add().Type("error").ClientTemplateID("errorTemplate");
          }))

    @RenderSection("header", false)
}
<body class="@body_classes.Join(" ")">

@RenderSection("top", false)
@*@await Component.InvokeAsync("RenderBodyTag")*@

<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand"
           asp-area=""
           asp-controller="Home"
           asp-action="Index"
           style="font-size: 20px;">
            GROTTBJORN
        </a>
        @await Component.InvokeAsync("NavBar_xs")
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        @await Component.InvokeAsync("NavBar")
        @await Component.InvokeAsync("NavBarRigth")
    </div>
</div>
<!-- /main navbar -->
<!-- Page container -->
<div class="page-container">

<!-- Page content -->
<div class="page-content">

<!-- Main sidebar -->
<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        @await Component.InvokeAsync("UserInfo")
        @await Component.InvokeAsync("Menu")
    </div>
</div>
<!-- /main sidebar -->
<!-- Secondary sidebar -->
<div class="sidebar sidebar-secondary sidebar-default">
    <div class="sidebar-content">
        @*
                        <!-- Sidebar search -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Search</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content">
                                <form action="#">
                                    <div class="has-feedback has-feedback-left">
                                        <input type="search" class="form-control" placeholder="Search">
                                        <div class="form-control-feedback">
                                            <i class="icon-search4 text-size-base text-muted"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /sidebar search -->
                        <!-- Sub navigation -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Navigation</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content no-padding">
                                <ul class="navigation navigation-alt navigation-accordion">
                                    <li class="navigation-header">Category title</li>
                                    <li><a href="#"><i class="icon-googleplus5"></i> Link</a></li>
                                    <li><a href="#"><i class="icon-googleplus5"></i> Another link</a></li>
                                    <li><a href="#"><i class="icon-portfolio"></i> Link with label <span class="label bg-success-400">Online</span></a></li>
                                    <li class="navigation-divider"></li>
                                    <li>
                                        <a href="#"><i class="icon-cog3"></i> Menu levels</a>
                                        <ul>
                                            <li><a href="#"><i class="icon-IE"></i> Second level</a></li>
                                            <li>
                                                <a href="#"><i class="icon-firefox"></i> Second level with child</a>
                                                <ul>
                                                    <li><a href="#"><i class="icon-android"></i> Third level</a></li>
                                                    <li>
                                                        <a href="#"><i class="icon-apple2"></i> Third level with child</a>
                                                        <ul>
                                                            <li><a href="#"><i class="icon-html5"></i> Fourth level</a></li>
                                                            <li><a href="#"><i class="icon-css3"></i> Fourth level</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#"><i class="icon-windows"></i> Third level</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><i class="icon-chrome"></i> Second level</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /sub navigation -->
                        <!-- Form sample -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Form example</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <form action="#" class="category-content">
                                <div class="form-group">
                                    <label>Your name:</label>
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>

                                <div class="form-group">
                                    <label>Your password:</label>
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>

                                <div class="form-group">
                                    <label>Your message:</label>
                                    <textarea rows="3" cols="3" class="form-control" placeholder="Default textarea"></textarea>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="reset" class="btn btn-danger btn-block">Reset</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-info btn-block">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /form sample -->
                    *@
    </div>
</div>
<!-- /secondary sidebar -->
<!-- Main content -->
<div class="content-wrapper">
    @RenderBody()
</div>
<!-- /main content -->
<!-- Opposite sidebar -->
<div class="sidebar sidebar-opposite sidebar-default">
    <div class="sidebar-content">
        @*
                        <!-- Sidebar search -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Search</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content">
                                <form action="#">
                                    <div class="has-feedback has-feedback-left">
                                        <input type="search" class="form-control" placeholder="Search">
                                        <div class="form-control-feedback">
                                            <i class="icon-search4 text-size-base text-muted"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /sidebar search -->
                        <!-- Sub navigation -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Navigation</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <div class="category-content no-padding">
                                <ul class="navigation navigation-alt navigation-accordion">
                                    <li class="navigation-header">Category title</li>
                                    <li><a href="#"><i class="icon-googleplus5"></i> Link</a></li>
                                    <li><a href="#"><i class="icon-googleplus5"></i> Another link</a></li>
                                    <li><a href="#"><i class="icon-portfolio"></i> Link with label <span class="label bg-success-400">Online</span></a></li>
                                    <li class="navigation-divider"></li>
                                    <li>
                                        <a href="#"><i class="icon-cog3"></i> Menu levels</a>
                                        <ul>
                                            <li><a href="#"><i class="icon-IE"></i> Second level</a></li>
                                            <li>
                                                <a href="#"><i class="icon-firefox"></i> Second level with child</a>
                                                <ul>
                                                    <li><a href="#"><i class="icon-android"></i> Third level</a></li>
                                                    <li>
                                                        <a href="#"><i class="icon-apple2"></i> Third level with child</a>
                                                        <ul>
                                                            <li><a href="#"><i class="icon-html5"></i> Fourth level</a></li>
                                                            <li><a href="#"><i class="icon-css3"></i> Fourth level</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#"><i class="icon-windows"></i> Third level</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><i class="icon-chrome"></i> Second level</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /sub navigation -->
                        <!-- Form sample -->
                        <div class="sidebar-category">
                            <div class="category-title">
                                <span>Form example</span>
                                <ul class="icons-list">
                                    <li><a href="#" data-action="collapse"></a></li>
                                </ul>
                            </div>

                            <form action="#" class="category-content">
                                <div class="form-group">
                                    <label>Your name:</label>
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>

                                <div class="form-group">
                                    <label>Your password:</label>
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>

                                <div class="form-group">
                                    <label>Your message:</label>
                                    <textarea rows="3" cols="3" class="form-control" placeholder="Default textarea"></textarea>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="reset" class="btn btn-danger btn-block">Reset</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-info btn-block">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /form sample -->
                    *@
    </div>
</div>
<!-- /opposite sidebar -->

</div>
<!-- /page content -->

</div>

@*<script id="infoTemplate" type="text/x-kendo-template">        
    <div class="new-mail">
        <img src="../content/web/notification/envelope.png" />
        <h3>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>
            
<script id="errorTemplate" type="text/x-kendo-template">        
    <div class="wrong-pass">
        <img src="../content/web/notification/error-icon.png" />
        <h3>#= title #</h3>
        <p>#= message #</p>
    </div>
</script>*@

@RenderSection("script", false)

<script src="~/js/app.js"></script>

</body>