﻿@using CoreSupport.Reflection
@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @{
        var title = (string) ViewData["Title"];
        title = title.ret_if_NULL(() => "GB").ret(v => $"GB | {v}");
    }
    <title>@title</title>

    <environment names="Development">

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

        @*<link rel="stylesheet" href="~/Content/kendo/2017.1.223/kendo.common.min.css"/>
        <link rel="stylesheet" href="~/Content/kendo/2017.1.223/kendo.fiori.min.css"/>
        <link rel="stylesheet" href="~/Content/kendo/2017.1.223/kendo.fiori.mobile.min.css"/>*@

        <link rel="stylesheet" href="~/css/Roboto.css"/>
        <link rel="stylesheet" href="~/css/styles.css"/>
        <link rel="stylesheet" href="~/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/core.css"/>
        <link rel="stylesheet" href="~/dashboard/assets/css/components.css"/>
        <link rel="stylesheet" href="~/css/colors.css"/>

        @*<script src="~/Scripts/kendo/2017.1.223/kendo.all.min.js"></script>
        <script src="~/Scripts/kendo/2017.1.223/kendo.aspnetmvc.min.js"></script>
        <script src="~/Scripts/kendo/2017.1.223/kendo.timezones.min.js"></script>*@
        <script>kendo.culture("RU-ru");</script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css"/>
        <script src="~/js/site.min.js"></script>
    </environment>

    @RenderSection("header", false)
    <script>
        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};
            $.map(unindexed_array,
                function(n, i) {
                    if (n['value'] === 'on') {
                        n['value'] = true;
                    }
                    if (indexed_array[n['name']]) {
                        indexed_array[n['name']] = indexed_array[n['name']] + ',' + n['value'];
                    } else {
                        indexed_array[n['name']] = n['value'];
                    }
                });
            return indexed_array;
        }
    </script>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
@RenderBody()
</html>