﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Administration.Models
@{
    ViewBag.Title = "Администрирование пользователей";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                @*<div class="alert alert-info m-b-sm">
                        <i class="fa fa-info-circle"></i>
                        Изменение ключей не происходит, только при создании.
                    </div>*@
                @(Html
                      .Kendo()
                      .Grid<UserTableItem>()
                      .Name("RoleTable")
                      .ToolBar(toolbar => { toolbar.Create().Text("Создать"); })
                      .Columns(columns =>
                      {
                          columns.Bound(v => v.caption).Title("Наименование");
                          columns.Bound(v => v.login).Title("Логин");
                          columns.Bound(v => v.email).Title("Почта");
                          columns.Bound(v => v.phone).Title("Телефон");
                          columns.Bound(v => v.TimeZone).Title("ЧП");
                          columns.Bound(v => v.Roles).Title("Роли")
                              .ClientTemplate("#= RenderMultiselect(data.Roles) #")
                              .EditorTemplateName("RoleTemplate");
                          columns.Bound(v => v.Departaments).Title("Отделы")
                              .ClientTemplate("#= RenderMultiselect(data.Departaments) #")
                              .EditorTemplateName("DepartamentTemplate");
                          columns.Bound(v => v.password).Title("Пароль");
                          columns.Bound(v => v.oldid).Title("Старый ИД");

                          columns.Command(command =>
                          {
                              command.Edit().Text("Редактировать");
                              command.Destroy().Text("Удалить");
                          });
                      })
                      .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                      .Sortable()
                      .DataSource(source =>
                      {
                          source
                              .Ajax()
                              .Model(model =>
                              {
                                  model.Id(v => v.id);
                                  model.Field(v => v.Roles).DefaultValue(null);
                                  model.Field(v => v.Departaments).DefaultValue(null);
                              })
                              .Create(create => { create.Url(Url.Action("Create", "Users", new {area = "Administration"})); })
                              .Read(read => { read.Url(Url.Action("Read", "Users", new {area = "Administration"})); })
                              .Update(update => { update.Url(Url.Action("Update", "Users", new {area = "Administration"})); })
                              .Destroy(destroy => { destroy.Url(Url.Action("Destroy", "Users", new {area = "Administration"})); });
                      }))
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        function RenderMultiselect(array) {
            var text;
            try {
                array.forEach(function(item) {
                    if (text == undefined) {
                        text = item.Value + ', ';
                    } else {
                        text = text + item.Value + ', ';
                    }
                });
                if (array.length > 0) {
                    text = text.slice(0, -2);
                }
            } catch (err) {

            }
            if (text == undefined) {
                text = "";
            }
            return text;
        }
    </script>
}