﻿@using CoreWeb2.Services
@using Kendo.Mvc.UI
@using CoreDB.Base
@using CoreDB.Repository
@using CoreDB.Tables
@using Microsoft.EntityFrameworkCore
@inject ServiceDB<DataDb> gb
@model CoreWeb2.Areas.Admin.Models.ModelUser
@{
    Layout = null;
    var FormID = "#FormUserEdit";
    var TableID = "#TableUserList";
    var ResultID = "#ResultUserEdit";
}

<form id="@FormID.Trim('#')" class="m-20">
    @Html.HiddenFor(v => v.ID)
    <div class="form-group">
        @Html.LabelFor(v => v.Caption, new
        {
            style = "font-weight: bold;"
        })
        @Html.Kendo().TextBoxFor(v => v.Caption).HtmlAttributes(new
        {
            style = "width: 100%;"
        })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Login, new
        {
            style = "font-weight: bold;"
        })
        @Html.Kendo().TextBoxFor(v => v.Login).HtmlAttributes(new
        {
            style = "width: 100%;"
        })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Password, new
        {
            style = "font-weight: bold;"
        })
        @Html.Kendo().TextBoxFor(v => v.Password).HtmlAttributes(new
        {
            style = "width: 100%;"
        })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.TimeZone, new
        {
            style = "font-weight: bold;"
        })
        @(Html.Kendo()
        .NumericTextBoxFor(v => v.TimeZone)
        .Format("#")
        .Min(0)
        .Max(19).HtmlAttributes(new
        {
        style = "width: 100%;"
        }))
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Roles, new
        {
            style = "font-weight: bold;"
        })
        @(Html.Kendo()
        .MultiSelectFor(v => v.Roles)
        .DataValueField("Key")
        .DataTextField("StringValue")
        .BindTo(await DataRepository.Create<RoleRepository>(gb.db).GetRoles())
        .HtmlAttributes(new
        {
            style = "width: 100%;"
        }))
    </div>
    <div class="form-group text-right">
        <button type="button" class="btn btn-danger icon-trash"></button>
        <button type="submit" class="btn btn-primary icon-floppy-disk"></button>
    </div>
    <div id="@ResultID.Trim('#')" class="alert alert-info" style="display: none"></div>
</form>
<script>
    $('@FormID').submit(function (e) {

        ajaxFormNotify('@FormID', '@Url.Action("SaveUser")')
            .always(function() {
                $('@TableID').data('kendoGrid').dataSource.read();
            });

        e.preventDefault();
    });
    $('@FormID [type="button"]').click(function (e) {

        ajaxFormNotify('@FormID', '@Url.Action("RemoveUser")')
            .always(function() {
                $('@TableID').data('kendoGrid').dataSource.read();
            })
            .done(function () {
                $('#panel_right').empty();
            });

        e.preventDefault();
    });
</script>