﻿@using CoreDB.Base
@using CoreSupport.Type
@using CoreWeb2.Services
@using Kendo.Mvc.UI
@inject ServiceDB<DataDb> gb
@{
    Layout = null;
    var TableID = "#TableUserList";
    var SearchID = "#SearchUser";
}

<div id="@SearchID.Trim('#')" class="input-group">
    <span class="input-group-addon icon-search4"></span>
    <input type="text" class="form-control" placeholder="Поиск пользователя по имени..." style="top: -1px;">
    <span class="input-group-addon icon-search4"></span>
</div>

<script>
    $('@SearchID [type="text"]').keydown(function (e) {
        if (e.which == 13) {
            $('@TableID').data('kendoGrid').dataSource.read();
        }
    });

    function searchData() {
        return {
            contains: $('@SearchID [type="text"]').val()
        };
    }

    function changeUserTable() {
        const data = this.dataItem(this.select());
        send({
            key: 'LoadRightPanelID',
            url: '@Url.Action("FormEditUser")',
            id: data.Guid
        });
    }
</script>

@(Html.Kendo().Grid<GuidValue>()
      .Name(TableID.Trim('#'))
      .Columns(columns => { columns.Bound(c => c.Value); })
      .Scrollable()
      .Sortable()
      .PersistSelection()
      .Selectable(v => v.Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
      .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("Read", "Users").Data("searchData")))
      .Events(e => e.Change("changeUserTable"))
      )

<script>
    function resizeUsersTable() {
        const gridElement = $('@TableID');
        const dataArea = gridElement.find(".k-grid-content");
        const newHeight = gridElement.parent().innerHeight() - 2 - $('@SearchID').outerHeight();
        const diff = gridElement.innerHeight() - dataArea.innerHeight();
        gridElement.height(newHeight);
        dataArea.height(newHeight - diff);
    }

    $(function() {
        $(window).resize(resizeUsersTable);
        resizeUsersTable();
    });
</script>