﻿@using LibCoreDB
@using CoreLimitless
@using CoreSupport.MVC.Authorization
@using CoreSupport.Reflection
@using CoreSupport.Type
@using Kendo.Mvc.UI
@using Microsoft.EntityFrameworkCore
@model LibCoreDB.DataDb
@{
    ViewData["Title"] = "Меню";
    Layout = "_Index";

    //var query =
    //    from menu in Model.Menus
    //    where menu.ID == Model.DataModel.Guid
    //    select new
    //    {
    //        menu,
    //        roles = from link in menu.RolesLinks
    //            select link.RoleKey
    //    };

    //var author = dbr.system_id == ViewContext.HttpContext.AuthRecord().Guid;

    //var query_roles = from role in Model.Roles
    //    where author || role.ID != dbr.architector
    //    where author || role.ID != dbr.guest
    //    select new MainValue
    //    {
    //        Key = role.ID,
    //        Value = role.Description
    //    };

    //var read = await query.FirstOrDefaultAsync();
    //var roles = await query_roles.ToArrayAsync();
}

@(new LimitlessPageHeader
{
    Caption = ViewData["Title"].AsType<string>(),
    Subcaption = "- Администрирование элемента меню.",
    Path = new[]
      {
          new LessLink
          {
              Url = "/Admin/MenuList/Index",
              Icon = "icon-home2",
              Caption = "Дерево"
          },
          //new LessLink
          //{
          //    Url = $"/Admin/MenuItem/Index/{Model.DataModel.ID}",
          //    Caption = "Элемент меню"
          //}
      }
})


<div class="content">
    @*@if (Model.DataModel.Value != null)
    {
        @(new LimitlessPanel
          {
              Body = (@<div class="area area-info">@Model.DataModel.Value</div>)
          })
    }*@

    @(new LimitlessPanel
{
    PostUrl = "/admin/menuitem/save",
    Submit = "сохранить изменения",
    //Target = ".content",
    FormClass = "col-md-6 col-md-offset-3",
    FormLabel = "добавление нового элемента",
    //FormElements = new[]
    //{
    //    new LimitlessFormGroup
    //    {
    //        Name = "ID",
    //        TypeInput = LimitlessTypeInput.hidden,
    //        Value = read?.menu.ID
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Название",
    //        Name = "Caption",
    //        Value = read?.menu.Caption
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Описание",
    //        Name = "Description",
    //        Value = read?.menu.Description,
    //        TypeInput = LimitlessTypeInput.textarea
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Иконка",
    //        Name = "Icon",
    //        Value = read?.menu.Icon
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Метка",
    //        Name = "Label",
    //        Value = read?.menu.Label
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Ссылка",
    //        Name = "Url",
    //        Value = read?.menu.Url
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Является заголовком",
    //        Name = "Header",
    //        Value = read?.menu.Header,
    //        TypeInput = LimitlessTypeInput.checkbox
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Content = Html.Kendo()
    //            .MultiSelect()
    //            .Name("Roles")
    //            .BindTo(roles)
    //            .DataValueField("Key")
    //            .DataTextField("Value")
    //            .Value(read.roles)
    //    }
    //}
})
</div>