﻿@using BaseDBFX.Base
@using Finflaex.Support.Reflection
@using Finflaex.Support.Telerik
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Reports.Controllers
@model BaseDBFX.Base.ActionData
@{
    ViewBag.Title = "Результаты встреч";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<script id="templateOrgLink" type="text/x-kendo-template">
                                        @if (Html.Author().IsGod
                                             || Html.Author().Verificate(dbroles.@operator)
                                             && !Html.Author().Verificate(dbroles.consultant)
                                             && Html.Author().Verificate(dbroles.manager)
                                             || Html.Author().Verificate(dbroles.admin))
                                        {
                                            <a class="btn btn-link" 
                                               target="_blank"
                                               href="@Url.Action("Index", "Card", new
                                                     {
                                                         area = "Organization"
                                                     })?id=#:OrgID#">
                                            #:OrgName#
                                        </a>
                                        }
                                        else
                                        {
                                            <span>
                                                #:OrgName#
                                            </span>
                                        }
</script>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="ibox">
        <div class="ibox-content">
            <div class="m-b">
                @{
                    var date_from = DateTime.Now.GetStartWeek();
                    var date_to = DateTime.Now.GetEndtWeek();
                }
                <label class="inline">с:</label>
                @Html.Kendo().DatePicker().Name("date_from").Value(date_from)
                &nbsp;
                <label class="inline">по:</label>
                @Html.Kendo().DatePicker().Name("date_to").Value(date_to)
                <button class="btn btn-sm btn-primary" id="bonusCreateTable">сформировать</button>
            </div>

            @(
        Html
            .Kendo()
            .Grid<OperatorBonusController.ReportOperatorBonusModel>()
            .Name("gridBonus")
            .Columns(cols =>
            {
                cols.Bound(v => v.Operator)
                    .Title("Оператор")
                    .Filterable(filter => { filter.Multi(true); });

                cols.Bound(v => v.Date)
                    .Title("Дата").
                    Format("{0:dd MMMM yyyy}")
                    .Filterable(false);

                cols.Bound(v => v.OrgName)
                    .Title("Организация")
                    .ClientGroupFooterTemplate("Количество: #=count# шт.")
                    .ClientFooterTemplate("Всего: #=count#")
                    .Filterable(false)
                    .Template(@<text></text>).ClientTemplate("#=" + "templateOrgLink".jsKendoTemplate() + "#");

                cols.Bound(v => v.Departament)
                    .Title("Подразделение")
                    .ClientGroupHeaderTemplate("#=value#")
                    .Filterable(filter => { filter.Multi(true); });

                cols.Bound(v => v.Bonus)
                    .Title("Бонус")
                    .ClientGroupHeaderTemplate("#=value#")
                    .ClientGroupFooterTemplate("Сумма: #=sum#")
                    .ClientFooterTemplate("ИТОГО: #=sum#");

                cols.Bound(v => v.Type)
                    .Title("Тип")
                    .ClientGroupHeaderTemplate("#=value#")
                    .ClientGroupFooterTemplate("Количество: #=count# шт.")
                    .Filterable(filter => { filter.Multi(true); });
            })
            .Groupable()
            .Sortable()
            .Filterable(filter => { filter.Extra(false); })
            .Selectable(selectable =>
            {
                selectable
                    .Mode(GridSelectionMode.Multiple)
                    .Type(GridSelectionType.Row);
            })
            .AllowCopy(true)
            .DataSource(ds =>
            {
                ds.Ajax()
                    .ServerOperation(false)
                    .Group(group => { group.Add(v => v.Operator); })
                    .Sort(sort => { sort.Add(v => v.Date).Ascending(); })
                    .Aggregates(agr =>
                    {
                        agr.Add(v => v.Bonus).Sum().Count();
                        agr.Add(v => v.OrgName).Count();
                        agr.Add(v => v.Operator).Count();
                        agr.Add(v => v.Type).Count();
                    })
                    .Read(read =>
                    {
                        read.Url(Url.Action("Read", "OperatorBonus", new
                        {
                            area = "Reports"
                        }))
                            .Data("getDateInterval");
                    });
            })
                  )
        </div>
    </div>
</div>

<script>
    function getDateInterval() {
        return {
            dateFrom: $('#date_from').val(),
            dateTo: $('#date_to').val()
        };
    }

    $('#bonusCreateTable').click(function() {
        $('#gridBonus').data('kendoGrid').dataSource.read();
    });
</script>