﻿@using CoreDB.Base
@using CoreDB.Repository
@using CoreWeb2.Services
@model dynamic
@inject ServiceDB<DataDb> gb

<div class="navbar-right">
    <ul class="nav navbar-nav">
        @{
//var query_message =
//    from user in Model.Users
//    where user.ID == ViewContext.HttpContext.AuthRecord().Guid
//    from message in user.Messages
//    where !message.View
//    select new
//    {
//        message.ID,
//        message.Type,
//        message.DateCreate,
//        message.Caption,
//        Author = Model
//            .Users
//            .Where(v => v.ID == message.CreateAuthorID)
//            .Select(v => v.Login)
//            .FirstOrDefault()
//    };

//var read_message = await query_message.ToArrayAsync();
        }

        <li class="dropdown">
            @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-bubbles4"></i>
                <span class="visible-xs-inline-block position-right">
                    Уведомления
                </span>
                <span class="badge bg-warning-400">
                    @read_message.Length
                </span>
            </a>*@

            <div class="dropdown-menu dropdown-content width-350">
                <div class="dropdown-content-heading">
                    Уведомления
                    <ul class="icons-list">
                        <li>
                            <a href="#">
                                <i class="icon-compose"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <ul class="media-list dropdown-content-body">
                    @*@foreach (var message in read_message)
                    {
                        <li class="media">
                            <div class="media-left">
                                @switch (message.Type)
                                {
                                    case MessageType.system:
                                        <i class="icon-2x icon-cog3"></i>
                                        break;
                                    case MessageType.user:
                                        <i class="icon-2x icon-user"></i>
                                        break;
                                    case MessageType.action:
                                        <i class="icon-2x icon-link"></i>
                                        break;
                                    default:
                                        <i class="icon-2x icon-comment"></i>
                                        break;
                                }
                                <span class="badge bg-danger-400 media-badge"></span>
                            </div>

                            <div class="media-body">
                                <a href="@Url.Action("Read", "Messages", new {id = message.ID})" class="media-heading">
                                    <span class="text-semibold">
                                        @message.Author
                                    </span>
                                    <span class="media-annotation pull-right">
                                        @message.DateCreate.ToString("yyyy-MM-dd HH:mm:ss")
                                    </span>
                                </a>

                                <span class="text-muted">
                                    @message.Caption
                                </span>
                            </div>
                        </li>
                    }*@
                </ul>

                <div class="dropdown-content-footer">
                    @*<a href="@Url.Action("List", "Messages")" data-popup="tooltip" title="" data-original-title="Сообщения">
                        <i class="icon-menu display-block"></i>
                    </a>*@
                </div>
            </div>
        </li>

        <li class="dropdown dropdown-user">
            @{
                var user_name = await DataRepository.Create<UserRepository>(gb.db).GetCaption(gb.Author.Guid);
            }
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="False">
                <i class="icon-2x icon-user"></i>
                <span>
                    @user_name
                </span>
                <i class="caret"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="#">
                        <i class="icon-user-plus"></i>
                        Мой профиль
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <i class="icon-cog5"></i>
                        Настройки
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("LogOut", "Home", new { area = "" })">
                        <i class="icon-switch2"></i>
                        Выход
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>