﻿@using fxGDB_GrottBjorn.Tables
@model finflaex_IIS_grottbjorn.Controllers.QuikModel

<div id="quik_table" style="height: calc(100% - 61px);"></div>
<script>
    var @nameof(Quik_StopOrder) = [
        { id: "Contract", header: ["Клиент", { content: "textFilter" }], sort: "string", width: 70, headermenu: false },
        { id: "Number", header: ["Номер", { content: "textFilter" }], sort: "int", width: 70, headermenu: false },
        { id: "Dealer", header: ["Диллер", { content: "selectFilter" }], sort: "string", width: 130 },
        { id: "DateTime", header: ["Дата и время", { content: "textFilter" }], sort: "string_strict", width: 170 },
        { id: "DateTimeWithDrawal", header: ["Дата и время снятия", { content: "textFilter" }], sort: "string_strict", width: 170, hidden: true },
        { id: "Type", header: ["Тип стоп заявки", { content: "selectFilter" }], sort: "string", width: 190, },
        { id: "PaperShortName", header: ["Бумага сокр", { content: "selectFilter" }], sort: "string", width: 120 },
        { id: "Operation", header: ["Операция", { content: "selectFilter" }], sort: "string", width: 90 },
        { id: "PaperStopPrice", header: ["Бумага стоп-цены", { content: "selectFilter" }], sort: "int", width: 120, hidden: true },
        { id: "DirectionStopPrice", header: ["Направление стоп-цены", { content: "selectFilter" }], sort: "string", width: 45, hidden: true },
        { id: "StopPrice", header: ["Стоп-цена", { content: "textFilter" }], sort: "int", width: 90 },
        { id: "DirectionStopLimit", header: ["Направление стоп-лимит цены", { content: "selectFilter" }], sort: "string", width: 45, hidden: true },
        { id: "StopLimit", header: ["Стоп-лимит цена", { content: "textFilter" }], sort: "int", width: 90, hidden: true },
        { id: "MarketStopLimit", header: ["Стоп-лимит по рыночной", { content: "textFilter" }], sort: "int", width: 90, hidden: true },
        { id: "Count", header: ["Количество", { content: "textFilter" }], sort: "int", width: 60, hidden: true },
        { id: "ActualCount", header: ["Акт.количество", { content: "textFilter" }], sort: "int", width: 60 },
        { id: "UsedCount", header: ["Исп.количество", { content: "textFilter" }], sort: "int", width: 60, hidden: true },
        { id: "NumberApplication", header: ["Номер заявки", { content: "textFilter" }], sort: "int", width: 120, hidden: true },
        { id: "TermsOfADeal", header: ["Сделка условия", { content: "textFilter" }], sort: "int", width: 100, hidden: true },
        { id: "Time", header: ["Срок", { content: "textFilter" }], sort: "string_strict", width: 170, hidden: true },
        { id: "State", header: ["Состояние", { content: "selectFilter" }], sort: "string", width: 100 },
        { id: "Result", header: ["Результат", { content: "selectFilter" }], sort: "string", width: 190, hidden: true },
        { id: "RelatedApplication", header: ["Связанная заявка", { content: "textFilter" }], sort: "int", width: 120, hidden: true },
        { id: "RelatedApplicationPrice", header: ["Цена связанной заявки", { content: "textFilter" }], sort: "int", width: 90, hidden: true },
        { id: "Error", header: ["Отступ от min/max", { content: "textFilter" }], sort: "int", width: 90, hidden: true },
        { id: "ProtectiveSpread", header: ["Защитный спред", { content: "textFilter" }], sort: "int", width: 90, hidden: true },
        { id: "MarketTakeProfit", header: ["Тэйк-профит по рыночной", { content: "textFilter" }], sort: "int", width: 90, hidden: true },
        { id: "ApplicationCondition", header: ["Заявка условия", { content: "textFilter" }], sort: "int", width: 120, hidden: true }
    ];

    webix.ui({
        view: "datatable",
        container: "quik_table",
        select: "row",
        columns: @(Model.type),
        headermenu: {width: 250,autoheight: false,scroll: true},
        datatype: "json",
        url: "Quik/JsonData?type=@Model.type"
    });
</script>