﻿@using Finflaex.Support.MVC.Models
@using Kendo.Mvc.UI
@model WebGBFXT.Areas.Organization.Models.SchedullerModel


@{
    Layout = null;
}

<div style="padding: 20px;" data-id="@Model.">
    <div class="form-group">
        <label data-bind="text: OrgName"></label>
        <small data-bind="text: title"></small>
    </div>
    <div class="form-group">
        @(Html.Kendo()
              //.EditorFor(v => v.Description)
              .Editor().Name("description")
              .Tools(t => { t.Clear().Bold().Italic().Underline().FontColor(); }).HtmlAttributes(
                  new
                  {
                      style = "width:100%;"
                  }))
    </div>

    # if(Confirm) { #

    <div class="form-group">
        <label>Кто встречался:</label>
        <div data-bind="text: AccauntNames"></div>
    </div>

    # } else { #

    <div class="form-group">
        <label>Кто встречается:</label>
        @(
        Html.Kendo()
            .MultiSelect()
            .Name("Accaunts")
            .DataTextField("Value")
            .DataValueField("Key")
            .BindTo((IEnumerable<KeyValue>) ViewData["accaunts"])
            .HtmlAttributes(new {style = "width: 100%"})
            .Value(Model.Accaunts)
              )
    </div>

    # } #

    <div class="form-group">
        <div id="#:OrganizationID#" class="btn btn-default btn-view">Подробнее</div>
    </div>
</div>