﻿@using CoreDB.Base
@using CoreWeb2.Services
@model dynamic
@inject ServiceDB<DataDb> gb
@{
    Layout = null;

    @*var query =
        from org in Model.Organizations
        where org.ID == Model.DataModel.Guid
        from e in org.Entities
        select e.Entity;
}

@foreach (var entity in query)
{
    <text>
        <div>@entity.INN</div>
     </text>*@
}