﻿@using CoreLimitless
@using CoreSupport.Reflection
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.EntityFrameworkCore
@using CoreDB.Base
@using CoreWeb2.Services
@model dynamic
@inject ServiceDB<DataDb> gb

@{
    ViewData["Title"] = "Организации";
    Layout = "_Index";

    Func<object, HelperResult> buttons =
        @<text>
            <a class='btn bg-blue' href='/Orgs/UserItem/Index/#=ID#'>
                <i class='icon-hammer-wrench text-white'></i>
            </a>
         </text>;

    //var query_org =
    //    from org in Model.Organizations
    //    where org.ID == Model.DataModel.Guid
    //    select org;

    //var org_read = await query_org.SingleOrDefaultAsync();
}

@*@(new LimitlessPageHeader
  {
      Caption = ViewData["Title"].AsType<string>(),
      Subcaption = $" - {org_read?.Caption}",
      MarginBottom = 0,
      Path = new[]
      {
          new LessLink
          {
              Url = "/Orgs/Table/Index",
              Icon = "icon-home2",
              Caption = "Таблица"
          },
          new LessLink
          {
              Url = $"/Orgs/Card/Index/{org_read?.ID}",
              Icon = "icon-home2",
              Caption = "Карточка"
          }
      },
      Buttons = new LessLink[]
      {
          //new LessLink
          //{
          //    Caption = "Добавить",
          //    Url = "/Admin/UserItem",
          //    Icon = "icon-add"
          //}
      }
  })

@(new LimitlessPanel
  {
      Title = "qwe",
      Reload = $"/orgs/card/entities/{org_read?.ID}"
  })*@

@*<div class="input-group">
    <span class="input-group-btn">
        <button id="btn_search"
                class="btn btn-default btn-icon" type="button">
            <i class="icon-search4"></i>
        </button>
    </span>
    <input type="text" id="search"
           class="form-control" placeholder="поиск по логину">
    <span class="input-group-btn">
        <button id="btn_clear_search"
                class="btn btn-default" type="button">
            <i class="icon-backspace2"></i>
        </button>
    </span>
    <script>
        function reload_user_table() {
            $("#user_table").data("kendoGrid").dataSource.read();
        }

        $("#search").keyup(function(e) {
            if (e.which === 13) {
                reload_user_table();
            }
            if (e.which === 27) {
                $('#search').val('');
                reload_user_table();
            }
        });
        $('#btn_search').click(function() {
            reload_user_table();
        });
        $('#btn_clear_search').click(function() {
            $('#search').val('');
            reload_user_table();
        });

        function user_table_filter() {
            return {
                login: $('#search').val()
            };
        }

        $(function() {
            $('#search').focus();
        });
    </script>
</div>*@