﻿@using CoreLimitless
@using CoreSupport.Reflection
@using CoreWeb2.Models
@using Kendo.Mvc.UI
@using Microsoft.AspNetCore.Mvc.Razor
@model LibCoreDB.DataDb
@{
    ViewData["Title"] = "Пользователи";
    Layout = "_Index";

    var datasource = "datasource";

    Func<object, HelperResult> buttons =
        @<text>
            <a class='btn bg-blue' href='/Admin/UserItem/Index/#=ID#'>
                <i class='icon-hammer-wrench text-white'></i>
            </a>
         </text>;
}

@(new LimitlessPageHeader
  {
      Caption = ViewData["Title"].AsType<string>(),
      Subcaption = " - таблица.",
      MarginBottom = 0,
      Path = new[]
      {
          new LessLink
          {
              Url = "/Admin/UserList/Index",
              Icon = "icon-home2",
              Caption = "Таблица"
          }
      },
      Buttons = new[]
      {
          new LessLink
          {
              Caption = "Добавить",
              Url = "/Admin/UserItem",
              Icon = "icon-add"
          }
      }
  })
<div class="input-group">
    <span class="input-group-btn">
        <button id="btn_search"
                class="btn btn-default btn-icon" type="button">
            <i class="icon-search4"></i>
        </button>
    </span>
    <input type="text" id="search"
           class="form-control" placeholder="поиск по логину">
    <span class="input-group-btn">
        <button id="btn_clear_search"
                class="btn btn-default" type="button">
            <i class="icon-backspace2"></i>
        </button>
    </span>
    <script>
        function reload_user_table() {
            $("#user_table").data("kendoGrid").dataSource.read();
        }

        $("#search").keyup(function(e) {
            if (e.which === 13) {
                reload_user_table();
            }
            if (e.which === 27) {
                $('#search').val('');
                reload_user_table();
            }
        });
        $('#btn_search').click(function() {
            reload_user_table();
        });
        $('#btn_clear_search').click(function() {
            $('#search').val('');
            reload_user_table();
        });

        function user_table_filter() {
            return {
                login: $('#search').val()
            };
        }

        $(function() {
            $('#search').focus();
        });
    </script>
</div>

@(Html.Kendo().Grid<UserModel>()
      .Name("user_table")
      .Columns(columns =>
      {
          columns.Bound(v => v.Login);
          columns.Bound(v => v.Roles);
          columns.Template(buttons.ToText()).Width(62);
      })
      .Sortable(s => s.SortMode(GridSortMode.MultipleColumn))
      .Pageable(pager =>
      {
          pager
              .Input(true)
              .Numeric(true)
              .Info(true)
              .PreviousNext(true)
              .Refresh(true)
              .PageSizes(new[] {10, 50, 100});
      })
      .DataSource(ds =>
      {
          ds.Ajax()
              .Model(model => model.Id(p => p.ID))
              //.Read(v => v.Action("Read", "UserList", new {area = "admin"}).Data("user_table_filter"))
              //.Destroy(v => v.Action("Destroy", "UserList", new {area = "admin"}))
              ;
      }))