﻿@using BaseDBFX.Table
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Администрирование валют организаций";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                <div class="alert alert-info m-b-sm">
                    <i class="fa fa-info-circle"></i>
                    Изменение ключей не происходит, только при создании.
                </div>
                @(Html
                      .Kendo()
                      .Grid<HelpCurrency>()
                      .Name("OrgDirectionTable")
                      .ToolBar(toolbar => { toolbar.Create().Text("Создать"); })
                      .Columns(columns =>
                      {
                          columns.Bound(v => v.Key).Title("Ключ");
                          columns.Bound(v => v.Name).Title("Наименование");
                          columns.Bound(v => v.Order).Title("Порядок");
                          columns.Command(command => { command.Edit().Text("Редактировать"); });
                      })
                      .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                      .Sortable()
                      .DataSource(source =>
                      {
                          source
                              .Ajax()
                              .Model(model =>
                              {
                                  model.Id(v => v.Key);
                                  model.Field(v => v.Key).Editable(false);
                              })
                              .Read(read => { read.Url(Url.Action("Read", "Currency", new {area = "Administration"})); })
                              .Update(update => { update.Url(Url.Action("Update", "Currency", new {area = "Administration"})); })
                              .Create(action => { action.Url(Url.Action("Index")); })
                              .Destroy(action => { action.Url(Url.Action("Index")); });
                      }))
            </div>
        </div>
    </div>
</div>

@section script
{
}