﻿@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Загрузка из файла пользователя";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

@section head
{
    <script src="~/Scripts/jquery.tmpl.js"></script>
    <style>
        
        
    </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <div class="h3 header">@ViewBag.Title</div>
                </div>
                <div class="ibox-content">
                    <div style="max-width: 800px;" class="center-block">
                        <a href="@Url.Content("~/Shablons/Shablon.csv")" class="btn btn-link">ссылка на шаблон</a>
                        <div class="alert alert-info">
                            <ul>
                                <li>первая строчка обязательна - идентификаторы столбцов</li>
                                <li>в колонке id если "пусто" значит новая организация, если "*" значит новый контакт предыдущей организации, если "?" значит строка игнорируется</li>
                                <li>порядок колонок может быть любым</li>
                                <li>колонки могут отсутствовать</li>
                                <li style="color: red">перед выбором файла выберите область для которой этот файл</li>
                            </ul>
                        </div>
                        <div style="margin-bottom: 20px;">
                            @(Html.Kendo().DropDownList().Name("region").DataTextField("Value").DataValueField("Guid").DataSource(source =>
                              {
                                  source.Read(read =>
                                  {
                                      read.Url(Url.Action("ReadRegion", "FileBase", new
                                      {
                                          area = "Organization"
                                      }));
                                  });
                              }).HtmlAttributes(new {style = "width: 100%"}))
                            @(Html.Kendo().Upload().Name("files").Async(act =>
                              {
                                  act.SaveUrl(Url.Action("Upload", "FileBase",
                                      new
                                      {
                                          area = "Organization"
                                      }));
                              }).Events(ev => { ev.Upload("upload"); }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content" id="questions">

                </div>
            </div>
        </div>
    </div>
</div>

<script id="countRowMessage" type="text/x-jquery-tmpl">
    <div data="dublicate" class="border-bottom" style="padding-bottom: 20px;">
        <h3>Количество строк: ${count}</h3>
    </div>
</script>

<script id="countOrgMessage" type="text/x-jquery-tmpl">
    <div data="dublicate" class="border-bottom" style="padding-bottom: 20px;">
        <h3>Количество организаций: ${count}</h3>
    </div>
</script>

<script id="addOrgMessage" type="text/x-jquery-tmpl">
    <div data="added" class="border-bottom" style="padding-bottom: 20px;">
        <h3>Импортировано</h3>
        <small>позиция № ${index}</small>
        <dl class="dl-horizontal" style="border-bottom: dashed 1px #eee; margin-bottom: 10px;">
            <dt>Наименование</dt>
            <dd>${name}</dd>
            <dt>ИНН</dt>
            <dd>${inn}</dd>
            <dt>Адрес</dt>
            <dd>${address}</dd>
        </dl>
    </div>
</script>

<script id="dublOrgMessage" type="text/x-jquery-tmpl">
    <div data="dublicate" class="border-bottom" style="padding-bottom: 20px;" id="${id}">
        <h3>Найдено совпадение</h3>
        <small>позиция № ${index}</small>
        {%each list%}
        <dl class="dl-horizontal" style="border-bottom: dashed 1px #eee; margin-bottom: 10px;">
            <dt>Наименование</dt>
            <dd>${name}</dd>
            <dt>ИНН</dt>
            <dd>${inn}</dd>
            <dt>Адрес</dt>
            <dd>${address}</dd>
            <dt>Ответственный</dt>
            <dd>${accaunt}</dd>
        </dl>
        {%/each%}
        <button class="btn btn-danger btn-sm">Добавить как новую</button>
        <button class="btn btn-primary btn-sm">Ничего не делать</button>
    </div>
</script>

@section script
{
    <script>
        function upload(e) {
            e.data = {
                region: $("#region").val()
            };
        }

        var save = [];

        ws.received(function(data) {
            data = JSON.parse(data);
            if (data.method) {
                switch (data.method) {
                case "show_row_count":
                    $("#countRowMessage").tmpl(data.data).appendTo("#questions");
                    break;
                case "show_org_count":
                    $("#countOrgMessage").tmpl(data.data).appendTo("#questions");
                    break;
                case "dubl_org":
                    save[data.data.id] = data.save;
                    $("#dublOrgMessage").tmpl(data.data).appendTo("#questions");
                    break;
                default:
                    break;
                }
            }
        });
    </script>
    <script>
        $(document)
            .on('click',
                "[data='dublicate'] .btn-danger",
                function() {
                    const id = $(this).closest("[id]").attr("id");

                    ws.send({
                        method: "AddOrgForce",
                        data: {
                            save: save[id]
                        }
                    });

                    $(this).closest("[id]").remove();
                })
            .on('click',
                "[data='dublicate'] .btn-primary",
                function() {
                    $(this).closest("[id]").remove();
                });
    </script>
}