﻿@using BaseDBFX.Table
@using Finflaex.Support.Attributes
@using Finflaex.Support.MVC.Models
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Administration.Models
@model BaseDBFX.Base.ActionData

@{
    ViewBag.Title = "Администрирование меток";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

@{
    var types = Enum.GetValues(typeof(TypeLabel)).Cast<TypeLabel>().Select(v => new MainValue
    {
        index = (int) v,
        value = v.AtValue()
    });

    var users = (
        from user in Model.db.Logins
        select new GuidValue
        {
            Guid = user.ID,
            Value = user.Caption
        })
        .ToArray();
}

<script id="templateButtonAct" type="text/x-kendo-template">
    <a class='btn btn-sm btn-default k-grid-update fa fa-save'></a>
    <a class='btn btn-sm btn-success k-grid-edit fa fa-edit'></a>
    <a class='btn btn-sm btn-danger k-grid-delete fa fa-trash'></a>

</script>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                @(Html
                      .Kendo()
                      .Grid<TableLabelItem>()
                      .Name("LabelTable")
                      .ToolBar(toolbar => { toolbar.Create().Text("Создать"); })
                      .Columns(columns =>
                      {
                          columns.Bound(v => v.Caption).Title("Имя").Width(150);
                          columns.Bound(v => v.Description).Title("Описание");
                          columns.Bound(v => v.Order).Title("Индекс").Width(80);
                          columns
                              .ForeignKey(v => v.Type, types, "index", "value")
                              .Title("Тип")
                              .Width(180)
                              .Filterable(ftb => ftb.Multi(true)
                                  .ItemTemplate("itemTemplate")
                                  .DataSource(ds => ds.Read(r => r.Url(Url.Action("GetTypes"))
                                      .Data("{ field: 'Type' }"))));
                          columns.ForeignKey(v => v.UserID, users, "Guid", "Value").Title("Пользователь").Width(180);
                          @*columns.Template(@<text></text>)
                              .ClientTemplate("#=" + "templateButtonAct".jsKendoTemplate() + "#")
                              .Width(121);*@
                          columns.Command(command =>
                          {
                              command.Edit().Text("Ред.");
                              command.Destroy().Text("Уд.");
                          }).Hidden(false).Width(100);
                      })
                      .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                      .Filterable(v => v.Enabled(true))
                      .Sortable(v => v.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
                      .DataSource(source =>
                      {
                          source
                              .Ajax()
                              .AutoSync(false)
                              .Model(model => { model.Id(v => v.ID); })
                              .Create(create => { create.Url(Url.Action("Create", "Labels", new {area = "Administration"})); })
                              .Read(read => { read.Url(Url.Action("Read", "Labels", new {area = "Administration"})); })
                              .Update(update => { update.Url(Url.Action("Update", "Labels", new {area = "Administration"})); })
                              .Destroy(destroy => { destroy.Url(Url.Action("Destroy", "Labels", new {area = "Administration"})); });
                      }))
            </div>
        </div>
    </div>
</div>

<script>
    function itemTemplate(e) {
        if (e.field == "all") {
            //handle the check-all checkbox template
            return "<div><label><strong><input type='checkbox' />#= all#</strong></label></div>";
        } else {
            //handle the other checkboxes
            return `<div><label><input type='checkbox' name='${e.field
                }' value='#=index#'/><span>#= value #</span></label></div>`;
        }
    }
</script>