﻿@using Kendo.Mvc.UI
@model WebGBFXT.Areas.Operator.Controllers.OrgBaseInfoModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

@section head{
    <link href="~/dashboard/js/plugins/datapicker/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <link href="~/dashboard/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet"/>

    <style>
        [contenteditable="true"]:empty:before {
            color: #999;
            content: attr(placeholder);
            display: block; /* For Firefox */
        }

        [contenteditable=false] {
            border: solid 1px white;
            font-weight: bold;
        }

        [contenteditable=true] {
            border: 1px dashed #999;
            cursor: text;
        }

        [contenteditable=true]:not(:empty) { font-weight: bold; }

        [contenteditable] {
            border-radius: 4px;
            margin: 2px;
            min-height: 34px;
            padding: 5px;
        }

        td {
            padding: 6px;
            vertical-align: top;
        }

        td:first-child { padding-left: 10px; }

        td:last-child { padding-right: 10px; }

        td:not(:last-child) { border-right: 1px dashed #999; }

        tbody { border-top: 1px solid #999; }

        tbody:last-of-type { border-bottom: 1px solid #999; }

        /*.new_record {
            display: none;
        }

        .remove_link {
            float: right;
            position: relative;
            left: -7px;
            color: red;
        }*/



        .contact_line > td > div {
            display: table;
            margin: 2px;
            width: 100%;
        }

        .contact_line > td > div > * { display: table-cell; }

        .contact_line > td > div > *:first-child { width: 100%; }

        .contact_line > td > div > *:not(:first-child) { margin-left: 6px; }

        .phone_line .row > div:last-of-type > * {
            float: right;
            margin: 5px;
        }
    </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-1">
        <button id="btn_edit" onclick="BtnEditAction(EditStatus = !EditStatus)" class="h2 btn btn-white">
            <i class="fa fa-edit"></i>
        </button>
    </div>
    <div class="orgName h2  col-sm-11">
        @(Model.New ? "Новая организация" : Model.ShortName)
    </div>
    @if (Model.New)
    {
        <div class="alert alert-danger orgAlert" style="clear: both; margin: 20px;">
            Для создания новой организации необходимо заполнить наименование организации или его ИНН
        </div>
    }
</div>

<div class="row wrapper wrapper-content" style="padding-bottom: 0">
    <div class="col-md-6  animated fadeInLeft">
        <div class="ibox">
            <div class="ibox-content">
                <dl class="dl-horizontal">
                    <dt>Наименование</dt>
                    <dd data="ShortName"
                        contenteditable="@(Model.New ? "true" : "false")"
                        placeholder="- не указано -">
                        @Model.ShortName</dd>
                    <dt>Полное наименование</dt>
                    <dd data="FullName"
                        contenteditable="false"
                        placeholder="- не указано -">
                        @Model.FullName</dd>
                    <dt>ИНН</dt>
                    <dd data="Inn"
                        contenteditable="@(Model.New ? "true" : "false")"
                        placeholder="- не указано -">
                        @Model.Inn</dd>
                    <dt>Адрес</dt>
                    <dd data="Address"
                        contenteditable="false"
                        placeholder="- не указано -">
                        @Model.RawAddress</dd>
                    <div class="form-group">
                        <label>Обороты:</label>
                        <div class="input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-rub"></i></span>
                            <input type="text" class="form-control" placeholder="?">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                    <div class="checkbox checkbox-warning">
                        <input type="checkbox"/>
                        <label> Не вышли мордой </label>
                    </div>
                    <div class="checkbox checkbox-warning">
                        <input type="checkbox"/>
                        <label> Не ВЭД</label>
                    </div>
                    <div class="checkbox checkbox-warning">
                        <input type="checkbox"/>
                        <label> Маленькие</label>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-6   animated fadeInRight">
        <div class="ibox">
            <div class="ibox-content">
                <small>комментарий:</small>
                @(Html.Kendo().EditorFor(v => v.Description).Name(Guid.NewGuid().ToString("N")).Tag("div").Tools(tools => tools
                      .Clear()
                      .Bold().Italic().Underline().Strikethrough()
                      //.JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                      .CreateLink().Unlink()
                      //.InsertImage()
                      //.TableEditing()
                      .FontColor().BackColor()
                      ).HtmlAttributes(new
                      {
                          @class = "edit",
                          style = "min-height:100px;",
                          data = "Comment"
                      })
                      //.Events(e =>
                      //{
                      //    e.Change("actionOrgComment");
                      //})
                      )
            </div>
        </div>
    </div>
</div>

<div class="row wrapper wrapper-content animated fadeInDown">
    <div class="col-lg-12">
        <table id="contacts" width="100%" class="white-bg m-b-lg">
            <thead>
            <tr class="text-center">
                <td width="25%">
                    Должность
                </td>
                <td width="25%">
                    ФИО
                </td>
                <td width="50%">
                    Контакт
                </td>
            </tr>
            </thead>
            <tbody style="display: none" class="animated fadeInDown new_contacts">
            <tr>
                <td>
                    <div data="NewPost"
                         contenteditable="true"
                         placeholder="Новая должность">
                    </div>
                </td>
                <td>
                    <div data="NewPerson"
                         contenteditable="true"
                         placeholder="Новые ФИО">
                    </div>
                </td>
                <td>
                    <div data="NewContact"
                         contenteditable="true"
                         placeholder="Новый контакт">
                    </div>
                </td>
            </tr>
            </tbody>
            @foreach (var item in Model.Contacts)
            {
                Html.RenderPartial("ReadRecord", item);
            }
        </table>
    </div>
</div>
<div id="window" style="display: none"></div>

@section script{
    <script src="~/dashboard/js/plugins/clockpicker/bootstrap-clockpicker.min.js"></script>
    <script src="~/dashboard/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/dashboard/js/plugins/datapicker/bootstrap-datepicker.ru.min.js"></script>

    <script src="~/dashboard/js/plugins/jasny/jasny-bootstrap.min.js"></script>

    <script src="~/dashboard/js/plugins/validate/jquery.validate.min.js"></script>
    <script>
        var EditStatus = false;

        $(function() {
            var table = $("#contacts");
            TableNormalize(table);
        });

        $(document)
            .on('focus',
                "[contenteditable]",
                function() {
                    var $this = $(this);
                    $this.data('before', $this.html());
                    return $this;
                })
            .on('blur paste',
                "[contenteditable]",
                function() {
                    var $this = $(this);
                    if ($this.data('before') !== $this.html()) {
                        $this.data('before', $this.html());
                        $this.trigger('change');
                    }
                    return $this;
                })
            .on("keydown",
                "[contenteditable]",
                function(e) {
                    if (e.ctrlKey && e.keyCode === 13) {
                        $(this).blur();
                        e.preventDefault();
                    }
                })
            .on('change',
                "[contenteditable]",
                ContactAction)
            .on('click',
                ".btn_remove",
                ContactAction)
            .on('click',
                "[data='status']",
                function() {
                    var el = $(this);
                    $.post("@Url.Action("ChangeTaskStatus", "Organization", new {area = "Operator"})",
                        JSON.stringify({
                            id: el.attr("data-id"),
                            status: el.find("i").hasClass("fa-times")
                        }),
                        function(result) {
                            el
                                .toggleClass("btn-primary btn-danger")
                                .find("i")
                                .toggleClass("fa-check fa-times");
                        });
                })
            .on('click',
                "[data='meeting-status']",
                function() {
                    var el = $(this);
                    $.post("@Url.Action("ChangeMeetingStatus", "Organization", new {area = "Operator"})",
                        JSON.stringify({
                            id: el.attr("data-id")
                        }),
                        function(result) {
                            switch (result.status) {
                            case 20:
                                el.removeClass("btn-info btn-danger")
                                    .addClass("btn-primary")
                                    .find("i")
                                    .removeClass("fa-question fa-thumbs-down")
                                    .addClass("fa-thumbs-up");
                                break;
                            case 21:
                                el.removeClass("btn-primary btn-danger")
                                    .addClass("btn-info")
                                    .find("i")
                                    .removeClass("fa-thumbs-up fa-thumbs-down")
                                    .addClass("fa-question");
                                break;
                            case 22:
                                el.removeClass("btn-info btn-primary")
                                    .addClass("btn-danger")
                                    .find("i")
                                    .removeClass("fa-question fa-thumbs-up")
                                    .addClass("fa-thumbs-down");
                                break;
                            }
                        });
                })
                .on("click",
                "#window .btn-danger",
                function() {
                    action({
                        id: $(this).closest("[id]").attr("id"),
                        data: true
                    });
                    $("#window").data("kendoWindow").close();
                })
                .on("click",
                "#window .btn-primary",
                function () {
                    action({
                        id: $(this).closest("[id]").attr("id"),
                        data: false
                    });
                    $("#window").data("kendoWindow").close();
                })
        ;

        function BtnEditAction(status) {
            $("[data='ShortName'], [data='Address'], [data='FullName'], [data='Inn']").attr("contenteditable", status);
            var table = $("#contacts");
            TableNormalize(table);
        }

        function BtnCallStart(el, id) {
            $(el)
                .toggleClass("btn-primary btn-danger")
                .closest("tbody")
                .find(".phone_line")
                .toggle()
                .find("[name='ID']")
                .val(id);
        }

        function BtnCallStop(el) {
            $(el).prop('disabled', true);
            var table = $(el).closest("table");
            var result = $(el).closest("form").serializeArray();
            result.push({
                name: "button",
                value: $(el).attr("class")
            });
            $.post("@Url.Action("PhoneFormAction")",
                    JSON.stringify(result),
                    function(html) {
                        $(el).closest("tbody").replaceWith(html);
                        TableNormalize(table);
                    })
                .fail(function() {
                    $(el).prop('disabled', false);
                });

        }

        function TableNormalize(table) {
            var id = table.attr("id");
            switch (id) {
            case "contacts":
                if (EditStatus) {
                    table.find(".new_contacts, .new_record, .btn_remove").show();
                    table.find(".new_record, [data='NewPerson'], [data='NewPost'], [data='NewContact']").empty();
                    table.find(".btn_action").hide();
                    table.find("[contenteditable]").attr("contenteditable", true);
                } else {
                    table.find(".new_contacts, .new_record, .btn_remove").hide();
                    table.find(".btn_action").show();
                    table.find("[contenteditable]:not(.edit)").attr("contenteditable", false);
                }
                $(".new_record").empty();
                break;
            default:
                break;
            }
        }

        function ContactAction(e) {
            var current = $(this);
            var table = current.closest("table");
            var edit = current.attr("contenteditable") === undefined
                ? current.parent().find("[contenteditable]")
                : current;

            $.post(
                    "@Url.Action("OrgContenteditableAction", "Organization", new {area = "Operator"})",
                    JSON.stringify({
                        org: "@Model.OrgID",
                        record: edit.attr("record"),
                        id: edit.attr("id"),
                        data: edit.attr("data"),
                        value: edit.text(),
                        remove: current.hasClass("btn_remove")
                    }),
                    function(data) {
                        if (data) {
                            if (data.create) {
                                table.find(".new_contacts").show().empty();
                                table.find('[contenteditable]').attr("contenteditable", "true");
                                $('.orgName').text(data.caption);
                                $('.orgAlert').remove();
                                $("#btn_edit").show();
                            }
                            if (data.new) {
                                $
                                    .post("@Url.Action("ReadRecord", "Organization", new {area = "Operator"})?guid=" +
                                        data.id,
                                        function(html) {
                                            table.find(".new_contacts").after(html);
                                            TableNormalize(table);
                                        });
                            }
                            if (data.update) {
                                $
                                    .post("@Url.Action("ReadRecord", "Organization", new {area = "Operator"})?guid=" +
                                        data.id,
                                        function(html) {
                                            table.find("#" + data.id).replaceWith(html);
                                            TableNormalize(table);
                                        });
                            }
                            if (data.remove) {
                                table.find("#" + data.id).remove();
                            }
                        }
                    })
                .fail(function(response) {
                    alert('Error: ' + response.responseText);
                });
        }

        Runtime.client.QuestMessage = function(id, html) {
            $("#window").html(html).data("kendoWindow").open().center();
        };
        Runtime.client.CreateOrganization = function (id, html) {
            BtnEditAction(EditStatus = true);
            $(".orgAlert").remove();
            $(".orgName").text(html.name);
            $("[data='ShorName']").text(html.name);
            $("[data='Inn']").text(html.inn);
        };
        Runtime.client.ClearForm = function (id, html) {
            $("[data='ShortName'],[data='Inn']").empty();
        };

        jQuery("#window").kendoWindow({
            "modal": true,
            "iframe": false,
            "draggable": true,
            "scrollable": true,
            "pinned": false,
            "title": "Найдены совпадения",
            "resizable": true,
            "width": 600,
            "actions": ["Close"],
            "position": {
                "top": 100,
                "left": 100
            }
        });
    </script>
}