﻿@using Kendo.Mvc.UI
@model IEnumerable<WebGBFXT.Areas.Operator.Models.QuestMessageModel>

@{
    Layout = null;
    var task_id = (string)ViewBag.id;
}

<div id="@task_id" style="margin: 40px;">
    @foreach (var org in Model)
    {
        <div class="row" style="border-bottom: dashed 1px #aaa">
            <div class="col-md-8">
                <dl class="dl-horizontal">
                    <dt>Наименование</dt>
                    <dd>@org.name</dd>
                    <dt>Адрес</dt>
                    <dd>@org.address</dd>
                    <dt>ИНН</dt>
                    <dd>@org.inn</dd>
                </dl>
            </div>
            <div class="col-md-4">
                @foreach (var user in org.users)
                {
                    <p>@user</p>
                }
            </div>
        </div>
    }
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-12">
            <button class="btn btn-danger btn-sm">Добавить как новую</button>
            <button class="btn btn-primary btn-sm">Ничего не делать</button>
        </div>
    </div>
</div>