﻿@using BaseDBFX.Table
@using Kendo.Mvc.UI
@using Microsoft.Ajax.Utilities
@model WebGBFXT.Areas.Operator.Controllers.ContactTableItemModel

@{
    Layout = null;
    var item = Model;
    var edit = item.edit.ToString().ToLower();
}

@if (Model.url != null)
{
    <script>
        document.location = "@Model.url";
    </script>
}
else
{
    <tbody id="@item.ID">
    <tr class="contact_line">
        <td>
            @foreach (var post in item.Posts)
            {
                <div>
                    <div data="Post"
                         id="@post.ID"
                         contenteditable="@edit"
                         record="@item.ID">
                        @post.caption
                    </div>
                    <button type="button"
                            class="btn btn-danger btn_remove"
                            style="display: none">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
            }
            <div>
                <div data="Post"
                     class="new_record"
                     contenteditable="@edit"
                     style="display: @(item.edit ? "block" : "none")"
                     record="@item.ID"
                     placeholder="новая должность"></div>
            </div>
        </td>
        <td>
            @foreach (var person in item.Persons)
            {
                <div>
                    <div data="Person"
                         id="@person.ID"
                         contenteditable="@edit"
                         record="@item.ID">
                        @person.caption
                    </div>
                    <button type="button"
                            class="btn btn-danger btn_remove"
                            style="display: none">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
            }
            <div>
                <div data="Person"
                     class="new_record"
                     contenteditable="@edit"
                     style="display: @(item.edit ? "block" : "none")"
                     record="@item.ID"
                     placeholder="новое лицо"></div>
            </div>
        </td>
        <td>
            @foreach (var contact in item.Contacts)
            {
                <div>
                    <div data="Contact"
                         @*class="form-control"*@
                         id="@contact.ID"
                         contenteditable="@edit"
                         record="@item.ID"
                         @*data-type="@contact.type.ToString()"*@>
                        @contact.caption
                    </div>
                    <button type="button"
                            class="btn btn-danger btn_remove"
                            style="display: none">
                        <i class="fa fa-remove"></i>
                    </button>
                    @switch (contact.type)
                    {
                        case ContactType.phone:

                            <button type="button"
                                    class="btn btn-primary btn_action"
                                    style="display: none"
                                    onclick="BtnCallStart(this, '@contact.ID')">
                                <i class="fa fa-phone"></i>
                            </button>

                            break;
                        case ContactType.email:

                            <button type="button"
                                    class="btn btn-primary btn_action"
                                    style="display: none">
                                <i class="fa fa-envelope"></i>
                            </button>

                            break;
                        default:

                            <button type="button"
                                    class="btn btn-danger btn_action"
                                    style="display: none">
                                <i class="fa fa-exclamation-triangle"></i>
                            </button>

                            break;
                    }
                </div>
                    @*<span class="input-group-btn">
                            @switch (contact.type)
                            {
                                case ContactType.phone:

                                    <button type="button"
                                        class="btn btn-primary"
                                        data-toggle="modal"
                                        data-target="#PhoneForm"
                                        data-backdrop="false"
                                        href="@Url.Action("PhoneForm")?record=@item.ID">
                                        <i class="fa fa-phone"></i>
                                    </button>

                                    break;
                                case ContactType.email:
                                    <button type="button" class="btn btn-primary">
                                        <i class="fa fa-envelope"></i>
                                    </button>
                                    break;
                                default:
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-exclamation-triangle"></i>
                                    </button>
                                    break;
                            }
                        </span>
                        </div>*@
            }
            <div>
                <div data="Contact"
                     class="new_record"
                     contenteditable="@edit"
                     record="@item.ID"
                     style="display: @(item.edit ? "block" : "none")"
                     placeholder="новый контакт">
                </div>
            </div>
        </td>


    </tr>
    <tr class="phone_line" style="display: none">
        <td colspan="3" style="padding: 20px; background: #eee">
            <h3 class="text-center">Звонок</h3>
            <form class="row">
                <input type="hidden" name="ID"/>
                <div class="col-md-9">
                    @(Html.Kendo().Editor().Name(Guid.NewGuid().ToString("N")).Tag("textarea").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .CreateLink().Unlink()
                          .FontColor().BackColor()
                          ).HtmlAttributes(new
                          {
                              @class = "edit",
                              //style = "min-height:100px; border: solid 1px #e5e6e7;",
                              name = "comment",
                          }))
                </div>
                <div class="col-md-3">
                    <div style="clear: both">
                        @(Html.Kendo().DateTimePicker().Name(Guid.NewGuid().ToString("N")).HtmlAttributes(new
                          {
                              style = "width:100%;",
                              placeholder = "Дата следующего события",
                              name = "date",
                          }))
                    </div>
                    <div style="clear: both">
                        <button type="button" class="btn btn-danger" onclick="BtnCallStop(this)">Неудача</button>
                    </div>
                    <div style="clear: both">
                        <button type="button" class="btn btn-warning" onclick="BtnCallStop(this)">Перезвонить</button>
                    </div>
                    <div style="clear: both">
                        <button type="button" class="btn btn-info" onclick="BtnCallStop(this)">Состоялся</button>
                    </div>
                    <div style="clear: both">
                        <button type="button" class="btn btn-primary" onclick="BtnCallStop(this)">Встреча</button>
                    </div>
                </div>
            </form>
        </td>
    </tr>
    @*<tr>
                <td colspan="3">
                    <div class="btn-group">
                        <button class="btn btn-primary">Комментарий</button>
                        <button class="btn btn-default">Комментарий2</button>
                    </div>
                </td>
            </tr>*@

    <tr class="event_line">
        <td colspan="3">
            @if (item.tasks.Any())
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#history-@item.ID" class="collapsed" aria-expanded="false">
                                История
                            </a>
                        </h4>
                    </div>
                    <div id="history-@item.ID" class="panel-collapse collapse in" aria-expanded="false">
                        <div class="panel-body">
                            <table width="100%">
                                <tr>
                                    <th class="text-center" style="width: 120px;">Дата</th>
                                    <th class="text-center" style="width: 120px;">Тип</th>
                                    <th class="text-center">Комментарий</th>
                                    <th class="text-center" style="width: 50px"></th>
                                </tr>
                                @foreach (var task in item.tasks)
                                {
                                    <tr>
                                        <td>
                                            @task.when
                                        </td>
                                        <td>
                                            @task.tasktype
                                        </td>
                                        <td>
                                            @task.caption
                                        </td>
                                        <td>
                                            @if (task.tasktypeint == 11)
                                            {
                                                <button data-id="@task.ID" 
                                                        data="status"
                                                        class="btn @(task.taskstatus ? "btn-primary" : "btn-danger") btn-circle" 
                                                        type="button">
                                                    <i class="fa  @(task.taskstatus ? "fa-check" : "fa-times")"></i>
                                                </button>
                                            }
                                            @if (task.tasktypeint == 20 || task.tasktypeint == 21 || task.tasktypeint == 22)
                                            {
                                                <button data-id="@task.ID"
                                                        data="meeting-status"
                                                        class="btn @switch (task.tasktypeint)
                                                                    {
                                                                        case 20: @("btn-primary") break;
                                                                        case 21: @("btn-info") break;
                                                                        case 22: @("btn-danger") break;
                                                                    } btn-circle"
                                                        type="button">
                                                    <i class="fa  fa-@switch (task.tasktypeint)
                                                                    {
                                                                        case 20: @("thumbs-up") break;
                                                                        case 21: @("question") break;
                                                                        case 22: @("thumbs-down") break;
                                                                    }"></i>
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>


            }
        </td>
    </tr>
    </tbody>
}