﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Operator.Models
@model BaseDBFX.Base.ActionData

@{
    ViewBag.Title = "Пересечения";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
    var gb = Model;
}


<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                <div class="form-group">
                    <label class="control-label">Содержит в наименовании или ИНН:</label>
                    @(Html.Kendo().TextBox().Name("OrgName").HtmlAttributes(new
                      {
                          style = "width:100%;"
                      }))
                </div>

                <script>
                    function get_filter() {
                        return {
                            OrgFilter: $("#OrgName").val()
                        };
                    };

                    $('#OrgName').on("change",
                        function() {
                            $('#PlanOrgTable')
                                .data("kendoGrid")
                                .dataSource
                                .read();
                        });
                </script>

                @(Html
                      .Kendo()
                      .Grid<PlanOrgTableItem>()
                      .Name("PlanOrgTable")
                      .Columns(columns =>
                      {
                          columns.Bound(v => v.Inn).Title("ИНН");
                          columns.Bound(v => v.Name).Title("Наименование");
                          columns.Bound(v => v.Address).Title("Адрес");
                          columns.Bound(v => v.Status).Title("Статус");
                          columns.Bound(v => v.Accaunt).Title("Ответственный");
                      })
                      .Resizable(v => v.Columns(true))
                      .Sortable(v => v.SortMode(GridSortMode.MultipleColumn).AllowUnsort(false))
                      //.Pageable(pager => pager
                      //    .Input(true)
                      //    .Numeric(true)
                      //    .Info(true)
                      //    .PreviousNext(true)
                      //    .Refresh(true)
                      //    .PageSizes(new[] {10, 20, 50, 100, 200})
                      //)
                      .DataSource(source =>
                      {
                          source
                              .Ajax()
                              .Model(model => { model.Id(v => v.ID); })
                              .Read(read => { read.Url(Url.Action("Read", "Filter", new {area = "Organization"})).Data("get_filter"); })
                              ;
                      }))
            </div>
        </div>
    </div>
</div>