﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Operator.Controllers
@model dynamic
@{
    ViewBag.Title = "Загрузка базы пользователя";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

@section head
{
    <link href="~/dashboard/css/plugins/sweetalert/sweetalert.css" rel="stylesheet"/>
    <script src="~/dashboard/js/plugins/sweetalert/sweetalert.min.js"></script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <div class="h3 header">@ViewBag.Title</div>
                </div>
                <div class="ibox-content">
                    <div style="max-width: 800px;" class="center-block">
                        <div class="alert alert-info">
                            После загрузки файла будет произведена обработка.
                            При завершении обработки вы увидите уведомление.
                            До этого момента информация в базе не появится.
                        </div>
                        <div style="margin-bottom: 20px;">
                            @(Html.Kendo().Upload().Name("files").Async(async =>
                              {
                                  async
                                      .SaveUrl(Url.Action("Upload"))
                                      .AutoUpload(true);
                              }))
                        </div>
                        @*<div class="alert alert-danger">
                            Вывод информации об обработке в режиме онлайн приостановлен в связи с созданием уведомлений для пользователя
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content" id="questions">
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        Runtime.client.questMessage = function (id, html) {
            $("#questions").append(html);
        }

        $(document)
            .on('click',
                "[data='dublicate'] .btn-danger",
                function () {
                    action({
                        id: $(this).closest("[data='dublicate']").attr("id"),
                        data: true
                    });
                    $(this).closest("[data='dublicate']").remove();
                })
            .on('click',
                "[data='dublicate'] .btn-primary",
                function () {
                    action({
                        id: $(this).closest("[data='dublicate']").attr("id"),
                        data: false
                    });
                    $(this).closest("[data='dublicate']").remove();
                });

        //Runtime.client.TestAlert = function (id, html) {
        //    swal({
        //            title: "Что делать?",
        //            text: html,
        //            type: "warning",
        //            showCancelButton: true,
        //            confirmButtonColor: "#DD6B55",
        //            confirmButtonText: "Игнорировать!",
        //            cancelButtonText: "Добавить как новую!",
        //            closeOnConfirm: false,
        //            closeOnCancel: false
        //        },
        //        function(isConfirm) {
        //            if (isConfirm) {
        //                action({ id: id, data: false });
        //                swal("Проигнорировано", "Пропустили и работаем дальше", "error");
        //            } else {
        //                action({ id: id, data: true });
        //                swal("Добавлено", "Организация добавлена как новая", "success");
        //            }
        //        });
        //}
    </script>
}
