﻿@using WebGBFXT.Areas.Operator.Models
@model QuestMessageModel

@{
    Layout = null;
}

<div data="dublicate" id="@Model.id" class="border-bottom" style="padding-bottom: 20px;">
    <h3>@(Model.name)</h3>
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>Адрес</dt>
                <dd>@Model.address</dd>
                <dt>ИНН</dt>
                <dd>@Model.inn</dd>
            </dl>
        </div>
        <div class="col-md-4">
            @foreach (var user in @Model.users)
            {
                <p>@user</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-danger btn-sm">Добавить как новую</button>
            <button class="btn btn-primary btn-sm">Ничего не делать</button>
        </div>
    </div>
</div>

