﻿@using WebGBFXT.Areas.Operator.Models
@model ViewMessageModel

@{
    Layout = null;
}

<h1>Организация не импортирована</h1>
<div>
    <dl class="dl-horizontal">
        <dt>Наименование</dt>
        <dd>@Model.name</dd>
        <dt>Полное наименование</dt>
        <dd>@Model.fullname</dd>
        <dt>Адрес</dt>
        <dd>@Model.address</dd>
        <dt>ИНН</dt>
        <dd>@Model.inn</dd>
    </dl>
</div>
<div>
    <p>
        <strong>Причина:</strong> Организация уже импортирована и находится в обработке у другого пользователя.
    </p>
    <p>
        <strong>Ответственные:</strong>
        @foreach (var user in @Model.users)
        {
            <p>@user</p>
        }
    </p>
</div>
