﻿@model bool

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<button status=@Model onclick="send_service()">
    @Html.Partial("StatusService", Model)
</button>

<script>
    $.post(@Html.Action("StatusService","ServiceManger"), {
        status : this.attr("status")
    }, function(d) {
        this.html(d);
    })
</script>