﻿<div id="page-header" class="clearfix">
    <div class="page-header">
        <h2>Авторизация</h2>
    </div>
</div>
<div class="login-container">
    <div class="login-panel panel panel-default plain animated bounceIn">
        <div class="panel-body">
            <form id="form_auth" class="form-horizontal center-block" style="max-width: 300px; padding: 10px;" method="get" action="Auth/ActionLogin">
                <div class="form-group">
                    <div class="input-group input-icon">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" name="email" id="email" class="form-control input-md" placeholder="Ваш логин">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-icon">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input type="password" name="password" id="password" class="form-control input-md" placeholder="Ваш пароль">
                    </div>
                    <span class="help-block text-right"><a href="#">Забыли пароль?</a></span>
                </div>
                <div class="form-group">
                    <div class="checkbox-custom">
                        <input type="checkbox" name="remember" id="remember" value="option">
                        <label for="remember">Запомнить меня ...</label>
                        <button class="btn btn-default pull-right" type="submit">Войти</button>
                    </div>
                </div>
            </form>
            <!--<script>
                $("#form_auth").submit(function(e) {
                    e.preventDefault();
                    $.post("Auth/ActionLogin", JSON.stringify({
                        l: $("#form_auth [name='email']").val(),
                        p: $("#form_auth [name='password']").val(),
                        b: $("#form_auth [name='remember']").prop( "checked" )
                    }));
                    return null;
                });
            </script>-->
        </div>
    </div>
</div>