﻿@model IEnumerable<WebGBFXT.Areas.Personal.Controllers.MessageItem>
@{
    ViewBag.Title = "Просмотр сообщений";
    Layout = "~/Views/Shared/_OneIndex.cshtml";

    ViewBag.BodyClass = "full-height-layout";
}

@section head
{
    <style>
        .fh-breadcrumb { height: calc(100% - 177px); }
    </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="fh-breadcrumb">
    <div class="fh-column">
        <div class="full-height-scroll">
            <ul class="list-group elements-list">
                @foreach (var item in Model)
                {
                    <li class="list-group-item @(item.active ? " active" : "")">
                        <a data-toggle="tab" href="#@item.id">
                            <small class="pull-right text-muted">@item.date</small>
                            <strong>@item.caption</strong>
                            <div class="small m-t-xs">
                                <p>@item.subcaption</p>
                                <p class="m-b-none">
                                    <i class="fa fa-user"></i>
                                    @item.author
                                </p>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="full-height">
        <div class="full-height-scroll white-bg border-left">
            <div class="element-detail-box">
                <div class="tab-content">
                    @foreach (var item in Model)
                    {
                        <div id="@item.id" class="tab-pane @(item.active ? " active" : "")">
                            @*<div class="pull-right">
                                    <div class="tooltip-demo">
                                        <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="left" title="Plug this message"><i class="fa fa-plug"></i> Plug it</button>
                                        <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> </button>
                                        <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as important"><i class="fa fa-exclamation"></i> </button>
                                        <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Move to trash"><i class="fa fa-trash-o"></i> </button>

                                    </div>
                                </div>
                                <div class="small text-muted">
                                    <i class="fa fa-clock-o"></i> Friday, 12 April 2014, 12:32 am
                                </div>*@
                            @Html.Raw(item.content)
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section script
{
}