﻿@using Kendo.Mvc.UI
@model BaseDBFX.Base.ActionData
@{
    ViewBag.Title = "Обработка запроса ЦИК";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
    Html.RenderPartial("WarningSdlTemplate");
}

@section script
{
    <script src="~/Scripts/jquery.tmpl.js"></script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<style>
    .k-upload-button { width: 200px; }
</style>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                <div class="alert alert-info">
                    Дождитесь формирования файла. Процедура может занять несколько минут.
                </div>
                @(Html.Kendo().Upload()
                      .Name("files")
                      .Multiple(false)
                      .Async(a => a.SaveUrl(Url.Action("Upload", "CikUpload", new {area = "Sdl"})).AutoUpload(true))
                      .Validation(v => v.AllowedExtensions(new[] {".xml", ".enc", ".sig"})))
                <blockquote>
                    <small class="text-success">
                        Для получения ответа
                        Выберите файл с расширением <strong>XML</strong>
                    </small>
                    <small class="text-danger">
                        Если файл не расшифровывается
                        Выберите файл с расширением <strong>ENC</strong>
                    </small>
                    <small class="text-danger">
                        Если ошибка электронной подписи
                        Выберите файл с расширением <strong>SIG</strong>
                    </small>
                </blockquote>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content" id="result">
            </div>
        </div>
    </div>
</div>

<script id="error_tmpl" type="text/x-jquery-tmpl">
    <div class="alert alert-danger m-n">
        ${message}
    </div>
</script>

<script id="file_tmpl" type="text/x-jquery-tmpl">
    <div class="alert alert-success m-n">
        ${message}
        <a class="btn btn-link"
           download="${Name}"
           href="@Url.Action("ReadFile", "Card", new {area = "Organization"})/${ID}">
            ${Name}
        </a>
    </div>
</script>

<script>
    ws.received(function(data) {
        data = JSON.parse(data);
        if (data.method) {
            switch (data.method) {
            case "clear":
                $('#result').empty();
                break;
            case "error":
                $('#error_tmpl').tmpl(data).appendTo('#result');
                break;
            case "warning_client":
                $('#warning_client_tmpl').tmpl(data.message).appendTo('#result');
                break;
            case "warning_data":
                $('#warning_data_tmpl').tmpl(data.message).appendTo('#result');
                break;
            case "file":
                $('#file_tmpl').tmpl(data).appendTo('#result');
                break;
            default:
                break;
            }
        }
    });
</script>