﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Operator.Models
@model Meeting_Index_Model

@{
    ViewBag.Title = "Планировщик";
    Layout = "~/Views/Shared/_Index.cshtml";
}

@section head
{
    <link href="~/dashboard/js/plugins/iCheck/all.css"  rel="stylesheet"/>
    <script src="~/dashboard/js/plugins/iCheck/icheck.min.js"></script>
}

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox">
        <div class="ibox-content">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @(Html.Kendo().DropDownList().Name("Departament").HtmlAttributes(new
                              {
                                  style = "width:100%"
                              })
                                  //.OptionLabel(new
                                  //{
                                  //    id = Guid.Empty,
                                  //    text = "Все филиалы"
                                  //})
                                  .DataValueField("id").DataTextField("text").DataSource(d =>
                                  {
                                      d.Read(a =>
                                      {
                                          a.Url(Url.Action("DepartamentList"));
                                      });
                                  })
                                  .Events(e =>
                                  {
                                      e.Change("changeFilter").DataBound("start");
                                  })
                                  )
                        </div>
                    </div>
                    @*<div class="col-md-6">
                    <div class="form-group">
                        @(Html.Kendo().DropDownList().Name("Consultant").HtmlAttributes(new
                          {
                              style = "width:100%"
                          }).OptionLabel(new
                          {
                              id = Guid.Empty,
                              text = "Все консультанты"
                          }).DataValueField("id").DataTextField("text").DataSource(d =>
                          {
                              d.Read(a =>
                              {
                                  a.Url(Url.Action("ConsultantList")).Data("filterDepartament");
                              })
                                  .ServerFiltering(true);
                          }).Enable(false).AutoBind(false).CascadeFrom("Departament").Events(e =>
                          {
                              e.Change("changeFilter").DataBound("start");
                          }))
                    </div>
                </div>*@
                </div>
            </form>

            @{
                //todo перечитать а не перезагрузить
            }

            <script>
                function filterDepartament() {
                    return {
                        id: $("#Departament").val()
                    }
                }

                function start() {
                    changeFilter();
                }

                function changeFilter() {
                    $.post("@Url.Action("LoadScheduller", "Meeting", new {
                                area = "Operator",
                                recordID = ViewBag.recordID
                            })&depID=" +
                        $("#Departament").val(),
                        function(e) {
                            $("#content_for_scheduller").html(e);
                        });
                }
            </script>

            <div id="content_for_scheduller"></div>

        </div>
    </div>

    @*@if (Html.Author().Verificate(DB.Roles.Admin))
        {
            <div class="ibox">
                <div class="ibox-content">
                    <div class="alert alert-warning">
                        Необходимо переделать обновление шедулера без сброса даты
                    </div>
                </div>
            </div>
        }*@
</div>

