﻿@using Finflaex.Support.Reflection
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Operator.Models

@{
    Layout = null;
}


@(Html.Kendo().Scheduler<Meeting_Event_Model>().Name("OperatorScheduler")
        .Timezone("Etc/UTC")
                  //.Date(DateTime.Now)
                  //.StartTime(DateTime.Now.Date.AddHours(8))
                  //.EndTime(DateTime.Now.Date.AddHours(17))
                  .AllDaySlot(false)
                  //.Height(600)
                  .ShowWorkHours(true).Views(views =>
                  {
                      views.DayView(v =>
                      {
                          v.Title("День");
                      });
                      views.WorkWeekView(v =>
                      {
                          v.Title("Рабочая неделя").Selected(true);
                      });
                      //views.WeekView(v =>
                      //{
                      //    v.Title("Неделя");
                      //});
                      views.MonthView(v =>
                      {
                          v.Title("Месяц");
                      });
                      //views.AgendaView(v =>
                      //{
                      //    v.Title("На повестке");
                      //});
                      //views.TimelineView(v =>
                      //{
                      //    v.Title("График");
                      //});
                  })
                  //.MajorTick(5)
                  .EventTemplateId("EventTemplate").Editable(v =>
                  {
                      v.TemplateName("EventEdit");
                  })
                  //.Resources(resource =>
                  //{
                  //    resource.Add(m => m.ID)
                  //        .Title("Owner")
                  //        .DataTextField("Text")
                  //        .DataValueField("Value")
                  //        .DataColorField("Color")
                  //        .BindTo(new[]
                  //        {
                  //            new {Text = "Alex", Value = 1, Color = "#f8a398"},
                  //            new {Text = "Bob", Value = 2, Color = "#51a0ed"},
                  //            new {Text = "Charlie", Value = 3, Color = "#56ca85"}
                  //        });
                  //})
                  //.Footer(true)
                  .DataSource(d => d
                      .Model(m =>
                      {
                          m.Id(f => f.ID);
                          m.Field(f => f.Title).DefaultValue("Встреча");
                          m.Field(f => f.OrgName).DefaultValue(ViewBag.OrgName);
                          //m.Field(f => f.OrgID).DefaultValue(Model.OrgID);
                          m.Field(f => f.RecordID).DefaultValue(ViewBag.recordID);
                          m.Field(f => f.Description).DefaultValue("");
                          m.Field(f => f.DepartamentID).DefaultValue(ViewBag.depID);
                          //m.Field(f => f.Notify).DefaultValue(false);

                          //m.Field(f => f.AccID).WithArgumentName("AccID");
                          //m.RecurrenceId(f => f.RecurrenceID);
                      })
                      .Read(read =>
                      {
                          read.Url(Url.Action("Read", "Meeting", new
                          {
                              area = "Operator",
                              depID = ViewBag.depID,
                          }));
                      })
                      .Create(create =>
                      {
                          create.Url(Url.Action("Create", "Meeting", new {area = "Operator"}));
                      })
                      .Destroy(destroy =>
                      {
                          destroy.Url(Url.Action("Destroy", "Meeting", new { area = "Operator" }));
                      })
                      .Update(update =>
                      {
                          update.Url(Url.Action("Update", "Meeting", new { area = "Operator" }));
                      })
      )
      )

<script id="EventTemplate" type="text/x-kendo-template">
    <strong class="block">#:OrgName#</strong>
</script>