.no-transitions * {
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important
}

.AnyTime-btn, .bootstrap-select .btn-default, .bootstrap-select.btn-group .dropdown-menu > li > a .check-mark, .breadcrumb-elements > li > a, .breadcrumb > li > a, .btn, .checker span:after, .choice span:after, .dataTable .select-checkbox:after, .dataTable .select-checkbox:before, .dataTables_filter input, .dataTables_paginate .paginate_button, .datepicker-dropdown .day, .daterangepicker td, .daterangepicker th, .dropdown-content-footer a, .dropdown-menu > li > a, .dropdown-menu > li > label, .dt-autofill-button .btn, .dt-autofill-list ul li, .dt-button, .fc-button, .icons-list > li > a, .list-group-item, .media-link, .menu-list li > a, .multiselect.btn-default, .nav li > a > .badge, .nav li > a > .label, .nav-pills > li > a, .nav-tabs > li > a, .nav-tabs > li > a:after, .navbar-link, .navbar-nav > li > a, .noUi-handle, .pager > li > a, .pager > li > span, .pagination > li > a, .pagination > li > span, .password-indicator-group.input-group-addon, .password-indicator-label-absolute, .picker__day, .picker__footer, .picker__footer button, .picker__list button, .picker__list-item, .picker__nav--next, .picker__nav--prev, .pika-button, .plupload_button, .plupload_file_action > a, .plupload_filelist li, .select2-results__option, .select2-selection--multiple:not([class*=bg-]) .select2-selection__choice, .select2-selection--single:not([class*=bg-]), .select2-selection__choice__remove, .selectboxit-btn, .selectboxit-option-anchor, .sp-cancel, .sp-choose, .sp-input, .sp-palette-toggle, .sp-replacer, .tokenfield .token, .tt-suggestion, .ui-button, .ui-datepicker a, .ui-datepicker-buttonpane > button, .ui-menu-item, .ui-selectmenu-button, .wizard .actions a, a.badge, a.label {
    -o-transition: all ease-in-out .15s;
    -webkit-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s
}

.close, .tag [data-role=remove] {
    -o-transition: opacity ease-in-out .15s;
    -webkit-transition: opacity ease-in-out .15s;
    transition: opacity ease-in-out .15s
}

.checker span {
    -o-transition: border-color ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s
}

.htContextMenu td, .ranges ul li, .table td, .table th, .table tr {
    -o-transition: background-color ease-in-out .15s;
    -webkit-transition: background-color ease-in-out .15s;
    transition: background-color ease-in-out .15s
}

.sidebar {
    background-color: #263238;
    color: #fff;
    display: none;
    position: relative;
    width: 100%;
}

@media (min-width: 769px) {
    .sidebar {
        display: table-cell;
        vertical-align: top;
        width: 260px
    }
}

.sidebar-main { z-index: 99 }

.sidebar-secondary { z-index: 98 }

.sidebar-opposite {
    display: none;
    z-index: 97
}

.sidebar:not(.sidebar-default) + .sidebar:not(.sidebar-default) { border-left: 1px solid rgba(255, 255, 255, .1) }

.sidebar-default {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    color: #333;
}

@media (min-width: 769px) {
    .sidebar-opposite-visible .sidebar-opposite { display: table-cell }

    .sidebar-default {
        border-bottom: 0;
        border-right: 1px solid #ddd
    }

    .content-wrapper + .sidebar-default { border-left: 1px solid #ddd }
}

.sidebar-content {
    padding-bottom: 8px;
    position: relative;
}

.sidebar-all-hidden .sidebar-main, .sidebar-all-hidden .sidebar-secondary, .sidebar-detached-hidden .sidebar-detached > .sidebar, .sidebar-main-hidden .sidebar-main, .sidebar-secondary-hidden .sidebar-secondary { display: none }

@media (max-width: 768px) {
    .sidebar-mobile-detached .sidebar-detached > .sidebar, .sidebar-mobile-main .sidebar-main, .sidebar-mobile-opposite .sidebar-opposite, .sidebar-mobile-secondary .sidebar-secondary { display: block }
}

.category-title {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    margin: 0;
    padding: 12px 46px 12px 20px;
    position: relative;
}

.category-title > span {
    display: block;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.82;
    margin-top: 2px;
    text-transform: uppercase;
}

.category-title .icons-list, .category-title > i {
    margin-top: -8px;
    position: absolute;
    right: 20px;
    top: 50%;
}

.category-content, .navigation, .navigation li { position: relative }

.sidebar-default .category-title { border-bottom-color: #ddd }

.category-content { padding: 20px }

.navigation {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.sidebar-user + .sidebar-category .navigation { padding-top: 0 }

.navigation .hidden-ul { display: none }

.navigation li + li { margin-top: 1px }

.navigation li + .navigation-header { margin-top: 10px }

.navigation li a {
    -o-transition: background .15s linear, color .15s linear;
    -webkit-transition: background .15s linear, color .15s linear;
    color: rgba(255, 255, 255, .75);
    display: block;
    transition: background .15s linear, color .15s linear
}

.navigation li a:focus, .navigation li a:hover {
    background-color: rgba(0, 0, 0, .1);
    color: #fff
}

.navigation li a > i {
    -o-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    float: left;
    margin-right: 15px;
    margin-top: 2px;
    top: 0;
    transition: opacity .2s ease-in-out
}

.navigation li a > i.pull-right {
    margin-left: 15px;
    margin-right: 0;
}

.navigation li.disabled > a, .navigation li.disabled > a:focus, .navigation li.disabled > a:hover {
    background-color: transparent;
    color: inherit;
    cursor: not-allowed;
    filter: alpha(opacity=30);
    opacity: .3;
}

.navigation li > .has-ul {
    padding-right: 36px;
    position: relative;
}

.navigation li > .has-ul:after {
    -moz-osx-font-smoothing: grayscale;
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    -o-transition: -webkit-transform .2s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: rotate(0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    content: "\e9c7";
    display: block;
    font-family: icomoon;
    font-size: 16px;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: rotate(0);
    transition: -webkit-transform .2s ease-in-out
}

.navigation li.active > .has-ul:after {
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.navigation li.navigation-divider {
    background-color: rgba(255, 255, 255, .1);
    height: 1px;
    margin: 10px 0;
}

.sidebar-default .navigation li.navigation-divider { background-color: #eee }

.navigation > li > a {
    font-weight: 500;
    min-height: 44px;
    padding: 12px 20px;
}

.navigation > li > a .badge, .navigation > li > a .label {
    -o-transition: background-color ease-in-out .15s, border-color ease-in-out .15s;
    -webkit-transition: background-color ease-in-out .15s, border-color ease-in-out .15s;
    transition: background-color ease-in-out .15s, border-color ease-in-out .15s
}

.navigation > li.active > a, .navigation > li.active > a:focus, .navigation > li.active > a:hover {
    background-color: #26A69A;
    color: #fff
}

.navigation > li.active > a > [class*=text-] { color: #fff }

.navigation > li.active > a .badge, .navigation > li.active > a .label {
    background-color: rgba(0, 0, 0, .35);
    border-color: transparent
}

.navigation > li ul {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .05);
    background-color: rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .05);
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation > li ul li a {
    min-height: 40px;
    padding: 10px 20px 10px 51px;
}

.navigation > li ul .navigation-header { padding-left: 51px }

.navigation > li > ul > li > ul > .navigation-header, .navigation > li > ul > li > ul > li > a { padding-left: 71px }

.navigation > li > ul > li > ul > li > ul .navigation-header, .navigation > li > ul > li > ul > li > ul > li > a { padding-left: 91px }

.navigation > li > ul li:first-child { padding-top: 10px }

.navigation > li > ul li:last-child { padding-bottom: 10px }

.navigation > li > ul li.active > a, .navigation > li > ul li.active > a:focus, .navigation > li > ul li.active > a:hover {
    background-color: rgba(0, 0, 0, .2);
    color: #fff
}

.navigation .navigation-header {
    border-bottom: 0;
    font-size: 11px;
    line-height: 1.82;
    min-height: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.navigation .navigation-header > span {
    display: block;
    margin-top: 2px
}

.navigation .navigation-header > i { display: none }

.navigation.nav > .active > .hidden-ul, .sidebar-detached .navigation.nav > .active > .hidden-ul { display: block }

.navigation .navigation-header > i.pull-right { margin-top: 2px }

.navigation-bordered li + .navigation-header, .navigation-bordered > li + li { margin-top: 0 }

.navigation .navigation-header, .navigation .navigation-header a {
    color: rgba(255, 255, 255, .5);
    font-weight: 400
}

.navigation .navigation-header a:focus, .navigation .navigation-header a:hover { color: #fff }

.navigation .navigation-header a i {
    float: none;
    margin: 0
}

.sidebar-default .navigation .navigation-header, .sidebar-default .navigation .navigation-header a { color: #999 }

.sidebar-default .navigation .navigation-header a:focus, .sidebar-default .navigation .navigation-header a:hover { color: #333 }

.navigation .badge, .navigation .label { float: right }

.sidebar-default .navigation li > a { color: #333 }

.sidebar-default .navigation li > a:focus, .sidebar-default .navigation li > a:hover { background-color: #f8f8f8 }

.sidebar-default .navigation li.active > a, .sidebar-default .navigation li.active > a:focus, .sidebar-default .navigation li.active > a:hover {
    background-color: #f5f5f5;
    color: #333
}

.sidebar-default .navigation li.disabled > a, .sidebar-default .navigation li.disabled > a:focus, .sidebar-default .navigation li.disabled > a:hover, .sidebar-default .navigation > li ul { background-color: transparent }

.sidebar-default .navigation li.active > a > [class*=text-] { color: #333 }

.sidebar-default .navigation li .label-transparent { color: #333 }

.sidebar-default .navigation > li.active > a, .sidebar-default .navigation > li.active > a:focus, .sidebar-default .navigation > li.active > a:hover {
    background-color: #f5f5f5;
    color: #333
}

.sidebar-default .navigation > li.active > a .label-transparent { color: #333 }

.navigation-icons-right > li > a, .navigation-icons-right > li > a.has-ul { padding-right: 20px }

.navigation-icons-right > li > a > i {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}

.navigation-icons-right > li.active > .has-ul:after, .navigation-icons-right > li > a.has-ul:after { content: none }

.navigation-bordered > li { border-top: 1px solid rgba(255, 255, 255, .05) }

.navigation-bordered > li:last-child { border-bottom: 1px solid rgba(255, 255, 255, .05) }

.navigation-bordered > li.navigation-header { background-color: rgba(0, 0, 0, .1) }

.navigation-bordered > li ul {
    -webkit-box-shadow: none;
    box-shadow: none
}

.sidebar-default .navigation-bordered > li { border-top: 1px solid #eee }

.sidebar-default .navigation-bordered > li.navigation-header { background-color: #fafafa }

.navigation-lg > li > a, .navigation-lg > li > a > span {
    min-height: 48px;
    padding-bottom: 14px;
    padding-top: 14px;
}

.navigation-lg > li ul li a, .navigation-sm > li > a, .navigation-sm > li > a > span {
    min-height: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navigation-sm > li ul li a {
    min-height: 32px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.navigation-xs > li > a, .navigation-xs > li > a > span {
    min-height: 36px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.navigation-xs > li ul li a {
    min-height: 32px;
    padding-bottom: 6px;
    padding-top: 6px;
}

@media (min-width: 769px) {
    .sidebar-fixed .sidebar-content {
        bottom: 48px;
        margin-bottom: -48px;
        max-height: 100%;
        overflow: auto;
        position: fixed;
        top: 48px;
        width: 260px;
    }

    .sidebar-xs .sidebar-fixed.sidebar-main .sidebar-content { width: 56px }

    .sidebar-fixed.sidebar-default .sidebar-content { width: 259px }

    .sidebar-fixed-expanded .sidebar-fixed.sidebar-main {
        display: block;
        height: 100%;
        position: fixed;
        z-index: 1001
    }

    .sidebar-fixed-expanded .sidebar-fixed.sidebar-main .sidebar-content { position: fixed }

    .sidebar-xs .sidebar-fixed-expanded .sidebar-fixed.sidebar-main { width: 260px }

    .sidebar-fixed-expanded .content-wrapper { padding-left: 56px }

    .has-detached-left .container-detached {
        float: right;
        margin-left: -260px;
        width: 100%
    }

    .has-detached-left .content-detached { margin-left: 280px }

    .has-detached-left .sidebar-detached { float: left }

    .has-detached-right .container-detached {
        float: left;
        margin-right: -260px;
        width: 100%
    }

    .has-detached-right .content-detached { margin-right: 280px }

    .has-detached-right .sidebar-detached { float: right }

    .has-detached-right .sidebar-detached.affix { right: 20px }

    .sidebar-detached-hidden .container-detached {
        float: none;
        margin: 0
    }

    .sidebar-detached-hidden .content-detached { margin: 0 }

    .sidebar-detached-hidden .sidebar-detached { float: none }
}

.sidebar-xs-indicator .sidebar-fixed .sidebar-content { top: 0 !important }

@media (max-width: 768px) {
    .navigation.nav > li > .hidden-ul, .sidebar-detached .navigation.nav > li > .hidden-ul { display: block }
}

.sidebar-detached.affix { position: static }

@media (min-width: 769px) {
    .sidebar-detached {
        display: block;
        margin-bottom: 20px;
        position: relative;
    }

    .sidebar-detached > .sidebar-default {
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        border: 1px solid #ddd;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
    }

    .sidebar-detached > .sidebar {
        border-radius: 3px;
        display: block;
        margin-bottom: 0;
    }

    .sidebar-detached.affix {
        -o-transition: bottom ease-in-out .15s;
        -webkit-transition: bottom ease-in-out .15s;
        bottom: 20px;
        position: fixed;
        top: 20px;
        transition: bottom ease-in-out .15s
    }

    .sidebar-detached.affix > .sidebar {
        max-height: 100%;
        overflow-y: auto
    }

    .sidebar-detached.fixed-sidebar-space { bottom: 80px }

    .navbar-bottom .sidebar-detached.fixed-sidebar-space { bottom: 86px }

    .navbar-bottom-lg .sidebar-detached.fixed-sidebar-space { bottom: 90px }

    .navbar-bottom-sm .sidebar-detached.fixed-sidebar-space { bottom: 84px }

    .navbar-bottom-xs .sidebar-detached.fixed-sidebar-space { bottom: 82px }

    .navbar-fixed .sidebar-detached { top: 86px }

    .navbar-fixed-lg .sidebar-detached { top: 90px }

    .navbar-fixed-sm .sidebar-detached { top: 84px }

    .navbar-fixed-xs .sidebar-detached { top: 82px }
}

.sidebar-separate .sidebar-content { padding-bottom: 0 }

.sidebar-separate .sidebar-content .panel:last-child, .sidebar-separate .sidebar-content .sidebar-category:last-child { margin-bottom: 0 }

@media (min-width: 769px) {
    .sidebar-separate { background-color: transparent }

    .sidebar-separate .sidebar-category {
        background-color: #263238;
        border-radius: 3px;
        margin-bottom: 20px
    }

    .sidebar-separate.sidebar-default {
        -webkit-box-shadow: none;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

    .sidebar-separate.sidebar-default .sidebar-category {
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
    }

    .sidebar-xs .sidebar-main { width: 56px }

    .sidebar-xs .sidebar-main .sidebar-category { display: none }

    .sidebar-xs .sidebar-main .sidebar-category-visible { display: block }

    .sidebar-xs .sidebar-main .category-title { padding: 0 }

    .sidebar-xs .sidebar-main .category-title > i {
        display: block;
        float: none;
        padding: 13px 0;
        top: 0
    }

    .sidebar-xs .sidebar-main .category-title > span { display: none }

    .sidebar-xs .sidebar-main .category-title .icons-list {
        margin-top: 0;
        padding-bottom: 14px;
        padding-top: 14px;
        position: static;
        text-align: center;
    }

    .sidebar-xs .sidebar-main .category-title .icons-list > li {
        display: block;
        margin-left: 0
    }

    .sidebar-xs .sidebar-main .category-title .icons-list > li + li { margin-top: 10px }

    .sidebar-xs .sidebar-main .category-title.h6 .icons-list {
        padding-bottom: 23.54px;
        padding-top: 23.54px;
    }

    .sidebar-xs .sidebar-main .category-title.h5 .icons-list {
        padding-bottom: 25.08px;
        padding-top: 25.08px;
    }

    .sidebar-xs .sidebar-main .navigation > li > a {
        display: block;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .sidebar-xs .sidebar-main .navigation > li > a > span {
        background-color: #26A69A;
        border: 1px solid #26A69A;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: none;
        padding: 11px 20px;
        position: absolute;
        right: -260px;
        text-align: left;
        top: 0;
        width: 260px;
    }

    .sidebar-xs .sidebar-main .navigation > li > a > span .badge, .sidebar-xs .sidebar-main .navigation > li > a > span .label {
        background-color: rgba(0, 0, 0, .35);
        border-color: transparent
    }

    .sidebar-xs .sidebar-main .navigation > li > a > i {
        display: block;
        float: none;
        margin: 2px 0;
    }

    .sidebar-xs .sidebar-main .navigation > li.active > .has-ul:after, .sidebar-xs .sidebar-main .navigation > li > .has-ul:after { content: none }

    .sidebar-xs .sidebar-main .navigation > li .has-ul > span {
        border-radius: 0 3px 0 0;
        cursor: default
    }

    .sidebar-xs .sidebar-main .navigation > li.active > ul, .sidebar-xs .sidebar-main .navigation > li.disabled:hover > a > span, .sidebar-xs .sidebar-main .navigation > li.disabled:hover > ul { display: none !important }

    .sidebar-xs .sidebar-main .navigation > li:hover > ul { display: block !important }

    .sidebar-xs .sidebar-main .navigation > li:hover > a > span { display: block }

    .sidebar-xs .sidebar-main .navigation > li:hover:not(.active) > a {
        background-color: rgba(0, 0, 0, .1);
        color: #fff
    }

    .sidebar-xs .sidebar-main .navigation > li > ul {
        background-color: #263238;
        border-left: 1px solid rgba(255, 255, 255, .1);
        border-radius: 0 0 3px;
        display: none;
        position: absolute;
        right: -260px;
        top: 44px;
        width: 260px;
    }

    .sidebar-xs .sidebar-main .navigation > li > ul > li > a { padding-left: 20px }

    .sidebar-xs .sidebar-main .navigation > li > ul > li > a:not(.has-ul) { padding-right: 20px }

    .sidebar-xs .sidebar-main .navigation > li > ul > li > ul > li > a { padding-left: 30px }

    .sidebar-xs .sidebar-main .navigation > li > ul > li > ul > li > ul > li > a { padding-left: 60px }

    .sidebar-xs .sidebar-main .navigation > .navigation-header {
        padding: 0;
        text-align: center
    }

    .sidebar-xs .sidebar-main .navigation > .navigation-header > i {
        display: block;
        padding: 13px 0;
        top: 0;
    }

    .sidebar-xs .sidebar-main .navigation > .navigation-header > span { display: none }

    .sidebar-xs .sidebar-main .sidebar-user .category-content {
        padding-left: 0;
        padding-right: 0
    }

    .sidebar-xs .sidebar-main .sidebar-user .media-left, .sidebar-xs .sidebar-main .sidebar-user .media-right {
        display: block;
        padding: 0;
        text-align: center;
    }

    .sidebar-xs .sidebar-main .sidebar-user .media-left > img, .sidebar-xs .sidebar-main .sidebar-user .media-right > img {
        height: auto !important;
        max-width: 100%;
    }

    .sidebar-xs .sidebar-main .sidebar-user .media-left > .img-sm, .sidebar-xs .sidebar-main .sidebar-user .media-right > .img-sm {
        margin-bottom: 1px;
        margin-top: 1px;
    }

    .sidebar-xs .sidebar-main .sidebar-user .media-left > .img-xs, .sidebar-xs .sidebar-main .sidebar-user .media-right > .img-xs {
        margin-bottom: 3px;
        margin-top: 3px;
    }

    .sidebar-xs .sidebar-main .sidebar-user .media-body, .sidebar-xs .sidebar-main .sidebar-user .media-right { display: none }

    .sidebar-xs .sidebar-main .navigation-lg > li > ul { top: 48px }

    .sidebar-xs .sidebar-main .navigation-sm > li > ul { top: 40px }

    .sidebar-xs .sidebar-main .navigation-xs > li > ul { top: 36px }

    .sidebar-xs .sidebar-main.sidebar-default .navigation > li > a > span {
        background-color: #f5f5f5;
        border-color: #ddd;
        color: #333
    }

    .sidebar-xs .sidebar-main.sidebar-default .navigation > li > a > span .badge, .sidebar-xs .sidebar-main.sidebar-default .navigation > li > a > span .label { color: #333 }

    .sidebar-xs .sidebar-main.sidebar-default .navigation > li > ul {
        background-color: #fff;
        border: 1px solid #ddd;
        border-top: 0
    }

    .sidebar-xs .sidebar-main.sidebar-default .navigation > li:hover:not(.active) > a {
        background-color: #f5f5f5;
        color: #333
    }
}

.sidebar .row {
    margin-left: -5px;
    margin-right: -5px
}

.sidebar .row [class*=col-] {
    padding-left: 5px;
    padding-right: 5px
}

@media (max-width: 768px) {
    .sidebar .sp-container {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 220px;
    }
}

.sidebar .sp-flat .sp-picker-container {
    display: block;
    width: 218px
}

.sidebar .panel-group .panel {
    border-radius: 0;
    border-width: 0 0 1px
}

.sidebar .panel-group .panel:first-child { border-top-width: 1px }

.sidebar .panel-group .panel + .panel { margin-top: 0 }

.sidebar .media-list-bordered > li {
    border-bottom: 1px solid #eee;
    border-top: 0;
}

.sidebar:not(.sidebar-default) .media .media-annotation, .sidebar:not(.sidebar-default) .media .text-muted { color: rgba(255, 255, 255, .8) }

.sidebar:not(.sidebar-default) .media .media-body > a, .sidebar:not(.sidebar-default) .media .media-left > a, .sidebar:not(.sidebar-default) .media .media-right > a { color: #fff }

.sidebar:not(.sidebar-default) .media .media-link:focus, .sidebar:not(.sidebar-default) .media .media-link:hover { background-color: rgba(0, 0, 0, .1) }

.sidebar:not(.sidebar-default) .media .media-badge { border-color: #263238 }

.sidebar:not(.sidebar-default) .media-list-bordered > li { border-color: rgba(255, 255, 255, .1) }

.sidebar .thumbnail { margin-bottom: 10px }

.sidebar .form-group:last-child, .sidebar .sidebar-category .checkbox:last-child, .sidebar .sidebar-category .radio:last-child, .sidebar .thumbnail:last-child { margin-bottom: 0 }

.sidebar .thumbnail .zoom-image i {
    font-size: 16px;
    margin-left: -8px;
    margin-top: -8px;
}

.layout-boxed .page-container, .layout-boxed > .navbar {
    margin-left: auto;
    margin-right: auto
}

.sidebar .sidebar-category .checkbox, .sidebar .sidebar-category .radio { margin-top: 0 }

.sidebar .nav-tabs { border-width: 0 0 1px }

@media (min-width: 769px) {
    .sidebar .nav-tabs { border-width: 1px }

    .sidebar .nav-tabs > li > a {
        background-color: rgba(0, 0, 0, .2);
        border-bottom-color: rgba(255, 255, 255, .1);
        border-radius: 0;
        border-top: 0;
        color: rgba(255, 255, 255, .6);
    }

    .sidebar .nav-tabs > li > a:focus, .sidebar .nav-tabs > li > a:hover {
        border-bottom-color: rgba(255, 255, 255, .1);
        color: #fff;
    }

    .sidebar .nav-tabs > .active > a, .sidebar .nav-tabs > .active > a:focus, .sidebar .nav-tabs > .active > a:hover {
        background-color: transparent;
        border-bottom: 0;
        border-color: rgba(255, 255, 255, .1);
        border-top: 0;
        color: #fff
    }

    .sidebar .nav-tabs > .active:first-child > a { border-left-color: transparent !important }

    .sidebar .nav-tabs > .active:last-child > a { border-right-color: transparent !important }

    .sidebar .nav-tabs > .open > a { color: #fff }

    .sidebar .nav-tabs > .open:not(.active) > a { background-color: rgba(0, 0, 0, .2) }

    .sidebar-default .nav-tabs > .open > a, .sidebar-default .nav-tabs > li > a:focus, .sidebar-default .nav-tabs > li > a:hover {
        border-bottom-color: #ddd;
        color: #333
    }

    .sidebar-default .nav-tabs > li > a {
        background-color: #fafafa;
        border-bottom-color: #ddd;
        color: #999
    }

    .sidebar-default .nav-tabs > .active > a, .sidebar-default .nav-tabs > .active > a:focus, .sidebar-default .nav-tabs > .active > a:hover {
        border-color: #ddd;
        color: #333
    }

    .sidebar-default .nav-tabs > .open:not(.active) > a { background-color: #fafafa }

    .sidebar-default .nav-justified > li:first-child .dropdown-menu:not(.dropdown-menu-right) { left: -1px }

    .sidebar-default .nav-justified > li:last-child .dropdown-menu-right { right: -1px }

    .page-container {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    @-moz-document url-prefix() { .page-container { height: 1px } }
}

.footer-boxed, .footer.navbar, .login-container .footer {
    left: 0;
    right: 0
}

.page-container { position: relative }

.content-wrapper { width: 100% }

@media (min-width: 769px) {
    .page-content { display: table-row }

    .content-wrapper {
        display: table-cell;
        vertical-align: top
    }

    .layout-boxed .page-container, .layout-boxed > .navbar { width: 769px }
}

.content { padding: 0 20px 60px }

.content:after {
    clear: both;
    content: '';
    display: table;
}

.content:first-child { padding-top: 20px }

body[class*=navbar-bottom] .content { padding-bottom: 20px }

.layout-boxed { background: url(../images/backgrounds/boxed_bg.png) }

.layout-boxed .page-container {
    background-color: #f5f5f5;
    min-width: 0
}

@media (min-width: 1025px) {
    .layout-boxed .page-container, .layout-boxed > .navbar { width: 1025px }
}

@media (min-width: 1200px) {
    .layout-boxed .page-container, .layout-boxed > .navbar { width: 1200px }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .layout-boxed { background: url(../images/backgrounds/boxed_bg_retina.png) }
}

.footer {
    bottom: 30px;
    position: absolute;
}

.footer.navbar { bottom: 0 }

.footer.navbar-fixed-bottom { z-index: auto }

body[class*=navbar-bottom] .footer:not(.navbar) { display: none }

.footer-boxed {
    padding-left: 20px;
    padding-right: 20px
}

.rotate-45 {
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.rotate-90 {
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.rotate-180 {
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.rotate-45-inverse {
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.rotate-90-inverse {
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.rotate-180-inverse {
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.spinner {
    -o-animation: rotation 1s linear infinite;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    display: inline-block;
}

.spinner-reverse {
    -o-animation: rotation_reverse 1s linear infinite;
    -webkit-animation: rotation_reverse 1s linear infinite;
    animation: rotation_reverse 1s linear infinite;
    display: inline-block;
}

@-webkit-keyframes rotation {
    0% { -webkit-transform: rotate(0) }

    100% { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes rotation {
    0% { -moz-transform: rotate(0) }

    100% { -moz-transform: rotate(360deg) }
}

@-ms-keyframes rotation {
    0% { -ms-transform: rotate(0) }

    100% { -ms-transform: rotate(360deg) }
}

@-o-keyframes rotation {
    0% { -o-transform: rotate(0) }

    100% { -o-transform: rotate(360deg) }
}

@keyframes rotation {
    0% { transform: rotate(0) }

    100% { transform: rotate(360deg) }
}

@-webkit-keyframes rotation_reverse {
    0% { -webkit-transform: rotate(0) }

    100% { -webkit-transform: rotate(-360deg) }
}

@-moz-keyframes rotation_reverse {
    0% { -moz-transform: rotate(0) }

    100% { -moz-transform: rotate(-360deg) }
}

@-ms-keyframes rotation_reverse {
    0% { -ms-transform: rotate(0) }

    100% { -ms-transform: rotate(-360deg) }
}

@-o-keyframes rotation_reverse {
    0% { -o-transform: rotate(0) }

    100% { -o-transform: rotate(-360deg) }
}

@keyframes rotation_reverse {
    0% { transform: rotate(0) }

    100% { transform: rotate(-360deg) }
}

@-webkit-keyframes bounceIn {
    0% { opacity: 0 }

    100% { opacity: 1 }
}

@-webkit-keyframes bounceOut {
    0% { opacity: 1 }

    100% { opacity: 0 }
}

.login-cover {
    background: url(../images/login_cover.jpg) no-repeat;
    background-size: cover
}

.login-container .page-container {
    padding-top: 40px;
    position: static
}

.login-container .page-container .login-form { width: 320px }

.login-container .page-container .login-form, .login-container .page-container .login-form .thumb, .login-container .page-container .registration-form { margin: 0 auto 20px }

@media (max-width: 480px) {
    .login-container .page-container .login-form, .login-container .page-container .registration-form { width: 100% }
}

.login-container .page-container .nav-tabs.nav-justified { margin-bottom: 0 }

.login-container .page-container .nav-tabs.nav-justified > li > a {
    background-color: #f5f5f5;
    border-top: 0 !important;
    padding-left: 15px;
    padding-right: 15px;
}

.login-container .page-container .nav-tabs.nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 3px 0 0
}

.login-container .page-container .nav-tabs.nav-justified > li:last-child > a {
    border-radius: 0 3px 0 0;
    border-right: 0;
}

.login-container .page-container .nav-tabs.nav-justified > li.active > a { background-color: transparent }

.error-title {
    color: #fff;
    display: block;
    font-size: 200px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 40px;
    margin-top: 20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    /*text-stroke: 1px transparent;*/
}

.heading-elements .list-inline, .heading-elements.visible-elements .nav-pills, .heading-elements.visible-elements .nav-tabs, .heading-elements:not(.visible-elements).panel-nav > .nav { margin-bottom: 0 }

@media (max-width: 768px) {
    .login-container .page-container .nav-tabs.nav-justified {
        border-radius: 0;
        border-width: 0 0 1px;
        padding: 0;
    }

    .login-container .page-container .nav-tabs.nav-justified:before { content: none }

    .login-container .page-container .nav-tabs.nav-justified > li > a { border-width: 0 !important }

    .login-options, .login-options .text-right { text-align: center }

    .error-title { font-size: 130px }
}

.offline-title { font-size: 160px }

.heading-elements-toggle {
    cursor: pointer;
    display: block;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 50%;
}

.breadcrumb-elements-toggle {
    cursor: pointer;
    float: right;
    line-height: 1;
    margin-top: 12px
}

.breadcrumb-line-component .breadcrumb-elements-toggle { margin-right: 20px }

.breadcrumb-elements-toggle, .breadcrumb-elements-toggle:focus, .breadcrumb-elements-toggle:hover, .heading-elements-toggle, .heading-elements-toggle:focus, .heading-elements-toggle:hover { color: inherit }

.breadcrumb-elements-toggle > i, .heading-elements-toggle > i { top: 0 }

@media (min-width: 769px) {
    .breadcrumb-elements-toggle, .heading-elements-toggle { display: none }
}

.heading-elements {
    background-color: inherit;
    height: 36px;
    margin-top: -18px;
    position: absolute;
    right: 20px;
    top: 50%;
}

@media (max-width: 768px) {
    .offline-title { font-size: 90px }

    .heading-elements:not(.not-collapsible) {
        height: auto;
        margin-top: 0;
        position: static;
    }
}

.panel-body > .heading-elements {
    margin-top: 14px;
    top: 0;
    z-index: 10
}

.panel-footer > .heading-elements {
    margin-top: 0;
    padding-right: 20px;
    position: static;
}

.panel-footer > .heading-elements:after {
    clear: both;
    content: '';
    display: table;
}

.panel-footer-bordered > .heading-elements:not(.visible-elements) {
    margin-left: -20px;
    padding-right: 0
}

@media (max-width: 768px) {
    .panel-body > .heading-elements-toggle {
        margin-top: 0;
        top: 20px;
    }

    .panel-body > .heading-elements.visible-elements {
        background-color: #fff;
        top: 56px;
    }

    .panel-footer > .heading-elements:not(.not-collapsible) > .pull-right { float: none !important }

    .panel-footer .heading-elements-toggle {
        display: block;
        margin-top: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        position: static;
        text-align: center
    }
}

.heading-thumbnails {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.heading-elements .heading-btn + .heading-btn, .heading-elements .heading-btn-group > .btn + .btn:not(.btn-link), .heading-thumbnails > li + li, .page-header .heading-elements .icons-list > li + li, .thumbnail-heading .heading-elements .icons-list > li + li { margin-left: 10px }

.heading-thumbnails > li {
    display: inline-block;
    font-size: 13px;
    position: relative;
}

.heading-thumbnails > li img {
    border-radius: 100px;
    height: auto;
    max-height: 36px;
    max-width: 100%;
}

.heading-thumbnails > li .badge, .heading-thumbnails > li .label {
    border: 2px solid #fcfcfc;
    position: absolute;
    right: -8px;
    top: -8px;
}

.panel-default > .panel-heading .heading-thumbnails > li .badge, .panel-default > .panel-heading .heading-thumbnails > li .label, .panel-footer-transparent .heading-thumbnails > li .badge, .panel-footer-transparent .heading-thumbnails > li .label { border-color: #fff }

.heading-thumbnails > li .status-mark {
    box-shadow: 0 0 0 2px #fcfcfc;
    position: absolute;
    right: 0;
    top: 0;
}

.heading-thumbnails > li .status-mark[class*=border-] { background-color: #fcfcfc }

.panel-default > .panel-heading .heading-thumbnails > li .status-mark, .panel-default > .panel-heading .heading-thumbnails > li .status-mark[class*=border-], .panel-footer-transparent .heading-thumbnails > li .status-mark, .panel-footer-transparent .heading-thumbnails > li .status-mark[class*=border-] { background-color: #fff }

.page-header-inverse .heading-elements .btn-link { color: #fff }

.heading-elements .breadcrumb {
    padding-bottom: 0;
    padding-top: 0;
}

.heading-elements.panel-nav .nav > li > a { text-align: left }

.heading-elements .daterange-custom { margin-top: 4px }

.heading-elements .heading-btn-group { font-size: 0 }

.heading-elements.visible-elements { text-align: center }

.heading-elements.visible-elements .breadcrumb, .heading-elements.visible-elements .daterange-custom, .heading-elements.visible-elements .heading-btn, .heading-elements.visible-elements .heading-btn-group > .btn, .heading-elements.visible-elements .heading-form .form-group, .heading-elements.visible-elements .heading-text, .heading-elements.visible-elements .heading-thumbnails, .heading-elements.visible-elements .icons-list, .heading-elements.visible-elements .nav-pills, .heading-elements.visible-elements .nav-tabs, .heading-elements.visible-elements .noui-slider, .heading-elements.visible-elements .pager, .heading-elements.visible-elements .pagination, .heading-elements.visible-elements .progress, .heading-elements.visible-elements .ui-slider, .heading-elements.visible-elements > .btn-group { margin-top: 20px }

.heading-elements.visible-elements .heading-text:not(.label):not(.badge) { display: block }

.heading-elements.visible-elements .multiselect + .btn-group, .heading-elements.visible-elements .select2-container, .heading-elements.visible-elements .selectboxit-container, .heading-elements.visible-elements .selectboxit-options, .heading-elements.visible-elements div.bootstrap-select { width: 100% !important }

.heading-elements.visible-elements .btn-group, .heading-elements.visible-elements .dropdown, .heading-elements.visible-elements .dropup, .heading-elements.visible-elements .input-group, .heading-elements.visible-elements .input-group-btn { position: static }

.heading-elements.visible-elements .dropdown-menu:not(.multiselect-container) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: -1px;
    margin-top: 0;
    right: -1px;
}

.heading-elements.visible-elements .multiselect-container {
    left: 0;
    right: 0
}

.heading-elements:not(.visible-elements) .breadcrumb, .heading-elements:not(.visible-elements) .daterange-custom, .heading-elements:not(.visible-elements) .heading-btn, .heading-elements:not(.visible-elements) .heading-form, .heading-elements:not(.visible-elements) .heading-text, .heading-elements:not(.visible-elements) .heading-thumbnails, .heading-elements:not(.visible-elements) .icons-list, .heading-elements:not(.visible-elements) .nav-pills, .heading-elements:not(.visible-elements) .nav-tabs, .heading-elements:not(.visible-elements) .noui-slider, .heading-elements:not(.visible-elements) .pager, .heading-elements:not(.visible-elements) .pagination, .heading-elements:not(.visible-elements) .progress, .heading-elements:not(.visible-elements) .ui-slider, .heading-elements:not(.visible-elements) > .btn-group {
    float: left;
    margin-left: 20px
}

.heading-elements:not(.visible-elements) .heading-text + .heading-text { margin-left: 20px }

.heading-elements:not(.visible-elements) .heading-form .form-control, .heading-elements:not(.visible-elements) .input-group, .heading-elements:not(.visible-elements) .noui-slider, .heading-elements:not(.visible-elements) .progress, .heading-elements:not(.visible-elements) .selectbox-fixed + .selectboxit-container, .heading-elements:not(.visible-elements) .selectbox-fixed + .selectboxit-options, .heading-elements:not(.visible-elements) .selectboxit-container .selectboxit-options, .heading-elements:not(.visible-elements) .ui-slider, .heading-elements:not(.visible-elements) .uploader { width: 220px }

.heading-elements:not(.visible-elements) .btn-group-sm > .btn, .heading-elements:not(.visible-elements) .btn-sm, .heading-elements:not(.visible-elements) .input-group-sm, .heading-elements:not(.visible-elements) .input-sm, .heading-elements:not(.visible-elements) .pager-sm, .heading-elements:not(.visible-elements) .pagination-sm, .heading-elements:not(.visible-elements) .select-sm, .heading-elements:not(.visible-elements) .selectbox-sm + .selectboxit-container, .heading-elements:not(.visible-elements) .uploader-sm { margin-top: 1px }

.heading-elements:not(.visible-elements) .btn-group-xs > .btn, .heading-elements:not(.visible-elements) .btn-xs, .heading-elements:not(.visible-elements) .input-group-xs, .heading-elements:not(.visible-elements) .input-xs, .heading-elements:not(.visible-elements) .pager-xs, .heading-elements:not(.visible-elements) .pagination-xs, .heading-elements:not(.visible-elements) .select-xs, .heading-elements:not(.visible-elements) .selectbox-xs + .selectboxit-container, .heading-elements:not(.visible-elements) .uploader-xs { margin-top: 2px }

.heading-elements:not(.visible-elements) .btn-float { margin-top: -8px }

.heading-elements:not(.visible-elements) .btn-float.has-text { margin-top: -19.5px }

.heading-elements:not(.visible-elements) .btn-float.btn-link { margin-top: -14px }

.heading-elements:not(.visible-elements) .noui-slider, .heading-elements:not(.visible-elements) .ui-slider { margin-top: 15px }

.heading-elements:not(.visible-elements) .noui-slider-lg, .heading-elements:not(.visible-elements) .ui-slider-lg { margin-top: 14px }

.heading-elements:not(.visible-elements) .noui-slider-sm, .heading-elements:not(.visible-elements) .ui-slider-sm { margin-top: 16px }

.heading-elements:not(.visible-elements) .noui-slider-xs, .heading-elements:not(.visible-elements) .ui-slider-xs { margin-top: 17px }

.heading-elements:not(.visible-elements) .progress { margin-top: 9px }

.heading-elements:not(.visible-elements) .progress-lg { margin-top: 7px }

.heading-elements:not(.visible-elements) .progress-sm { margin-top: 11px }

.heading-elements:not(.visible-elements) .progress-xs { margin-top: 13px }

.heading-elements:not(.visible-elements) .progress-xxs { margin-top: 15px }

.heading-elements:not(.visible-elements) .progress-micro { margin-top: 17px }

.heading-elements:not(.visible-elements) .icons-list { margin-top: 10px }

.heading-elements:not(.visible-elements) .heading-text {
    display: inline-block;
    margin-top: 8px
}

@media (min-width: 769px) {
    .heading-elements:not(.visible-elements).panel-nav > .nav { margin-top: -1px }

    .heading-elements:not(.visible-elements).panel-nav > .nav-tabs { border-bottom-width: 0 }

    .heading-elements:not(.visible-elements).panel-nav > .nav-tabs.nav-tabs-bottom > li.active > a:after { background-color: transparent }

    .heading-elements:not(.visible-elements).panel-nav > .nav-sm { margin-top: 2px }

    .heading-elements:not(.visible-elements).panel-nav > .nav-xs { margin-top: 5px }
}

@media (max-width: 768px) {
    .heading-elements:not(.visible-elements).panel-nav {
        height: auto;
        position: static;
    }

    .heading-elements:not(.visible-elements).panel-nav > .nav { float: none }

    .panel-heading .heading-elements:not(.visible-elements).panel-nav { margin-top: 15px }

    .panel-flat .panel-heading .heading-elements:not(.visible-elements).panel-nav { margin-top: 20px }

    .panel-heading .heading-elements:not(.visible-elements).panel-nav > .nav { margin-left: 0 }

    .panel-footer .heading-elements:not(.visible-elements).panel-nav.not-collapsible > .nav {
        margin-bottom: 13px;
        margin-top: 13px;
    }
}

.heading-form .checkbox-switchery, .heading-form .checkbox-switchery[class*=switchery-], .heading-form .form-group { margin-bottom: 0 }

.heading-elements:not(.visible-elements) .heading-form .checkbox-inline, .heading-elements:not(.visible-elements) .heading-form .radio-inline { margin-top: 8px }

.heading-elements:not(.visible-elements) .heading-form .checkbox-switch { margin-top: 2px }

.heading-elements:not(.visible-elements) .heading-form .checkbox-switch-sm { margin-top: 3px }

.heading-elements:not(.visible-elements) .heading-form .checkbox-switch-xs { margin-top: 4px }

.heading-elements:not(.visible-elements) .heading-form .input-group { max-width: 220px }

.heading-elements:not(.visible-elements) .heading-form .input-group .form-control {
    margin-top: 0;
    width: 100%;
}

.heading-elements:not(.visible-elements) .heading-form .input-group.input-group-sm .btn, .heading-elements:not(.visible-elements) .heading-form .input-group.input-group-xs .btn { margin-top: 0 }

@media (min-width: 769px) {
    .heading-form .form-group { float: left }

    .heading-form .form-group + .form-group { margin-left: 15px }

    .pull-right-sm { float: right }
}

@media (max-width: 768px) {
    .breadcrumb-elements:not(.not-collapsible), .heading-elements:not(.not-collapsible) { display: none }

    .breadcrumb-elements.visible-elements, .heading-elements.visible-elements { display: block }

    .panel .has-visible-elements { padding-bottom: 0 }

    .panel-flat .panel-heading.has-visible-elements { padding-bottom: 20px }

    .panel .visible-elements {
        border-top: 1px solid #ddd;
        padding: 0 20px 20px
    }

    .panel-heading .visible-elements {
        background-color: #fcfcfc;
        margin: 15px -20px 0;
    }

    .panel-flat .panel-heading .visible-elements {
        border-bottom: 1px solid #ddd;
        margin-top: 20px;
    }

    .panel-footer .visible-elements {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-top: 7px;
    }

    .panel-footer-condensed .visible-elements { margin-top: 2px }

    .panel-footer-transparent .visible-elements {
        background-color: #fff;
        margin-top: 12px;
    }

    .panel-danger .visible-elements, .panel-heading[class*=bg-] .visible-elements, .panel-info .visible-elements, .panel-primary .visible-elements, .panel-success .visible-elements, .panel-warning .visible-elements, .panel[class*=bg-] .visible-elements {
        background-color: rgba(0, 0, 0, .1);
        border-color: rgba(255, 255, 255, .2);
        left: 0;
        right: 0;
    }

    .visible-elements.breadcrumb-elements.not-collapsible { display: none }

    .page-header-content > .visible-elements {
        background-color: #f5f5f5;
        border-top: 1px solid #dcdcdc;
        left: 0;
        margin-left: -20px;
        margin-right: -20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        right: 0;
        z-index: 1002;
    }

    .page-header-default .page-header-content > .visible-elements {
        background-color: #fcfcfc;
        border-color: #ddd
    }

    .page-header-inverse .page-header-content > .visible-elements {
        background-color: rgba(0, 0, 0, .1);
        border-color: rgba(255, 255, 255, .1)
    }
}

.no-edge-top { top: 0 }

.no-edge-bottom { bottom: 0 }

.no-edge-left { left: 0 }

.no-edge-right { right: 0 }

@media (min-width: 1200px) {
    .pull-right-lg { float: right }
}

@media (min-width: 1025px) {
    .pull-right-md { float: right }
}

@media (min-width: 480px) {
    .pull-right-xs { float: right }
}

.valign-top { vertical-align: top }

.valign-middle { vertical-align: middle }

.valign-bottom { vertical-align: bottom }

.valign-baseline { vertical-align: baseline }

.valign-text-top { vertical-align: top }

.valign-text-bottom { vertical-align: text-bottom }

.position-relative { position: relative }

.position-static { position: static }

.display-block, label.display-block { display: block }

.display-inline-block { display: inline-block }

.cursor-pointer { cursor: pointer }

.cursor-move { cursor: move }

.cursor-default { cursor: default }

.overflow-hidden { overflow: hidden }

.overflow-visible { overflow: visible }

.overflow-auto { overflow: auto }

.content-group-xs { margin-bottom: 10px !important }

.content-group-sm { margin-bottom: 15px !important }

.content-group { margin-bottom: 20px !important }

.content-group-lg { margin-bottom: 30px !important }

.no-margin { margin: 0 !important }

.no-margin-top { margin-top: 0 !important }

.no-margin-bottom { margin-bottom: 0 !important }

.no-margin-left { margin-left: 0 !important }

.no-margin-right { margin-right: 0 !important }

.m-5 { margin: 5px !important }

.m-10 { margin: 10px !important }

.m-15 { margin: 15px !important }

.m-20 { margin: 20px !important }

.mt-5 { margin-top: 5px !important }

.mt-10 { margin-top: 10px !important }

.mt-15 { margin-top: 15px !important }

.mt-20 { margin-top: 20px !important }

.mb-5 { margin-bottom: 5px !important }

.mb-10 { margin-bottom: 10px !important }

.mb-15 { margin-bottom: 15px !important }

.mb-20 { margin-bottom: 20px !important }

.mb-30 { margin-bottom: 20px !important }

.mb-40 { margin-bottom: 20px !important }

.mb-50 { margin-bottom: 20px !important }

.ml-5 { margin-left: 5px !important }

.ml-10 { margin-left: 10px !important }

.ml-15 { margin-left: 15px !important }

.ml-20 { margin-left: 20px !important }

.mr-5 { margin-right: 5px !important }

.mr-10 { margin-right: 10px !important }

.mr-15 { margin-right: 15px !important }

.mr-20 { margin-right: 20px !important }

.no-padding { padding: 0 !important }

.no-padding-top { padding-top: 0 !important }

.no-padding-bottom { padding-bottom: 0 !important }

.no-padding-left { padding-left: 0 !important }

.no-padding-right { padding-right: 0 !important }

.p-5 { padding: 5px !important }

.p-10 { padding: 10px !important }

.p-15 { padding: 15px !important }

.p-20 { padding: 20px !important }

.pt-5 { padding-top: 5px !important }

.pt-10 { padding-top: 10px !important }

.pt-15 { padding-top: 15px !important }

.pt-20 { padding-top: 20px !important }

.pb-5 { padding-bottom: 5px !important }

.pb-10 { padding-bottom: 10px !important }

.pb-15 { padding-bottom: 15px !important }

.pb-20 { padding-bottom: 20px !important }

.pl-5 { padding-left: 5px !important }

.pl-10 { padding-left: 10px !important }

.pl-15 { padding-left: 15px !important }

.pl-20 { padding-left: 20px !important }

.pr-5 { padding-right: 5px !important }

.pr-10 { padding-right: 10px !important }

.pr-15 { padding-right: 15px !important }

.pr-20 { padding-right: 20px !important }

.no-border { border: 0 !important }

.no-border-top { border-top: 0 !important }

.no-border-bottom { border-bottom: 0 !important }

.no-border-left { border-left: 0 !important }

.no-border-right { border-right: 0 !important }

.no-border-radius { border-radius: 0 }

.no-border-radius-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.no-border-radius-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.no-border-radius-left {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.no-border-radius-right {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.border-radius { border-radius: 3px }

.border-radius-top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.border-radius-bottom {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.border-radius-left {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.border-radius-right {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}

.border-top { border-top: 1px solid }

.border-bottom { border-bottom: 1px solid }

.border-left { border-left: 1px solid }

.border-right { border-right: 1px solid }

.border-lg { border-width: 2px }

.border-top-lg { border-top: 2px solid }

.border-bottom-lg { border-bottom: 2px solid }

.border-left-lg { border-left: 2px solid }

.border-right-lg { border-right: 2px solid }

.border-xlg { border-width: 3px }

.border-top-xlg { border-top: 3px solid }

.border-bottom-xlg { border-bottom: 3px solid }

.border-left-xlg { border-left: 3px solid }

.border-right-xlg { border-right: 3px solid }

.full-width { width: 100% }

@media (min-width: 769px) {
    .width-200 { min-width: 200px }

    .width-250 { min-width: 250px }

    .width-300 { min-width: 300px }

    .width-350 { min-width: 350px }

    .width-400 { min-width: 400px }

    .width-450 { min-width: 450px }

    .width-500 { min-width: 500px }

    .width-550 { min-width: 550px }

    .width-600 { min-width: 600px }

    .width-650 { min-width: 650px }
}

.img-lg {
    height: 44px !important;
    width: 44px !important;
}

.img-sm {
    height: 36px !important;
    width: 36px !important;
}

.img-xs {
    height: 32px !important;
    width: 32px !important;
}