﻿@using BaseDBFX.Table
@using Finflaex.Support.Attributes
@using Finflaex.Support.MVC.Models
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Administration.Models
@model BaseDBFX.Base.ActionData

@{
    ViewBag.Title = "Администрирование меток";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

@{
    var types = Enum.GetValues(typeof(TypeLabel)).Cast<TypeLabel>().Select(v => new MainValue
    {
        index = (int) v,
        value = v.AtValue()
    });

    var users = (
        from user in Model.db.Logins
        select new GuidValue
        {
            Guid = user.ID,
            Value = user.Caption
        })
        .ToArray();
}

<script id="templateButtonAct" type="text/x-kendo-template">
    <a class='btn btn-sm btn-default k-grid-update fa fa-save'></a>
    <a class='btn btn-sm btn-success k-grid-edit fa fa-edit'></a>
    <a class='btn btn-sm btn-danger k-grid-delete fa fa-trash'></a>

</script>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                @(Html
                      .Kendo()
                      .Grid<TableLabelItem>()
                      .Name("LabelTable")
                      .ToolBar(toolbar => { toolbar.Create().Text("Создать"); })
                      .Columns(columns =>
                      {
                          columns.Bound(v => v.Caption).Title("Имя");
                          columns.Bound(v => v.Description).Title("Описание");
                          columns.Command(command =>
                          {
                              command.Edit().Text("Редактировать");
                              command.Destroy().Text("Удалить");
                          });
                      })
                      .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                      .Sortable(v => v.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
                      .DataSource(source =>
                      {
                          source
                              .Ajax()
                              .AutoSync(false)
                              .Model(model => { model.Id(v => v.ID); })
                              .Create(create => { create.Url(Url.Action("Create", "Labels", new {area = "Personal"})); })
                              .Read(read => { read.Url(Url.Action("Read", "Labels", new {area = "Personal"})); })
                              .Update(update => { update.Url(Url.Action("Update", "Labels", new {area = "Personal"})); })
                              .Destroy(destroy => { destroy.Url(Url.Action("Destroy", "Labels", new {area = "Personal"})); });
                      }))
            </div>
        </div>
    </div>
</div>