﻿@model WebGBFXT.Models.HelpAccess

<div class="alert alert-danger">
    Все поля сохраняют информацию автоматически (при наличии подключения к серверу), 
    когда поле теряет фокус (достаточно кликнуть в другое место на странице). 
    Бывают ситуации когда соединение с сервером прерывается – 
    в этом случае необходимо обновить страницу
</div>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00018.PNG">