﻿@model WebGBFXT.Models.HelpAccess

<a class="block h3" name="h101">Организация</a>

<p>
    На данной странице редактируется информация об организации, предоставившей сведения, которая указывается при формировании ответа.
</p>

<div class="alert alert-danger">
    Информацию в поля следует вносить с учетом того, что она будет подставляться напрямую в XML (атрибуты в теге).
    <strong>Следует отказаться от двойных кавычек и заменить их на одинарные</strong>.
    <dl class="dl-horizontal">
        <dt>'…'</dt>
        <dd>так можо</dd>
        <dt>«…»</dt>
        <dd>так можо</dd>
        <dt class="text-danger">"…"</dt>
        <dd class="text-danger">так нельзя !</dd>
    </dl>
</div>

<a class="block btn btn-primary" href="#start">наверх</a>