﻿@model WebGBFXT.Models.HelpAccess

<a class="block h3" name="h102">Пользователи</a>

<p>
    На данной странице редактируется информация об ответственном лице, выполняющем обработку запроса, которая указывается при формировании ответа.
</p>

<div class="alert alert-info">
    Чтобы данная информация подставлялась в ответ, следует зайти от имени этого пользователя, при входе использовать логин и пароль указанный здесь для этого пользователя.
</div>

<div class="alert alert-danger">
    Информацию в поля следует вносить с учетом того, что она будет подставляться на прямую в XML (атрибуты в теге).
    <strong>Следует отказаться от двойных кавычек и заменить их на одинарные или угловые.</strong>.
</div>

<dl>
    <dt>Создание пользователя</dt>
    <dd>
        В левом верхнем углу таблицы расположена кнопка создать.
        При нажатии должно открыться окно с формой, в которой необходимо заполнить все поля.
        После заполнения данных необходимо нажать кнопку сохранить - окно закроется и данные будут сохранены, в таблице добавится новая строчка с введенными данными.
        Если нажать кнопку отмена, то окно закроется, пользователь не создастся и введенная информация нигде не сохранится.
    </dd>
    <dt>Редактирование пользователя</dt>
    <dd>
        Редактирование пользователя происходит аналогично созданию, за исключением того, 
        что для открытия окна редактирования следует нажать кнопку с иконкой карандаша в строчке с пользователем, которого необходимо отредактировать.
    </dd>
    <dt>Удаление пользователя</dt>
    <dd>
        Удаление пользователя происходит после нажатия на кнопку с иконкой крестика в строке удаляемого пользователя. 
        Перед удалением появляется окно с просьбой подтвердить удаление.
    </dd>
</dl>

<a class="block btn btn-primary" href="#start">наверх</a>