﻿@model WebGBFXT.Models.HelpAccess

<a class="block h3" name="h103">Загрузка ЦИК</a>

<p>
    На данной странице загружаются файлы, присланные ЦИК, выводятся предупреждения и ссылка на скачивание ответа.
</p>

<div class="alert alert-info">
    Файлы можно загружать только трех типов
    <ul>
        <li>XML - файл запроса</li>
        <li>ENC - если не удалось рашифровать запрос</li>
        <li>SIG - если при проверке электронной подписи возникла ошибка</li>
    </ul>
</div>

<fieldset>
    <legend>
        <small>Имя файла-запроса:</small>
        YZZZZZZZZZZZZZ_DDMMGG_Т_NNNN.xml
        <br/>
        <small>Имя файла-ответа:</small>
        YZZZZZZZZZZZZZ_DDMMGG_hhmmss_T_NNNN.xml
        <br />
        <small>Имя файла-квитанции:</small>
        YZZZZZZZZZZZZZ_DDMMGG_hhmmss_Т_NNNN_XXXX_YZZZZZZZZZZZZZ.xml
    </legend>
    <dl class="dl-horizontal">
        <dt>Y</dt>
        <dd>
            <ul>
                <li>K – для кредитных организаций</li>
                <li>D – для депозитариев</li>
                <li>R – для регистраторов</li>
                <li>S – для спецдепозитариев</li>
                <li>B – для Банка России</li>
                <li>F – для ФЦИ при ЦИК России</li>
            </ul>
        </dd>
        <dt>ZZZZZZZZZZZZZ</dt>
        <dd>
            принимают значение ОГРН участника обмена;
        </dd>
        <dt>DD</dt>
        <dd>
            день формирования файла;
        </dd>
        <dt>MM</dt>
        <dd>
            месяц формирования файла;
        </dd>
        <dt>GG</dt>
        <dd>
            год формирования файла;
        </dd>
        <dt>hh</dt>
        <dd>
            час формирования файла;
        </dd>
        <dt>mm</dt>
        <dd>
            минуты формирования файла;
        </dd>
        <dt>ss</dt>
        <dd>
            секунды формирования файла;
        </dd>
        <dt>T</dt>
        <dd>
            тип запроса: 
            <ul>
                <li>K – для файла-квитанции</li>
                <li>Z - для пакетного запроса</li>
                <li>P - для персонального запроса</li>
            </ul>
        </dd>
        <dt>NNNN</dt>
        <dd>
            порядковый номер запроса в пределах календарного года (0001, 0002 … 9999).
        </dd>
        <dt>XXXX</dt>
        <dd>
            код результата обработки файла проверки.
        </dd>
    </dl>
</fieldset>

<div class="alert alert-info">
    <ul>
        <li>Время в имени файла указывается по Москве (часовой пояс +3)</li>
        <li>Клиенты сравниваются по договорам! - Если в базе один человек с двумя договорами, то получится две строчки (в предупреждениях или результатах)</li>
    </ul>
</div>
<div class="alert alert-danger">
    <ul>
        <li>Загружать можно только файлы запроса</li>
        <li>Если имя файла не соотвествует формату будет выдано сообщение об ошибке и обработка будет прервана</li>
    </ul>
</div>

<p>
    Сравнение идет двух типов:
    <ul>
        <li><strong>Четкое</strong> - результаты попадают в ответ (100% совпадений, согласно требованиям предъявляемым ФЦИ при ЦИК России)</li>
        <li><strong>Нечеткое</strong> - выводится предупреждение, но результаты не попадают в ответ (боле 50% совпадений)</li>
    </ul>
    Чтобы результат попал в ответ все поля запроса (если они не пустые) должны полностью совпадать со значениями из базы данных по клиенту.
    <br />
</p>

<div class="alert alert-info">
    <ul>
        <li>После нахождения и исправления ошибок следует занова загрузить файл запроса для получения скорректированного(исправленного) ответа.</li>
        <li>Если не было ошибок, то в течении нескольких минут на экран выведутся предупреждения и ссылка для скачивания файла ответа.</li>
    </ul>
</div>

<a class="block btn btn-primary" href="#start">наверх</a>