﻿@model WebGBFXT.Models.HelpAccess

<a class="block h3" name="h104">История ЦИК</a>

<p>
    На данной странице выводится таблица, в которой ведется история всех запросов и сгенерированных ответов,
    с возможностью скачать эти файлы или просмотреть лог предупреждений.
     Есть возможность групировки, сортировки, фильтрации.
</p>
<fieldset>
    <legend>Столбцы</legend>
    <dl>
        <dt>Тип</dt>
        <dd>
            Указывается тип файла.
            <ul>
                <li>Запрос - файл запроса</li>
                <li>Лог - предупреждения при обработке файла запроса (если были)</li>
                <li>Ответ - файл ответа</li>
                <li>Квитанция - файл квитанции (если не было совпадений или была ошибка)</li>
            </ul>
        </dd>
        <dt>Имя</dt>
        <dd>
            Имя формируется из года и номера запроса.
        </dd>
        <dt>Дата запроса</dt>
        <dd>
            Дата запроса, ответа или квитанции (берется из имени файла)
        </dd>
        <dt>Дата обработки</dt>
        <dd>
            Дата на момент обработки запроса. Актуально для запросов - для остальных совпадает с датой запроса.
        </dd>
        <dt>Время обработки</dt>
        <dd>
            Время сохранения файла в базу данных. Указывается по местному времени (в отличии от времени в имени файла).
        </dd>
        <dt>Ответственный</dt>
        <dd>
            Пользователь, который проводил обработку. (Указывается внутри файла)
        </dd>
        <dt>Ссылки</dt>
        <dd>
            Ссылки на скачивание фала или (в случае если лог) ссылка на просмотр предупреждений.
        </dd>
    </dl>
</fieldset>

<a class="block btn btn-primary" href="#start">наверх</a>