﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h1_11">Контакты</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00030.PNG">

<fieldset>
    <legend>Поля</legend>
    <dl>
        <dt>Должность</dt>
        <dd>
            В этих полях указывается должность контактного лица, 
            таких полей может быть несколько
            <div class="alert alert-info">
                также рекомендуется в этих полях указывать дополнительный номер (можно с комментариями) в случае корпоративной АТС.
            </div>
        </dd>
        <dt>ФИО</dt>
        <dd>
            <div class="alert alert-danger">
                Поле может быть только одно, в нем следует указывать только фамилию имя и отчество и именно в этом порядке.
            </div>
        </dd>
        <dt>Контакты</dt>
        <dd>
            Количество полей не ограничено, тип полей определяется автоматически
            <ul>
                <li>
                    <p>
                        Телефон - при распознавании используются только цифры, отметая все остальные символы.
                    </p>
                    <div class="alert alert-danger">
                        В одном поле следует указывать только один номер телефона.
                    </div>
                </li>
                <li>
                    <p>
                        Почта - при распознавании идет проверка на допустимость символов (английские буквы, цифры, земля, точки) и
                        символ "@@"
                    </p>
                    <div class="alert alert-danger">
                        В одном поле следует указывать только один адрес электронной почты.
                    </div>
                </li>
                <li>
                    Другое - любые другие контакты не распознанные как телефон или электронная почта.
                </li>
            </ul>
        </dd>
        <dt><img src="~/Shablons/Инструкция_файлы/img00031.PNG"></dt>
        <dd>
            Эта галочка означает, что текущая информация была получена при проверке в ЕГРЮЛ.
        </dd>
        <dt><img src="~/Shablons/Инструкция_файлы/img00032.PNG"></dt>
        <dd>
            Эта кнопочка позволяет скопировать номер телефона в память для набора номера в программе SIP телефонии.
        </dd>
        <dt><img src="~/Shablons/Инструкция_файлы/img00033.PNG"></dt>
        <dd>
            эта кнопка открывает окно с редактором шаблона, 
            по окончании на указанную почту будет выслано письмо, 
            в теле которого будет отредактированный шаблон, 
            при ответе на письмо ответ будет прислан на электронный ящик пользователя, 
            указанный при регистрации.
        </dd>
        <dt><img src="~/Shablons/Инструкция_файлы/img00034.PNG"></dt>
        <dd>
            Эта кнопка добавляет новое событие с текстовым полем для редактирования – комментарий к контактному лицу
        </dd>
        <dt><img src="~/Shablons/Инструкция_файлы/img00035.PNG"></dt>
        <dd>
            <div class="text-danger">РЕДАКТИРОВАНИЕ</div>
            <ul>
                <li>
                    изменяет левую часть – добавляет кнопки удаления, после удаления всех полей блок тоже удаляется.
                </li>
                <li>
                    Изменяет правую часть блока
                </li>
                <li>
                    Выводит поля для добавления информации
                </li>
            </ul>
        </dd>
        <dt><img src="~/Shablons/Инструкция_файлы/img00036.PNG"></dt>
        <dd>
            <div class="text-danger">ОТМЕНА РЕДАКТИРОВАНИЯ</div>
            Возвращает весь блок к первоначальному виду
        </dd>
        <dt><img src="~/Shablons/Инструкция_файлы/img00037.PNG"></dt>
        <dd>
            Эта кнопка добавляет новое событие «Напоминание», также оно добавляется в план обзвона
        </dd>
        <dt><img src="~/Shablons/Инструкция_файлы/img00038.PNG"></dt>
        <dd>
            Эта кнопка открывает окно для назначения встречи
        </dd>
    </dl>
</fieldset>

<a class="block btn btn-primary" href="#start">наверх</a>