﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h1_10">Дополнительная информация</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00029.PNG">
<p>
    Пересечения интересов нашей организации и организации потенциального клиента.
</p>
<p>
    Имеется возможность как-то прокомментировать интерес в контексте данной организации.
</p>
<div class="alert alert-info">
    <p>
        Поле статус отображает отношение организации потенциального клиента к указанному интересу и участвует в фильтрации к мероприятиям.
    </p>
</div>

<a class="block btn btn-primary" href="#start">наверх</a>