﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h1_1">Статус организации</a>

<div class="alert alert-info">
    В заголовке страницы указывается статус организации
    <dl class="dl-horizontal">
        <dt>Проверена</dt>
        <dd>
            означает что часть информации была загружена из ЕГРЮЛ по ИНН
        </dd>
        <dt>Ликвидирована</dt>
        <dd>
            означает что в ЕГРЮЛ данная организация числится ликвидированной
        </dd>
    </dl>
</div>

<a class="block btn btn-primary" href="#start">наверх</a>