﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h1_12">События</a>

<a class="block h3">Телефонный звонок</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00039.PNG">
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00040.PNG">
<ul>
    <li>Номер с которого был совершен звонок</li>
    <li>Тип события</li>
    <li>Время события</li>
    <li>Номер на который был совершен звонок</li>
</ul>


<a class="block h3">Напоминание</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00041.PNG">
<ul>
    <li>Последний пользователь вносивший изменения</li>
    <li>Тип напоминания</li>
    <li>Дата и время события</li>
    <li>Поле для выбора пользователей у которых в плане обзвона будет отображаться это событие</li>
    <li>Поле для комментария к данному событию</li>
    <li>
        Кнопочка
        <img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00042.PNG">
        отображается/активно или 
        <img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00043.PNG">
        не отображается/не активно событие в плане обзвона.
        Эта кнопка так же позволяет переключать это состояние.
    </li>
</ul>

<a class="block h3">Контроль качества</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00044.PNG">
<p>
    Это событие могут редактировать только операторы, как только событие будет отредактировано операторы больше не смогут видеть карточку этой организации.
</p>

<a class="block h3">Встреча</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00045.PNG">
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00046.PNG">

<a class="block h3">Письмо</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00047.PNG">
<p>
    Это событие возникает только если письмо было отправлено из ЦРМ.
    Дает возможность узнать когда и кем было отправлено письмо, а также посмотреть содержание во всплывающем окне
</p>

<a class="block h3">Семинар</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00048.PNG">
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00049.PNG">

<a class="block h3">Комментарий</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00050.PNG">

<a class="block btn btn-primary" href="#start">наверх</a>