﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h1_2">Основная информация</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00019.PNG">

<dl class="dl-horizontal">
    <dt>Наименование</dt>
    <dd>
        Краткое наименование
    </dd>
    <dt>Полное имя</dt>
    <dd>
        Полное официальное наименование компании с расшифровкой всех абревиатур и сокращений.
    </dd>
    <dt>Код клиента</dt>
    <dd>
        строка в которой указывается код клиента с которым заключен договор (операторы могут игнорировать это поле)
    </dd>
    <dt>ИНН</dt>
    <dd>
        строка в которой указывается ИНН, по которой идет поиск в ЕГРЮЛ, поиск контактов, поиск пересечений и дубликатов внутри ЦРМ
    </dd>
    <dt>Страна</dt>
    <dd>
        это системная метка, необходимая для работы со странами СНГ
    </dd>
    <dt>Адрес</dt>
    <dd>
        <ul>
            <li>
                При вводе информация отправляется на сервер для распознавания
            </li>
            <li>
                После распознавания информация в обновляется на распознанную
            </li>
            <li>
                <div class="alert alert-danger">
                    <strong>
                        Распознанный адрес участвует в основной логике ЦРМ
                    </strong>
                    <ul>
                        <li>
                            По нему назначаются встречи
                        </li>
                        <li>
                            По нему формируются планы обзвона
                        </li>
                        <li>
                            По нему выбирается часовой пояс
                        </li>
                        <li>
                            По нему фильтруются таблицы
                        </li>
                    </ul>
                    <p>
                        Если проблемы с адресом – достаточно обновить строку (добавить пробел или точку в конце или ввести корректный адрес)
                    </p>
                    <p>
                        Оригинальную информацию с указанием офисов и т.д. – необходимо дублировать в другие поля, эта информация отбрасывается при распознавании
                    </p>
                    <strong>
                        Если встреча проходит по физическому адресу
                    </strong>
                    <ul>
                        <li>
                            Заполняем поле "юридический адрес"
                        </li>
                        <li>
                            Заполняем поле "физический адрес"
                        </li>
                        <li>
                            <strong>
                                В поле адрес дублируем "физический адрес"
                            </strong>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </dd>
    <dt>Физический адрес</dt>
    <dd>
        строка, которая в логике не участвует и системой не изменяется
    </dd>
    <dt>Юридический адрес</dt>
    <dd>
        строка, которая в логике не участвует и системой не изменяется
    </dd>
</dl>

<a class="block btn btn-primary" href="#start">наверх</a>