﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h1_3">Комментарий</a>

<p>
    Блок в котором единственное поле, предназначенное для краткой характеристики организации.
</p>
<div class="alert alert-danger">
    Все события и комментарии следует указывать относительно контактного лица.
</div>

<a class="block btn btn-primary" href="#start">наверх</a>