﻿@model WebGBFXT.Models.HelpAccess

<a class="block h3" name="h1_4">Виды деятельности</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00020.PNG">
<p>
    Блок, который по умолчанию свернут. Содержит в себе информацию ОКВЭД полученный из ЕГРЮЛ
</p>

<a class="block btn btn-primary" href="#start">наверх</a>