﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h1_5">Управление</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00021.PNG">
<ul>
    <li>
        Выбор пользователя (ответственного) за которым закреплена эта организация – тот кто ведет работу с этой организацией
    </li>
    <li>
        Кнопка поиска в интернете
    </li>
    <li>
        Кнопка сброса организации в беспризорники – у организации удаляется ответственный и она попадает в список из которого менеджер операторов раскидывает их снова в обработку другим пользователям
    </li>
    <li>
        Возможность указать пользователей, которые будут видеть у себя вашу организацию и редактировать ее.
    </li>
</ul>

<a class="block btn btn-primary" href="#start">наверх</a>