﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h1_6">Поиск в интернете (ЕГРЮЛ)</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00022.PNG">
<p>
    Некоторые поля автоматически заполняются.
</p>
<ul>
    <li>Если указан ИНН поиск идет <strong>только</strong> по нему</li>
    <li>Наименование</li>
    <li>Область – отфильтровывает найденные организации по области</li>
</ul>
<div class="alert alert-danger">
    Если организация не находится
    <ul>
        <li>удалите все сокращения и различные символы в наименовании</li>
        <li>попробуй расшифровать аббревиатуру в наименовании (гугл помогает :)</li>
        <li>попробуйте удалить ИНН и искать только по наименованию</li>
        <li>попробуйте выбрать фильтр областей «По всей России»</li>
    </ul>
</div>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00023.PNG">
<p>
    В результатах выбираете наиболее подходящий и нажимаете справа на кнопку
</p>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00024.PNG">
<p>
    Идет проверка на дубликаты, если дубликаты есть – необходимо объединить их и только после этого будет возможность загрузить в базу.
</p>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00025.PNG">
<p>
    Окно поиска закрывается в правом верхнем углу страницы.
</p>

<a class="block btn btn-primary" href="#start">наверх</a>