﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h1_7">Система меток</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00026.PNG">

<dl class="dl-horizontal">
    <dt>Статус в системе</dt>
    <dd>
        <div class="text-info">Можно выбрать только одну метку из списка</div>
        <ul>
            <li>
                обработана
            </li>
            <li>
                не обработана
            </li>
            <li>
                не обрабатывать
            </li>
        </ul>
        <div class="alert alert-info">
            Данные метки предназначены для операторов для актуализации базы.
        </div>
    </dd>
    <dt>Статус клиента</dt>
    <dd>
        <div class="text-info">Можно выбрать только одну метку из списка</div>
        <div class="alert alert-info">
            Данные метки предназначены для консультантов, чтобы видеть на каком этапе находится организация.
        </div>
    </dd>
    <dt>Деятельность</dt>
    <dd>
        <div class="text-info">Можно выбрать несколько меток</div>
        <ul>
            <li>
                Не дает информации – метка операторов, указывающая что были переговоры с представителем организации, в результате которых они отказались давать какую либо информацию
            </li>
            <li>
                Не ВЭД – не ведет Внешнеэкономическую Деятельность
            </li>
            <li>
                ВЭД - ведет Внешнеэкономическую Деятельность
            </li>
            <li>
                МО – Маленькие Обороты
            </li>
            <li>
                Актуализировано – проверена и заполнены корректные контакты
            </li>
            <li>
                Консультант – отдана консультантам
            </li>
            <li>
                Требование дубликата – имеется дубликат и владелец дубликата требует объединить карточки и отдать ему.
                Высвечивается в организации оператора, после запроса консультанта.
            </li>
        </ul>
    </dd>
    <dt>Продукт</dt>
    <dd>
        <div class="text-info">Можно выбрать несколько меток</div>
        <p>
            Наши услуги, интересные для организации
        </p>
    </dd>
    <dt>Мои метки</dt>
    <dd>
        <div class="text-info">Можно выбрать несколько меток</div>
        <div class="alert alert-info">
            <a href="#h23">Метки созданные пользователем</a>
        </div>
    </dd>
    <dt>Операции</dt>
    <dd>
        <div class="text-info">Можно выбрать несколько меток</div>
        <div class="text-danger">Предназначено только для консультантов</div>
        <p>
            Валютные операции.
        </p>
    </dd>
</dl>

<a class="block btn btn-primary" href="#start">наверх</a>