﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h1_8">Пересечения</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00027.PNG">

<div class="alert alert-danger">
    Такие записи означают, что в ЦРМ существует дубликат (организация с таким же ИНН) организации 
    – необходимо связаться с этим пользователем и решить кому организация будет принадлежать
</div>

<ul>
    <li>
        Отдать – все контакты и события переходят в ту карточку дубликата организации, а текущая карточка будет удалена
    </li>
    <li>
        Забрать – все контакты и события из дубликата будут перенесены в текущую карточку, а дубликат будет удален 
        <div class="text-info">
            (доступно только администраторам или если у дубликата не назначен ответственный)
        </div>
    </li>
    @if (Model.admin)
    {
        <li>
            Подробней – переходит в карточку организации
        </li>
    }
</ul>

<a class="block btn btn-primary" href="#start">наверх</a>