﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h1_9">Связи</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00028.PNG">

<p>
    В этом блоке указываются ссылки на другие организации имеющиеся в ЦРМ
</p>
<dl>
    <dt>Влияющая организация</dt>
    <dd>
        на примере холдинга: Главная организация.
    </dd>
    <dt>Зависимая организация</dt>
    <dd>
        на примере холдинга: Дочерняя организация.
    </dd>
    <dt>Партнер</dt>
    <dd>
        партнеры или другие организации, связанные с текущей.
    </dd>
</dl>
<ul>
    <li>
        Крестик справа удаляет связь
    </li>
    <li>
        Если у пользователя есть доступ к карточке указанной организации, то по клику на наименовании можно перейти в эту карточку
    </li>
    <li>
        Есть возможность прокомментировать установленную связь, 
        комментарий будет виден также в карточке организации, с которой эта связь была установлена.
    </li>
</ul>
<a class="block btn btn-primary" href="#start">наверх</a>