﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h21">План обзвона</a>

<a class="block h3" name="h611">Фильтры</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00016.PNG">

<ul>
    <li>
        Фильтрация в диапазоне дат
    </li>
    @if (Model.oper)
    {
        <li>
            Фильтрация по пользователю
        </li>
    }
    <li>
        Фильтрация по типу события
        <dl class="dl-horizontal">
            <dt>Другое</dt>
            <dd>
                Различные напоминания не относящиеся к стандартным
            </dd>
            <dt>Позвонить</dt>
            <dd>
                Необходимо совершить звонок
            </dd>
            <dt>Семинар</dt>
            <dd>
                Необходимо получить ответ на предложение прийти на семинар
            </dd>
            <dt>Назначенная встреча</dt>
            <dd>
                Необходимо позвонить и подтвердить встречу
            </dd>
            <dt>В командировке</dt>
            <dd>
                Необходимо позвонить и подтвердить встречу
            </dd>
            @if (Model.oper)
            {
                <dt>Контроль качества</dt>
                <dd>
                    После встречи необходимо позвонить и поинтересоваться о впечатлении о встрече и дать оценку консультанту, проводящему встречу
                </dd>
            }
        </dl>
    </li>
    <li>
        Краткая статистика по задачам
        <ul>
            <li>Сколько всего важных задач</li>
            <li>Сколько не сделанных (дата и время которых меньше текущего)</li>
            <li>Сколько задач осталось сделать сегодня</li>
        </ul>
    </li>
</ul>

<a class="block h3" name="h611">Таблица</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00017.PNG">
<ul>
    <li>
        Время
        <div class="alert alert-danger">
            По часовому поясу пользователя
        </div>
    </li>
    <li>
        Тип
    </li>
    <li>
        Наименование
    </li>
    <li>
        Адрес
    </li>
    <li>
        Комментарий
    </li>
    <li>
        Сортировка по всем колонкам
    </li>
    <li>
        Фильтрация по вхождению
    </li>
    <li>
        Кнопка подробно – открывает карточку организации
    </li>

</ul>

<a class="block btn btn-primary" href="#start">наверх</a>