﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h23">План встреч</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00051.PNG">

<dl>
    <dt>Кнопка «Today»</dt>
    <dd>
        открывает на текущей дате
    </dd>
    <dt>Стрелочки</dt>
    <dd>
        возможность переходить на другие даты или диапазоны дат
    </dd>
    <dt>Выбранная дата или интервал дат.</dt>
    <dd>
        <img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00052.PNG">
        При клике на дату выпадает календарь
    </dd>
    <dt>События</dt>
    <dd>
        Все события разных цветов – внизу страницы есть легенда где указаны значения этих цветов.
    </dd>
    <dt>«На повестке»</dt>
    <dd>
        Показывает все события на следующие несколько дней в виде таблицы
        <div class="alert alert-danger">
            <h2>Внимание!</h2>
            На вкладке "На повестке" события не редактируются. 
            Для редактирования событий следует выбрать другую вкладку: "День", "Рабочая неделя", "Месяц"
        </div>
    </dd>
    <dt> «День» / «Рабочая неделя» / «Месяц»</dt>
    <dd>
        Просмотр событий в виде календаря
        <div class="alert alert-info">
            Двойной клик левой кнопки мыши на событии вызывает всплывающее окно
        </div>
    </dd>
</dl>

<a class="block h3">Редактирование события</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00053.PNG">

<ul>
    <li>
        Наименование организации
    </li>
    <li>
        Время напоминалки для неподтвержденных событий
    </li>
    <li>
        Окно редактирования комментария
    </li>
    <li>
        Кнопка «Подробнее» - открывает карточку организации
    </li>
    <li>
        Кнопка «Результат встречи» - перенаправляет на страницу для оформления результата встречи
    </li>
</ul>

<a class="block h3">Результат встречи</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00054.PNG">

<ul>
    <li>
        Необходимо указать присутствие ЛПР.
    </li>
    <li>
        Расстояние которое вы преодолели, чтобы попасть на встречу.
    </li>
    <li>
        Затраты на организацию встречи.
    </li>
    <li>
        Вознаграждение оператору
        <div class="alert alert-danger">
            Вознаграждение оператору указывается только один раз, в дальнейшем редактировать это поле возможности не будет.
        </div>
    </li>
    <li>
        Комментарий к встрече
    </li>
    <div class="alert alert-info">
        По нажатии на кнопку результат будет сохранен
        <ul>
            <li>Оператору будет отправлено письмо с уведомлением</li>
            <li>Организация будет закреплена за вами</li>
        </ul>
    </div>
</ul>

<a class="block btn btn-primary" href="#start">наверх</a>