﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h24">Мои метки</a>

<p>
    На этой странице вы можете создавать собственные метки. Эти метки будут видны только вам.
</p>
<p>
    Метки используются для обозначения признаков и характеристик, по которым вам необходимо фильтровать организации, но которые не важны для работы ЦРМ.
</p>
<p>
    Есть еще системные метки, они будут описаны в карточке организации
</p>

<a class="block btn btn-primary" href="#start">наверх</a>