﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h31">Деятельность</a>

<p>
    Эта страница доступна только менеджерам консультантов 
    и необходимо для указания в какой области какое подразделение какою деятельность ведет.
</p>
<div class="alert alert-danger">
    Заполнение этой структуры обязательно повлияет на то – какому подразделению будет назначена встреча. 
    Если подразделение в какой то области не указано – встреча не сможет быть назначена.
</div>

<a class="block btn btn-primary" href="#start">наверх</a>