﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h32">Подразделение</a>

<p>
    Эта страница в основном аналогична странице «план встреч». 
    Она сделана для менеджеров консультантов, чтобы дать понимание загруженности подразделения.
</p>
<div class="alert alert-info">
    <h3>Отличия от "персонального плана встреч"</h3>
    <ul>
        <li>
            Выводятся все встречи в подразделении.
        </li>
        <li>
            Есть возможность указать кто едет на встречу.
        </li>
        <li>
            Нельзя закрыть встречу.
        </li>
    </ul>
</div>

<a class="block btn btn-primary" href="#start">наверх</a>