﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h33">Мероприятия</a>

<a class="block h3">Создание и редактирование мероприятия</a>

<p>
    При нажатии на кнопку "добавить мероприятие" или при редактировании выбранного мероприятия всплывает окно:
</p>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00055.PNG">
<ul>
    <li>
        Первая строчка это название мероприятия.
    </li>
    <li>
        Редактор комментария к мероприятию.
    </li>
    <li>
        Внизу галочка "закрыто" - закрывает мероприятие, 
    </li>
</ul>
<p>
    Заполняем название мероприятия, далее добавляем/удаляем города.
</p>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00056.PNG">
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00057.PNG">
<div class="alert alert-danger">
    Любое мероприятие должно иметь как минимум один город.
</div>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00058.PNG">
<dl>
    <dt>Время пребывания в данном городе</dt>
    <dd>
        указывается дата и время интервала, во время которого можно назначать встречи в этом городе.
    </dd>
    <dt>Время проведения семинара</dt>
    <dd>
        Если проходит семинар в этом городе, то ставим галочку и указываем время начала и окончания семинара
    </dd>
    <dt>Место</dt>
    <dd>
        Вместо города можно выбрать только область или даже поселок: это влияет на то 
        - какие организации (поле адрес) могут быть приглашены на данное мероприятие.
        Если указана область - все организации в этой области, если указан город - все организации в этом городе.
    </dd>
    <dt>Направление</dt>
    <dd>
        Указываем основное направление мероприятия (зерно, валюта ...)
    </dd>
    <dt>Консультанты</dt>
    <dd>
        Указываем кто будет проводить мероприятие.
    </dd>
    <dt>Комментарий</dt>
    <dd>
        комментарий для этого города (места)
    </dd>
</dl>

<a class="block h3">Закрытие мероприятия</a>
<p>
    При редактировании мероприятия галочка "закрыто".
</p>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00059.PNG">


<a class="block btn btn-primary" href="#start">наверх</a>