﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h34">Таблица встреч</a>

<a class="block h3">Фильтры</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00060.PNG">
<ul>
    <li>
        Блок фильтров сворачивается и разворачивается
    </li>
    <li>
        Возможность фильтровать по подразделениям (у консультантов заблокировано)
    </li>
    <li>
        Галочка для просмотра семинаров из других подразделений
    </li>
    <li>
        Интервал событий
    </li>
    <li>
        Поиск организаций по наименованию или ИНН – вхождение введенной строки
    </li>
    <li>
        Фильтр по областям
    </li>
    <li>
        Фильтр по пользователям, которые проводят встречу
    </li>
    <li>
        Фильтр по типам событий
    </li>
    <li>
        Галочка для сохранения настроек сортировки таблицы
    </li>
</ul>

<a class="block h3">Таблица</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00061.PNG">
<p>
    В каждой строке могут быть две кнопки
</p>
<dl class="dl-horizontal">
    <dt>Редактирование</dt>
    <dd>
        во всплывающем окне позволяет указать пользователей проводящих встречу и комментарий, который высылается на почту указанным пользователям
    </dd>
    <dt>Подробнее</dt>
    <dd>
        Для перехода к карточке организации
    </dd>
</dl>

<a class="block btn btn-primary" href="#start">наверх</a>