﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h35">Бонусы</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00062.PNG">
<p>
    За указанный интервал выводится сводная таблица всех встреч операторов, 
    с возможностью группировки, сортировки и фильтрации по столбцам
</p>

<a class="block btn btn-primary" href="#start">наверх</a>