﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h41">Пользователи</a>

<p>
    На данной странице администрируются пользователи:
    <dl>
        <dt>Наименование</dt>
        <dd>
            Определяет то, под каким именем пользователь будет отображаться в системе. 
            Так же используется при рассылке писем.
        </dd>
        <dt>Логин</dt>
        <dd>
            
        </dd>
        <dt>Почта</dt>
        <dd>
            Определяет на какой почтовый ящик будут отправляться письма
        </dd>
        <dt>Телефон</dt>
        <dd>
            Было актуально в звонках для отображения кто звонил.
        </dd>
        <dt>Часовой пояс</dt>
        <dd>
            Часовой пояс пользователя, время во всех таблицах указывается по этому часовому поясу.
        </dd>
        <dt>Роли</dt>
        <dd>
            Список ролей пользователя. Может быть несколько.
        </dd>
        <dt>Отделы</dt>
        <dd>
            Необходимо для понимания к какому подразделению относится пользователь.
        </dd>
        <dt>Пароль</dt>
        <dd>
            
        </dd>
        <dt>Старый ИД</dt>
        <dd>
            Идентификатор в старом(числовом) формате.
        </dd>
    </dl>
</p>

<a class="block btn btn-primary" href="#start">наверх</a>