﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h42">Роли</a>

<div class="alert alert-danger">
    Использование текущей таблицы актуально только при разработке.
    Удаление текущих ролей повлечет за собой ошибки.
    Добавление новых ролей ничего не изменит и никак не повлияет.
</div>

<a class="block btn btn-primary" href="#start">наверх</a>