﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h43">Отделы</a>

<div class="alert alert-info">
    Создает и удаляет подразделения.
</div>

<a class="block btn btn-primary" href="#start">наверх</a>