﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h44">Направления</a>

<div class="alert alert-info">
    Создает и удаляет направления.
</div>

<a class="block btn btn-primary" href="#start">наверх</a>