﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h45">Список валют</a>

<div class="alert alert-info">
    Справочник автоматически формируется со сторонних ресурсов.
    Указание порядка отличного от нуля позволяет отобразить валюту в карточки организации в разделе дополнительно.
</div>

<a class="block btn btn-primary" href="#start">наверх</a>