﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h46">Метки</a>

<div class="alert alert-info">
    Управляет всеми метками в системе, в том числе и пользовательскими. По индексу метки сортируются.
</div>

<a class="block btn btn-primary" href="#start">наверх</a>