﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h51">Консультанты</a>
<p>
    Позволяет посмотреть наличие, дата и количество событий в выбранном подразделении консультантов.
    Возможности редактирования нет.
</p>
<a class="block btn btn-primary" href="#start">наверх</a>