﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h52">Мероприятия</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00063.PNG">
@if (Model.oper)
{
    <p>
        Выводит список командировок и семинаров во всех подразделениях.
    </p>
}
@if (Model.cons)
{
    <p>
        Выводит список командировок в Вашем подразделении.
        Галочка для вывода информации о семинарах из других подразделений
    </p>
}
<dl>
    <dt>Кнопка - "Список моих организаций"</dt>
    <dd>
        Открывает таблица Ваших организаций, которые по адресу могут участвовать в данном мероприятии.
    </dd>
    <dt>Кнопка - "Календарь мероприятия"</dt>
    <dd>
        Открывает календарь событий, встречи - которые уже назначены в этом мероприятии.
    </dd>
</dl>

<a class="block btn btn-primary" href="#start">наверх</a>