﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h53">Семинары</a>

<p>
    Список семинаров, с возможностью отфильтровать по подразделениям.В каждой строке могут быть 5 кнопок. 
    Цифры указывают на количество организаций.
    Списки можно отфильтровать по меткам, присвоенным организациям.
    Все события и комментарии будут отображаться в карточке организации.
</p>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00064.PNG">

<div class="alert alert-danger">
    Выводятся только те контакты и организации у которых есть телефоны (распознанные).
</div>
<dl>
    <dt>Пригласить </dt>
    <dd>
        Список “моих” организаций, которые могут быть приглашены
    </dd>
    <dt>Приглашены </dt>
    <dd>
        Список организаций, которые были приглашены и согласились прийти
    </dd>
    <dt>Отказались </dt>
    <dd>
        Список организаций, которые отказались прийти
    </dd>
    <dt>Присутствовали </dt>
    <dd>
        Список Контактных лиц, которые присутствовали на семинаре
    </dd>
    <dt>Отсутствовали </dt>
    <dd>
        Список Контактных лиц, которые отсутствовали на семинаре
    </dd>
</dl>

<fieldset>
    <title>Примеры таблиц:</title>
    <img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00065.PNG">
    <img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00067.PNG">
    <ul>
        <li>
            При клике на наименование организации открывается карточка организации.
        </li>
        <li>
            При клике на номер телефона – в буфер обмена копируется номер телефона с 9кой вначале
        </li>
    </ul>
</fieldset>

<fieldset>
    <title>При клике на кнопки «придет», «не придет», «отказался», «согласился», «был» …. </title>
    <img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00066.PNG">
    <ul>
        <li>
            В комментарии указываются какие то детали относительно данного решения.
        </li>
        <li>
            В напоминалке нужно указать дату напоминания. Она бутед отображена в плане обзвона.
        </li>
    </ul>
</fieldset>

<a class="block btn btn-primary" href="#start">наверх</a>