﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h61">В обработке</a>
<a class="block h3" name="h611">Фильтры</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00007.PNG">
<ul>
    <li>
        При клике на заголовок блока фильтры - блок сворачивается и разворачивается
    </li>
    <li>
        Фильтрация по ИНН и наименованию - отфильтровывает организации в ИНН или наименовании которых содержится введенная строка
        <div class="alert alert-info">
            наименование и ИНН автоматически изменяются после проверки в ЕГРЮЛ
        </div>
    </li>
    <li>
        Фильтрация по комментариям - отфильтровывает организации в комментариях которых содержится указанная строка
    </li>
    <li>
        Фильтрация по коду клиента - отфильтровывает организации в коде клиента которых содержится указанная строка
    </li>
    <li>
        Фильтрация по контакту - отфильтровывает организации у которых:
        <ul>
            <li>в ФИО контактного лица содержится указанная строка</li>
            <li>в Контакте содержится указанная строка</li>
            <li>в Должности содержится указанная строка</li>
        </ul>
    </li>
    <li>
        Фильтрация по виду деятельности
        <ul>
            <li>в коде вида деятельности содержится указанная строка</li>
            <li>в описании кода вида деятельности содержится указанная строка</li>
        </ul>
    </li>
    <li>
        Фильтрация по области - отфильтровывает список организаций у которых в (распознанном) адресе указана одна из выбранных областей.
    </li>
    <li>
        Фильтрация по ответственным - отфильтровывает список организаций
        <div class="alert alert-info">
            Которые принадлежат выбранным пользователям
            <ul>
                <li>по умолчанию видны только свои организации</li>
                <li>если вам разрешили просматривать и редактировать эту организацию</li>
                <li>если вы менеджер то видны организации других пользователей</li>
            </ul>
        </div>
    </li>
    <li>
        Фильтрация по наличию метки - отфильтровывает список организаций, которые содержат хотя бы одну из указанных меток
    </li>
    <li>
        Фильтрация по отсутствию метки - отфильтровывает список организаций, которые не содержат ни одной из указанных меток
    </li>
    <li>
        Фильтрация по беспризорникам - показывает организации, у которых нет закрепленных пользователей
    </li>
    <li>
        Фильтрация ликвидированных - показывает организации, которые ликвидированы по данным ЕГРЮЛ
    </li>
    <li>
        Фильтрация по наличию/отсутствию в плане обзвона - отфильтровывает организации у которых есть/нет хотя бы одно активное событие в плане обзвона
    </li>
    <li>
        Фильтрация по проверке в ЕГРЮЛ -отфильтровывает организации которые были/не были проверены по базе данных ЕГРЮЛ
    </li>
    @if (Model.cons)
    {
        <li>
            Фильтрация забытых(только у консультантов) – отфильтровывает те организации у которых за последние 2 месяца были комментарии, остальные показывает.
        </li>
    }
    <li>
        Кнопка сохранить и фильтровать - сохраняет настройки фильтров и обновляет таблицу организаций
    </li>
    <li>
        Кнопка удалить отфильтрованное
        <div class="alert alert-danger">
            <ul>
                <li>
                    необходимо пройти проверку на адекватность :) - задает 3 вопроса, при правильном ответе на которые удаляет ВСЕ организации и НАВСЕГДА соответствующие настройкам фильтра
                </li>
                <li>
                    удаляются только ваши организации - чужие игнорируются
                </li>
            </ul>
        </div>
    </li>
    @if (Model.manager)
    {
        <li>
            Кнопка передать - позволяет выбранным организациям назначить нового ответственного с возможностью добавления этих организаций в план обзвона выбранного пользователя
        </li>
    }
    <li>
        Галочка на сохранение настроек таблицы
        <div class="alert alert-info">
            <ul>
                <li>запоминает количество отображаемых записей в таблице</li>
                <li>запоминает номер страницы в таблице</li>
                <li>запоминает отображаемые колонки</li>
                <li>запоминает сортировку колонок</li>
                <li>сортировку можно сбросить кнопкой сброса вверху таблицы</li>
            </ul>
        </div>
    </li>
</ul>
<a class="block h3" name="h611">Настройки таблицы</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00008.PNG">
<p>
    Можно скрыть некоторые столбцы
</p>
<a class="block h3" name="h611">Сортировка</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00009.PNG">
<p>
    Можно сортировать по нескольким столбцам, при этом порядок сортировки зависит от того в какой последовательности вы нажали на заголовки этих столбцов
</p>
<a class="block h3" name="h611">Строки</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00010.PNG">
<p>
    В начале каждой строки есть кнопка для показа дополнительной информации
</p>
<dl class="dl-horizontal">
    <hr />
    <td>Контакты</td>
    <dd>
        В контактах показываются все контактные лица имеющие телефоны (распознанные ЦРМ) с указанием должности если есть и номерами телефонов.
        Номера телефонов – это кнопки, при нажатии на которые в память копируется номер телефона, начинающийся с 9 – удобно для SIP телефонов, установленных на компьютере.
    </dd>
    <hr />
    <td>Ссылки</td>
    <dd>
        Тут расположены ссылки на ресурсы в интернете.
    </dd>
    <hr />
    <td>События</td>
    <dd>
        Эта область разделена на две части.
        <ul>
            <li>Слева 5 последних событий</li>
            <li>Справа 5 следующих событий</li>
        </ul>
        Отображается дата и время события, тип события и комментарий к событию.
    </dd>
    <hr />
    <td>Поиск контактов</td>
    <dd>
        Выводится все найденные контакты (ФИО, Телефон, Факс, Почта, Сайт) по указанному ИНН. Поиск происходит по некоторым ссылкам из раздела 2.2.3.2.
    </dd>
    <hr />
</dl>

<a class="block h3" name="h611">Сбросить сортировку</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00011.PNG">
<p>
    Если необходимо отменить текущую сортировку и создать новую – воспользуйтесь кнопкой в верхнем левом углу таблицы
</p>

<a class="block h3" name="h611">Развернуть/свернуть строки</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00012.PNG">
<p>
    Эти две кнопки разворачивают и сворачивают все строки в таблице.
</p>

@if (Model.oper_manager)
{
    <a class="block h3" name="h611">Удалить</a>
    <img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00013.PNG">
    <p>
        Эти кнопки полностью и навсегда удаляют организацию и все следы этой организации из ЦРМ.
    </p>

    <a class="block h3" name="h611">Экспорт в Excel</a>
    <img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00014.PNG">
    <p>
        Эта кнопка выгружает в Excel всю информацию указанную на данной странице в таблице
    </p>
}

<a class="block h3" name="h611">Панель управления таблицей</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00015.PNG">
<p>
    Слева направо:
    <ul>
        <li>Навигация по страницам таблицы</li>
        <li>Количество элементов на странице таблицы</li>
        <li>Сколько записей отображено, сколько всего</li>
        <li>Кнопка обновления данных</li>
    </ul>
</p>

<a class="block btn btn-primary" href="#start">наверх</a>