﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h62">Пересечения</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00068.PNG">
<p>
    На данной странице поиск по вхождению в наименования предприятий или ИНН 
    – выводятся абсолютно все организации имеющиеся в базе ЦРМ, 
    без возможности как то повлиять на эти организации
</p>

<a class="block btn btn-primary" href="#start">наверх</a>