﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h71">Добавить</a>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00001.PNG">
<p>
    Заполняете минимум 1 поле и нажимаете добавить
</p>
<p>
    Будет добавлена новая организация, с теми данными, которые вы заполнили и вас перекинет на <a href="#h10">карточку этой организации</a>.
</p>
<a name="org_dublicate"></a>
<p class="text-danger">
    Если вы заполните поле ИНН и в базе уже будет организация с таким инн, то под формой выпадет сообщение:
</p>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00002.PNG">
<p>
    В этом случае у вас два выбора:
    <dl class="dl-horizontal">
        <dt>
            добавить как новую
        </dt>
        <dd>
            Добавится новая организация с указанным инн, которая будет закреплена за вами.
        </dd>
        <dt>
            не добоавлять
        </dt>
        <dd>
            Ничего не произойдет.
        </dd>
    </dl>
</p>
<a class="block btn btn-primary" href="#start">наверх</a>