﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h72">Загрузка Excel</a>
<p>
    скачиваем шаблон
</p>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00003.PNG">
<p>
    заполняем необходимую информацию
</p>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00004.PNG">
<p class="text-danger">
    Первая строчка обязательна, в ней указан ключ, для понимания какая информация содержится в колонке. Если ключ отсутствует или не соответствует шаблону или не распознан – вся колонка будет игнорироваться.
</p>
<p class="text-danger">
    Ключи «id» и либо «org_inn» либо «org_name_short» обязательны, все остальные могут отсутствовать.
</p>
<dl class="dl-horizontal">
    <hr />
    <dt>id</dt>
    <dd>
        <ul>
            <li>Значение «»( пусто ) - в этой строке находится информация для добавления новой организации.</li>
            <li>Значение « * »( звездочка ) - из этой строки берутся только контакты с данными (даты, комментарии и т.д.) к организации из последней строки (где поле id пустое), строки с этим идентификатором идут только после строки с пустым значением . Строк может быть несколько</li>
            <li>Значение «?» ( знак вопроса ) – вся строка будет игнорироваться, полезно когда вы хотите пропустить какие то строки.</li>
        </ul>
    </dd>
    <hr />
    <dt>org_inn</dt>
    <dd>
        <ul>
            <li>любая текстовая строка уникальная в контексте ЦРМ</li>
            <li>по ней идет поиск дубликатов и пересечений</li>
            <li>в РФ используется ИНН</li>
        </ul>
    </dd>
    <hr />
    <dt>org_name_short</dt>
    <dd>
        краткое наименование организации
    </dd>
    <hr />
    <dt>org_name</dt>
    <dd>
        полное наименование организации
    </dd>
    <hr />
    <dt>org_address</dt>
    <dd>
        адрес организации
    </dd>
    <hr />
    <dt>org_comment</dt>
    <dd>
        <ul>
            <li>комментарий к организации</li>
            <li>отображается в таблице “Организации” - “В обработке”</li>
            <li>заполняется и редактируется вверху карточки организации</li>
        </ul>
    </dd>
    <hr />
    <dt>client_code</dt>
    <dd>
        код клиента
    </dd>
    <hr />
    <dt>contact_fio</dt>
    <dd>
        ФИО контактного лица
    </dd>
    <hr />
    <dt>contact_post</dt>
    <dd>
        должность контактного лица
    </dd>
    <hr />
    <dt>contact_phone</dt>
    <dd>
        <ul>
            <li>контактный номер телефона</li>
            <li>по нему идет подтягивание записей с АТС</li>
        </ul>
    </dd>
    <hr />
    <dt>contact_mail</dt>
    <dd>
        адрес электронной почты
    </dd>
    <hr />
    <dt>contact_url</dt>
    <dd>
        ссылка на WEB ресурс
    </dd>
    <hr />
    <dt>call_comment</dt>
    <dd>
        <ul>
            <li>комментарий к совершенному звонку</li>
            <li>используется только вместе с полем “call_date”</li>
        </ul>
    </dd>
    <hr />
    <dt>call_date</dt>
    <dd>
        дата комментария к звонку
    </dd>
    <hr />
    <dt>meeting_comment</dt>
    <dd>
        <ul>
            <li>комментарий к проведенной встрече</li>
            <li>используется только вместе с полем “meeting_date”</li>
        </ul>
    </dd>
    <hr />
    <dt>meeting_date</dt>
    <dd>
        дата проведенной встречи
    </dd>
    <hr />
</dl>
<p>
    Выбираем область для загружаемых организаций
</p>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00005.PNG">
<p class="text-danger">
    Для всех организаций в файле будет указана именно эта область, адрес редактируется позже в карточке организации.
</p>
<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00006.PNG">
<p class="text-danger">
    Сохраняем файл в формате csv или Книга excel 97-2003
</p>
<p class="text-danger">
    Перед загрузкой файл необходимо закрыть, иначе он останется заблокирован и не будет загружен
</p>
<p>
    Про дубликаты рассказно <a href="#org_dublicate">здесь</a>
</p>


<a class="block btn btn-primary" href="#start">наверх</a>