﻿@model WebGBFXT.Models.HelpAccess

<a class="block h2" name="h81">Статистика</a>

<img style="max-width: 100%" src="~/Shablons/Инструкция_файлы/img00069.PNG">
<p>
    Таблица с общей статистикой по пользователям.
</p>
<ul>
    <li>
        Количество организаций закрепленных за пользователем
    </li>
    <li>
        Количество организаций имеющих ИНН
    </li>
    <li>
        Количество организаций проверенных через ЕГРЮЛ
    </li>
</ul>

<a class="block btn btn-primary" href="#start">наверх</a>