﻿@using WebGBFXT.Models
@{
    ViewBag.Title = "Инструкция";
    Layout = "~/Views/Shared/_WithOutKendo.cshtml";

    var access = new HelpAccess(Html);
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Инструкция по использованию</h2>
        <a name="start"></a>
    </div>
    <div class="col-lg-2">
        <a name="1"></a>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight article">
@*
    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq1" class="faq-question">Как чтото сделать ?</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq1" class="panel-collapse collapse ">
                    <div class="faq-answer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    *@

@if (access.oper || access.cons)
{
    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq1" class="faq-question">Как назначить встречу?</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq1" class="panel-collapse collapse ">
                    <div class="faq-answer">
                        <ul>
                            <li>
                                Встречи назначаются из карточки организации - в блоке контакта - кнопка встречи
                            </li>
                            <li>
                                В открывшемся окне вам предлагаются варианты
                                <ul>
                                    <li>
                                        зерно/сахар/валюта - встреча упадет подразделению, которое ведет указанную деятельность в этой области
                                    </li>
                                    <li>
                                        командировка - встреча будет автоматически отдана тем консультантам, которые закреплены в этой командировке, в этом городе
                                    </li>
                                    <li>
                                        семинар - старая реализация для работы с семинарами, на текущий момент кнопку можно использовать только как информационную, встречи на семинар следует назначать через “Календари” - “Семинары”
                                    </li>
                                </ul>
                            </li>
                            <li>
                                На открывшемся календаре вы видите другие встречи и можете планировать время текущей встречи
                            </li>
                            <li>
                                Двойной клик ЛКМ (левой кнопки мыши) создает новую встречу.
                            </li>
                            <li class="text-danger">
                                На этом календаре вы можете редактировать только встречи текущей организации
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq2" class="faq-question">Как подтвердить/отменить встречу?</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq2" class="panel-collapse collapse ">
                    <div class="faq-answer">
                        <ul>
                            <li>
                                Встречи подтверждаются и отменяются в карточке организации
                            </li>
                            <li>
                                Справа в событии имеются 2 кнопки
                                <ul>
                                    <li>
                                        зеленая “палец вверх” - подтвердить
                                    </li>
                                    <li>
                                        красная “палец вниз” - отменить
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq3" class="faq-question"> Как закрыть встречу?</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq3" class="panel-collapse collapse ">
                    <div class="faq-answer">
                        <ul>
                            <li>
                                Встречи закрываются из “Персональное”-”План встреч”
                                <ul>
                                    <li>
                                        Если встреча подтверждена
                                    </li>
                                    <li>
                                        Если текущее время больше времени встречи
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Двойной клик ЛКМ (левая кнопка мыши) на встрече
                            </li>
                            <li>
                                При соблюдении условий появляется кнопка “результат встречи”
                            </li>
                            <li>
                                На открывшейся странице заполняете информацию и жмякаете “Закрыть встречу”
                            </li>
                            <li>
                                Важно! Бонус оператору вы указываете только 1 раз и больше изменить не можете
                            </li>
                            <li>
                                Организация переходит тому, кто встречу закрыл
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq4" class="faq-question"> Как работать с физическим адресом?</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq4" class="panel-collapse collapse ">
                    <div class="faq-answer">
                        <ul>
                            <li>
                                В карточке организации есть 3 поля адреса
                                <ul>
                                    <li>адрес (системный)</li>
                                    <li>физический адрес (для пользователя)</li>
                                    <li>юридический адрес (для пользователя)</li>
                                </ul>
                            </li>
                            <li>
                                в поля физического и юридического адреса заносите актуальную информацию
                            </li>
                            <li>
                                в поле системного адреса дублируете тот адрес, по которому работает ЦРМ (мы рассматриваем физический)
                            </li>
                            <li>
                                после изменения системного адреса он распознается на сервере (1-2 минуты макс) и поле обновляется на распознанный адрес.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
<div class="col-md-3">
    <div class="ibox">
        <div class="ibox-content">

            @if (access.oper || access.cons)
            {
                <a class="block h4" href="#h10">Карточка организации</a>
                <a class="block h5" href="#h1_1">Статус организации</a>
                <a class="block h5" href="#h1_2">Основная информация</a>
                <a class="block h5" href="#h1_3">Комментарий</a>
                <a class="block h5" href="#h1_4">Виды деятельности</a>
                <a class="block h5" href="#h1_5">Управление</a>
                <a class="block h5" href="#h1_6">Поиск в интернете</a>
                <a class="block h5" href="#h1_7">Система меток</a>
                <a class="block h5" href="#h1_8">Пересечения</a>
                <a class="block h5" href="#h1_9">Связи</a>
                <a class="block h5" href="#h1_10">Дополнительная информация</a>
                <a class="block h5" href="#h1_11">Контакты</a>
                <a class="block h5" href="#h1_12">События</a>
                <hr/>
                <a class="block h4" href="#h20">Персональное</a>
                <a class="block h5" href="#h21">План обзвона</a>
                if (access.oper)
                {
                    <a class="block h5" href="#h22">Результаты встреч</a>
                }
                if (access.cons)
                {
                    <a class="block h5" href="#h23">План встреч</a>
                }
                <a class="block h5" href="#h24">Мои метки</a>
                <hr/>
                if (access.cons_manager || access.oper_manager)
                {
                    <a class="block h4" href="#h30">Управление</a>
                    if (access.cons_manager)
                    {
                        <a class="block h5" href="#h31">Деятельность</a>
                        <a class="block h5" href="#h32">Подразделение</a>
                        <a class="block h5" href="#h33">Мероприятия</a>
                    }
                    <a class="block h5" href="#h34">Таблица встреч</a>
                    if (access.cons_manager)
                    {
                        <a class="block h5" href="#h35">Бонусы</a>
                    }
                    <hr/>
                }
                if (access.admin)
                {
                    <a class="block h4" href="#h40">Администрирование</a>
                    <a class="block h5" href="#h41">Пользователи</a>
                    <a class="block h5" href="#h42">Роли</a>
                    <a class="block h5" href="#h43">Отделы</a>
                    <a class="block h5" href="#h44">Направления</a>
                    <a class="block h5" href="#h45">Список валют</a>
                    <a class="block h5" href="#h46">Метки</a>
                    <hr/>
                }
                <a class="block h4" href="#h50">Календари</a>
                if (access.oper)
                {
                    <a class="block h5" href="#h51">Консультанты</a>
                }
                <a class="block h5" href="#h52">Мероприятия</a>
                <a class="block h5" href="#h53">Семинары</a>
                <hr/>
                <a class="block h4" href="#h60">Организации</a>
                <a class="block h5" href="#h61">В обработке</a>
                <a class="block h5" href="#h62">Пересечения</a>
                <hr/>
                <a class="block h4" href="#h70">Импорт</a>
                <a class="block h5" href="#h71">Добавить</a>
                <a class="block h5" href="#h72">Загрузка Excel</a>
                if (access.oper_manager)
                {
                    <hr/>
                    <a class="block h4" href="#h80">Отчеты</a>
                    <a class="block h5" href="#h81">Статистика</a>
                }
            }
            @if (access.controller)
            {
                <hr/>
                <a class="block h4" href="#h100">Депозитарий</a>
                <a class="block h5" href="#h101">Организация</a>
                <a class="block h5" href="#h102">Пользователи</a>
                <a class="block h5" href="#h103">Загрузка ЦИК</a>
                <a class="block h5" href="#h104">История ЦИК</a>
            }
            <hr/>
        </div>
    </div>
</div>
<div class="col-md-9">
    <div class="ibox">
        <div class="ibox-content">

            @if (access.oper || access.cons || access.admin)
            {
                <!-------------------------------------------------------------------------->

                <a class="block h1" name="h10">Карточка организации</a>
                Html.RenderPartial("h10", access);
                Html.RenderPartial("h1_1", access);
                Html.RenderPartial("h1_2", access);
                Html.RenderPartial("h1_3", access);
                Html.RenderPartial("h1_4", access);
                Html.RenderPartial("h1_5", access);
                Html.RenderPartial("h1_6", access);
                Html.RenderPartial("h1_7", access);
                Html.RenderPartial("h1_8", access);
                Html.RenderPartial("h1_9", access);
                Html.RenderPartial("h1_10", access);
                Html.RenderPartial("h1_11", access);
                Html.RenderPartial("h1_12", access);

                <!-------------------------------------------------------------------------->

                <a class="block h1" name="h20">Персональное</a>
                // план обзвона
                Html.RenderPartial("h21", access);
                if (access.oper)
                {
                    // результаты встреч
                    Html.RenderPartial("h22", access);
                }
                if (access.cons)
                {
                    // план встреч
                    Html.RenderPartial("h23", access);
                }
                // мои метки
                Html.RenderPartial("h24", access);


                <!-------------------------------------------------------------------------->

                if (access.cons_manager || access.oper_manager)
                {
                    <a class="block h1" name="h30">Управление</a>
                    if (access.cons_manager)
                    {
                        //Деятельность
                        Html.RenderPartial("h31", access);
                        //Подразделение
                        Html.RenderPartial("h32", access);
                        //Мероприятия
                        Html.RenderPartial("h33", access);
                    }
                    //Таблица встреч
                    Html.RenderPartial("h34", access);
                    if (access.cons_manager)
                    {
                        //Бонусы
                        Html.RenderPartial("h35", access);
                    }
                }

                <!-------------------------------------------------------------------------->

                if (access.admin)
                {
                    <a class="block h1" name="h40">Администрирование</a>
                    // пользователи
                    Html.RenderPartial("h41", access);
                    // роли
                    Html.RenderPartial("h42", access);
                    // отделы
                    Html.RenderPartial("h43", access);
                    // направления
                    Html.RenderPartial("h44", access);
                    // список валют
                    Html.RenderPartial("h45", access);
                    // метки
                    Html.RenderPartial("h46", access);
                }

                <!-------------------------------------------------------------------------->

                <a class="block h1" name="h50">Календари</a>
                if (access.oper)
                {
                    //консультанты
                    Html.RenderPartial("h51", access);
                }
                //мероприятия
                Html.RenderPartial("h52", access);
                //семинары
                Html.RenderPartial("h53", access);

                <!-------------------------------------------------------------------------->

                <a class="block h1" name="h60">Организации</a>
                // в обработке
                Html.RenderPartial("h61", access);
                // пересечения
                Html.RenderPartial("h62", access);

                <!-------------------------------------------------------------------------->

                <a class="block h1" name="h70">Импорт</a>
                // добавить
                Html.RenderPartial("h71", access);
                // excel
                Html.RenderPartial("h72", access);


                <!-------------------------------------------------------------------------->

                if (access.oper_manager)
                {
                    <a class="block h1" name="h80">Отчеты</a>
                    Html.RenderPartial("h81", access);
                }
            }
            @if (access.admin || access.controller)
            {
                <!-------------------------------------------------------------------------->

                <a class="block h1" name="h100">Контролеры</a>
                Html.RenderPartial("h100", access);
                Html.RenderPartial("h101", access);
                Html.RenderPartial("h102", access);
                Html.RenderPartial("h103", access);
                Html.RenderPartial("h104", access);
            }


            <!-------------------------------------------------------------------------->
        </div>
    </div>
</div>
</div>


</div>