﻿@using BaseDBFX.Base
@using Finflaex.Support.Reflection
@model dynamic

@{
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="wrapper wrapper-content">
<div class="row animated fadeInRight">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="text-center float-e-margins p-md">
    <div class="alert alert-danger">

        <h1 class="h1">Внимание</h1>

        <p>
            Для того чтобы <strong>ВСЕ</strong> пользователи были в курсе обновлений и могли
            в любой момент посмотреть какие изменения были внесены - на этой странице будут выводиться новости.
            Перейти на эту страницу можно кликнув логотип компании.
            Будьте внимательны, сайт может обновиться в любой момент, обновление занимает от 2 до 10 минут.
        </p>
        <p style="color: #444; font-weight: bold">
            Все замечания и предложения отправляйте 
            @if (Html.Author().Verificate(dbroles.@operator))
            {
                if (Html.Author().Verificate(dbroles.consultant))
                {
                    <text>Кропанцеву</text>
                }
                else
                {
                    <text>Рогозиной</text>
                }
            }
            (желательно меня в копию perevalov@grottbjorn.com) , <br>
            на основании этих сообщений будет формироваться техзадание в redmine.
            <br>
            Ошибки лучше сразу писать в redmine на моё имя (Programmers - Перевалов).
        </p>
    </div>
</div>
<div class="ibox-content" id="ibox-content">
<div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
    
    @*@if (Html.Author().Verificate(dbroles.consultant))
    {
        <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon blue-bg">
                <i class="fa fa-file-text"></i>
            </div>

            <div class="vertical-timeline-content">
                <h2>Таблица встреч</h2>
                <p>
                    <strong>"Управление - Таблица встреч"</strong> Все встречи подразделения в одной таблице с возможностью фильтрации и сортировки.
                </p>
                <span class="vertical-date">
                    <small>25 июля 2017</small>
                </span>
            </div>
        </div>

        <div class="vertical-timeline-block">
            <div class="vertical-timeline-icon blue-bg">
                <i class="fa fa-file-text"></i>
            </div>

            <div class="vertical-timeline-content">
                <h2>Результаты встречи</h2>
                <p>
                    Форма для заполнения результатов встречи снова работает.
                    Вы можете редактировать раннее введенные результаты, за исключением вознаграждения оператору,
                    так как эта информация попадает в отчет, на основании которого операторы еженедельно получают премию.
                </p>
                <span class="vertical-date">
                    <small>21 июля 2017</small>
                </span>
            </div>
        </div>
    }*@

</div>
</div>
</div>
</div>
</div>
</div>