﻿@using BaseDBFX.Base
@using Finflaex.Support.MVC
@using Finflaex.Support.Reflection
@model dynamic

@{
    Layout = null;

    var reg = Context.GetFinflaexAuth<fxaAuth>().Registered;
    var admin = Html.Author().Verificate(dbroles.admin);
    var oper = Html.Author().Verificate(dbroles.@operator) && !Html.Author().Verificate(dbroles.consultant) || Html.Author().Verificate(dbroles.admin);
    var cons = Html.Author().Verificate(dbroles.consultant) || Html.Author().Verificate(dbroles.admin);
    var cik = Html.Author().Verificate(dbroles.cik);

    var oper_manager = Html.Author().Verificate(dbroles.@operator) && !Html.Author().Verificate(dbroles.consultant) && Html.Author().Verificate(dbroles.manager) || Html.Author().Verificate(dbroles.admin);
    var cons_manager = Html.Author().Verificate(dbroles.consultant) && Html.Author().Verificate(dbroles.manager) || Html.Author().Verificate(dbroles.admin);

    var manager = Html.Author().Verificate(dbroles.manager) || Html.Author().Verificate(dbroles.admin);
}

<nav class="navbar-default navbar-static-side" role="navigation">
<div class="sidebar-collapse">
<ul class="nav metismenu" id="side-menu" style="display: block;">
<li class="nav-header">
    <div class="dropdown profile-element">
        <a href="/">
            <img alt="image" class="img-thumbnail" src="~/Content/logo.png">
        </a>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">
                        @(Html.Author().retIfNull(new fxaAuth {Caption = "Пользователь"}).Caption)
                    </strong>
                </span> <span class="text-muted text-xs block">
                    @if (admin)
                    {
                        @Html.Raw("администратор")
                    }
                    else if (reg)
                    {
                        @Html.Raw("пользователь")
                    }
                    else
                    {
                        @Html.Raw("гость")
                    }
                    <b class="caret"></b>
                </span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
        </ul>
    </div>
    <div class="logo-element">
        GB
    </div>
</li>
@if (reg && oper || cons)
{
    <li>
        <a href="#">
            <i class="fa fa-users"></i> <span class="nav-label">Персональное</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            @*<li>
                        <a href="@Url.Action("Index", "Message", new {area = "Personal"})">Сообщения</a>
                    </li>*@
            @if (oper || cons)
            {
                <li class="">
                    <a href="@Url.Action("Index", "Plan", new {area = "Operator"})">План обзвона</a>
                </li>
            }
            @if (oper)
            {
                        @*<li>
                            <a href="@Url.Action("Index", "Rate", new {area = "Operator"})">Контроль качества</a>
                        </li>*@
                <li>
                    <a href="@Url.Action("Index", "Operator", new {area = "Reports"})">Результаты встреч</a>
                </li>
            }
            @if (cons)
            {
                <li class="">
                    <a href="@Url.Action("Index", "Plan", new {area = "Consultant"})">План встреч</a>
                </li>
            }
            <li>
                <a href="@Url.Action("Index", "Labels", new {area = "Personal"})">Мои метки</a>
            </li>
        </ul>

    </li>
}
@if (manager && oper || cons)
{
    <li>
        <a href="#">
            <i class="fa fa-user"></i> <span class="nav-label">Управление</span> <span class="fa arrow"></span>
        </a>
        @if (cons_manager)
        {
            <ul class="nav nav-second-level collapse">
                <li>
                    <a href="@Url.Action("Index", "Activity", new {area = "Administration"})">Деятельность</a>
                </li>
            </ul>
            <ul class="nav nav-second-level collapse">
                <li>
                    <a href="@Url.Action("Index", "ManagerPlan", new {area = "Consultant"})">Подразделение</a>
                </li>
            </ul>
            <ul class="nav nav-second-level collapse">
                <li>
                    <a href="@Url.Action("Index", "Manager", new {area = "GlobalEvents"})">Мероприятия</a>
                </li>
            </ul>
        }
        @if (cons_manager || oper_manager)
        {
            <ul class="nav nav-second-level collapse">
                <li>
                    <a href="@Url.Action("Index", "TableEvent", new {area = "Organization"})">Таблица встреч</a>
                </li>
            </ul>
        }
        @if (oper_manager)
        {
            <ul class="nav nav-second-level collapse">
                @*<li>
                        <a href="@Url.Action("Index", "ManagerOperator", new {area = "Reports"})">Подразделение</a>
                    </li>*@
                <li>
                    <a href="@Url.Action("Index", "OperatorBonus", new {area = "Reports"})">Бонусы</a>
                </li>
            </ul>
        }
    </li>
}
@if (admin)
{
    <li>
        <a href="#">
            <i class="fa fa-user"></i> <span class="nav-label">Администрирование</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li>
                <a href="@Url.Action("Index", "Users", new {area = "Administration"})">Пользователи</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Roles", new {area = "Administration"})">Роли</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Departament", new {area = "Administration"})">Отделы</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "OrgDirection", new {area = "Administration"})">Направления</a>
            </li>
            @*<li>
                        <a href="@Url.Action("Index", "OrgStatus", new {area = "Administration"})">Статусы</a>
                    </li>*@
            @*<li>
                        <a href="@Url.Action("Index", "MeetingPrice", new {area = "Administration"})">Оценка встреч</a>
                    </li>*@
            <li>
                <a href="@Url.Action("Index", "Currency", new {area = "Administration"})">Список валют</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Labels", new {area = "Administration"})">Метки</a>
            </li>
            @*<li>
                        <a href="@Url.Action("Index", "SNG", new {area = "Administration"})">Страны</a>
                    </li>*@
            @*<li>
                        <a href="@Url.Action("Index", "Test", new {area = "Forms"})">TEST</a>
                    </li>*@
        </ul>
    </li>
}
@if (oper || cons)
{
    <li>
        <a>
            <i class="fa fa-calendar"></i> <span class="nav-label">Календари</span> <span class="fa arrow"></span>
            @*<span class="label label-danger pull-right">NEW</span>*@
        </a>
        <ul class="nav nav-second-level collapse">
            @if (oper)
            {
                <li>
                    <a href="@Url.Action("Index", "ConsultantScheduller", new {area = "Operator"})">Консультанты</a>
                </li>
            }
            <li>
                <a href="@Url.Action("Index", "Plan", new {area = "GlobalEvents"})">Мероприятия</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "List", new {area = "Seminar"})">
                    Семинары
                    @*<span class="label label-danger pull-right">NEW</span>*@
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a>
            <i class="fa fa-institution"></i> <span class="nav-label">Организации</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li class="">
                <a href="@Url.Action("Index", "Progress", new {area = "Operator"})">В обработке</a>
            </li>
            <li class="">
                <a href="@Url.Action("Index", "Filter", new {area = "Organization"})">Пересечения</a>
            </li>
        </ul>
    </li>
    <li>
        <a>
            <i class="fa fa-upload"></i> <span class="nav-label">Импорт</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li>
                <a href="@Url.Action("Index", "Card", new {area = "Organization"})">Добавить</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "FileBase", new {area = "Organization"})">Загрузка excel</a>
            </li>
        </ul>
    </li>
    if (oper_manager)
    {
        <li>
            <a>
                <i class="fa fa-file-text-o"></i> <span class="nav-label">Отчеты</span> <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse">
                <li>
                    <a href="@Url.Action("Index", "ManagerOperatorStatistics", new {area = "Reports"})">Статистика</a>
                </li>
            </ul>
        </li>
    }
}
@if (cik)
{
    <li>
        <a href="#">
            <i class="fa fa-user-secret"></i> <span class="nav-label">Депозитарий</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level collapse">
            <li>
                <a href="@Url.Action("Index", "SdlOrgInfo", new {area = "Sdl"})">Организация</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "UserSdl", new {area = "Sdl"})">Пользователи</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "CikUpload", new {area = "Sdl"})">Загрузка ЦИК</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "CikHistory", new {area = "Sdl"})">История ЦИК</a>
            </li>
        </ul>
    </li>
}
    
@if (reg)
{
    <li>
        <a href="@Url.Action("Help", "Home", new {area = null as string})" target="_blank">
            <i class="fa fa-info"></i>
            <span class="nav-label">Инструкция</span>
        </a>
    </li>
}
</ul>
</div>
</nav>