﻿@model WebGBFXT.Models.LoginModel

@{
    ViewBag.Title = "login";
    ViewBag.BodyClass = "gray-bg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">GB</h1>
        </div>
        <h3>Добро пожаловать в GROTTBJORN</h3>
        <p>
            Для продолжения необходимо ввести Ваш логин и пароль.
        </p>
        <form class="m-t" role="form" action="Login" method="post">
            <input
                type="hidden"
                name="path"
                value="@Model.path"/>
            <div class="form-group">
                <input
                    name="login"
                    type="text"
                    class="form-control"
                    placeholder="Логин"
                    required="">
            </div>
            <div class="form-group">
                <input
                    name="password"
                    type="password"
                    class="form-control"
                    placeholder="Пароль"
                    required="">
            </div>
            <button
                type="submit"
                class="btn btn-primary block full-width m-b">
                Войти
            </button>

            @*<a href="#"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>*@
        </form>
        <p class="m-t">
            <small>Copyright &copy; @DateTime.Now.Year</small>
        </p>
    </div>
</div>