﻿@using BaseDBFX.Base
@using BaseDBFX.Models
@using BaseDBFX.Table
@using Finflaex.Support.MVC.Models
@using Finflaex.Support.Reflection
@using Finflaex.Support.Telerik
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Operator.Models
@model BaseDBFX.Base.ActionData

@{
    ViewBag.Title = "В обработке";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
    var gb = Model;

    var lock_delete = !Html.Author().Verificate(dbroles.lock_org_delete) || Html.Author().Verificate(dbroles.admin);
}

@section head
{
    <script src="~/Scripts/kendo/2017.2.504/jszip.min.js"></script>
}

@*<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>@ViewBag.Title</h2>
            <a href="@Url.Action("DestroyAll","Progress",new
                     {
                         area = "Operator",
                         id = Html.Author().Author
                     })" class="text-danger">Удалить все (прежде чем тыкать надо думать, удаляется долго и абсолютно все !!!!)</a>
        </div>
    </div>*@

@{
    OperatorProgressConfig filter = null;

    try
    {
        filter = (
            from user in gb.db.Logins
            where user.ID == gb.AuthorGuid
            from file in user.Files
            where file.Type == TypeFile.Config
            where file.Name == Login.Configs.OperatorProgressFilter
            select file)
            .FirstOrDefault()
            .retIfNull(new RawFile {Raw = new byte[0]})
            .FuncSelect(raw => raw.Raw.AsObject<OperatorProgressConfig>())
            .retIfNull(new OperatorProgressConfig());
    }
    catch
    {
        filter = new OperatorProgressConfig();
    }

    var adr_list = (
        from adr in gb.db.Addresses
        where adr.Type == AddressType.region
        select new GuidValue
        {
            Guid = adr.ID,
            Value = adr.Name + " " + adr.Suffix
        })
        .OrderBy(v => v.Value)
        .AsEnumerable();

    var usr_list = (
        //from auth in gb.db.Logins
        //where auth.ID == gb.AuthorGuid
        from dep in gb.db.Departaments
        where dep.Parent.Key == Departament.ConsultantDepartament
              || dep.Key == Departament.OperatorDepartament
        from user in dep.Users
        orderby user.Caption
        select new GuidValue
        {
            Guid = user.ID,
            Value = user.Caption
        })
        .Distinct()
        .OrderBy(v => v.Value)
        .AsEnumerable();

    var lbl_list = (
        from label in gb.db.Labels
        where label.Type != TypeLabel.user || label.UserID == gb.AuthorGuid
        orderby label.Caption
        select new GuidValue
        {
            Guid = label.ID,
            Value = label.Caption
        })
        .AsEnumerable();
}

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">

        <div class="ibox float-e-margins">
            @{
                var open_filters = (
                    from user in gb.db.Logins
                    where user.ID == gb.AuthorGuid
                    from file in user.Files
                    where file.Type == TypeFile.Config
                    where file.Name == Login.Configs.OperatorProgressOpenFilter
                    select file
                    )
                    .FirstOrDefault()
                    .retIfNull(new RawFile { Raw = new byte[0] })
                    .FuncSelect(raw => raw.Raw.AsObject<OperatorProgressOpenConfig>())
                    .retIfNull(new OperatorProgressOpenConfig());
            }
            <div class="ibox-title collapse-link" style="cursor: pointer" id="filter_opener">
                <h5>Фильтры (теперь сворачивается)</h5>
            </div>
            <script>
                $('#filter_opener').click(function () {
                    const data = {
                        flag: $('#filter_content').is(':visible')
                    };

                    $.post('@Url.Action("SaveOpenConfig")', data);
                });
            </script>
            <div class="ibox-content" @(open_filters.Open ? "" : "style=display:none;") id="filter_content">
                <form class="row" id="form_filter">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Содержит в наименовании или ИНН:</label>
                            @(Html.Kendo().TextBox().Name("Name").Value(filter.Name).HtmlAttributes(new
        {
            style = "width:100%;"
        }))
                        </div>
                        <div class="form-group">
                            <label class="control-label">Содержит в комментарии:</label>
                            @(Html.Kendo().TextBox().Name("Comment").Value(filter.Comment).HtmlAttributes(new
        {
            style = "width:100%;"
        }))
                        </div>
                        <div class="form-group">
                            <label class="control-label">Содержит в коде клиента:</label>
                            @(Html.Kendo().TextBox().Name("Client").Value(filter.Client).HtmlAttributes(new
        {
            style = "width:100%;"
        }))
                        </div>
                        <div class="form-group">
                            <label class="control-label">Содержит в контакте:</label>
                            @(Html.Kendo().TextBox().Name("Contact").Value(filter.Contact).HtmlAttributes(new
        {
            style = "width:100%;"
        }))
                        </div>
                        <div class="form-group">
                            <label class="control-label">Содержит в виде деятельности:</label>
                            @(Html.Kendo().TextBox().Name("OKVED2").Value(filter.Okved).HtmlAttributes(new
        {
            style = "width:100%;"
        }))
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Регион России:</label>
                            @(Html.Kendo().MultiSelect().Value(filter.Region).Name("Region")
                  .BindTo(adr_list)
                  .DataValueField("Guid")
                  .DataTextField("Value")
                  .AutoClose(false)
                  .HtmlAttributes(new
                  {
                      style = "width:100%;"
                  }))
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ответственные:</label>
                            @(Html.Kendo().MultiSelect().Value(filter.Users).Name("Users")
                  .BindTo(usr_list)
                  .DataValueField("Guid")
                  .DataTextField("Value")
                  .AutoClose(false)
                  .HtmlAttributes(new
                  {
                      style = "width:100%;"
                  }))
                        </div>
                        <div class="form-group">
                            <label class="control-label">Имеют метки:</label>
                            @(Html.Kendo().MultiSelect().Value(filter.Labels).Name("Labels")
                  .BindTo(lbl_list)
                  .DataValueField("Guid")
                  .DataTextField("Value")
                  .AutoClose(false)
                  .HtmlAttributes(new
                  {
                      style = "width:100%;"
                  }))
                        </div>
                        <div class="form-group">
                            <label class="control-label">Не имеют метки:</label>
                            @(Html.Kendo().MultiSelect().Value(filter.NotLabels).Name("NotLabels")
                  .BindTo(lbl_list)
                  .DataValueField("Guid")
                  .DataTextField("Value")
                  .AutoClose(false)
                  .HtmlAttributes(new
                  {
                      style = "width:100%;"
                  }))
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label block">
                                @(Html.CheckBox("autosave", filter.AutoSave))
                                - Автоматически сохранять настройки сортировки, номер страницы, количество отображаемых элементов на странице,
                                <strong>фильтрация сохраняется всегда</strong>.
                            </label>
                            @if (
Html.Author().Verificate(dbroles.manager)
&&
!Html.Author().Verificate(dbroles.consultant)
|| Html.Author().Verificate(dbroles.expanded)
|| Html.Author().Verificate(dbroles.admin)
)
                            {
                                <label class="control-label block">@(Html.CheckBox("NotAcc", filter.NotAcc)) - Только безпризорники</label>
                            }
                            <label class="control-label block">@(Html.CheckBox("ShowLikvidation", filter.ShowLikvidation)) - Только ликвидированные</label>
                            @if (Html.Author().Verificate(dbroles.consultant))
            {
                                <label class="control-label block">@(Html.CheckBox("Forgotten", filter.Forgotten)) - Забытые</label>
                            }
                        </div>
                        <fieldset class="form-group">
                            <legend>Наличие в плане</legend>
                            <label class="control-label ">@(Html.RadioButton("NotPlan", 0, filter.NotPlan == 0)) - не важно</label>
                            <label class="control-label ">@(Html.RadioButton("NotPlan", 1, filter.NotPlan == 1)) - нет</label>
                            <label class="control-label ">@(Html.RadioButton("NotPlan", 2, filter.NotPlan == 2)) - есть</label>
                        </fieldset>
                        <fieldset class="form-group">
                            <legend>Проверено в ЕГРЮЛ</legend>
                            <label class="control-label ">@(Html.RadioButton("Verify", 0, filter.Verify == 0)) - не важно</label>
                            <label class="control-label ">@(Html.RadioButton("Verify", 1, filter.Verify == 1)) - нет</label>
                            <label class="control-label ">@(Html.RadioButton("Verify", 2, filter.Verify == 2)) - да</label>
                        </fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success form-control">Сохранить и фильтровать</button>
                        </div>
                        @if (lock_delete)
                        {
                            <div class="form-group">
                                <button id="delete" class="btn btn-danger form-control">Удалить отфильтрованное</button>
                            </div>
                        }
                        @if (Html.Author().Verificate(dbroles.manager))
                        {
                            <div class="form-group">
                                <button id="transfer" class="btn btn-primary form-control">Передать</button>
                            </div>
                        }
                    </div>
                </form>

                <script>
                    $("#form_filter").submit(function (e) {
                        e.preventDefault();
                        save_filter();
                        return false;
                    });

                    function save_filter() {
                        const data = {
                            model: JSON.stringify({
                                Name: $('#Name').val(),
                                Comment: $('#Comment').val(),
                                Client: $('#Client').val(),
                                Region: $('#Region').val(),
                                Users: $('#Users').val(),
                                NotPlan: $('#NotPlan:checked').val(),
                                NotAcc: $('#NotAcc').is(":checked"),
                                Contact: $('#Contact').val(),
                                Labels: $('#Labels').val(),
                                NotLabels: $('#NotLabels').val(),
                                Okved: $('#OKVED2').val(),
                                ShowLikvidation: $("#ShowLikvidation").is(":checked"),
                                Forgotten: $("#Forgotten").is(":checked"),

                                Page: $("#PlanOrgTable").data("kendoGrid").dataSource.page(),
                                PageSize: $("#PlanOrgTable").data("kendoGrid").dataSource.pageSize(),
                                PersistState: kendo.stringify($("#PlanOrgTable").data("kendoGrid").getOptions()),
                                AutoSave: $("#autosave").is(":checked"),
                                Verify: $('#Verify:checked').val(),
                            })
                        };

                        $.post('@Url.Action("SaveConfig")', data).success(function () {
                            $("#PlanOrgTable").data("kendoGrid").dataSource.read();
                        });
                    }

                    @if (lock_delete)
                    {
                        <text>
                    $('#delete').click(function (e) {
                        var flag =
                            confirm("Вы действительно хотите удалить все организации которые соотвествуют вашему фильтру?");
                        if (!flag) return;
                        flag = confirm("Будут удалены только Ваши организации, отменить удаление?");
                        if (flag) return;
                        flag = confirm("Последний шанс. Одумайтесь, восстановление невозможно..., продолжить удаление?");
                        if (flag) {
                            $.post('@Url.Action("DestroyAll", "Progress", new
                            {
                                area = "Operator",
                                id = Html.Author().Author
                                })',
                                data).success(function () {
                                    alert("запущено полное удаление выбранных организаций, может потребоваться время.");
                                    $("#PlanOrgTable").data("kendoGrid").dataSource.read();
                            });
                        }
                        e.preventDefault();
                    return false;
                    });
                        </text>
                    }

                    $('#transfer').click(function (e) {
                        var grid = $('#PlanOrgTable').data('kendoGrid');

                        const selected = $.map(grid.select(),
                            function (item) {
                                return grid.dataItem($(item)).ID;
                            });

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("TransferForm")',
                            data: JSON.stringify({
                                guids: selected
                            }),
                            success: function (data) {
                                msg.restore().setOptions({
                                    modal: true,
                                });
                                msg.content(data).open().center();
                            },
                            contentType: "application/json",
                            dataType: 'html'
                        });

                        e.preventDefault();
                        return false;
                    });

                    $(document).on('click',
                        '#submit_accaunted',
                        function () {
                            const data = {
                                orgs: eval($('#SelectOrgs').val()),
                                acc: $('#Accaunted').val(),
                                call: $('#TransferCall').is(':checked'),
                                date: $('#TransferDate').val(),
                                comment: $('#TransferComment').val()
                            };

                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("TransferAction")',
                                data: JSON.stringify(data),
                                success: function (data) {
                                    msg.close();
                                    $('#PlanOrgTable').data('kendoGrid').dataSource.read();
                                },
                                contentType: "application/json"
                            });
                        });
                </script>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-content">

                <script id="templateButtonShow" type="text/x-kendo-template">
                    <a class='btn btn-sm btn-primary fa fa-cogs' href="@Url.Action("Index", "Card", new {area = "Organization"})?id=#:ID#"></a>
                </script>

                <script id="templateButtonAct" type="text/x-kendo-template">
                    <a class='btn btn-sm btn-danger k-grid-delete fa fa-trash'></a>
                </script>

                <script>
                    window.onbeforeunload = function (e) {
                        e.preventDefault();
                        save_filter();
                    };
                    $(function () {
                        $.ajax({
                            type: 'post',
                            url: '@Url.Action("LoadTableConfig")',
                            success: function (state) {
                                if (state) {
                                    if (state.AutoSave) {
                                        const grid = $("#PlanOrgTable").data("kendoGrid");
                                        grid.setOptions(state);
                                    }
                                }
                            }
                        });
                    });

                </script>

                <div>
                    <button class="btn btn-link" onclick="$('#PlanOrgTable').data('kendoGrid').dataSource.sort({})">сбросить сортировку</button>
                    <button class="btn btn-link pull-right" onclick="$('.k-i-collapse').click()">свернуть все</button>
                    <button class="btn btn-link pull-right" onclick="$('.k-i-expand').click()">развернуть все</button>
                </div>

                <script id="templateRowDetail" type="text/kendo-tmpl">
                    @(Html.Kendo().TabStrip()
                          .Name("tabStrip_#=ID#")
                          .SelectedIndex(0)
                          .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
                          .Items(items =>
                          {
                              items.Add().Text("Контакты").LoadContentFrom(Url.Action("PartialContacts", "Progress", new
                              {
                                  area = "Operator",
                                  id = "#=ID#"
                              }));
                              items.Add().Text("Ссылки").LoadContentFrom(Url.Action("PartialLinks", "Progress", new
                              {
                                  area = "Operator",
                                  id = "#=ID#"
                              }));
                              items.Add().Text("События").LoadContentFrom(Url.Action("PartialLastEvents", "Progress", new
                              {
                                  area = "Operator",
                                  id = "#=ID#"
                              }));
                              items.Add().Text("Поиск контактов").LoadContentFrom(Url.Action("PartialSearchPhones", "Progress", new
                              {
                                  area = "Operator",
                                  id = "#=ID#"
                              }));
                          })
                          .ToClientTemplate())




                </script>

                @(Html
              .Kendo()
              .Grid<PlanOrgTableItem>()
              .Name("PlanOrgTable")
              .ClientDetailTemplateId("templateRowDetail")
              .Columns(columns =>
              {
                @*columns.Template(@<text></text>).ClientTemplate("#=" + "templateButtonShow".jsKendoTemplate() + "#").Width(36);*@
                    columns.Bound(v => v.Inn).Title("ИНН").Width(40);

                    columns.Bound(v => v.Name)
                        .Title("Наименование")
                        .Template(@<text></text>)
                    .ClientTemplate("<a class='btn btn-link' target='_blank' href='"
                                    + "/Organization/Card/Index/#=ID#"
                                    + "'>#=Name#</a>");
                    columns.Bound(v => v.Address).Title("Адрес");
                    columns.Bound(v => v.Description).Title("Комментарий").Encoded(false);
                    columns.Bound(v => v.Accaunt).Title("Ответственный");
                    columns.Bound(v => v.Status).Title("Статус").Hidden(!Html.Author().Verificate(dbroles.consultant));

                    Html.Author().Verificate(dbroles.consultant).IfTrue(() =>
                    {
                        columns.Bound(v => v.ClientCode).Title("Клиент").Format("").Width(60);
                    });

                    if (lock_delete)
                    {
                        (Html.Author().Verificate(dbroles.@operator) && Html.Author().Verificate(dbroles.manager) || Html.Author().Verificate(dbroles.admin))
                                    .IfTrue(() =>
                                    {
                                        columns.Command(command => command.Destroy().Text("Удалить")).Hidden(true);
                                        columns.Template(@<text></text>).ClientTemplate("#=" + "templateButtonAct".jsKendoTemplate() + "#")
                                                    .Width(32);
                                    });
                    }
              })
              .Resizable(v => v.Columns(true))
              .Selectable(v => { v.Enabled(true).Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Row); })
              .ToolBar(tools =>
              {
                  if (Html.Author().Verificate(dbroles.@operator)
                      && Html.Author().Verificate(dbroles.manager)
                      && !Html.Author().Verificate(dbroles.consultant)
                      || Html.Author().Verificate(dbroles.admin)
                      || Html.Author().IsGod)
                  {
                      tools.Excel();
                  }
              })
              .Sortable(v => v.SortMode(GridSortMode.MultipleColumn).AllowUnsort(true))
              .Pageable(pager => pager
                  .Input(true)
                  .Numeric(true)
                  .Info(true)
                  .PreviousNext(true)
                  .Refresh(true)
                  .PageSizes(new[] { 10, 20, 50, 100, 200 })
              )
              .ColumnMenu(v => { v.Filterable(false).Sortable(false); })
              .DataSource(source =>
              {
                  source
                      //.Server()
                      .Ajax()
                      //.ServerOperation(true)
                      .Model(model => { model.Id(v => v.ID); })
                      .Read(read => { read.Url(Url.Action("Read", "Progress", new { area = "Operator" })); })
                      .Destroy(act => { act.Url(Url.Action("Destroy")); });
              })
                )
            </div>
        </div>
    </div>
</div>

<script>
    function copyToClipboard(el) {

        const aux = document.createElement("input");
        const value = $(el).data('phone');
        aux.setAttribute("value", `98${value}`);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");

        document.body.removeChild(aux);
    }
</script>