﻿@using Finflaex.Support.ApiOnline.OrgInfo
@using Finflaex.Support.ApiOnline.OrgInfo.Models
@using Finflaex.Support.Reflection
@model BaseDBFX.Base.ActionData
@{
    var inn = Model.db.Organizations.Find(Model.GuidValue.id).Inn;

    var results = fxsOrgInfo.OrgContacts(inn);

    if (results == null)
    {
        results = new VedContactModel[0];
    }
}

@foreach (var contact in results)
{
    <dl style="margin-left: 20px;" class="border-bottom dl-horizontal">
        @if (contact.Post.NotNullOrWhiteSpace())
        {
            <dt>Должность</dt>
            <dd>@contact.Post</dd>
        }
        @if (contact.FIO.NotNullOrWhiteSpace())
        {
            <dt>ФИО</dt>
            <dd>@contact.FIO</dd>
        }
        @if (contact.Phone.NotNullOrWhiteSpace())
        {
            <dt>Телефон</dt>
            <dd>@contact.Phone</dd>
        }
        @if (contact.Mail.NotNullOrWhiteSpace())
        {
            <dt>Почта</dt>
            <dd>
                <a href="@Html.Raw(contact.Mail.Prepend("mailto:"))" target="_blank">@contact.Mail</a>
            </dd>
        }
        @if (contact.Fax.NotNullOrWhiteSpace())
        {
            <dt>Факс</dt>
            <dd>@contact.Fax</dd>
        }
        @if (contact.WWW.NotNullOrWhiteSpace())
        {
            <dt>Сайт</dt>
            <dd>
                <a href="@Html.Raw(contact.WWW.Prepend("http://"))" target="_blank">@contact.WWW</a>
            </dd>
        }
    </dl>
}