﻿@using Finflaex.Support.Reflection
@model BaseDBFX.Base.ActionData
@{
    var org = Model.db.Organizations.Find(Model.GuidValue.id);
    var has_ogrn = org.Ogrn.NotNullOrWhiteSpace();
    var has_inn = org.Inn.NotNullOrWhiteSpace();
    var name = org.ShortName ?? org.FullName;
    var has_name = name.NotNullOrWhiteSpace();
}

<a href="@Html.Raw("https://egrul.nalog.ru/")" target="_blank">Егрюл</a>
<br/>
@if (has_ogrn)
{
    <a href="@Html.Raw("https://reputation.ru/")@org.Ogrn" target="_blank">Репутация</a>
    <br/>
    <a href="@Html.Raw("http://www.legalentities.ru/")@org.Ogrn" target="_blank">legalentities</a>
    <br/>
}
@if (has_inn && has_ogrn)
{
    <a href="@Html.Raw("https://www.k-agent.ru/catalog/")@org.Inn-@org.Ogrn" target="_blank">Контрагент</a>
    <br/>
    <a href="@Html.Raw("http://www.legalentities.ru/")@org.Ogrn" target="_blank">legalentities</a>
    <br/>
}
@if (has_inn)
{
    <a href="@Html.Raw("http://www.list-org.com/search.php?type=inn&val=")@org.Inn" target="_blank">ListOrg</a>
    <br/>
    <a href="@Html.Raw("https://birank.com/ru-ru/deltasearch/?text=")@org.Inn" target="_blank">Birank</a>
    <br/>
    <a href="@Html.Raw("https://sbis.ru/contragents/")@org.Inn" target="_blank">Сбис</a>
    <br/>
    <a href="@Html.Raw("https://www.prima-inform.ru/cat/find?query=")@org.Inn&p=1&cid=&s=0" target="_blank">ПримаИнформ</a>
    <br/>
    <a href="@Html.Raw("http://www.rusprofile.ru/search?query=")@org.Inn&inactive=0" target="_blank">RusProfile</a>
    <br/>
    <a href="@Html.Raw("http://allinfo24.ru/search/inn?search=")@org.Inn" target="_blank">AllInfo</a>
    <br/>
    <a href="@Html.Raw("http://actez.ru/search/?query=")@org.Inn" target="_blank">Actez</a>
    <br/>
    <a href="@Html.Raw("http://querycom.ru/search/?channel=inn&query=")@org.Inn" target="_blank">КвериКом</a>
    <br/>
    <a href="@Html.Raw("http://yecom.ru/search/?query=")@org.Inn" target="_blank">ЭКОМ</a>
    <br/>
    <a href="@Html.Raw("https://znaytovar.ru/finance/firm")@(org.Inn).html" target="_blank">Бухгалтерский баланс</a>
    <br/>
    <a href="@Html.Raw("https://e-ecolog.ru/buh/")@org.Inn" target="_blank">Бухгалтерский баланс 2</a>
    <br/>
    <a href="@Html.Raw("https://service-online.su/catalog/katalog-firm.php?inn=")@org.Inn" target="_blank">Service-Online</a>
    <br/>
    <a href="@Html.Raw("https://yandex.ru/search/?text=")@org.Inn" target="_blank">Поиск в яндексе по ИНН</a>
    <br/>
}
@if (has_name)
{
    <a href="@Html.Raw("https://yandex.ru/search/?text=")@name" target="_blank">Поиск в яндексе по имени</a>
}