﻿@using BaseDBFX.Table
@using Finflaex.Support.Reflection
@model BaseDBFX.Base.ActionData
@{
    var query = (
        from org in Model.db.Organizations
        where org.ID == Model.GuidValue.id
        from record in org.Contacts
        let phones = (
            from phone in record.Contacts
            where phone.Type == ContactType.phone
            select phone.ParseValue)
        where phones.Any()
        select new
        {
            record.ID,
            Posts = record.Posts.Select(v => v.Caption),
            FIO = record.Persons.Select(v => v.FullName),
            Phones = phones
        })
        .ToArray();
}

@foreach (var rec in query)
{
    <dl style="margin-left: 20px;" id="@rec.ID">
        <dt>@rec.FIO.Join(", ")</dt>
        <dd>
            <div>@rec.Posts.Join(", ")</div>
            <div>
                @*<a class="btn btn-primary btn-xs willCome"
                   data-seminar="@Model.GuidValue.id"
                   data-org="@org.ID"
                   data-rec="@rec.ID"
                   data-flag="1">
                    придёт
                </a>
                <a class="btn btn-danger btn-xs notWillCome"
                   data-seminar="@Model.GuidValue.id"
                   data-org="@org.ID"
                   data-rec="@rec.ID"
                   data-flag="2">
                    не придёт
                </a>
                <a class="btn btn-success btn-xs inviteTask"
                   data-seminar="@Model.GuidValue.id"
                   data-org="@org.ID"
                   data-rec="@rec.ID"
                   data-flag="3">
                    напоминалка
                </a>*@
                @foreach (var phone in rec.Phones)
                {
                    <a class="btn btn-info btn-xs"
                       style="font-size: 1.1em;"
                       onclick="copyToClipboard(this)"
                       data-phone="@phone">
                        <strong>
                            @string.Format("{0:# (###) ###-##-##}", phone.Prepend("8").ToLong())
                        </strong>
                    </a>
                }
            </div>
        </dd>
    </dl>
}