﻿@using BaseDBFX.Table
@using Finflaex.Support.Attributes
@using Finflaex.Support.Reflection
@using TelephonDBFX.Base
@model BaseDBFX.Base.ActionData
@{
    var db = Model.db;
    var id = Model.GuidValue.id;

    var types_event = new[]
    {
        EventType.call,
        EventType.comment,
        EventType.meetingCancel,
        EventType.meetingClose,
        EventType.seminarCanceled,
        EventType.seminarSkiped,
        EventType.seminarVisited,
        EventType.sendMail
    };

    var types_task = new[]
    {
        EventType.unknown,
        EventType.callUp,
        EventType.callSeminar,
        EventType.callTransfer,
        EventType.meeting,
        EventType.meetingEvent,
        EventType.meetingConfirm,
        EventType.meetingRate,
        EventType.rateConsultant,
        EventType.seminarPromised,
        EventType.seminarCanceled
    };

    var query_event =
        from org in db.Organizations
        where org.ID == id
        from record in org.Contacts
        from task in record.Events
        where types_event.Contains(task.Type)
        select new
        {
            start = task.Start,
            notify = task.Notify ?? task.Start,
            type = task.Type,
            descr = task.Description
        };

    var query_task =
        from org in db.Organizations
        where org.ID == id
        from record in org.Contacts
        from task in record.Events
        where !task.Closed
        where types_task.Contains(task.Type)
        select new
        {
            start = task.Start,
            notify = task.Notify ?? task.Start,
            type = task.Type,
            descr = task.Description
        };

    var phone_list = (
        from org in db.Organizations
        where org.ID == id
        from record in org.Contacts
        from contact in record.Contacts
        where contact.Type == ContactType.phone
        select new
        {
            contact.ParseValue,
            record.ID
        }
        )
        .ToArray()
        .Select(v => new
        {
            ParseValue = "98" + v.ParseValue,
            v.ID
        });

    var phones = phone_list.Select(v => v.ParseValue).ToArray();

    var query_phone = new TDBFX()
        .FuncSelect(tdb => (
            from read in tdb.TELEFON
            where phones.Contains(read.dst)
            select read
            )
            .ToArray()
            .Select(read => new
            {
                start = (DateTimeOffset?) read.calldate.ToTZDateTimeOffset(5),
                notify = (DateTimeOffset?) DateTimeOffset.Now,
                type = EventType.call,
                descr = ""
            }));


    var list_last = query_event
        .ToArray()
        .Concat(query_phone)
        .OrderByDescending(v => v.start)
        .Take(5);

    var list_next = query_task
        .ToArray()
        .OrderBy(v => v.notify)
        .Take(5);
}

<div class="row">
    <div class="col-md-5">
        @foreach (var item in list_last)
        {
            <div class="border-bottom">
                <h3>@item.type.AtValue()</h3>
                <strong>@item.start.ToTZDateTime(Model.TimeZone)</strong>
                <p>@Html.Raw(item.descr.HtmlDecode().FromHtml().ToHtml())</p>
            </div>
        }
    </div>
    <div class="col-md-5">
        @foreach (var item in list_next)
        {
            <div class="border-bottom">
                <h3>@item.type.AtValue()</h3>
                <strong>@item.notify.ToTZDateTime(Model.TimeZone)</strong>
                <p>@Html.Raw(item.descr.HtmlDecode().FromHtml().ToHtml())</p>
            </div>
        }
    </div>
</div>