﻿@using Finflaex.Support.MVC.Models
@using Finflaex.Support.Reflection
@using Kendo.Mvc.UI
@model BaseDBFX.Base.ActionData
@{
    Layout = null;
    var users = (
        from login in Model.db.Logins
        select new GuidValue
        {
            Guid = login.ID,
            Value = login.Caption
        })
        .OrderBy(v => v.Value)
        .ToArray();
}

<div class="row" style="margin: 10px 25px 10px 0px;">
    <div class="col-lg-12">
        <h3 class="m-t-none m-b">Назначение нового ответственного</h3>
        <p>
            Выбрано: <strong>@(Model.GuidValue.guids.Count())</strong>
            <br/>
            Выбранным оргганизациям будет назначен новый ответственный.
        </p>
        <div class="form-group">
            <input type="hidden" id="SelectOrgs" value="@Model.GuidValue.guids.Select(v => v.ToString("N").Wrap("'")).Join(",").Prepend("[").Append("]")"/>
            @(Html.Kendo()
                  .DropDownList()
                  .Name("Accaunted")
                  .HtmlAttributes(new
                  {
                      style = "width: 300px;",
                      @class = "form-control"
                  })
                  .DataValueField("Guid")
                  .DataTextField("Value")
                  .BindTo(users)
                  .Filter("contains"))
        </div>
        <div class="form-group">
            <label class="control-label block">@(Html.CheckBox("TransferCall", false)) - Добавить в план обзвона</label>
        </div>
        <div class="form-group">
            @(Html.Kendo().DateTimePicker().Name("TransferDate"))
        </div>
        <div class="form-group">
            @(Html.Kendo().Editor().Name("TransferComment").Tools(t => { t.Clear().Bold().Italic().Underline().FontColor(); }).HtmlAttributes(
                  new
                  {
                      style = "width:100%;"
                  }))
        </div>
        <div>
            <button id="submit_accaunted" class="btn btn-sm btn-primary pull-right m-t-n-xs">
                <strong>Назначить</strong>
            </button>
        </div>
    </div>
</div>