﻿@model WebGBFXT.Areas.Operator.Models.Meeting_Event_Model
@using Finflaex.Support.Types
@using Kendo.Mvc.UI
@{
    Layout = null;
}
<div style="padding: 20px;">
    <div class="form-group">
        <label data-bind="text: OrgName"></label>
    </div>
    @*<div class="form-group">
            <label>Тип</label>
            @(Html.Kendo().DropDownListFor(v => v.TypeKey).DataValueField("Key").DataTextField("Value").SelectedIndex(0).DataSource(d =>
              {
                  d.Read(r => r.Type(HttpVerbs.Post).Action("EventTypeList", "OperatorScheduler", new
                  {
                      area = "Organization"
                  }));
              }).HtmlAttributes(new
              {
                  style = "width:100%"
              }))
        </div>*@
    @*<div class="form-group">
            <label>Ответственный</label>
            @(Html.Kendo().DropDownListFor(v => v.AccID).DataValueField("ID").DataTextField("Value")
                  .OptionLabel(new
                  {
                      ID = Guid.Empty.ToString("N"),
                      Value = "--- Я ---"
                  })
                  .DataSource(d =>
                  {
                      d.Read(r => r.Type(HttpVerbs.Post).Action("AccountableList", "OperatorScheduler", new
                      {
                          area = "Organization",
                          org = @Model.OrgID
                      }));
                  }).HtmlAttributes(
                      new fxcDictSO()
                          .Set("style", "width:100%")
                  ))
        </div>*@
    <div class="form-group">
        <label class="block">
            <input 
                   name ="Notify"
                data-val="true" 
                   type="radio" 
                   value=true
                   data-bind="checked:Notify">
            Подтвердить за 1 день
        </label>
        <label class="block">
            <input 
                   name ="Notify"
                type="radio" 
                   value=false
                   data-bind="checked:Notify">
            Подтвердить утром
        </label>
    </div>
    <div class="form-group">
        @(Html.Kendo()
              //.EditorFor(v => v.Description)
              .Editor().Name("description").Tools(t =>
              {
                  t.Clear().Bold().Italic().Underline().FontColor();
              }).HtmlAttributes(
                  new fxcDictSO()
                      .Set("style", "width:100%")
              ))
    </div>
</div>

@*<div id="acc_id" data-bind="text: AccID" style="display: none"></div>*@

<script>
        //$('input').iCheck({
        //    checkboxClass: 'icheckbox_flat-red',
        //    radioClass: 'icheckbox_flat-red',
        //    increaseArea: '-10%'
        //});
    </script>