﻿@using CoreDB.Base
@using CoreWeb2.Services
@model dynamic
@inject ServiceDB<DataDb> gb

@{
//var query =
//    from user in Model.Users
//    where user.ID == ViewContext.HttpContext.AuthRecord().Guid
//    select new
//    {
//        Login = user.Person.ShortName ?? user.Login,
//        roles = from link in user.RoleLinks
//            select link.Role.Description
//    };

//var read = await query.FirstOrDefaultAsync();
}

<!-- User menu -->
@*<div class="sidebar-user">
    <div class="category-content">
        <div class="media">
            <div class="media-left">
                <i class="icon-user" style="font-size: 40px;"></i>
            </div>
            <div class="media-body">
                <span class="media-heading text-semibold">
                    @read.Login
                </span>
                <div class="text-size-mini text-muted">
                    @read.roles.Join(", ")
                </div>
            </div>

            <div class="media-right media-middle">
                <ul class="icons-list">
                    <li style="width: 20px;">
                        <a href="@Url.Action("Config", "Account")">
                            <i class="icon-cog3"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>*@
<!-- /user menu -->