﻿@using BaseDBFX.Base
@using BaseDBFX.Models
@using BaseDBFX.Table
@using Finflaex.Support.Attributes
@using Finflaex.Support.MVC.Models
@using Finflaex.Support.Reflection
@using Finflaex.Support.Telerik
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Operator.Models
@using WebGBFXT.Areas.Organization.Controllers
@model BaseDBFX.Base.ActionData

@{
    ViewBag.Title = "Таблица встреч";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
    var gb = Model;
}
@section head
{
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet"/>
}
@section script
{
    <script src="~/Scripts/bootstrap-select.min.js"></script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

@{
    var filter = (
        from user in gb.db.Logins
        where user.ID == gb.AuthorGuid
        from file in user.Files
        where file.Type == TypeFile.Config
        where file.Name == Login.Configs.ConsultantMeetingConfig
        select file)
        .FirstOrDefault()
        .retIfNull(new RawFile {Raw = new byte[0]})
        .FuncSelect(raw => raw.Raw.AsObject<ConsultantMeetingConfig>())
        .retIfNull(new ConsultantMeetingConfig());
}

<div class="row wrapper wrapper-content  animated fadeIn">
<div class="col-lg-12">

<div class="ibox float-e-margins">
@{
    var open_filters = (
        from user in gb.db.Logins
        where user.ID == gb.AuthorGuid
        from file in user.Files
        where file.Type == TypeFile.Config
        where file.Name == Login.Configs.ConsultantMeetingOpenConfig
        select file
        )
        .FirstOrDefault()
        .retIfNull(new RawFile {Raw = new byte[0]})
        .FuncSelect(raw => raw.Raw.AsObject<ConsultantMeetingOpenConfig>())
        .retIfNull(new ConsultantMeetingOpenConfig());
}
<div class="ibox-title collapse-link" style="cursor: pointer" id="filter_opener">
    <h5>Фильтры (теперь сворачивается)</h5>
</div>
<script>
    $('#filter_opener').click(function() {
        const data = {
            flag: $('#filter_content').is(':visible')
        };

        $.post('@Url.Action("SaveOpenConfig")', data);
    });
</script>
<div class="ibox-content" @(open_filters.Open ? "" : "style=display:none;") id="filter_content">
<form class="row" id="form_filter">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Подразделения:</label>
            @{
                var departaments = (
                    from dep in gb.db.Departaments
                    where dep.Parent.Key == Departament.ConsultantDepartament
                    select new GuidValue
                    {
                        Guid = dep.ID,
                        Value = dep.Caption
                    })
                    .AsEnumerable();

                var manager = Html.Author().Verificate(dbroles.manager);
                var consultant = Html.Author().Verificate(dbroles.consultant);
                var @operator = Html.Author().Verificate(dbroles.@operator);
                var admin = Html.Author().Verificate(dbroles.admin);

                var dep_values = admin || manager && @operator && !consultant
                    ? filter.Departaments
                    : manager && consultant
                        ? (
                            from auth in gb.db.Logins
                            where auth.ID == gb.AuthorGuid
                            from dep in auth.Departaments
                            where dep.Parent.Key == Departament.ConsultantDepartament
                            select dep.ID
                            )
                            .ToArray()
                        : new Guid[0];
            }

            @(Html.Kendo().MultiSelect().Value(dep_values).Name("Departaments")
                  .BindTo(departaments)
                  .DataValueField("Guid")
                  .DataTextField("Value")
                  .AutoClose(false)
                  .Enable(admin || manager && @operator && !consultant)
                  .HtmlAttributes(new
                  {
                      style = "width:100%;"
                  }))
        </div>
        <div class="form-group" @Html.Raw(consultant ? "" : "style='display:none;'")>
            <label class="control-label block">
                @(Html.CheckBox("OtherSeminar", filter.OtherSeminar))
                - Показать семинары других подразделений
            </label>
        </div>
        <div class="form-group">
            <label class="inline">с:@Html.Kendo().DatePicker().Name("date_from").Value(filter.Start)</label>
            <label class="inline">по:@Html.Kendo().DatePicker().Name("date_to").Value(filter.End)</label>
            <br/>
            <label class="control-label">Содержит в наименовании или ИНН:</label>
            @(Html.Kendo().TextBox().Name("Name").Value(filter.Name).HtmlAttributes(new
              {
                  style = "width:100%;"
              }))
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">

            <label class="control-label">Регион России:</label>
            @{
                var adr_list = (
                    from adr in gb.db.Addresses
                    where adr.Type == AddressType.region
                    select new GuidValue
                    {
                        Guid = adr.ID,
                        Value = adr.Name + " " + adr.Suffix
                    })
                    .Distinct()
                    .OrderBy(v => v.Value)
                    .AsEnumerable();
            }
            @(Html.Kendo().MultiSelect().Value(filter.Region).Name("Region")
                  .BindTo(adr_list)
                  .DataValueField("Guid")
                  .DataTextField("Value")
                  .AutoClose(false)
                  .HtmlAttributes(new
                  {
                      style = "width:100%;"
                  }))
        </div>

        <div class="form-group">

            <label class="control-label">Ответственные:</label>
            @{
                var usr_list = (
                    from auth in gb.db.Logins
                    where auth.ID == gb.AuthorGuid
                    from dep in auth.Departaments
                    where dep.Parent.Key == Departament.ConsultantDepartament
                    from user in dep.Users
                    orderby user.Caption
                    select new GuidValue
                    {
                        Guid = user.ID,
                        Value = user.Caption
                    })
                    .AsEnumerable()
                    .OrderBy(v => v.Value)
                    .Distinct();
            }
            @(Html.Kendo().MultiSelect().Value(filter.Users).Name("Users")
                  .BindTo(usr_list)
                  .DataValueField("Guid")
                  .DataTextField("Value")
                  .AutoClose(false)
                  .HtmlAttributes(new
                  {
                      style = "width:100%;"
                  }))
        </div>
        <div class="form-group">
            <label class="control-label">Типы событий:</label>
            @{
                var type_list = new[]
                {
                    new MainValue
                    {
                        index = EventType.meeting.AsType<int>(),
                        value = EventType.meeting.AtValue()
                    },
                    new MainValue
                    {
                        index = EventType.meetingConfirm.AsType<int>(),
                        value = EventType.meetingConfirm.AtValue()
                    },
                    new MainValue
                    {
                        index = EventType.meetingCancel.AsType<int>(),
                        value = EventType.meetingCancel.AtValue()
                    },
                    new MainValue
                    {
                        index = EventType.meetingClose.AsType<int>(),
                        value = EventType.meetingClose.AtValue()
                    },
                    new MainValue
                    {
                        index = EventType.meetingEvent.AsType<int>(),
                        value = EventType.meetingEvent.AtValue()
                    },
                    new MainValue
                    {
                        index = EventType.eventSeminar.AsType<int>(),
                        value = EventType.eventSeminar.AtValue()
                    }
                };
            }
            @(Html.Kendo().MultiSelect().Value(filter.Region).Name("Types")
                  .BindTo(type_list)
                  .DataValueField("index")
                  .DataTextField("value")
                  .Value(filter.Types)
                  .AutoClose(false)
                  .HtmlAttributes(new
                  {
                      style = "width:100%;"
                  }))
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label block">
                @(Html.CheckBox("autosave", filter.AutoSave))
                - Автоматически сохранять настройки сортировки, номер страницы, количество отображаемых элементов на странице,
                <strong>фильтрация сохраняется всегда</strong>.
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success form-control">Сохранить и фильтровать</button>
        </div>
    </div>
</form>

<script>
    $("#form_filter").submit(function(e) {
        e.preventDefault();
        save_filter();
        return false;
    });

    function save_filter() {
        const data = {
            model: JSON.stringify({
                Name: $('#Name').val(),
                Region: $('#Region').val(),
                Users: $('#Users').val(),
                Types: $('#Types').val(),
                Start: $('#date_from').val(),
                End: $('#date_to').val(),
                PersistState: kendo.stringify($("#gridEvent").data("kendoGrid").getOptions()),
                AutoSave: $("#autosave").is(":checked"),
                Departaments: $('#Departaments').val(),
                OtherSeminar: $("#OtherSeminar").is(":checked"),
            })
        };

        $.post('@Url.Action("SaveConfig")', data).success(function() {
            $("#gridEvent").data("kendoGrid").dataSource.read();
        });
    }
</script>
</div>
</div>


<script id="templateButtonEvent" type="text/x-kendo-template">
    # if (ShowEdit) { #
    <a role="button" class="k-grid-edit btn btn-sm btn-primary fa fa-edit"></a>
    # } #
    # if (ID) { #
    <a class='btn btn-sm btn-primary fa fa-cogs' href="@Url.Action("Index", "Card", new {area = "Organization"})?id=#:ID#"></a>
    # } #


</script>

<script id="templateAccaunt" type="text/x-kendo-template">
    @{
        var accaunts = (
            from dep in Model.db.Departaments
            where dep.Parent.Key == Departament.ConsultantDepartament
            from user in dep.Users
            select new
            {
                user.ID,
                user.Caption
            })
            .Distinct()
            .OrderBy(v => v.Caption)
            .ToArray();
    }
    <select id="filter_dep" class="selectpicker form-control" data-live-search="true" multiple="multiple" data-width="100%">
        @foreach (var accaunt in accaunts)
        {
            <text>
                #= console.log(data.Accounts.indexOf('@accaunt.ID')) #
                # if (data.Accounts.indexOf('@accaunt.ID') > -1) { #
        <option data-token="@accaunt.Caption"
                value="@accaunt.ID"
                selected>
            @accaunt.Caption
        </option>
                # } else { #
        <option data-token="@accaunt.Caption"
                value="@accaunt.ID">
            @accaunt.Caption
        </option>
                # } #
            
            </text>
        }
    </select>

</script>

<div class="ibox">
    <div class="ibox-content">
        <div>
            <button class="btn btn-link" onclick="$('#gridEvent').data('kendoGrid').dataSource.sort({})">сбросить сортировку</button>
        </div>
        @(Html
              .Kendo()
              .Grid<TableEventController.EventModel>()
              .Name("gridEvent")
              .Columns(columns =>
              {
                  columns
                      .Bound(v => v.MSK);
                  columns.Bound(v => v.Start)
                      .Format("{0:dd MMMM HH:mm (ddd)}")
                      .Title("Время");
                  columns.Bound(v => v.Name).Title("Наименование");
                  columns.Bound(v => v.Address).Title("Адрес");
                  columns.Bound(v => v.Account).Title("Ответственный")
                      //.Template(@<text></text>).ClientTemplate("#=" + "templateAccaunt".jsKendoTemplate() + "#")
                      ;
                  columns.Bound(v => v.Type).Title("Тип");
                  if (admin || manager && consultant)
                  {
                      columns.Template(@<text></text>)
                          .ClientTemplate("#=" + "templateButtonEvent".jsKendoTemplate() + "#")
                          .Width(90);
                  }
              })
              .Sortable()
              .Resizable(res => res.Columns(true))
              .Editable(ed => ed.Mode(GridEditMode.PopUp).TemplateName("AccountEdit"))
              .DataSource(ds =>
              {
                  ds.Ajax()
                      .ServerOperation(true)
                      .Model(m => { m.Id(v => v.ID); })
                      .Read(act => { act.Url(Url.Action("Read")); })
                      .Update(act => { act.Url(Url.Action("Update")); });
              }))
    </div>
</div>
</div>
</div>

<script>
    window.onbeforeunload = function(e) {
        e.preventDefault();
        save_filter();
    };
    $(function() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("LoadTableConfig")',
            success: function(state) {
                if (state) {
                    if (state.AutoSave) {
                        const grid = $("#gridEvent").data("kendoGrid");
                        grid.setOptions(state);
                    }
                }
            }
        });
    });
</script>