﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Organization.Models
@model Finflaex.Support.MVC.Models.MainValue

@{
    ViewBag.Title = Model.value;
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="animated fadeIn">
        @(Html.Kendo().Scheduler<SchedullerTripModel>().Name("Scheduler")
              .AllDaySlot(false)
              .StartTime(DateTime.Today.AddHours(8))
              .Views(views =>
              {
                  views.DayView(v => { v.Title("День"); });
                  views.WorkWeekView(v => { v.Title("Рабочая неделя").Selected(true); });
                  views.MonthView(v => { v.Title("Месяц"); });
              }).EventTemplateId("SchedullerTemplate")
              //.Editable(v => { v.TemplateName("SchedullerTripEdit"); })
              .Editable(false)
              .Resources(resource =>
              {
                  resource.Add(m => m.NotEdit)
                      .Title("Owner")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .DataColorField("Color")
                      .BindTo(new[]
                      {
                          //new {Text = "Alex", Value = false, Color = "#f8a398"},
                          new {Text = "Bob", Value = true, Color = "#51a0ed"},
                          new {Text = "Charlie", Value = false, Color = "#56ca85"}
                      });
              }).DataSource(d => d
                  .Model(m => { m.Id(f => f.ID); })
                  .Read(a =>
                  {
                      a.Url(Url.Action("ReadTrip", "Plan", new
                      {
                          area = "GlobalEvents",
                          eventid = Model.id
                      }));
                  })
              ))

        <script id="SchedullerTemplate" type="text/x-kendo-template">
                <strong class="block">#:OrgName#</strong>
                <small>#:title#</small>
                <p>#=description#</p>
            </script>
    </div>
</div>