﻿@using BaseDBFX.Base
@using Finflaex.Support.Reflection
@using Finflaex.Support.Telerik
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.GlobalEvents.Controllers
@model dynamic

@{
    ViewBag.Title = "Мероприятия";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<script id="templateCaptionEvent" type="text/x-kendo-template">
    <h3>#: Caption #</h3>
    <p>#= Comment #</p>
</script>

<script id="templateButtonEvent" type="text/x-kendo-template">
    <a class='btn btn-sm btn-default' href='Plan/Table?id=#:ID#'><i class='fa fa-list'></i></a>
    <a class='btn btn-sm btn-default' href='Plan/Calendar?id=#:ID#'><i class='fa fa-calendar'></i></a>
</script>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="animated fadeIn">
        @if (Html.Author().Verificate(dbroles.consultant))
        {
            <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" checked="checked" id="allView">Показать остальные подразделения</label>
                </div>
            </div>
            <script>
                $("#allView").change(function() {
                    $("#PlanOrgTable").data("kendoGrid").dataSource.read();
                });

                function GridReadData() {
                    return {
                        allView: $('#allView').is(':checked')
                    };
                }
            </script>
        }
        else
        {
            <script>
                function GridReadData() {
                    return {
                        allView: false
                    };
                }
            </script>
        }
        @(Html.Kendo().Grid<PlanController.TableEventModel>().Name("PlanOrgTable").Columns(columns =>
          {
              columns
                  .Bound(v => v.Caption)
                  .ClientTemplate("#=" + "templateCaptionEvent".jsKendoTemplate() + "#")
                  .Title("Мероприятие");
              columns
                  .Bound(v => v.Departament)
                  .Title("Подразделение")
                  .Width(150);
              columns.Bound(v => v.Start)
                  .Title("Начало")
                  .Format("{0:dd.MM.yyyy HH:mm}")
                  .Width(120);
              columns.Bound(v => v.End)
                  .Title("Окончание")
                  .Format("{0:dd.MM.yyyy HH:mm}")
                  .Width(120);
              columns.Template(@<text></text>)
                  .ClientTemplate("#=" + "templateButtonEvent".jsKendoTemplate() + "#")
                  .Width(85);
          }).Sortable().DataSource(ds =>
          {
              ds.Ajax()
                  .ServerOperation(false)
                  .Read(act =>
                  {
                      act.Action("Read", "Plan", new
                      {
                          area = "GlobalEvents"
                      })
                          .Data("GridReadData");
                  });
          }))
    </div>
</div>