﻿@using System.Globalization
@using System.Threading
@using Finflaex.Support.Reflection
@using Finflaex.Support.Telerik
@using Finflaex.Support.Types
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.GlobalEvents.Controllers
@model IEnumerable<WebGBFXT.Areas.GlobalEvents.Controllers.PlanController.TableEventModelItem>

@{
    ViewBag.Title = "Мероприятия";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<script id="templateButtonOrg" type="text/x-kendo-template">
    <a class='btn btn-sm btn-default' href='Organization/Card?id=#:ID#'><i class='fa fa-list'></i></a>
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @{
            var data = ViewData["info"].AsType<PlanController.TableEventModel>();
            Thread.CurrentThread.CurrentCulture = new CultureInfo("ru-RU");
            if (data._Start == null)
            {
                data._Start = DateTimeOffset.Now;
            }
            if (data._End == null)
            {
                data._End = data._Start;
            }
        }
        <h2>@data.Caption</h2>
        <small>@data.Departament</small>
        <div>
            <strong>с @data._Start.Value.ToString("dd MMMM yyyy г.") по @data._End.Value.ToString("dd MMMM yyyy г.")</strong>
        </div>
        <p>@Html.Raw(data.Comment)</p>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="animated fadeIn">
        @(Html.Kendo().Grid(Model).Name("PlanOrgTable")
              .Columns(columns =>
              {
                  columns
                      .Bound(v => v.OrgName)
                      .Title("Наименование");
                  columns
                      .Bound(v => v.OrgAddress)
                      .Title("Адрес");
                  columns.Template(@<text>
                                       <a class='btn btn-sm btn-default' href='@Url.FullUrl("Organization", "Card", "Index", new fxcDictSO().Set("id", item.ID))'>
                                           <i class='fa fa-list'></i>
                                       </a>
                                    </text>)
                      .ClientTemplate("templateButtonOrg".jsKendoTemplate())
                      .Width(40);
              }).Sortable()
              )
    </div>
</div>