﻿@using BaseDBFX.Table
@using Finflaex.Support.Reflection
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Sdl.Models
@model BaseDBFX.Base.ActionData
@{
    ViewBag.Title = "Информация по организации";
    Layout = "~/Views/Shared/_OneIndex.cshtml";

    var orgInfo = (
        from file in Model.db.Files
        where file.Type == TypeFile.SdlOrgInfo
        select file)
        .AsEnumerable()
        .Select(v => v.Raw)
        .FirstOrDefault()
        .retIfNull(new byte[0])
        .AsObject<SdlOrgInfoModel>()
        .retIfNull(new SdlOrgInfoModel());
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
        <div class="alert alert-info">
            Эти данные используются при формировании ответа на запрос ЦИК.
        </div>
    </div>
</div>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                <div class="alert alert-info">
                    Осторожней с кавычками, это может повлиять на читабельность xml файла.
                </div>
                <form id="form_org_info">
                    <div class="form-group">
                        @Html.Label("Name", "Наименование")
                        @(Html.Kendo().TextBox().Name("Name").Value(orgInfo.Name).HtmlAttributes(new
                          {
                              style = "width:100%;",
                              @class = "form-control"
                          }))
                    </div>

                    <div class="form-group">
                        @Html.Label("Address", "Адрес")
                        @(Html.Kendo().TextBox().Name("Address").Value(orgInfo.Address).HtmlAttributes(new
                          {
                              style = "width:100%;",
                              @class = "form-control"
                          }))
                    </div>

                    <div class="form-group">
                        @Html.Label("INN", "ИНН")
                        @(Html.Kendo().TextBox().Name("INN").Value(orgInfo.INN).HtmlAttributes(new
                          {
                              style = "width:100%;",
                              @class = "form-control"
                          }))
                    </div>

                    <div class="form-group">
                        @Html.Label("OGRN", "ОГРН")
                        @(Html.Kendo().TextBox().Name("OGRN").Value(orgInfo.OGRN).HtmlAttributes(new
                          {
                              style = "width:100%;",
                              @class = "form-control"
                          }))
                    </div>
                </form>

                <div class="form-group" style="height: 100px;">
                    <button class="btn btn-primary pull-right" id="save_org_info">
                        Сохранить
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document)
        .on('click',
            '#save_org_info',
            function() {
                var btn = $(this);
                btn.attr('disabled', true);
                $.post('@Url.Action("SaveOrgInfo", "SdlOrgInfo", new {area = "Sdl"})',
                        $('#form_org_info').serialize())
                    .always(function() {
                        btn.attr('disabled', false);
                    });
            });
</script>