﻿@using CoreLimitless
@using CoreSupport.Reflection
@using Kendo.Mvc.UI
@model LibCoreDB.DataDb
@{
    ViewData["Title"] = "Файловая база оператора";
    Layout = "_Index";
}

@(new LimitlessPageHeader
  {
      Caption = ViewData["Title"].AsType<string>(),
      Subcaption = "- Загрузка XLSX.",
      Path = new[]
      {
          new LessLink
          {
              Url = "/import/operatordatafile",
              Icon = "icon-home2",
              Caption = "Загрузка файла"
          }
      }
  })


<div class="content">

    @(new LimitlessPanel
      {
          PostUrl = "/admin/menuitem/save",
          Class = "col-md-6",
          FormLabel = "Форма загрузки файла",
          FormElements = new[]
          {
              new LimitlessFormGroup
              {
                  Label = "Выберите загружаемый файл",
                  Help = "Обрабатываются только файлы нового формата Excel (XLSX), перед загрузкой файла убедитесь что этот файл не открыт в Excel",
                  Content = Html.Kendo()
                      .Upload()
                      .Name("files")
                      .Async(a => a.Save("LoadFile", "OperatorDataFile").AutoUpload(true))
              }
          }
      })

    @(new LimitlessPanel
      {
          Title = "Лог обработки",
          Class = "col-md-6",
          ID = "log"
      })
</div>

<script>
    $(function() {
        setInterval(function() {
                try {
                    sysmsg.send(JSON.stringify([{ Key: 'operator_df' }]));
                } catch (e) {
                }
            },
            1000);
    });
</script>