﻿@using CoreDB.Base
@using CoreWeb2.Services
@using Kendo.Mvc.UI
@using Microsoft.EntityFrameworkCore
@inject ServiceDB<DataDb> gb
@model CoreWeb2.Areas.Admin.Models.ModelRole
@{
    Layout = null;
    var FormID = "#FormRoleEdit";
    var TableID = "#TableRoleList";
    var ResultID = "#ResultRoleEdit";
}

<form id="@FormID.Trim('#')" class="m-20">
    @Html.HiddenFor(v => v.ID)
    <div class="form-group">
        @Html.LabelFor(v => v.Key, new
        {
            style = "font-weight: bold;"
        })
        @Html.Kendo().TextBoxFor(v => v.Key).HtmlAttributes(new
        {
            style = "width: 100%;"
        })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Value, new
        {
            style = "font-weight: bold;"
        })
        @Html.Kendo().TextBoxFor(v => v.Value).HtmlAttributes(new
        {
            style = "width: 100%;"
        })
    </div>
    
    <div class="form-group text-right">
        <button type="button" class="btn btn-danger icon-trash"></button>
        <button type="submit" class="btn btn-primary icon-floppy-disk"></button>
    </div>
    <div id="@ResultID.Trim('#')" class="alert alert-info" style="display: none"></div>
</form>
<script>
    $('@FormID').submit(function (e) {

        ajaxFormNotify('@FormID', '@Url.Action("SaveRole")')
            .always(function() {
                $('@TableID').data('kendoGrid').dataSource.read();
            });

        e.preventDefault();
    });
    $('@FormID [type="button"]').click(function (e) {

        ajaxFormNotify('@FormID', '@Url.Action("RemoveRole")')
            .always(function() {
                $('@TableID').data('kendoGrid').dataSource.read();
            })
            .done(function () {
                $('#panel_right').empty();
            });

        e.preventDefault();
    });
</script>