﻿@using CoreDB.Base
@using CoreLimitless
@using CoreSupport.Reflection
@using CoreSupport.Type
@using CoreWeb2.Areas.Admin.Models
@using CoreWeb2.Services
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.EntityFrameworkCore
@using Kendo.Mvc.UI
@inject ServiceDB<DataDb> service
@{
    Layout = null;
}

<div class="sidebar-category">
    <div class="category-title">
        <span>Меню таблицы</span>
    </div>

    <div class="category-content no-padding" style="display: block;">
        <ul class="navigation navigation-alt navigation-accordion">
            <li>
                <a class="icon-googleplus5" 
                   onclick="
send({
    key:'LoadRightPanel',
    url:'@Url.Action("FormCreateRole")'
})">
                    Добавить роль
                </a>
            </li>
            <li class="navigation-divider"></li>
        </ul>
    </div>
</div>