﻿@using BaseDBFX.Models
@using BaseDBFX.Table
@using Finflaex.Support.Reflection
@model BaseDBFX.Base.ActionData

@{
    ViewBag.Title = "Семинары";
    Layout = "~/Views/Shared/_WithOutKendo.cshtml";

    var db = Model.db;

    var filter = (
        from user in db.Logins
        where user.ID == Model.AuthorGuid
        from file in user.Files
        where file.Type == TypeFile.Config
        where file.Name == Login.Configs.SeminarListConfig
        select file)
        .FirstOrDefault()
        .retIfNull(new RawFile {Raw = new byte[0]})
        .FuncSelect(raw => raw.Raw.AsObject<SeminarListConfig>())
        .retIfNull(new SeminarListConfig());
}

@section head
{
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet"/>
}
@section script
{
    <script src="~/Scripts/bootstrap-select.min.js"></script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins border-bottom">
        <div class="ibox-title collapse-link" style="cursor: pointer" id="filter_opener">
            <h5>Настройки фильтрации</h5>
        </div>
        <div class="ibox-content">
            <div id="filter_table">
                @{
                    var query_departaments =
                        from dep in db.Departaments
                        where dep.Parent.Key == Departament.ConsultantDepartament
                        orderby dep.Caption
                        select new
                        {
                            id = dep.ID,
                            caption = dep.Caption
                        };

                    var filter_deps = filter.Departaments ?? new Guid[0];

                    <div class="form-group">
                        <label>Подразделения</label>
                        <select id="filter_dep" class="selectpicker form-control" data-live-search="true" multiple="multiple" data-width="100%">
                            @foreach (var departament in query_departaments)
                            {
                                <option
                                    data-token="@departament.caption"
                                    value="@departament.id"
                                    @(filter_deps.Contains(departament.id) ? "selected" : string.Empty)>
                                    @departament.caption
                                </option>
                            }
                        </select>
                    </div>
                }
                <div class="form-group">
                    <label>@Html.CheckBox("ShowClosed", filter.Close) Показывать закрытые</label>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#filter_dep').on('hidden.bs.select',
            function(e) {
                save_list_config();
            });
        $('#ShowClosed').click(function(e) {
            save_list_config();
        });

        function save_list_config() {
            $('#content_table').html('<h1>Загрузка ...</h1>');

            $.ajax({
                type: 'post',
                url: '@Url.Action("SaveConfigDepartaments", "List", new {area = "Seminar"})',
                dataType: 'html',
                contentType: 'application/json',
                data: JSON.stringify({
                    Departaments: $('#filter_dep').val(),
                    Close: $('#ShowClosed').is(':checked')
                }),
                complete: function(read) {
                    $('#content_table').html(read.responseText);
                }
            });
        }
    </script>

    <div class="ibox">
        <div class="ibox-content" id="content_table">
            @{
                Html.RenderPartial("Table");
            }
        </div>
    </div>
</div>