﻿@using BaseDBFX.Base
@using BaseDBFX.Models
@using BaseDBFX.Table
@using Finflaex.Support.Reflection
@model BaseDBFX.Base.ActionData

@{
    Layout = null;
    var db = Model.db;
}

@{
    var filter = (
        from user in db.Logins
        where user.ID == Model.AuthorGuid
        from file in user.Files
        where file.Type == TypeFile.Config
        where file.Name == Login.Configs.SeminarListConfig
        select file)
        .FirstOrDefault()
        .retIfNull(new RawFile {Raw = new byte[0]})
        .FuncSelect(raw => raw.Raw.AsObject<SeminarListConfig>())
        .retIfNull(new SeminarListConfig());

    var deps = filter.Departaments ?? new Guid[0];

    var query =
        from e in db.Events
        //where !e.Closed
        //where !e.Prev.Closed
        where filter.Close || !e.Prev.Prev.Closed
        where e.Type == EventType.eventSeminar
        orderby e.Start descending
        let adr = (
            from a in e.Prev.Address
            orderby a.Type descending
            select a)
            .FirstOrDefault()
        let author_has = (
            from author in db.Logins
            where author.ID == db.AuthorID
            from progress in author.Events
            where !progress.Closed
            where progress.Start < db.Now
            where progress.End > db.Now
            where progress.Type == EventType.progress
            select progress.Organization.ID
            )
        where e.Prev.Prev.Departaments.Any(v => deps.Contains(v.ID))
        select new
        {
            e.ID,
            departament = e.Prev.Prev.Departaments.Select(v => v.Caption).FirstOrDefault(),
            caption = e.Prev.Prev.Caption,
            description = e.Prev.Prev.Description,
            start = e.Start,
            end = e.End,
            city = from a in e.Prev.Address
                //where (int)a.Type > 1
                where (int) a.Type < 7
                orderby a.Type
                select a.Suffix + " " + a.Name,
            accaunts = from user in e.Prev.Users
                select user.Caption,
            orgs = adr.Organizations.Select(v => v.ID).AsQueryable(),
            author_has,
            flag_accaunt = e.Prev
                .Users
                .Any(v => v.ID == db.AuthorID) || db.Logins
                    .Where(v => v.ID == db.AuthorID)
                    .SelectMany(v => v.Roles)
                    .Any(v => v.Key == dbroles.manager),
            count_promised = e.Next.Count(v => v.Type == EventType.seminarPromised),
            count_cancelled = e.Next.Count(v => v.Type == EventType.seminarCanceled),
            count_visited = e.Next.Count(v => v.Type == EventType.seminarVisited),
            count_skiped = e.Next.Count(v => v.Type == EventType.seminarSkiped)
        };

    foreach (var seminar in query)
    {
        <div class="row border-bottom">
            <div class="col-md-9">
                <div class="h3">
                    @seminar.caption
                </div>
                <dl class="dl-horizontal">
                    <dt>подразделение:</dt>
                    <dd>@seminar.departament</dd>

                    <dt>адрес:</dt>
                    <dd>@seminar.city.Join(", ")</dd>

                    <dt>участники:</dt>
                    <dd>@seminar.accaunts.Join(", ")</dd>

                    @{
                        var msk = Model.TimeZone.ToMSK();
                        var start = seminar.start.ToTZDateTime(Model.TimeZone);
                        var end = seminar.end.ToTZDateTime(Model.TimeZone);

                        var from = start.ToString("dd MMMM yyyy");
                        var to = end.ToString("dd MMMM yyyy");
                        var from_time = start.ToString("HH:mm");
                        var to_time = end.ToString("HH:mm");
                    }
                    <dt>дата проведения:</dt>
                    <dd>
                        @if (from != to)
                        {
                            <span>
                                с @from по @to
                            </span>
                        }
                        else
                        {
                            <span>
                                @from
                            </span>
                        }
                    </dd>

                    <dt>время проведения:</dt>
                    <dd>@from_time - @to_time (@msk)</dd>

                    <dt>описание:</dt>
                    <dd>@Html.Raw(seminar.description)</dd>
                </dl>
            </div>
            <div class="col-md-2 btn-group-vertical m-md">
                @if (seminar.start > db.Now)
                {
                    var count = seminar.orgs.ToArray().Count(v => seminar.author_has.ToArray().Contains(v));
                    if (count > 0)
                    {
                        <a class="btn btn-default caption" href="@Url.Action("Index", "Invite", new
                                                                 {
                                                                     area = "Seminar",
                                                                     id = seminar.ID
                                                                 })">
                            <span>пригласить</span>
                            <label class="label label-danger pull-right">@count</label>
                        </a>
                    }
                }
                @if (seminar.count_promised > 0)
                {
                    <a class="btn btn-default caption" href="@Url.Action("Index", "Invited", new
                                                             {
                                                                 area = "Seminar",
                                                                 id = seminar.ID
                                                             })">
                        <span>приглашены</span>
                        <label class="label label-primary pull-right">@seminar.count_promised</label>
                    </a>
                }
                @if (seminar.count_cancelled > 0)
                {
                    <a class="btn btn-default caption" href="@Url.Action("Index", "Canceled", new
                                                             {
                                                                 area = "Seminar",
                                                                 id = seminar.ID
                                                             })">
                        <span>отказались</span>
                        <label class="label label-info pull-right">@seminar.count_cancelled</label>
                    </a>
                }
                @if (seminar.flag_accaunt && seminar.count_visited > 0)
                {
                    <a class="btn btn-default caption" href="@Url.Action("Index", "Visited", new
                                                             {
                                                                 area = "Seminar",
                                                                 id = seminar.ID
                                                             })">
                        <span>присутствовали</span>
                        <label class="label label-success pull-right">@seminar.count_visited</label>
                    </a>
                }
                @if (seminar.flag_accaunt && seminar.count_skiped > 0)
                {
                    <a class="btn btn-default caption" href="@Url.Action("Index", "Skiped", new
                                                             {
                                                                 area = "Seminar",
                                                                 id = seminar.ID
                                                             })">
                        <span>отсутствовали</span>
                        <label class="label label-danger pull-right">@seminar.count_skiped</label>
                    </a>
                }
            </div>
        </div>
    }
}

<style>
    .caption {
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>