﻿@using CoreDB.Base
@using CoreWeb2.Services
@model string
@inject ServiceDB<DataDb> gb
@{
    ViewBag.Title = "Авторизация";
    Layout = "_base";
}

<body class="login-container" style="zoom: 1;">

<div class="page-container" style="min-height: 873px">
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content">
                @using (Html.BeginForm("login", null, FormMethod.Post))
                {
                    @Html.Hidden("url",Model)
                    <div class="panel panel-body login-form">
                        <div class="text-center text-slate-300 pb-20">
                            <img src="~/images/logo.png" style="width: 100%" />
                            <h4 class="content-group">
                                Корпоративный портал
                                <small class="display-block">
                                    Для входа введите адрес электронной почты
                                </small>
                            </h4>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <input Name="login" class="form-control" placeholder="Корпоративный email">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="password" Name="password" class="form-control" placeholder="Пароль">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block bg-slate-700">
                                ВХОД
                                <i class="icon-circle-right2 position-right"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</body>
