﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Sdl.Models
@{
    ViewBag.Title = "Администрирование пользователей";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<script>
    function editEvent(e) {
        e.container.find(".k-button.k-grid-update").text('сохранить');
        e.container.find(".k-button.k-grid-cancel").text('отменить');
    }
</script>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                @(Html
                      .Kendo()
                      .Grid<UserSdlModel>()
                      .Name("UserSdlTable")
                      .ToolBar(toolbar => { toolbar.Create().Text("Создать"); })
                      .Columns(columns =>
                      {
                          columns.Bound(v => v.Caption);
                          columns.Bound(v => v.Phone);
                          columns.Bound(v => v.EMail);
                          columns.Bound(v => v.Login);
                          //columns.Bound(v => v.Password);

                          columns.Command(cmd =>
                          {
                              cmd.Edit()
                                  .Text("редактировать")
                                  .UpdateText("сохранить")
                                  .CancelText("отменить");
                              cmd.Destroy()
                                  .Text("удалить");
                              cmd.Edit()
                                  .CancelText("отменить")
                                  .UpdateText("сохранить");
                          }).Visible(false);

                          columns.Template(@<text></text>)
                              .Width(86)
                              .ClientTemplate(@"
                                                  <a class='btn btn-sm btn-default k-grid-edit'>
                                                      <i class='fa fa-pencil'></i>
                                                  </a>
                                                  <a class='btn btn-sm btn-default k-grid-delete'>
                                                      <i class='fa fa-times'></i>
                                                  </a>
                                              ");
                      })
                      .Editable(edit =>
                      {
                          edit.Mode(GridEditMode.PopUp).TemplateName("ManagerEdit");
                      })
                      .Sortable()
                      .DataSource(source =>
                      {
                          source
                              .Ajax()
                              .Model(model => { model.Id(v => v.ID); })
                              .Create(create =>
                              {
                                  create.Url(Url.Action("Create", "UserSdl", new
                                  {
                                      area = "Sdl"
                                  }));
                              })
                              .Read(read =>
                              {
                                  read.Url(Url.Action("Read", "UserSdl", new
                                  {
                                      area = "Sdl"
                                  }));
                              })
                              .Update(update =>
                              {
                                  update.Url(Url.Action("Update", "UserSdl", new
                                  {
                                      area = "Sdl"
                                  }));
                              })
                              .Destroy(destroy =>
                              {
                                  destroy.Url(Url.Action("Destroy", "UserSdl", new
                                  {
                                      area = "Sdl"
                                  }));
                              });
                      })
                      .Events(v =>
                      {
                          v.Edit("editEvent");
                      }))
            </div>
        </div>
    </div>
</div>