﻿@using CoreLimitless
@using CoreSupport.Reflection
@using CoreWeb2.Areas.Orgs.Models
@using CoreWeb2.Models
@using Kendo.Mvc.UI
@using Microsoft.AspNetCore.Mvc.Razor
@model LibCoreDB.DataDb
@{
    ViewData["Title"] = "Организации";
    Layout = "_Index";

    Func<object, HelperResult> buttons =
        @<text>
            <a class='btn bg-blue' href='/orgs/card/index/#=ID#'>
                <i class='icon-hammer-wrench text-white'></i>
            </a>
         </text>;
}

@(new LimitlessPageHeader
{
    Caption = ViewData["Title"].AsType<string>(),
    Subcaption = " - мои организации.",
    MarginBottom = 0,
    Path = new[]
      {
          new LessLink
          {
              Url = "/Orgs/Table/Index",
              Icon = "icon-home2",
              Caption = "Таблица"
          }
      },
    Buttons = new LessLink[]
      {
          //new LessLink
          //{
          //    Caption = "Добавить",
          //    Url = "/Admin/UserItem",
          //    Icon = "icon-add"
          //}
      }
})
<div class="input-group">
    <label class="checkbox-inline">
        <input name="@nameof(OrgFilterModel.Entity)" type="radio" value="true" />
        Юридические лица
    </label>
    <label class="checkbox-inline">
        <input name="@nameof(OrgFilterModel.Entity)" type="radio" value="false" checked="checked" />
        Организации
    </label>
</div>
@*<div class="input-group">
    <span class="input-group-btn">
        <button id="btn_search"
                class="btn btn-default btn-icon" type="button">
            <i class="icon-search4"></i>
        </button>
    </span>
    <input type="text" id="search"
           class="form-control" placeholder="поиск по логину">
    <span class="input-group-btn">
        <button id="btn_clear_search"
                class="btn btn-default" type="button">
            <i class="icon-backspace2"></i>
        </button>
    </span>
    <script>
        function reload_user_table() {
            $("#user_table").data("kendoGrid").dataSource.read();
        }

        $("#search").keyup(function(e) {
            if (e.which === 13) {
                reload_user_table();
            }
            if (e.which === 27) {
                $('#search').val('');
                reload_user_table();
            }
        });
        $('#btn_search').click(function() {
            reload_user_table();
        });
        $('#btn_clear_search').click(function() {
            $('#search').val('');
            reload_user_table();
        });

        function user_table_filter() {
            return {
                login: $('#search').val()
            };
        }

        $(function() {
            $('#search').focus();
        });
    </script>
</div>*@

<script>
    function table_filter() {
        return {
            parametrs: JSON.stringify({
                Entity: $('[Name="Entity"]:checked').val() === "true",
            })
        };
    };
</script>

@(Html.Kendo().Grid<OrgModel>()
      .Name("org_table")
      .Columns(columns =>
      {
          columns.Bound(v => v.Caption);
          columns.Template(buttons.ToText()).Width(62);
      })
      .Sortable(v => v.SortMode(GridSortMode.MultipleColumn))
      .Resizable(v=>v.Columns(true))
      .Pageable(pager =>
      {
          pager
              .Input(true)
              .Numeric(true)
              .Info(true)
              .PreviousNext(true)
              .Refresh(true)
              .PageSizes(new[] {10, 50, 100});
      })
      .DataSource(ds =>
      {
          ds.Ajax()
              .Model(model => model.Id(p => p.ID))
              .Read(v =>
              {
                  //v.Url(Url.Action("Read", "Table", new
                  //{
                  //    area = "Orgs",
                  //}))
                  //.Data("table_filter");
              })
              //.Destroy(v => v.Action("Destroy", "UserList", new {area = "admin"}))
              ;
      }))