﻿@using CoreLimitless
@using CoreSupport.Reflection
@using Microsoft.EntityFrameworkCore
@model LibCoreDB.DataDb
@{
    ViewData["Title"] = "База Данных";
    Layout = "_Index";
}

@(new LimitlessPageHeader
  {
      Caption = ViewData["Title"].AsType<string>(),
      Subcaption = "- Администрирование Базы данных.",
      Path = new[]
      {
          new LessLink
          {
              Url = "/Admin/BaseActions/Index",
              Icon = "icon-home2",
              Caption = "База данных"
          }
      }
  })


<div class="content">
    @(new LimitlessPanel
{
    AjaxPostUrl = "/Admin/BaseActions/ResetDb",
    Submit = "обнулить базу",
    Target = "#result",
    Class = "col-md-6",
    FormLabel = "Обнуление базы данных",
    FormElements = new []
          {
              new LimitlessFormGroup
              {
                  TypeInput = LimitlessTypeInput.number,
                  Disabled = true,
                  Label = "Количество событий",
                  Value = await Model.Events.CountAsync(),
              },
              //new LimitlessFormGroup
              //{
              //    TypeInput = LimitlessTypeInput.number,
              //    Disabled = true,
              //    Label = "Количество организаций",
              //    Value = await Model.Organizations.CountAsync(),
              //},
              //new LimitlessFormGroup
              //{
              //    TypeInput = LimitlessTypeInput.number,
              //    Disabled = true,
              //    Label = "Количество юридических лиц",
              //    Value = await Model.Entities.CountAsync(),
              //},
              //new LimitlessFormGroup
              //{
              //    TypeInput = LimitlessTypeInput.number,
              //    Disabled = true,
              //    Label = "Количество контактов",
              //    Value = await Model.LeadGroups.CountAsync(),
              //},
              //new LimitlessFormGroup
              //{
              //    TypeInput = LimitlessTypeInput.number,
              //    Disabled = true,
              //    Label = "Количество контактных данных",
              //    Value = await Model.Leads.CountAsync(),
              //},
          },
})
    @(new LimitlessPanel
{
    Title = "Результаты",
    Class = "col-md-6",
    Body = (@<text>
                      <div id="result"></div>
                   </text>)
      })
</div>