﻿@using Finflaex.Support.MVC.Models
@using Kendo.Mvc.UI
@model WebGBFXT.Areas.GlobalEvents.Controllers.ManagerController.EventModelItem


@{
    Layout = null;
}

<style>
    .k-edit-form-container {
        position: relative;
        width: 600px;
    }
</style>

<div style="padding: 20px;">
    <div class="form-group">
        <div class="inline" style="padding: 5px 10px;">
            <label>Период пребывания:</label>
            <div>
                @(Html.Kendo().DateTimePickerFor(v => v.start)
                      .Value(DateTime.Today))
                @(Html.Kendo().DateTimePickerFor(v => v.end)
                      .Value(DateTime.Today))
            </div>
        </div>

        <div class="form-group">
            <div class="inline" style="padding: 5px 10px;">
                @(
        Html.Kendo()
            .CheckBoxFor(v => v.seminar)
            .Label("Проводится семинар")
                      )
                <div>
                    @(Html.Kendo().DateTimePickerFor(v => v.start_seminar)
                          .Value(DateTime.Today))
                    @(Html.Kendo().DateTimePickerFor(v => v.end_seminar)
                          .Value(DateTime.Today))
                </div>
            </div>

            <div class="form-group">
                <label>Место проведения</label>
                <div class="row" style="padding: 0 10px">
                    <div style="padding: 5px">
                        @(Html.Kendo().DropDownList().Name("item1").HtmlAttributes(new
                          {
                              style = "width:100%"
                          }).OptionLabel("- не выбрано -").DataTextField("Value").DataValueField("Guid").DataSource(source => { source.Read(read => { read.Url(Url.Action("ReadRegion")); }); }))
                    </div>
                    <div style="padding: 5px">
                        @(Html.Kendo().DropDownList().Name("item2str").HtmlAttributes(new
                          {
                              style = "width:100%"
                          }).OptionLabel("- не выбрано -").DataTextField("Value").DataValueField("Guid").DataSource(source => { source.Read(read => { read.Url(Url.Action("ReadAddress")).Data("filterRegion"); }).ServerFiltering(true); }).Enable(false).AutoBind(false).CascadeFrom("item1"))
                    </div>
                    <div style="padding: 5px">
                        @(Html.Kendo().DropDownList().Name("item3str").HtmlAttributes(new
                          {
                              style = "width:100%"
                          }).OptionLabel("- не выбрано -").DataTextField("Value").DataValueField("Guid").DataSource(source => { source.Read(read => { read.Url(Url.Action("ReadAddress")).Data("filterCity"); }).ServerFiltering(true); }).Enable(false).AutoBind(false).CascadeFrom("item2str"))
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Направления:</label>
                @(Html.Kendo()
                      .MultiSelect()
                      .Name("direction")
                      .DataTextField("Value")
                      .DataValueField("Key")
                      .BindTo((IEnumerable<KeyValue>) ViewData["direction"])
                      .HtmlAttributes(new {style = "width: 100%"})
                      .Value(Model.direction)
                      .AutoBind(true)
                      .AutoClose(false))
            </div>

            <div class="form-group">
                <label>Участники:</label>
                @(Html.Kendo()
                      .MultiSelect()
                      .Name("accaunts")
                      .DataTextField("Value")
                      .DataValueField("Key")
                      .BindTo((IEnumerable<KeyValue>) ViewData["accaunts"])
                      .HtmlAttributes(new {style = "width: 100%"})
                      .Value(Model.accaunts)
                      .AutoClose(false))
            </div>

            <div class="form-group">
                <label>Комментарий</label>
                @Html.Kendo().Editor().Name("description").HtmlAttributes(new
                {
                    style = "width:100%"
                }).Tools(tool =>
                {
                    tool.Clear()
                        .Bold().Italic().Underline()
                        .JustifyLeft().JustifyCenter().JustifyFull().JustifyRight();
                })
            </div>
        </div>
    </div>
</div>