﻿@using Kendo.Mvc.UI
@model WebGBFXT.Areas.GlobalEvents.Controllers.ManagerController.EventModel


@{
    Layout = null;
}

<div style="padding: 20px;">
    <div class="form-group">
        @(Html.Kendo().TextBox().Name("caption").HtmlAttributes(new
          {
              style = "width: 100%;"
          }))
    </div>
    <div class="form-group">
        @(Html.Kendo()
              //.EditorFor(v => v.Description)
              .Editor().Name("description").Tools(t => { t.Clear().Bold().Italic().Underline().FontColor(); }).HtmlAttributes(
                  new
                  {
                      style = "width:100%;"
                  }))
    </div>
    <div class="form-group">
        @Html.CheckBoxFor(v => v.closed)
        <label>закрыто</label>
    </div>
</div>