﻿@model CoreWeb2.Models.LoginModel

@{
    ViewBag.Title = "Авторизация";
    Layout = "_base";
}

<body class="login-container" style="zoom: 1;">
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand"
           asp-controller="Home"
           asp-action="Index"
           style="font-size: 20px">
            GROTTBJORN
        </a>
        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li>
                <a data-toggle="collapse" data-target="#navbar-mobile">
                    <i class="icon-tree5"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav navbar-right">
            @*<li>
                <a href="#">
                    <i class="icon-display4"></i> 
                    <span class="visible-xs-inline-block position-right"> Go to website</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Contact admin</span>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-cog3"></i>
                    <span class="visible-xs-inline-block position-right"> Options</span>
                </a>
            </li>*@
        </ul>
    </div>
</div>
<div class="page-container" style="min-height: 873px">
    <div class="page-content">
        <div class="content-wrapper">
            <div class="content">
                <form asp-controller="Account" asp-action="Login" method="post">
                    <input type="hidden" asp-for="ReturnUrl" value="@ViewData["ReturnUrl"]"/>
                    <div class="panel panel-body login-form">
                        <div class="text-center text-slate-300 pb-20">
                            <img src="~/images/logo.png" style="width: 100%"/>
                            <h4 class="content-group">
                                Корпоративный портал
                                <small class="display-block">
                                    Для входа введите адрес электронной почты
                                </small>
                            </h4>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <input asp-for="Email" class="form-control" placeholder="Корпоративный email">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="password" asp-for="Password" class="form-control" placeholder="Пароль">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block bg-slate-700">
                                ВХОД
                                <i class="icon-circle-right2 position-right"></i>
                            </button>
                        </div>
                        <div class="alert alert-info" asp-validation-summary="All"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
