﻿@using BaseDBFX.Base
@using BaseDBFX.Table
@using Finflaex.Support.Reflection
@using Kendo.Mvc.UI
@model BaseDBFX.Base.ActionData

@{
    var author = (
        from user in Model.db.Logins
        where user.ID == Model.AuthorGuid
        select new
        {
            consultant = user.Roles.Any(v => v.Key == dbroles.consultant)
        })
        .FirstOrDefault();

    var duplicates =
        from org in Model.db.Organizations
        where org.ID == Model.GuidValue.id
        let inn = org.Inn
        from duplicate in Model.db.Organizations
        where duplicate.ID != org.ID
        where duplicate.Inn != null
              && duplicate.Inn != string.Empty
              && duplicate.Inn == inn
        select new
        {
            duplicate,
            accaunted = (from task in duplicate.Events
                where !task.Closed
                where task.Type == EventType.progress
                where task.Start < Model.Now
                where task.End > Model.Now
                from user in task.Users
                select new
                {
                    user.Caption,
                    consultant = user.Roles.Any(v => v.Key == dbroles.consultant),
                    @operator = user.Roles.Any(v => v.Key == dbroles.@operator)
                                && user.Roles.All(v => v.Key != dbroles.consultant)
                })
                .FirstOrDefault()
        };
}

@foreach (var duplicate in duplicates)
{
    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>Краткое наименование:</dt>
                <dd>@duplicate.duplicate.ShortName</dd>
                <dt>Полное наименование:</dt>
                <dd>@duplicate.duplicate.FullName</dd>
                <dt>Ответственный:</dt>
                <dd>
                    @(duplicate.accaunted == null || duplicate.accaunted.Caption.IsNullOrWhiteSpace()
                          ? "Безпризорник"
                          : duplicate.accaunted.Caption)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            @if (author != null && duplicate.accaunted != null)
            {
                <a class="btn btn-primary" href="@Url.Action("FromOperatorToConsultant", new
                                                 {
                                                     Model.GuidValue.id,
                                                     target = duplicate.duplicate.ID
                                                 })">
                    Отдать
                </a>
            }
            @if (duplicate.accaunted == null || Html.Author().Verificate(dbroles.developer, dbroles.admin))
            {
                <a class="btn btn-primary" href="@Url.Action("FromOperatorToConsultant", new
                                                 {
                                                     id = duplicate.duplicate.ID,
                                                     target = Model.GuidValue.id
                                                 })">
                    Забрать
                </a>
            }
            @if (Html.Author().Verificate(dbroles.consultant) && duplicate.accaunted != null && duplicate.accaunted.@operator)
            {
                <a class="btn btn-primary claim-button" data-target="@duplicate.duplicate.ID.ToString()">Потребовать</a>
            }
            @if (Html.Author().Verificate(dbroles.admin))
            {
                <a href="@Url.Action("Index", "Card", new
                         {
                             area = "Organization",
                             id = duplicate.duplicate.ID
                         })" class="btn btn-primary">
                    Подробней
                </a>
            }
        </div>
    </div>

    @(
        Html.Kendo().Window()
            .Name("claim-window")
            .Title("Потребовать дубликат у операторов")
            .Content(@<text>
                         <div class=" m-md m-r-xl">
                             <input id="claim-target" type="hidden" value=""/>
                             <p>
                                 Возможно с этой организацией уже ведется работа, укажите причины передачи организации Вам.
                             </p>
                             <p>
                                 Запрос будет направлен менеджеру операторов, а организация будет помечена как запрашиваемая.
                             </p>
                             <div class="form-group">
                                 <label>Причина требования:</label>
                                 <textarea id="claim-comment" class="form-control"></textarea>
                             </div>
                             <div class="form-group">
                                 <input id="claim-close-button" class="btn btn-confirm" type="button" value="потребовать"/>
                             </div>
                         </div>
                      </text>)
            .Actions(actions => actions.Close())
            .Width(500)
            .Modal(true)
            .Visible(false)
          )

    <script>
        $(".claim-button").click(function(e) {
            $("#claim-target").val($(this).attr("data-target"));

            const myWindow = $("#claim-window").data("kendoWindow");
            $("#claim-comment").val("");
            myWindow.open().center();
        });

        $("#claim-close-button").click(function(e) {

            $(this).attr("disabled", true);

            $.ajax({
                type: "post",
                url: "@Url.Action("ClaimOperator")",
                dataType: "json",
                data: {
                    target: $("#claim-target").val(),
                    id: "@Model.GuidValue.id.ToString()",
                    comment: $("#claim-comment").val()
                },
                statusCode: {
                    500: function() {
                        alert("Запрос не удался, неверные данные");
                        $("#claim-close-button").removeAttr("disabled");
                    },
                    404: function() {
                        alert("Запрос не удался, попробуйте позже");
                        $("#claim-close-button").removeAttr("disabled");
                    },
                    200: function() {
                        const myWindow = $("#claim-window").data("kendoWindow");
                        myWindow.close();
                    }
                },
            });
        });
    </script>
}