﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.GlobalEvents.Controllers
@model dynamic

@{
    ViewBag.Title = "Администрирование мероприятий";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row wrapper wrapper-content  animated fadeIn">
<div class="col-lg-12">
    <div class="ibox">
        <div class="ibox-content">
            <div class="form-group">
                @Html.CheckBox("closed_checked")
                <label>показывать закрытые</label>
            </div>
            @(Html
                  .Kendo()
                  .Grid<ManagerController.EventModel>()
                  .Name("grid")
                  .Pageable()
                  .Sortable()
                  .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                  .ToolBar(tool => { tool.Create().Text("Добавить новое мероприятие"); })
                  .Columns(columns =>
                  {
                      columns
                          .Bound(v => v.caption)
                          .Filterable(v => v.Cell(c => c.ShowOperators(false).Operator("contains")))
                          .Template(@<text></text>)
                          .Title("Мероприятие")
                          .ClientTemplate(@"
<h3>#: caption #</h3>
<small>#= description #</small>
            ");
                      //columns.Bound(v => v.caption).Title("Имя");
                      //columns.Bound(c => c.description).Title("Описание").Encoded(false);
                      columns.Bound(v => v.start).Format("{0:yyyy-MM-dd HH:mm}").Title("Начало").Width(120).Sortable(true).Filterable(false);
                      columns.Bound(v => v.end).Format("{0:yyyy-MM-dd HH:mm}").Title("Конец").Width(120).Sortable(true).Filterable(false);
                      columns.Template(@<text></text>)
                          .ClientTemplate("<a class='btn btn-sm btn-default k-grid-edit'><i class='fa fa-pencil'></i></a>" +
                                          "<a class='btn btn-sm btn-default k-grid-delete'><i class='fa fa-times'></i></a>")
                          .Width(78);
                  })
                  //.ClientRowTemplate(@"
                  //    <tr data-uid='#: uid #'>
                  //        <td class='k-hierarchy-cell'><a class='k-icon k-i-collapse' tabindex='-1'></a></td>
                  //        <td>
                  //            <div>#: caption #</div>
                  //            <small>#= description #</small>
                  //        </td>
                  //        <td>
                  //            <div>#: end #</div>
                  //        </td>
                  //        <td>
                  //            <div>#: start #</div>
                  //        </td>
                  //        <td>
                  //            <a class='btn btn-sm btn-default k-grid-edit'><i class='fa fa-pencil'></i></a>
                  //            <a class='btn btn-sm btn-default k-grid-delete'><i class='fa fa-times'></i></a>
                  //        </td>
                  //    </tr>
                  //")
                  .HtmlAttributes(new
                  {
                      //style = "height: 550px;"
                  })
                  .Editable(edit => { edit.Mode(GridEditMode.PopUp).TemplateName("ManagerEdit"); })
                  .DataSource(ds =>
                  {
                      ds.Ajax()
                          //.ServerOperation(true)
                          .PageSize(100)
                          .Model(m =>
                          {
                              m.Id(v => v.guid);
                              m.Field(v => v.start).Editable(false);
                              m.Field(v => v.end).Editable(false);
                          })
                          .Read(act => { act.Url(Url.Action("Read")).Data("getDataRead"); })
                          .Create(act => { act.Url(Url.Action("Create")); })
                          .Update(act => { act.Url(Url.Action("Update")); })
                          .Destroy(act => { act.Url(Url.Action("Destroy")); })
                          .Sort(v => v.Add(m => m.start).Descending());
                  })
                  .ClientDetailTemplateId("template"))
        </div>
    </div>
</div>


<script id="template" type="text/kendo-tmpl">
        @(Html.Kendo().Grid<ManagerController.EventModelItem>()
              .Name("grid_#=guid#")
              .Columns(columns =>
              {
                  columns.Template(@<text></text>).Title("Место проведения")
                      .ClientTemplate(
                          @"<div style='font-weight: bold;'>\\#= address \\#</div>" +
                          @"<div><small style='color:gray;'>Направления: <strong>\\#= directionNames \\#</strong></small></div>" +
                          @"<div><small style='color:gray;'>Сотрудники: <strong>\\#= accauntNames \\#</strong></small></div>" +
                          @"<small>\\#= description \\#</small>"
                      );
                  //columns.Bound(c => c.address).Title("Город");
                  //columns.Bound(c => c.description).Title("Комментарий").Encoded(false);
                  columns.Bound(v => v.start).Format("{0:yyyy-MM-dd HH:mm}").Title("Начало").Width(120);
                  columns.Bound(v => v.end).Format("{0:yyyy-MM-dd HH:mm}").Title("Конец").Width(120);
                  columns.Template(@<text></text>)
                      .ClientTemplate("<a class='btn btn-sm btn-default k-grid-edit'><i class='fa fa-pencil'></i></a>" +
                                      "<a class='btn btn-sm btn-default k-grid-delete'><i class='fa fa-times'></i></a>")
                      .Width(78);
                  /*columns.Command(v =>
                {
                    v.Template(@<text></text>)
                  .Width(50)
                  .ClientTemplate(@"<a class=""k-button-icontext k-grid-delete"" href=""\#"">Delete</a>");

                    v.Custom("edit").
                    v.Edit().te.Text("Редактировать").HtmlAttributes(new
                    {
                        @class = "fa fa-edit"
                    });
                    v.Destroy().Text("Удалить");
                })
                .Width(233);*/
              })
              .ToolBar(tool => { tool.Create().Text("Добавить город"); })
              .Editable(edit =>
              {
                  edit.Mode(GridEditMode.PopUp).TemplateName("ManagerItemEdit");
                  edit.Window(w => { w.Width(600); });
              })
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .Model(m =>
                  {
                      m.Id(v => v.guid);
                      m.Field(v => v.address).Editable(false).DefaultValue(" - ");
                      m.Field(v => v.directionNames).Editable(false).DefaultValue(" - ");
                      m.Field(v => v.accauntNames).Editable(false).DefaultValue(" - ");
                  })
                  .Read(act =>
                  {
                      act.Url(Url.Action("ReadItem", "Manager", new
                      {
                          area = "GlobalEvents",
                          parent = "#= guid #"
                      }));
                  })
                  .Create(act =>
                  {
                      act.Url(Url.Action("CreateItem", "Manager", new
                      {
                          area = "GlobalEvents",
                          parent = "#= guid #"
                      }));
                  })
                  .Update(act => { act.Url(Url.Action("UpdateItem")); })
                  .Destroy(act => { act.Url(Url.Action("DestroyItem")); })
              )
              .ToClientTemplate())
    </script>

<script>
    function filterRegion() {
        return {
            id: $("#item1").val()
        };
    }

    function filterCity() {
        return {
            id: $("#item2str").val()
        };
    }

    function initDirection(e) {
        $("#direction").data("kendoMultiSelect").value(e.data.direction);
    }

    //function startChange() {
    //    var endPicker = $("#end").data("kendoDateTimePicker"),
    //        startDate = this.value();

    //    if (startDate) {
    //        startDate = new Date(startDate);
    //        startDate.setDate(startDate.getDate());
    //        endPicker.min(startDate);
    //    }
    //}

    //function endChange() {
    //    var startPicker = $("#start").data("kendoDateTimePicker"),
    //        endDate = this.value();

    //    if (endDate) {
    //        endDate = new Date(endDate);
    //        endDate.setDate(endDate.getDate());
    //        startPicker.max(endDate);
    //    }
    //}
</script>

@*
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="demo-section k-content">
                        <div class="form-group">
                            <label>Заголовок</label>
                            @Html.Kendo().TextBox().Name("caption").HtmlAttributes(new
                            {
                                style = "width:100%"
                            })
                        </div>

                </div>
            </div>
        </div>
    *@
</div>
<script>
    $('#closed_checked').click(function() {
        $('#grid').data('kendoGrid').dataSource.read();
    });

    function getDataRead() {
        return {
            closed: $('#closed_checked').is(':checked')
        };
    }
</script>