﻿@using LibCoreDB
@using CoreLimitless
@using CoreSupport.MVC.Authorization
@using CoreSupport.Reflection
@using CoreSupport.Type
@using CoreWeb2.Areas.Admin.Models
@using Kendo.Mvc.UI
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.EntityFrameworkCore
@model LibCoreDB.DataDb
@{
    ViewData["Title"] = "Отделы";
    Layout = "_Index";

    //var query =
    //    from dep in Model.Departaments
    //    where dep.ID == Model.DataModel.Guid
    //    select dep;

    //var read = await query.SingleOrDefaultAsync();
}

@(new LimitlessPageHeader
{
    Caption = ViewData["Title"].AsType<string>(),
    Subcaption = "- редактирование отдела.",
    //Path = new[]
    //  {
    //      new LessLink
    //      {
    //          Url = "/Admin/DepartamentList/Index",
    //          Icon = "icon-home2",
    //          Caption = "Дерево"
    //      },
    //      new LessLink
    //      {
    //          Url = $"/Admin/DepartamentItem/Index/{Model.DataModel.ID}",
    //          Caption = "Отдел"
    //      }
    //  },
    //Buttons = new[]
    //  {
    //      new LessLink
    //      {
    //          Caption = "Удалить",
    //          Icon = "icon-trash",
    //          Url = $"/admin/departamentitem/delete/{Model.DataModel.Guid}"
    //      }
    //  }
})


<div class="content">
    @*@if (Model.DataModel.Value != null)
    {
        @(new LimitlessPanel
    {
        Body = (@<div class="area area-info">@Model.DataModel.Value</div>)})
    }*@



    @(new LimitlessPanel
{
    PostUrl = "/admin/departamentitem/save",
    Submit = "Сохранить данные отдела",
    Class = "col-md-6 col-offset-3",
    FormLabel = "Данные отдела",
    //FormElements = new[]
    //      {
    //          new LimitlessFormGroup
    //          {
    //              Name = "ID",
    //              TypeInput = LimitlessTypeInput.hidden,
    //              Value = read?.ID
    //          },
    //          new LimitlessFormGroup
    //          {
    //              Label = "Название",
    //              Name = "Caption",
    //              PlaceHolder = "название",
    //              Value = read?.Caption
    //          },
    //          new LimitlessFormGroup
    //          {
    //              Label = "Описание",
    //              Name = "Description",
    //              PlaceHolder = "описание",
    //              Value = read?.Description
    //          },
    //          new LimitlessFormGroup
    //          {
    //              Label = "Старый идентификатор",
    //              Name = nameof(read.OldID),
    //              PlaceHolder = "int id",
    //              Value = read?.OldID ?? 0,
    //              TypeInput = LimitlessTypeInput.number
    //          },
    //          new LimitlessFormGroup
    //          {
    //              Label = "Порядковый номер",
    //              Name = nameof(read.Order),
    //              PlaceHolder = "int order",
    //              Value = read?.Order ?? 0,
    //              TypeInput = LimitlessTypeInput.number
    //          }
    //      }
})
</div>