﻿@{
    Layout = null;
}

<div class="alert alert-danger">
    <h3>Неполные данные</h3>
    <p>Данная ошибка бывает в случае неполных данных</p>
    <p>
        Убедитесь что указан полный адрес, как минимум <strong>область и город!</strong>
    </p>
    <p>
        Убедитесь что выставлены <strong>статусы по рынкам</strong>!
    </p>
    <p>
        <small>Данная информация позволит автоматически выбрать подразделение консультантов для которого будет назначена встреча.</small>
    </p>
</div>