﻿@using Finflaex.Support.Reflection
@using Kendo.Mvc.UI
@model WebGBFXT.Areas.Organization.Models.SchedullerQuestModel

<div style="margin: auto; max-width: 800px; min-width: 400px;">
    @(
        Html.Kendo()
            .EditorFor(v => v.Comment)
            //.Editor().Name("description")
            .Tools(t => { t.Clear().Bold().Italic().Underline().FontColor(); }).HtmlAttributes(
                new
                {
                    style = "width:100%;"
                })
          )
    <button
        id="btn_event_confirm"
        class="btn btn-primary block">
        Клиент обещал быть на семинаре
    </button>
</div>

<script>
    $("#btn_event_confirm").click(function() {
        const model = @Html.Raw(Model.ToJson());
        model.Description = $("#description").val();

        $.post("@Url.Action("EventConfirm")",
            model,
            function() {
                const window = $("#window").data("kendoWindow");
                window.close();
            });
    });
</script>