﻿@using Finflaex.Support.Reflection
@model WebGBFXT.Areas.Organization.Models.SchedullerQuestModel[]

@{
    Layout = null;
}

@foreach (var item in Model)
{
    var guid = Guid.NewGuid().ToString("N");

    <button id="@guid"
            class="btn btn-primary"
            style="margin: 5px; padding: 50px;">
        @if (item.Type == 2)
        {
            <small>Семинар</small>
            <h4>@item.Start.Value.ToString("dd MMMM yyyy г. в HH:mm")</h4>
        }
        @if (item.Type == 3)
        {
            <small>Коммандировка</small>
            <h4>с @item.Start.Value.ToString("dd-MM-yyyy") по @item.End.Value.ToString("dd-MM-yyyy")</h4>
        }
        <h3>@Html.Raw(item.Caption)</h3>
        <small>@Html.Raw(item.Comment)</small>
    </button>
    <script>
        $("#@guid")
            .click(function() {
                const window = $("#window").data("kendoWindow");
                window.content("load").open().maximize();
                window.refresh({
                    url: "@Url.Action("ViewScheduller", "Scheduller", new
                          {
                              area = "Organization",
                              model = item.ToJson()
                          })",
                    @*data: @Html.Raw(item.ToJson())*@
                });
            });
    </script>
}