﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Organization.Models
@model WebGBFXT.Areas.Organization.Models.SchedullerQuestModel
@{
    Layout = null;
}

<script>
    function edit(e) {
        if (e.event.NotEdit) {
            e.preventDefault();
            return 0;
        }
    }
</script>

@(Html.Kendo().Scheduler<SchedullerModel>().Name("Scheduler")
      //.Timezone("Etc/UTC")
      //.Date(DateTime.Now)
      //.StartTime(DateTime.Now.Date.AddHours(8))
      //.EndTime(DateTime.Now.Date.AddHours(17))
      .AllDaySlot(false)
      //.Height(600)
      //.ShowWorkHours(true)
      .StartTime(DateTime.Today.AddHours(8))
      .Views(views =>
      {
          views.DayView(v => { v.Title("День"); });
          views.WorkWeekView(v => { v.Title("Рабочая неделя").Selected(true); });
          //views.WeekView(v =>
          //{
          //    v.Title("Неделя");
          //});
          views.MonthView(v => { v.Title("Месяц"); });
          //views.AgendaView(v =>
          //{
          //    v.Title("На повестке");
          //});
          //views.TimelineView(v =>
          //{
          //    v.Title("График");
          //});
      })
      //.MajorTick(5)
      .EventTemplateId("SchedullerTemplate").Editable(v => { v.TemplateName("SchedullerSkypeEdit"); })
      .Resources(resource =>
      {
          resource.Add(m => m.NotEdit)
              .Title("Owner")
              .DataTextField("Text")
              .DataValueField("Value")
              .DataColorField("Color")
              .BindTo(new[]
              {
                  //new {Text = "Alex", Value = false, Color = "#f8a398"},
                  new {Text = "Bob", Value = true, Color = "#51a0ed"},
                  new {Text = "Charlie", Value = false, Color = "#56ca85"}
              });
      })
      //.Footer(true)
      .DataSource(d => d
          .Model(m =>
          {
              m.Id(f => f.ID);
              m.Field(f => f.Title).DefaultValue("Неподтвержденная встреча");
              m.Field(f => f.DepartamentID).DefaultValue(Model.DepartamentID);
              m.Field(f => f.OrganizationID).DefaultValue(Model.OrganizationID);
              m.Field(f => f.RecordID).DefaultValue(Model.RecordID);
              m.Field(f => f.InterestID).DefaultValue(Model.InterestID);
              m.Field(f => f.OrgName).DefaultValue(Model.OrgName);
              //m.Field(f => f.ContactID).DefaultValue(Model.contact);
              //m.Field(f => f.WorkID).DefaultValue(Model.work);
              //m.Field(f => f.AccID).DefaultValue(Model.consultant);
              m.Field(f => f.Description).DefaultValue("");
              //m.Field(f => f.DepartamentID).DefaultValue(Model.departament);

              //m.Field(f => f.AccID).WithArgumentName("AccID");
              //m.RecurrenceId(f => f.RecurrenceID);
          })
          .Read(a =>
          {
              a.Url(Url.Action("ReadSkype", "Scheduller", new
              {
                  area = "Organization",
                  recordid = Model.RecordID,
                  key = Model.Key
              }));
          })
          .Create(a => { a.Url(Url.Action("CreateSkype")); })
          .Destroy(a => { a.Url(Url.Action("Destroy")); })
          .Update(a => { a.Url(Url.Action("Update")); })
      //.Filter(filters =>
      //{
      //    filters.Add(model => model.OwnerID).IsEqualTo(1).Or().IsEqualTo(2);
      //})
      )
      .Events(e => { e.Edit("edit").MoveStart("edit"); })
      )

<script id="SchedullerTemplate" type="text/x-kendo-template">
    <strong class="block">#:OrgName#</strong>
    <p>#:description#</p>
</script>