﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Organization.Models
@model WebGBFXT.Areas.Organization.Models.SchedullerQuestModel
@{
    Layout = null;
}

<script>
    function edit(e) {
        if (e.event.NotEdit) {
            e.preventDefault();
            return 0;
        }
    }
</script>

@(Html.Kendo().Scheduler<SchedullerIndexModel>().Name("Scheduler")
      //.Timezone("Etc/UTC")
      .AllDaySlot(false)
      //.StartTime(DateTime.Today.AddHours(8))
      .StartTime(DateTime.Today)
      .Views(views =>
      {
          views.DayView(v => { v.Title("День"); });
          views.WorkWeekView(v => { v.Title("Рабочая неделя").Selected(true); });
          views.MonthView(v => { v.Title("Месяц"); });
      }).EventTemplateId("SchedullerTemplate").Editable(v => { v.TemplateName("SchedullerEdit"); }).Resources(resource =>
      {
          resource.Add(m => m.NotEdit)
              .Title("Owner")
              .DataTextField("Text")
              .DataValueField("Value")
              .DataColorField("Color")
              .BindTo(new[]
              {
                  //new {Text = "Alex", Value = false, Color = "#f8a398"},
                  new {Text = "Bob", Value = true, Color = "#51a0ed"},
                  new {Text = "Charlie", Value = false, Color = "#56ca85"}
              });
      }).DataSource(d => d
          .Model(m =>
          {
              m.Id(f => f.ID);
              m.Field(f => f.Title).DefaultValue("Неподтвержденная встреча");
              m.Field(f => f.DepartamentID).DefaultValue(Model.DepartamentID);
              m.Field(f => f.OrganizationID).DefaultValue(Model.OrganizationID);
              m.Field(f => f.RecordID).DefaultValue(Model.RecordID);
              m.Field(f => f.InterestID).DefaultValue(Model.InterestID);
              m.Field(f => f.OrganizationName).DefaultValue(Model.OrgName);
              m.Field(f => f.Description).DefaultValue("");
          })
          .Read(a =>
          {
              a.Url(Url.Action("Read", "Scheduller", new
              {
                  area = "Organization",
                  recordid = Model.RecordID,
                  key = Model.Key
              }));
          })
          .Create(a => { a.Url(Url.Action("Create")); })
          .Destroy(a => { a.Url(Url.Action("Destroy")); })
          .Update(a => { a.Url(Url.Action("Update")); })
      ).Events(e => { e.Edit("edit").MoveStart("edit"); }))

<script id="SchedullerTemplate" type="text/x-kendo-template">
    <strong class="block">#:OrganizationName#</strong>
    <small>#:title#</small>
    @*<p>#=description#</p>*@
    <div>#=Region#</div>
    <div>#=Accaunts#</div>
</script>