﻿@using BaseDBFX.Base
@using BaseDBFX.Table
@using Finflaex.Support.Reflection
@model BaseDBFX.Base.ActionData

@{
    ViewBag.Title = "Статистика";
    Layout = "~/Views/Shared/_OneIndex.cshtml";

    var query_users =
        Html.Author().Verificate(dbroles.admin)
            ? from user in Model.db.Logins
                select user
            : from dep in Model.db.Departaments
                where dep.Key == Departament.OperatorDepartament
                from user in dep.Users
                select user;

    var query =
        //from dep in Model.db.Departaments
        //where dep.Key == Departament.OperatorDepartament
        //from user in dep.Users
        from user in query_users
        let orgs = from task in user.Events
            where !task.Closed
            where task.Start < Model.Now
            where task.End == null || task.End > Model.Now
            where task.Type == EventType.progress
            select task.Organization
        orderby user.Caption
        select new
        {
            user.Caption, user.ID,
            Phone = user.InternalPhoneNumber,
            CountOrgs = orgs.Count(),
            CountOrgsVerified = orgs.Count(v => v.WorkID != null),
            CountOrgsINN = orgs.Count(v => v.Inn != null && v.Inn != ""),
            Contacts = (
                from org in orgs
                from rec in org.Contacts
                from contact in rec.Contacts
                where contact.Type == ContactType.phone
                select new
                {
                    org.ID,
                    contact.ParseValue
                }
                )
                .Distinct()
        };

    //var read = query.ToArray();

    //List<MainValue> CallCounts = new List<MainValue>();

    //using (var tdb = new TDBFX())
    //{
    //    foreach (var user in read)
    //    {
    //        var phones = user.Contacts.Select(v => new
    //        {
    //            ID = v.ID,
    //            Phone = v.ParseValue
    //        });

    //        var calls = tdb.TELEFON
    //            .Where(call => call.calldate > new DateTime(2017,1,1))
    //            .Where(call => call.lastdata.Contains(user.Phone))
    //            .Where(call => call.disposition == "ANSWERED")
    //            .Select(call => call.lastdata)
    //            .Distinct();

    //        CallCounts.Add(new MainValue()
    //        {
    //            id = user.ID,
    //            index = phones.Where(v => calls.Any(call => call.Contains(v.Phone))).GroupBy(v => v.ID).Count()
    //        });
    //    }
    //}
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Количество организаций</h5>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>Оператор</th>
                            <th>всего</th>
                            <th>с ИНН</th>
                            <th>проверенных</th>
                            @*<th>обзвоненных</th>*@
                        </tr>
                        @{
                            var all_orgs = 0;
                            var all_orgs_inn = 0;
                            var all_orgs_ver = 0;
                        }
                        @foreach (var user in query)
                        {
                            all_orgs += user.CountOrgs;
                            all_orgs_inn += user.CountOrgsINN;
                            all_orgs_ver += user.CountOrgsVerified;

                            <tr>
                                <td>@user.Caption</td>
                                <td>@user.CountOrgs</td>
                                <td>@user.CountOrgsINN</td>
                                <td>@user.CountOrgsVerified</td>
                                @*<td>
                                    @{
                                        var call_count = CallCounts
                                            .Where(v => v.id == user.ID)
                                            .Select(v => v.index)
                                            .FirstOrDefault();
                                        var call_procent = call_count == 0 || user.CountOrgs == 0
                                            ? 0
                                            : call_count * 100 / user.CountOrgs;
                                        var call_count_string = call_count.ToString().TagWrap("strong") + " ( " + call_procent + "% )";
                                    }
                                    @Html.Raw(call_count_string)
                                </td>*@
                            </tr>
                        }
                        <tr>
                            <td>
                                <strong>ИТОГО</strong>
                            </td>
                            <td>
                                <strong>@all_orgs</strong>
                            </td>
                            <td>
                                <strong>@all_orgs_inn</strong>
                            </td>
                            <td>
                                <strong>@all_orgs_ver</strong>
                            </td>
                            @*<td><strong>@CallCounts.Sum(v=>v.index)</strong></td>*@
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>