﻿        @top_panel_height: 60px;
        @left_panel_width: 268px;
        @right_panel_width: 40px;
        @bottom_panel_height: 0px;
        @title_panel_height: 60px;
        @top_bgcolor: #693F29;
        @top_color: #DED7D4;
        //@bg_color: #EFE5D5;

        @bg_color: #fbfbfb;

        @top_bgcolor: #FACD2A;

        @content_bgcolor: #ffffff;
        body {
            a {
                cursor: pointer;
            }
            a,
            :focus,
            :active,
            input, 
            [contenteditable],
            button
            {
                outline-style:none;
            }
            .center {
                margin: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
            .loader {
                border: 3px solid @bg_color;
                border-radius: 50%;
                border-top: 3px solid @top_bgcolor;
                border-bottom: 3px solid @top_bgcolor;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
            }
            @-webkit-keyframes spin {
                0% {
                    -webkit-transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                }
            }
            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            .glyphicon {
                width: 20px;
            }
            & > .top_panel {
                position: fixed;
                width: 100vw;
                height: @top_panel_height;
                top: 0px;
                left: 0px;
                overflow: hidden;
                background: @top_bgcolor;
                color: @top_color;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: stretch;
                align-items: stretch;
                & > * {
                    order: 0;
                    flex: 1 1 auto;
                    align-self: stretch;
                    //line-height: 54px;
                    padding: 5px;
                    color: #fff;
                    font-size: 24px;
                    cursor: pointer;
                    &:hover {
                        background: @top_color;
                    }
                    &.org_name {
                        padding-top: 12px;
                        flex: 0 1 @left_panel_width;
                        &:hover{
                            background-color: lighten(@top_bgcolor,20%);
                            color:lighten(@top_color,20%);
                        }
                    }
                    &.search {
                        padding: 12px;
                        //line-height: 53px;
                        & > #search {
                            height: 36px;
                            //line-height: 40px;
                            width: ~"calc( 100% - 40px )";
                            display: inline-block;
                            cursor: text;
                            padding: 0px 5px;
                            border-radius: 5px;
                            font-size: 26px;
                            border: solid 1px lighten(@top_color, 10%);
                        }
                        & > .glyphicon {
                            color: lighten(@top_color, 10%);
                        }
                        &:hover {
                            & > #search {
                                background: #fff;
                                color: #444;
                                border: solid 1px lighten(@top_color, 70%);
                            }
                            & > .glyphicon {
                                color: #fff;
                            }
                        }
                    }
                    &.tools,
                    &.time,
                    &.auth {
                        flex: 0 1 auto;
                        font-size: 38px;
                    }
                    &.help {
                        flex: 0 0 @right_panel_width;
                    }
                }
            }
            & > .left_panel {
                position: fixed;
                width: @left_panel_width;
                height: ~"calc( 100vh - @{top_panel_height} - @{bottom_panel_height} )";
                top: @top_panel_height;
                left: 0px;
                overflow-y: auto;
                overflow-x: hidden;
                background-color: @bg_color;
                border-right: solid 1px @top_color;
                //padding-top: @title_panel_height;
                & > .logo{
                    background-color: @bg_color;
                    background-image: url("logo.png");
                    background-repeat: no-repeat;
                    background-position: center center;
                    height: @title_panel_height;
                    /*position: fixed;
                    top:@top_panel_height;
                    width: ~"calc( @{left_panel_width} + 1px )";*/
                    border-bottom: solid 1px @top_color;
                }
                & > .nav_menu{
                    //background-image: url("bg_menu.png");
                    & > a{
                        padding-left: 30px;
                        font-weight: 900;
                        color: #444;
                        text-decoration: none;
                        display:block;
                        padding:5px 5px 5px 20px;
                        font-size:1.5em;
                        background-color: @bg_color;
                        color:@top_bgcolor;
                        &:hover{
                            background-color: @top_bgcolor;
                            color:@top_color;
                            text-decoration:none;
                        }
                    }
                    & > div:not(.top_button){
                        & > a{
                            display:block;
                            padding:10px 5px 10px 30px;
                            color:@top_bgcolor;
                            font-weight:600;
                            &:hover{
                                background-color: darken(@bg_color,20%);
                                text-decoration:none;
                            }
                        }
                    }
                }
            }
            & > .right_panel {
                position: fixed;
                width: @right_panel_width;
                height: ~"calc( 100vh - @{top_panel_height} - @{bottom_panel_height} )";
                top: @top_panel_height;
                right: 0px;
                overflow-y: auto;
                overflow-x: hidden;
                background: @bg_color;
                border-left: solid 1px @top_color;
            }
            & > .bottom_panel {
                position: fixed;
                width: 100vw;
                height: @bottom_panel_height;
                bottom: 0px;
                right: 0px;
                overflow: hidden;
                background: @bg_color;
            }
            & > .content {
                position: fixed;
                width: ~"calc( 100vw - @{left_panel_width} - @{right_panel_width} )";
                height: ~"calc( 100vh - @{top_panel_height} - @{bottom_panel_height} )";
                top: @top_panel_height;
                left: @left_panel_width;
                overflow: auto;
                background: @content_bgcolor;
                padding: ~"calc( @{title_panel_height} + 20px )" 20px 20px 20px;
                & > .title_panel {
                    background: @bg_color;
                    height: @title_panel_height;
                    display: table;
                    width: 100%;
                    position: absolute;
                    top:0px;
                    left:0px;
                    padding: 20px;
                    & > .text {
                        font-family: "OpenSans-Light", sans-serif;
                        top: 50%;
                        display: table-cell;
                        vertical-align: middle;
                        padding-left: 30px;
                        font-weight: 400;
                        color: #444;
                        font-size: 1.8em;
                    }
                    border-bottom: solid 1px @top_color;
                }
            }
            & > .hidden {
                display: none;
            }
        }


            blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}