﻿*{
    box-sizing: border-box;
    outline: none !important;
}
html{
    font-family: sans-serif;
    font-size: 10px;
}
body {
}
html,body{
    height:100%;
}
a{
    cursor:pointer;
}

#footer{
    bottom:-100px;
}