﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Administration.Models
@{
    ViewBag.Title = "Администрирование деятельности в областях";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                @(Html
                      .Kendo()
                      .Grid<TableItem>()
                      .Name("ActivityTable")
                      .ClientDetailTemplateId("template")
                      .Columns(columns =>
                      {
                          columns.Bound(v => v.caption).Title("Наименование");
                      })
                      .Sortable()
                      .DataSource(source =>
                      {
                          source
                              .Ajax()
                              .Model(model => { model.Id(v => v.key); })
                              .Read(read => { read.Url(Url.Action("ReadAddress", "Activity", new {area = "Administration"})); })
                              ;
                      }))
            </div>
        </div>
    </div>
</div>

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<ActivityTableItem>()
          .Name("grid_#=key#")
          .Columns(columns =>
          {
              columns.Bound(p => p.DirectionName).Title("Деятельность");
              columns
                  .ForeignKey(v => v.DepartamentKey,
                      (IEnumerable<TableItem>) ViewData["departament"],
                      "key",
                      "caption")
                  .Title("Подразделение");
          })
          .Editable(editable => editable.Mode(GridEditMode.InCell))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Batch(false)
              .ServerOperation(false)
              .AutoSync(true)
              .Model(model =>
              {
                  model.Id(p => p.DirectionKey);
                  model.Field(p => p.DepartamentKey).DefaultValue(Guid.Empty.ToString());
              })
              .Read(read =>
              {
                  read.Url(Url.Action("Read", "Activity", new
                  {
                      area = "Administration",
                      id = "#=key#"
                  }));
              })
              .Update(update =>
              {
                  update.Url(Url.Action("Update", "Activity", new
                  {
                      area = "Administration"
                  }));
              })
          ).ToClientTemplate())
</script>