﻿@using Finflaex.Support.Telerik
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Sdl.Controllers
@model BaseDBFX.Base.ActionData

@{
    ViewBag.Title = "История обработки запросов ЦИК";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
    var gb = Model;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<script id="templateButtonEvent" type="text/x-kendo-template">
    # if (IsDebug) { #
    <a class="btn btn-link"
       target="_blank"
       href="@Url.Action("ShowFile", "CikHistory", new {area = "Sdl"})/${ID}">
        ${FileName}
    </a>
    # } else { #
    <a class="btn btn-link"
       download="${FileName}"
       href="@Url.Action("ReadFile", "Card", new {area = "Organization"})/${ID}">
        ${FileName}
    </a>
    # } #
</script>


<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                @(Html
                      .Kendo()
                      .Grid<CikHistoryController.CikNameModel>()
                      .Name("CikHistoryTable")
                      .Columns(columns =>
                      {
                          columns.Bound(v => v.TypeString)
                              .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains")));
                          columns.Bound(v => v.CikName)
                              .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains")));
                          columns.Bound(v => v.Date).Format("{0:dd-MM-yyyy}");
                          columns.Bound(v => v.CreateDateOnly).Format("{0:dd-MM-yyyy}");
                          columns.Bound(v => v.CreateTime).Format("{0:HH:mm}").Title("Время обработки")
                            .Filterable(false);
                          columns.Bound(v => v.User)
                              .Filterable(ftb => ftb.Cell(cell => cell.ShowOperators(false).Operator("contains")));
                          columns.Template(@<text></text>)
                              .ClientTemplate("#=" + "templateButtonEvent".jsKendoTemplate() + "#")
                              .Width(90);
                      })
                      .Sortable(v => v.SortMode(GridSortMode.MultipleColumn).AllowUnsort(true))
                      .Groupable()
                      .Filterable(v => v.Extra(false).Mode(GridFilterMode.Row))
                      .DataSource(source =>
                      {
                          source
                              .Ajax()
                              .Group(v=>v.AddDescending(d=>d.CikName))
                              .Sort(v =>
                              {
                                  v.Add(d=>d.CreateDateOnly).Descending();
                                  v.Add(d=>d.CreateTime).Ascending();
                              })
                              .Model(model => { model.Id(v => v.ID); })
                              .Read(read => { read.Url(Url.Action("Read", "CikHistory", new {area = "Sdl"})); })
                              ;
                      }))
            </div>
        </div>
    </div>
</div>