﻿@model BaseDBFX.Base.ActionData

@using System.Text
@using Finflaex.Support.Reflection
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Sdl.Models
@{
    ViewBag.Title = "Просмотр лога";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
    Html.RenderPartial("WarningSdlTemplate");

    var file = Model.db.Files.Find(Model.GuidValue.id);

    var log = file.Raw.ToString(Encoding.UTF8);
}

@section script
{
    <script src="~/Scripts/jquery.tmpl.js"></script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content" id="result">
                
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        var data = @Html.Raw(log);

        console.log(data);

        data.Clients.forEach(function(item, i, arr) {
            $('#warning_client_tmpl').tmpl(item).appendTo('#result');
        });

        data.Data.forEach(function(item, i, arr) {
            $('#warning_data_tmpl').tmpl(item).appendTo('#result');
        });
    });
</script>