﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Organization.Models
@model BaseDBFX.Base.ActionData
@{
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h1>План встреч</h1>
    </div>
</div>

<div class="row wrapper wrapper-content animated fadeInDown">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content content">
                @(Html.Kendo().Scheduler<SchedullerModel>().Name("Scheduler")
                      //.Timezone("Etc/UTC")
                      //.Date(DateTime.Now)
                      //.StartTime(DateTime.Now.Date.AddHours(8))
                      //.EndTime(DateTime.Now.Date.AddHours(17))
                      .AllDaySlot(false)
                      //.Height(600)
                      //.ShowWorkHours(true)
                      //.StartTime(DateTime.Today.AddHours(8))
                      .StartTime(DateTime.Today)
                      .Views(views =>
                      {
                          views.DayView(v => { v.Title("День"); });
                          views.WorkWeekView(v => { v.Title("Рабочая неделя"); });
                          //views.WeekView(v =>
                          //{
                          //    v.Title("Неделя");
                          //});
                          views.MonthView(v => { v.Title("Месяц"); });
                          views.AgendaView(v => { v.Title("На повестке").Selected(true); });
                          //views.TimelineView(v =>
                          //{
                          //    v.Title("График");
                          //});
                      })
                      //.MajorTick(5)
                      .EventTemplateId("SchedullerTemplate").Editable(v => { v.TemplateName("SchedullerEdit"); })
                      //.Resources(resource =>
                      //{
                      //    resource.Add(m => m.ID)
                      //        .Title("Owner")
                      //        .DataTextField("Text")
                      //        .DataValueField("Value")
                      //        .DataColorField("Color")
                      //        .BindTo(new[]
                      //        {
                      //            new {Text = "Alex", Value = 1, Color = "#f8a398"},
                      //            new {Text = "Bob", Value = 2, Color = "#51a0ed"},
                      //            new {Text = "Charlie", Value = 3, Color = "#56ca85"}
                      //        });
                      //})
                      //.Footer(true)
                      //.Resources(resource =>
                      //{
                      //    resource.Add(m => m.ResID)
                      //        .Title("Owner")
                      //        .DataTextField("Text")
                      //        .DataValueField("Value")
                      //        .DataColorField("Color")
                      //        .BindTo(new[]
                      //        {
                      //            new {Text = "Alex", Value = 20, Color = "#f8a398"},
                      //            new {Text = "Bob", Value = 21, Color = "#51a0ed"},
                      //            //new {Text = "Charlie", Value = 3, Color = "#56ca85"}
                      //        });
                      //})
                      .Resources(resource =>
                      {
                          resource.Add(m => m.ResID)
                              .Title("Owner")
                              .DataValueField("Value")
                              .DataColorField("Color")
                              .BindTo(new[]
                              {
                                  new {Value = 120, Color = "#3D9ACC"},
                                  new {Value = 121, Color = "#008C00"},
                                  new {Value = 122, Color = "#A60032"},
                                  new {Value = 123, Color = "#444"},
                                  new {Value = 20, Color = "#80D2FF"},
                                  new {Value = 21, Color = "#91D900"},
                                  new {Value = 22, Color = "#F26661"},
                                  new {Value = 23, Color = "#777"}
                              });
                      })
                      .DataSource(d => d
                          .Model(m =>
                          {
                              m.Id(f => f.ID);
                              m.Field(f => f.Title).DefaultValue("")
                                  //.DefaultValue(Model.OrgName)
                                  ;
                              m.Field(f => f.DepartamentID)
                                  //.DefaultValue(Model.DepartamentID)
                                  ;
                              m.Field(f => f.OrganizationID)
                                  //.DefaultValue(Model.OrganizationID)
                                  ;
                              m.Field(f => f.RecordID)
                                  //.DefaultValue(Model.RecordID)
                                  ;
                              m.Field(f => f.InterestID)
                                  //.DefaultValue(Model.InterestID)
                                  ;
                              m.Field(f => f.Description).DefaultValue("");
                          })
                          .Read(a =>
                          {
                              a.Url(Url.Action("Read", "Plan", new
                              {
                                  area = "Consultant",
                                  //recordid = Model.RecordID,
                                  //key = Model.Key ?? "corn",
                                  key = "corn"
                              }));
                          })
                          //.Create(a =>
                          //{
                          //    a.Url(Url.Action("Create"));
                          //})
                          .Destroy(a => { a.Url(Url.Action("Destroy")); })
                          .Update(a => { a.Url(Url.Action("Update")); })
                      //.Filter(filters =>
                      //{
                      //    filters.Add(model => model.OwnerID).IsEqualTo(1).Or().IsEqualTo(2);
                      //})
                      ))
            </div>
        </div>
    </div>
</div>

<div class="row wrapper wrapper-content animated fadeInDown">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content content">
                <table class="table table-bordered">
                    <caption>легенда</caption>
                    <thead>
                    <tr>
                        <th>
                            тип встречи
                        </th>
                        <th>
                            в городе
                        </th>
                        <th>
                            вне города
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Неподтвержденная</td>
                        <td style="background-color: #3D9ACC">&nbsp;</td>
                        <td style="background-color: #80D2FF">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Подтвержденная</td>
                        <td style="background-color: #008C00">&nbsp;</td>
                        <td style="background-color: #91D900">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Отмененная</td>
                        <td style="background-color: #A60032">&nbsp;</td>
                        <td style="background-color: #F26661">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Закрытая</td>
                        <td style="background-color: #444">&nbsp;</td>
                        <td style="background-color: #777">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script id="SchedullerTemplate" type="text/x-kendo-template">
    <strong class="block">#:OrgName#</strong>
    <small class="block">#:title#</small>
    @*<p>#= description #</p>*@
    <div>#= Region #</div>
    <strong>#= AccauntNames #</strong>
</script>

@section script
{
    <script>
        $(document)
            .on('click',
                '.btn-view',
                function() {
                    const id = $(this).attr('data');
                    location.href = `@Url.Action("Index", "Card", new {area = "Organization"})?id=${id}`;
                })
            .on('click',
                '.btn-confirm',
                function() {
                    const id = $(this).attr('data');
                    location.href = `@Url.Action("Index", "MeetingResult", new {area = "Consultant"})?id=${id}`;
                });
    </script>
}