﻿@using Kendo.Mvc.UI
@model WebGBFXT.Areas.Forms.Controllers.AddressController.AddressResult
@{
    Layout = null;
    var addr_city = Guid.NewGuid().ToString("N");
    var addr_other = Guid.NewGuid().ToString("N");
    var btn_send = Guid.NewGuid().ToString("N");
    var err_content = Guid.NewGuid().ToString("N");
}

<script>
    msg.center();

    function addr_change() {
        return {
            data: $("#@addr_city").val()
        };
    }
</script>

<div class="form-group">
    <label class="control-label">Область - Город - Поселок</label>
    @(
        Html.Kendo().MultiSelect()
            .Name(addr_city)
            .DataTextField("Value")
            .DataValueField("Guid")
            .Placeholder("Свердловская обл. Екатеринбург г.")
            .AutoBind(false)
            .Value(Model.Other)
            .DataSource(source =>
            {
                source
                    .Custom()
                    .Type("aspnetmvc-ajax")
                    .Transport(ds => ds.Read(act => act.Url(Url.Action("Read")).Data("addr_change")))
                    .Schema(schema => schema.Data("Data").Total("Total"))
                    .ServerFiltering(true);
            })
            .HtmlAttributes(new
            {
                style = "width: 100%;"
            })
          )
</div>

<div class="form-group">
    <label class="control-label">Улица - Дом - Офис</label>
    @(
        Html.Kendo().TextBox()
            .Name(addr_other)
            .HtmlAttributes(new
            {
                @class = "form-control",
                style = "width: 100%;",
                placeholder = "проспект ленина 101/2"
            })
            .Value(Model.Other)
          )
</div>

<div class="form-group">
    <button class="btn btn-primary" id="@btn_send">Сохранить</button>
</div>
<div class="alert alert-danger" style="display: none;" id="@err_content"></div>

<script>
    $('#@btn_send').click(function() {

        $.ajax({
            type: 'POST',
            url: '@Model.RequestUrl',
            data: JSON.stringify({
                Guids: $("#@addr_city").val(),
                Other: $("#@addr_other").val()
            }),
            contentType: "application/json",
            dataType: 'json',
            error: function(e) {
                $('#@err_content').show().html(e.responseText);
            },
            success: function(e) {
                const content = e.content;
                const error = $('#@err_content');
                if (e.script) eval(e.script);
                msg.close();
            }
        });
    });
</script>