﻿@using Finflaex.Support.MVC.Models
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Organization.Models
@model BaseDBFX.Base.ActionData
@{
    ViewBag.Title = "Календарь консультантов";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<script>
    function change_departament(e) {
        const dataItem = this.dataItem(e.item);
        $('#Scheduler')
            .data("kendoScheduler")
            .dataSource.read({
                url: "@Url.Action("Read")",
                depid: dataItem.Guid
            });
    }
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                <div>
                    @(
        Html.Kendo().DropDownList().Name("departament").DataSource(ds => { ds.Read(act => { act.Url(Url.Action("ReadDepartaments")); }); })
            .DataTextField("Value")
            .DataValueField("Guid")
            .OptionLabel(new GuidValue
            {
                Guid = Guid.Empty,
                Value = "Выберите подразделение"
            })
            .Events(e => { e.Change("change_departament"); })
            .HtmlAttributes(new
            {
                style = "width: 100%; margin-bottom: 10px;"
            })
            .MinLength(20)
                          )
                </div>

                @(Html.Kendo().Scheduler<SchedullerIndexModel>().Name("Scheduler")
                      //.Timezone("Etc/UTC")
                      .AllDaySlot(false)
                      //.StartTime(DateTime.Today.AddHours(8))
                      .StartTime(DateTime.Today)
                      .Views(views =>
                      {
                          views.WorkWeekView(v => { v.Title("Рабочая неделя").Selected(true); });
                          views.MonthView(v => { v.Title("Месяц"); });
                      })
                      .EventTemplateId("SchedullerTemplate")
                      .Editable(false)
                      .Resources(resource =>
                      {
                          resource.Add(m => m.NotEdit)
                              .Title("Owner")
                              .DataTextField("Text")
                              .DataValueField("Value")
                              .DataColorField("Color")
                              .BindTo(new[]
                              {
                                  //new {Text = "Alex", Value = false, Color = "#f8a398"},
                                  new {Text = "Bob", Value = true, Color = "#51a0ed"},
                                  new {Text = "Charlie", Value = false, Color = "#56ca85"}
                              });
                      })
                      //.Footer(true)
                      .DataSource(d => d
                          .Model(m =>
                          {
                              m.Id(f => f.ID);
                              //m.Field(f => f.Title).DefaultValue("Неподтвержденная встреча");
                              //m.Field(f => f.Description).DefaultValue("");
                          })
                          .Read(a =>
                          {
                              a.Url(Url.Action("Read", "ConsultantScheduller", new
                              {
                                  area = "Operator"
                              }));
                          })
                      )
                      )
            </div>
        </div>
    </div>
</div>

<script id="SchedullerTemplate" type="text/x-kendo-template">
    <strong class="block">#:OrganizationName#</strong>
    <small>#:title#</small>
    @*<p>#=description#</p>*@
    <div>#=Region#</div>
    <div>#=Accaunts#</div>
</script>