﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Reports.Controllers
@model dynamic
@{
    ViewBag.Title = "Результаты встреч";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="ibox">
        <div class="ibox-content">
            @(
        Html
            .Kendo()
            .Grid<OperatorController.ReportUserBonusModel>()
            .Name("ReportTable")
            .Columns(col =>
            {
                col.Bound(v => v.Date)
                    .Title("Дата")
                    .Format("{0:dd-MM-yyyy}")
                    //.ClientFooterTemplate("ИТОГО:")
                    .Width(80);

                col.Bound(v => v.OrgName)
                    .Title("Организация")
                    //.ClientFooterTemplate("кол-во встреч: #= count #")
                    .ClientGroupFooterTemplate("кол-во встреч: #= count #");

                col.Bound(v => v.Region)
                    .Title("Область")
                    .Width(200);

                col.Bound(v => v.Bonus)
                    .Title("Премия")
                    .ClientGroupFooterTemplate("сумма: #= sum #")
                    //.ClientFooterTemplate("сумма: #= sum #")
                    .Format("{0:C}")
                    .Width(100);

                col.Bound(v => v.Comment)
                    .Title("Комментарий")
                    .Encoded(false);

                col.Bound(v => v.Month)
                    .Visible(true)
                    .Title("")
                    .ClientTemplate(".")
                    .Width(0)
                    .ClientGroupHeaderTemplate("#= value #");
            })
            //.Groupable()
            .DataSource(ds =>
            {
                ds
                    .Ajax()
                    .Aggregates(a =>
                    {
                        a.Add(v => v.Bonus).Sum();
                        a.Add(v => v.OrgName).Count();
                    })
                    .Group(g =>
                    {
                        g.Add(v => v.Month);
                        //g.Add(v => v.Region);
                    })
                    .ServerOperation(false)
                    .Read(act => act.Url(Url.Action("Read")));
            })
                  )
        </div>
    </div>
</div>

@*<script id="template" type="text/kendo-tmpl">
        hello world
        #: qwe #
        # if (true) { #
        true
        # } else { #
        false
        # } #
    </script>

    <div id="result">

    </div>

    @section script
    {
        <script>
            $("#result").html(kendoTemplate("#template",
            {
                qwe: "from code"
            }));
        </script>
    }*@