﻿@using Finflaex.Support.Reflection
@model WebGBFXT.Areas.Organization.Models.BaseOrgModel

@{
    ViewBag.Title = Model.OrgTitle;
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

@section head
{
    <script src="~/Scripts/jquery.tmpl.js"></script>
    <style>
        [contenteditable="true"]:empty:before {
            color: #999;
            content: attr(placeholder);
            display: block; /* For Firefox */
        }

        [contenteditable=false] {
            border: solid 1px #aaa;
            font-weight: bold;
            word-wrap: break-word;
        }

        [contenteditable=true] {
            border: 1px dashed #999;
            cursor: text;
            outline: none;
        }

        [contenteditable=true]:not(:empty) { font-weight: bold; }

        [contenteditable] {
            border-radius: 4px;
            margin: 2px;
            min-height: 34px;
            padding: 5px;
        }
    </style>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h1>@Model.OrgTitle</h1>
    </div>
</div>

<div class="row wrapper wrapper-content animated fadeInDown" data-org="@Model.ID">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content content">
                <p>
                    <div>Наименование</div>
                    <div id="NewOrgShortName" contenteditable="false" placeholder="- не указано -">@Model.OrgShortName</div>
                </p>
                <p>
                    <div>Полное имя</div>
                    <div id="NewOrgFullName" contenteditable="false" placeholder="- не указано -">@Model.OrgFullName</div>
                </p>
                <p>
                    <div>ИНН</div>
                    <div id="NewOrgInn" contenteditable="false" placeholder="- не указано -">@Model.OrgInn</div>
                </p>
                <p>
                    <button class="btn btn-primary" id="btn_add_org">Добавить</button>
                </p>
            </div>
        </div>
    </div>
</div>

<script id="hasOrg" type="text/x-jquery-tmpl">
    <fieldset>
        <legend>${name}</legend>
        <dl class="dl-horizontal">
            <dt>ИНН</dt>
            <dd>${inn}</dd>
            <dt>Адрес</dt>
            <dd>${address}</dd>
            <dt>Ответственный</dt>
            <dd>${accaunt}</dd>
        </dl>
        @if (Html.Author().Verificate("admin"))
        {
            <button class="btn btn-sm btn-link" data="${id}">Перейти</button>
        }
    </fieldset>
</script>

<div id="result" class="wrapper wrapper-content animated slideInDown" style="display: none">
    <div class="ibox">
        <div class="ibox-title">
            <h3>Найдены совпадения</h3>
        </div>
        <div class="ibox-content">
            <fieldset>
                <legend>Что делать?</legend>
                <div class="btn-group">
                    <button class="btn btn-danger" id="btn_add_org_force">добавить как новую</button>
                    <button class="btn btn-confirm" id="btn_add_org_cancel">не добавлять</button>
                </div>
            </fieldset>
        </div>
    </div>
</div>

@section script
{
    <script>
        ws.received(function(data) {
            data = JSON.parse(data);
            if (data.method) {
                switch (data.method) {
                case "reload":
                    location.reload();
                    break;
                case "redirect":
                    window.location.href = data.url;
                    break;
                case "result":
                    $("#result .ibox-content > fieldset:not(:last-child)").remove();
                    $("#hasOrg").tmpl(data.list).prependTo("#result .ibox-content");
                    $("#result").show();
                    break;
                default:
                    break;
                }
            }
        });
    </script>

    <script>
        $(document)
            .on('click',
                '#btn_add_org',
                function() {
                    ws.send({
                        method: "AddOrg",
                        data: {
                            id: "@Model.ID",
                            shortName: $("#NewOrgShortName").text(),
                            fullName: $("#NewOrgFullName").text(),
                            inn: $("#NewOrgInn").text(),
                        }
                    });
                })
            .on('click',
                '#btn_add_org_force',
                function() {
                    ws.send({
                        method: "AddOrgForce",
                        data: {
                            id: "@Model.ID",
                            shortName: $("#NewOrgShortName").text(),
                            fullName: $("#NewOrgFullName").text(),
                            inn: $("#NewOrgInn").text(),
                        }
                    });
                })
            .on('click',
                '#btn_add_org_cancel',
                function() {
                    location.reload();
                })
            .on('click',
                '.btn-link',
                function() {
                    window.location.href = `@Url.Action("Index", "Card")?id=${$(this).attr("data")}`;
                });
    </script>
}