﻿@using Finflaex.Support.MVC.Models
@model dynamic

<script id="orgInterest" type="text/x-jquery-tmpl">
    <div id="${Key}" class="animated fadeInDown orgInterest">
        <div style="display: table;">
            <span style="display: table-cell; width: 100%">${Caption}</span>
            {{if Key != "currency"}}
            <select style="display: table-cell; margin-left: 20px; padding-left: 20px;" class="pull-right">
                @foreach (var type in (IEnumerable<IdValue>) ViewData["InterestType"])
                {
                    <text>
                        {{if Type == @type.Id}}
                        <option value="@type.Id.ToString()" selected="selected">@type.Value</option>
                        {{else}}
                        <option value="@type.Id.ToString()">@type.Value</option>
                        {{/if}}
                    </text>
                }
            </select>
            {{/if}}
        </div>
        <div contenteditable="false">${Description}</div>
        {{if Key == "currency"}}
        <div id="currency-table">
            <div class="title">
                <div>

                </div>
                <div>
                    Разовые
                </div>
                <div>
                    Среднегодовые
                </div>
                <div>
                    Статус
                </div>
            </div>
        </div>
        {{/if}}
    </div>

</script>