﻿@using BaseDBFX.Base
@using BaseDBFX.Table
@using Finflaex.Support.Reflection
@model dynamic

<script id="recordEvent" type="text/x-jquery-tmpl">
<div class="chat-message left animated fadeInDown" id="${id}">

{{if type == @((int) EventType.call)}}
<i class="fa fa-phone message-avatar"></i>
{{/if}}

{{if type == @((int) EventType.comment)}}
<i class="fa fa-comment message-avatar"></i>
{{/if}}

{{if type == @((int) EventType.unknown) || type == @((int) EventType.callUp) || type == @((int) EventType.callTransfer) || type == @((int) EventType.callSeminar)}}
{{if flag}}
<i class="fa fa-bell message-avatar"></i>
{{else}}
<i class="fa fa-bell message-avatar" style="color: red;"></i>
{{/if}}
{{/if}}


{{if type == @((int) EventType.meeting) || type == @((int) EventType.meetingEvent)}}
<i class="fa fa-users message-avatar" style="color: red;"></i>
{{/if}}

{{if type == @((int) EventType.meetingRate)}}
<i class="fa fa-star message-avatar" style="color: #F39C12;"></i>
{{/if}}

{{if type == @((int) EventType.meetingConfirm)}}
<i class="fa fa-users message-avatar" style="color: blue;"></i>
{{/if}}

{{if type == @((int) EventType.meetingCancel)}}
<i class="fa fa-users message-avatar" style="color: gray;"></i>
{{/if}}

{{if type == @((int) EventType.meetingClose)}}
<i class="fa fa-users message-avatar" style="color: green;"></i>
{{/if}}

@*{{if type == @((int) EventType.skype)}}
{{if flag}}
<i class="fa fa-skype message-avatar"></i>
{{else}}
<i class="fa fa-skype message-avatar" style="color: red;"></i>
{{/if}}
{{/if}}*@

{{if type == @((int) EventType.sendMail)}}
<i class="fa fa-envelope message-avatar"></i>
{{/if}}

{{if type == @((int) EventType.seminarPromised)}}
<i class="fa fa-male message-avatar"></i>
{{/if}}

{{if type == @((int) EventType.seminarVisited)}}
<i class="fa fa-male message-avatar" style="color: green;"></i>
{{/if}}

{{if type == @((int) EventType.seminarCanceled) || type == @((int) EventType.seminarSkiped)}}
<i class="fa fa-male message-avatar" style="color: red;"></i>
{{/if}}

<div class="message">
    <a class="message-author">${author}</a>
    <span class="message-date">изменения: ${date_edit}</span>
    <div class="message-content">
        <div style="display: table-cell; width: 100%" class="file-content">
            {{if
            type == @((int) EventType.meeting)
            || type == @((int) EventType.meetingConfirm)
            || type == @((int) EventType.call)
            || type == @((int) EventType.comment)
            || type == @((int) EventType.meetingCancel)
            || type == @((int) EventType.meetingClose)
            || type == @((int) EventType.meetingRate)
            || type == @((int) EventType.seminarPromised)
            || type == @((int) EventType.seminarVisited)
            || type == @((int) EventType.seminarCanceled)
            || type == @((int) EventType.seminarSkiped)
            }}
            <div>${title}</div>
            {{/if}}


            {{if
            type == @((int) EventType.callTransfer)
            ||type == @((int) EventType.callUp)
            ||type == @((int) EventType.unknown)
            ||type == @((int) EventType.callSeminar)
            }}
            <input class="type"/>
            {{/if}}

            {{if
            type == @((int) EventType.callTransfer)
            || type == @((int) EventType.callUp)
            || type == @((int) EventType.unknown)
            || type == @((int) EventType.callSeminar)
            || type == @((int) EventType.meetingRate)
            }}
            <div>Время события</div>
            <input class="date" value="${date}"/>
            <input class="time" value="${time}"/>
            <strong>(${msk})</strong>
            {{/if}}

            {{if
            type == @((int) EventType.meeting)
            || type == @((int) EventType.meetingEvent)
            || type == @((int) EventType.meetingClose)
            || type == @((int) EventType.call)
            || type == @((int) EventType.meetingConfirm)
            || type == @((int) EventType.seminarPromised)
            }}
            <div>
                Время события: <strong>${start}</strong>.
            </div>
            {{/if}}

            {{if
            type == @((int) EventType.callTransfer)
            ||type == @((int) EventType.callUp)
            ||type == @((int) EventType.unknown)
            ||type == @((int) EventType.callSeminar)
            || type == @((int) EventType.meetingEvent)
            || type == @((int) EventType.meeting)
            }}
            <div class="form-group">
                <label>В плане обзвона у:</label>
                <select multiple="multiple" class="accaunt"></select>
            </div>
            {{/if}}

            {{if
            type == @((int) EventType.meeting)
            || type == @((int) EventType.meetingEvent)
            }}
            <div>Время оповещения:</div>
            <input class="date" value="${date}"/>
            <input class="time" value="${time}"/>
            <strong>(${msk})</strong>
            {{/if}}

            {{if type == @((int) EventType.call)}}
            <a class="message-author">${comment}</a>
            {{if flag}}
            <audio id="${id}" controls preload="auto" src="@Url.Action("ReadFilePath", "Card", new {area = "Organization"})?path=${author_result}" type="audio/mp3"/>
            {{else}}
            <strong>не взяли трубку</strong>
            {{/if}}
            {{/if}}

            {{if type == @((int) EventType.meetingRate)}}
            @if (Html.Author().Verificate(dbroles.@operator) && !Html.Author().Verificate(dbroles.consultant))
            {
                <div class="alert alert-warning">
                    Как только измените значение, организацию больше не увидите.
                </div>
            }
            <input class="rating" type="number" value="${rating}">
            <input class="answerOk" type="checkbox" data-toggle="toggle" ${answerOK}>
            {{/if}}

            {{if type != @((int) EventType.sendMail) && type != @((int) EventType.call) }}
            <div contenteditable="false">{{html comment}}</div>
            {{/if}}

            {{if type == @((int) EventType.meetingClose) && result}}
            <div>Результат встречи:</div>
            <p>${result.Title}</p>
            <div contenteditable="false" data-result="${result.ID}">{{html result.Description}}</div>
            {{/if}}

        </div>
        <div class="btn-group-vertical btn-group-sm" style="display: table-cell; vertical-align: top;">

            {{if
            type == @((int) EventType.callTransfer) ||
            type == @((int) EventType.callUp) ||
            type == @((int) EventType.unknown) ||
            type == @((int) EventType.callSeminar)
            }}
            <button class="btn btn-sm btn-default help" data-title="активно/неактивно" data="btn-eye">
                {{if flag}}
                <i class="fa fa-eye-slash" style="color: blue; font-size: small;"></i>
                {{else}}
                <i class="fa fa-eye" style="font-size: small"></i>
                {{/if}}
            </button>
            {{/if}}


            {{if type == @((int) EventType.meeting) || type == @((int) EventType.meetingEvent)}}
            <div class="btn-group-vertical">
                <button class="btn btn-sm btn-default" data="btn-meeting-confirm">
                    <i class="fa fa-thumbs-up" style="color: green; font-size: small;"></i>
                </button>
                <button class="btn btn-sm btn-default" data="btn-meeting-cancel">
                    <i class="fa fa-thumbs-down" style="color: red; font-size: small;"></i>
                </button>
            </div>
            {{/if}}

            @if (Html.Author().Verificate(dbroles.admin))
            {
                <button class="btn btn-sm btn-danger" data="btn-event-remove">
                    <i class="fa fa-trash-o" style="color: white; font-size: small;"></i>
                </button>
            }
        </div>
    </div>
</div>
</div>
</script>

<script>
    $(document)
        .on('rating.change',
            '.rating',
            function(event, value, caption) {
                ws.send({
                    method: "SetRateValue",
                    data: {
                        id: $(this).closest("[id]").attr("id"),
                        value: value
                    }
                });
            })
        .on('change',
            '.answerOk',
            function() {
                ws.send({
                    method: "SetRateAnswer",
                    data: {
                        id: $(this).closest("[id]").attr("id"),
                        value: $(this).prop('checked')
                    }
                });
            })
        .on('click',
            '[data="BtnEMail"]',
            function() {
                msg.restore().setOptions({
                    draggable: true,
                    width: "800px",
                    height: "800px",
                    position: {
                        top: 0,
                    },
                    refresh: function() {
                        msg.center();
                    },
                    modal: true,
                });
                msg.content("test")
                    .open()
                    .refresh(`@Url.Action("Index", "Mail", new
                              {
                                  area = "Organization"
                              })?recid=${
                        $(this).closest('[id]').attr('id')}`)
                    .center();
            })
        .on('click',
            '[data="btn-file-mail"]',
            function() {
                msg.restore().setOptions({
                    draggable: true,
                    width: "800px",
                    height: "800px",
                    position: {
                        top: 0,
                    },
                    iframe: true,
                    refresh: function() {
                        msg.center();
                    },
                    modal: true,
                });
                msg.content("test")
                    .open()
                    .refresh(`@Url.Action("Show", "Mail", new {area = "Organization"})?id=${$(this).attr('id')}`)
                    .center();
            })
        .on('click',
            '[data="btn-meeting-cancel"]',
            function() {
                $(this).closest('.btn-group-vertical').hide();
                ws.send({
                    method: "SetMeetingCancel",
                    data: {
                        id: $(this).closest('[id]').attr('id')
                    }
                });
            })
        .on('click',
            '[data="btn-meeting-confirm"]',
            function() {
                $(this).closest('.btn-group-vertical').hide();
                ws.send({
                    method: "SetMeetingConfirm",
                    data: {
                        id: $(this).closest('[id]').attr('id')
                    }
                });
            })
        .on('click',
            '[data="btn-event-remove"]',
            function() {
                var div = $(this).closest('[id]');
                $.ajax({
                    type: 'post',
                    success: function() {
                        div.remove();
                    },
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: $(this).closest('[id]').attr('id')
                    }),
                    url: '@Url.Action("RemoveEvent")',
                });
            })
        .on('click',
            '[data="btn-eye"]',
            function() {
                $(this).find("i").toggleClass("fa-eye fa-eye-slash");
                ws.send({
                    method: "SetEventClose",
                    data: {
                        id: $(this).closest("[id]").attr("id"),
                        value: $(this).find("i").is(".fa-eye-slash")
                    }
                });
            });
</script>