﻿@model dynamic

<script id="orgOkved" type="text/x-jquery-tmpl">
    <dl class="dl-horizontal">
        <dt style="text-align: left; width: 50px;">${code}</dt>
        <dd style="margin-left: 60px;">${value}</dd>
    </dl>
</script>

<script id="orgMainOkved" type="text/x-jquery-tmpl">
    <dl class="dl-horizontal">
        <dt style="text-align: left; width: 50px;">${code}</dt>
        <dd style="margin-left: 60px;">
            <strong>${value}</strong>
        </dd>
    </dl>
</script>