﻿@model dynamic

<script id="recordPost" type="text/x-jquery-tmpl">
    <div id="${id}" style="display: table; width: 100%" class="animated fadeInDown">
        <div contenteditable="false" style="display: table-cell; width: 100%;">${value}</div>
        <div style="white-space: nowrap">
            {%if verify%}
            <button class="btn btn-default help" data-title="Проверено, редактирование и удаление нежелательно">
                <i class="fa fa-check" style="color: green;"></i>
            </button>
            {%/if%}
            <button class="btn btn-default" data="DelPost" style="display: none">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
</script>