﻿@using BaseDBFX.Table
@model dynamic

<script id="recordFile" type="text/x-jquery-tmpl">
    {%if type == @((int) TypeFile.PhoneRecord)%}
    <div>Номер: ${number}</div>
    <audio id="${id}" controls preload="auto" src="Card/ReadFile?id=${id}" type="audio/mp3"/>
    {%/if%}
    {%if type == @((int) TypeFile.EMail)%}
    <button class="btn btn-sm btn-default" data="btn-file-mail" id="${id}">
        Смотреть
    </button>
    {%/if%}
</script>