﻿@using BaseDBFX.Base
@using BaseDBFX.Table
@using Finflaex.Support.Reflection
@model dynamic

<script id="recordContact" type="text/x-jquery-tmpl">
    <div id="${id}" style="display: table; width: 100%" class="animated fadeInDown">

        {{if type == @((int) ContactType.phone)}}
        @if (Html.Author().Verificate(dbroles.consultant))
        {
            <strong style="padding-right: 4px;">8</strong>
        }
        {{/if}}

        <div contenteditable="false" style="display: table-cell; width: 100%;">${value}</div>

        {{if type == @((int) ContactType.phone)}}
        @*<button class="btn btn-default" data="BtnPhone" style="display: table-cell;">
                <i class="fa fa-phone"></i>
            </button>*@

        @if (!Html.Author().Verificate(dbroles.consultant))
        {
            <button class="btn btn-default" data="BtnPhoneCopy" style="display: table-cell;">
                <i class="fa fa-clipboard"></i>
            </button>
        }

        {{/if}}

        {{if type == @((int) ContactType.email)}}
        <button class="btn btn-default help" data="BtnEMail" style="display: table-cell;" data-title="Отправить письмо">
            <i class="fa fa-envelope"></i>
        </button>
        {{/if}}

        <button class="btn btn-default" data="DelContact" style="display: none">
            <i class="fa fa-times"></i>
        </button>
    </div>
</script>

<script>
    $(document)
        .on('click',
            '[data="BtnPhoneCopy"]',
            function() {
                const el = $(this).closest("[id]").find('[contenteditable]').get(0);
                copyToClipboard(el);
            });

</script>