﻿@using Finflaex.Support.MVC.Models
@model dynamic

<script id="orgCurrency" type="text/x-jquery-tmpl">
    <div data-id="currency" data-key="${key}">
        <div class="help" data-title="${caption}">
            ${key}
        </div>
        <div class="form-group">
            <input class="currency-single" type="number" value="${single}" step="50000"/>
        </div>
        <div class="form-group">
            <input class="currency-year" type="number" value="${year}" step="50000"/>
        </div>
        <div>
            <select class="currency-status" style="width: 132px;">
                @foreach (var type in (IEnumerable<IdValue>) ViewData["InterestType"])
                {
                    <text>
                        {{if status == @type.Id}}
                        <option value="@type.Id.ToString()" selected="selected">@type.Value</option>
                        {{else}}
                        <option value="@type.Id.ToString()">@type.Value</option>
                        {{/if}}
                    </text>
                }
            </select>
        </div>
    </div>
</script>