﻿@model dynamic

<script id="recordView" type="text/x-jquery-tmpl">
    <div class="row row-first animated fadeInDown" data-record="${id}">
        <div class="col-lg-4">
            <div class="contact-view">
                <div data="posts">
                    <div>Должность:</div>
                </div>
                <div data="persons">
                    <div>Контактное лицо:</div>
                </div>
                <div data="contacts">
                    <div>Контакты:</div>
                </div>
                <div data="buttons">
                    <div class="btn-group m-t-sm pull-right">
                        <button class="btn btn-default help" data="btn-history" data-title="Показать историю">
                            <i class="fa fa-history"></i>
                        </button>
                        <button class="btn btn-default help" data="btn-comment" data-title="Добавить комментарий">
                            <i class="fa fa-comment"></i>
                        </button>
                        <button class="btn btn-default help" data="btn-edit" data-title="Редактировать">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-default help" data="btn-bell" data-title="Добавить напоминалку">
                            <i class="fa fa-bell"></i>
                        </button>
                        <button class="btn btn-default help" data="btn-meeting" data-title="Встреча с консультантом">
                            <i class="fa fa-users"></i>
                        </button>
                        @*<button class="btn btn-default help" data="btn-skype" data-title="Встреча по скайпу">
                            <i class="fa fa-skype"></i>
                        </button>*@
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="col-lg-8" data="col-history">
            <div class="chat-discussion">
            </div>
        </div>
        <div class="col-lg-8" data="col-comment" style="display: none">
            <div contenteditable="false" style="height: 100%">
            </div>
        </div>
        <div class="col-lg-8" data="col-edit" style="display: none">
            <div>
                <div>Добавить должность</div>
                <div contenteditable="false" data="AddPost"></div>
            </div>
            <div>
                <div>Добавить ФИО</div>
                <div contenteditable="false" data="AddPerson"></div>
            </div>
            <div>
                <div>Добавить контакт</div>
                <div contenteditable="false" data="AddContact"></div>
            </div>
        </div>
    </div>
</script>