﻿@using BaseDBFX.Base
@using BaseDBFX.Table
@using Finflaex.Support.Attributes
@using Finflaex.Support.MVC.Models
@using Finflaex.Support.Reflection
@using Kendo.Mvc.UI
@model WebGBFXT.Areas.Organization.Models.BaseOrgModel

@{
    ViewBag.Title = Model.OrgTitle;
    Layout = "~/Views/Shared/_OneIndex.cshtml";
    var db = ViewData["db"].AsType<DBFX>();
}

@section head
{
    @*http://plugins.krajee.com/star-rating#options*@
    <link href="~/dashboard/js/plugins/star_rating/star-rating.min.css" rel="stylesheet"/>
    <script src="~/dashboard/js/plugins/star_rating/star-rating.min.js"></script>
    @*http://www.bootstraptoggle.com/*@
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="~/Scripts/clipboard.js"></script>

    <script src="~/Scripts/jquery.tmpl.js"></script>

    @{
        Html.RenderPartial("PartialStyles");
    }
}



@{
    Html.RenderPartial("PartialOrgCurrency");
    Html.RenderPartial("PartialOrgInterest");
    Html.RenderPartial("PartialRecordView");
    Html.RenderPartial("PartialRecordPost");
    Html.RenderPartial("PartialRecordPerson");
    Html.RenderPartial("PartialRecordContact");
    Html.RenderPartial("PartialRecordEvent");
    Html.RenderPartial("PartialRecordFile");
    Html.RenderPartial("PartialOrgOkved");
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h1 id="OrgTitle" style="margin-bottom: 30px;">@Model.OrgTitle</h1>
        @if (Model.OrgClose)
        {
            <strong style="border: solid 1px red; color: red; margin: 10px; padding: 10px;">ЛИКВИДИРОВАНА</strong>
        }
        @if (Model.OrgVerify)
        {
            <strong style="border: solid 1px green; color: green; margin: 10px; padding: 10px;">ПРОВЕРЕНА</strong>
        }
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInDown" data-org="@Model.ID" style="margin-bottom: -60px;">
<div class="row">
<div class="col-lg-6">
<div class="ibox float-e-margins border-bottom">
<div class="ibox-title">
    <h5>Основная информация</h5>
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
</div>
<div class="ibox-content">
<div>
    <div>Наименование</div>
    <div id="OrgShortName" contenteditable="false" placeholder="- не указано -">@Model.OrgShortName</div>
</div>
<div>
    <div>Полное имя</div>
    <div id="OrgFullName" contenteditable="false" placeholder="- не указано -">@Model.OrgFullName</div>
</div>
<div>
    <div>Код клиента (при заключении договора)</div>
    <div id="OrgClientCode" contenteditable="false" placeholder="- не указано -">@Model.OrgClientCode</div>
</div>
<div>
    <div>ИНН</div>
    <div id="OrgInn" contenteditable="false" placeholder="- не указано -">@Model.OrgInn</div>
</div>
<div>
    <dl>
        <dt>Страна:</dt>
        <dd>
            @{
                var label_country_list = (
                    from label in db.Labels
                    where label.Type == TypeLabel.country
                    orderby label.Caption
                    select new GuidValue
                    {
                        Guid = label.ID,
                        Value = label.Caption
                    })
                    .ToArray();

                var org_id = Model.ID.ToGuid();

                var label_country_value = (
                    from org in db.Organizations
                    where org.ID == org_id
                    from label in org.Labels
                    where label.Type == TypeLabel.country
                    select label.ID)
                    .FirstOrDefault();
            }

            @(Html.Kendo().DropDownList().Name("label_" + TypeLabel.country)
                  .DataValueField("Guid")
                  .DataTextField("Value")
                  .OptionLabel(new GuidValue
                  {
                      Guid = Guid.Empty,
                      Value = "Россия"
                  })
                  .HtmlAttributes(new
                  {
                      style = "width:100%;"
                  })
                  .Events(v => v.Change("ChangeSingleLabel"))
                  .BindTo(label_country_list)
                  .Value(label_country_value.ToString()))
        </dd>
    </dl>
    <div>Адрес (фильтрация в таблицах по нему !!!)</div>
    <div id="OrgAddress" contenteditable="false" placeholder="- не указано -">@Model.OrgAddress</div>
    <div>Физический адрес</div>
    <div id="OrgAddressPhyzical" contenteditable="false" placeholder="- не указано -">@Model.OrgAddressPhyzical</div>
    <div>Юридический адрес</div>
    <div id="OrgAddressLegal" contenteditable="false" placeholder="- не указано -">@Model.OrgAddressLegal</div>
</div>
    <script>
        function legal_addr_read() {
            return {
                data: $("#legal_city").val()
            };
        }

        function phyzic_addr_read() {
            return {
                data: $("#phyzic_city").val()
            };
        }

        function phyzic_city_change() {
            var multiselect = $('#phyzic_city').data("kendoMultiSelect");
            multiselect.enable(false);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("PhyzicCityChange", "Card", new {area = "Organization"})',
                data: JSON.stringify({
                    ID: '@Model.ID',
                    Guids: $('#phyzic_city').val()
                }),
                contentType: "application/json",
                dataType: 'json',
                error: function(e) {
                    multiselect.enable();
                },
                success: function(e) {
                    multiselect.enable();
                    $('#phyzic_city').val(e.city);
                }
            });
        }

        function legal_city_change() {
            var multiselect = $('#legal_city').data("kendoMultiSelect");
            multiselect.enable(false);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("LegalCityChange", "Card", new {area = "Organization"})',
                data: JSON.stringify({
                    ID: '@Model.ID',
                    Guids: $('#legal_city').val()
                }),
                contentType: "application/json",
                dataType: 'json',
                error: function(e) {
                    multiselect.enable();
                },
                success: function(e) {
                    multiselect.enable();
                    $('#phyzic_city').val(e.city);
                }
            });
        }

        function phyzic_street_change() {
            ws.send({
                method: "OrgAddressPhyzical",
                data: {
                    id: '@Model.ID',
                    value: $('#physic_street').val()
                }
            });
        }

        function legal_street_change() {
            ws.send({
                method: "OrgAddressLegal",
                data: {
                    id: '@Model.ID',
                    value: $('#legal_street').val()
                }
            });
        }

        function phyzic_street_parse() {
            const read = $('#physic_street').val();
            console.log(read);
            return false;
        }

        function legal_street_parse() {
            const read = $('#legal_street').val();
            console.log(read);
            return false;
        }
    </script>

</div>
</div>
<div class="ibox float-e-margins border-bottom">
    <div class="ibox-title">
        <h5>Комментарий</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div contenteditable="false"
             id="OrgComment"
             style="min-height: 100px;">
            @Html.Raw(Model.OrgComment)
        </div>
    </div>
</div>

<div class="ibox">
    <div class="ibox-title">
        <h5>Виды деятельности</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content" style="display: none">
        <div class="row">
            <div class="col-lg-12">
                <div id="okved2"></div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="col-lg-6">

<div class="ibox">
    <div class="ibox-title">
        <h5>Управление</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">

                @{
                    var OrgID = Model.ID.ToGuid();

                    var query_acc =
                        from org in db.Organizations
                        where org.ID == OrgID
                        from task in org.Events
                        where !task.Closed
                        where task.Start < db.Now
                        where task.End == null || task.End > db.Now
                        where task.Type == EventType.progress
                        from user in task.Users
                        select user.ID;

                    var AuthorValue = query_acc.FirstOrDefault();

                    var query_auths =
                        from user in db.Logins
                        orderby user.Caption
                        select new GuidValue
                        {
                            Guid = user.ID,
                            Value = user.Caption
                        };

                    var AuthList = query_auths.ToArray();


                    <div class="m-b-md">
                        <h4>Ответственный:</h4>
                        @(Html.Kendo()
                              .DropDownList()
                              .Name("Accaunted")
                              .Filter("contains")
                              .BindTo(AuthList)
                              .DataTextField("Value")
                              .DataValueField("Guid")
                              .OptionLabel("отсутствует")
                              .Value(AuthorValue.ToString())
                              .Enable(
                                  Html.Author().Verificate(dbroles.manager) ||
                                  Html.Author().Verificate(dbroles.expanded) && db.AuthorID == AuthorValue
                              )
                              .Events(v => v.Change("ChangeAccaunted")))
                    </div>

                    <script>
                        function ChangeAccaunted() {
                            const data = {
                                OrgID: '@Model.ID',
                                AccID: $('#Accaunted').val()
                            };
                            $.post('@Url.Action("ChangeAccaunted")', data);
                        }
                    </script>
                }@*<div class="alert alert-info">
                                Пока не работает
                            </div>
                            <button class="btn btn-warning">Не нравится оператор</button>
                            <button class="btn btn-info">Маленькие</button>*@
                <button id="btn-inet" class="btn btn-primary">Поиск в интернете</button>
                @{
                    // todo give back
                }


                <button id="GiveBackBtn" class="btn btn-danger">
                    @if (Html.Author().Verificate(dbroles.consultant))
                    {
                        <text>Отдать операторам</text>
                    }
                    else
                    {
                        <text>Отдать другим</text>
                    }
                </button>
                <script>
                    $(document).on('click',
                        '#GiveBackBtn',
                        function() {
                            $(this).attr('disabled', 'disabled');
                            $.ajax({
                                url: '@Url.Action("GiveBack", "Card", new {area = "Organization"})',
                                data: JSON.stringify({
                                    id: '@Model.ID'
                                }),
                                success: function() {
                                    window.location = '@Url.Action("Index", "Progress", new {area = "Operator"})';
                                },
                                error: function() {
                                    $(this).removeAttr('disabled');
                                },
                                type: 'post',
                                contentType: 'application/json'
                            });
                        });
                </script>

                <h4>Пользователи имеющие право редактировать и просматривать</h4>
                @(Html.Kendo()
                      .MultiSelect()
                      .Name("Editors")
                      .DataTextField("Value")
                      .DataValueField("Guid")
                      .DataSource(ds => { ds.Read(v => v.Url(Url.Action("Editors", new {id = Model.ID}))); })
                      .Events(v => v.Change("ChangeEditor"))
                      .Value(Model.Editors))

            </div>
        </div>
    </div>
</div>

<script>
    function ChangeEditor() {
        $.post('@Url.Action("ChangeEditors", new {id = Model.ID})', { values: $('#Editors').val() });
        //console.log($('#Editors').val());
    }
</script>

<div class="ibox float-e-margins border-bottom">
    <div class="ibox-title">
        <h5>Система меток</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        @{
            Html.RenderAction("Index", "OrgModul", new
            {
                area = "Labels",
                id = Model.ID.ToGuid()
            });
        }
    </div>
</div>

<div class="ibox float-e-margins border-bottom">
    <div class="ibox-title">
        <h5>Пересечения</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        @{
            Html.RenderAction("Index", "OrgModul", new
            {
                area = "Intersect",
                id = Model.ID.ToGuid()
            });
        }
    </div>
</div>

<div class="ibox float-e-margins border-bottom">
    <div class="ibox-title">
        <h5>Связи</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        @{
            Html.RenderAction("Index", "OrgModul", new
            {
                area = "Links",
                id = Model.ID.ToGuid()
            });
        }
    </div>
</div>

<div class="ibox float-e-margins border-bottom">
    <div class="ibox-title">
        <h5>Дополнительная информация</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content dop-info" style="display: none">
    </div>
</div>
</div>
</div>
</div>

<div class="wrapper wrapper-content animated fadeInDown" data-org="@Model.ID">
    <div class="ibox">
        <div id="contact-list" class="ibox-content">
            <div id="contact-new" class="row">
                <div class="col-lg-4">
                    <div>
                        <div>Добавить должность</div>
                        <div contenteditable="false" id="AddNewPost"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <div>Добавить ФИО</div>
                        <div contenteditable="false" id="AddNewPerson"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div>
                        <div>Добавить контакт</div>
                        <div contenteditable="false" id="AddNewContact"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script
{
    @*<script src="~/Scripts/audioplayer.min.js"></script>*@
    <script>
        ws.received(function(data) {
            data = JSON.parse(data);
            if (data.method) {
                switch (data.method) {
                case "set_address_phyzical":
                    $("#OrgAddressPhyzical").text(data.value);
                    break;
                case "set_address_legal":
                    $("#OrgAddressLegal").text(data.value);
                    break;
                case "set_address":
                    $("#OrgAddress").text(data.value);
                    $("#RawOrgAddress").text(data.rawValue);
                    $(".orgInterest").remove();
                    break;
                case "add_record":
                    $("#recordView").tmpl(data.data).prependTo("#contact-list");
                    resize();
                    break;
                case "add_post":
                    $("#recordPost").tmpl(data.data).appendTo(`[data-record='${data.record}'] [data='posts']`);
                    resize();
                    break;
                case "add_person":
                    var temp = $("#recordPerson").tmpl(data.data);
                    $(`[data-record='${data.record}'] [data='persons']`).append(temp).closest('[id]')
                        .find('[data="AddPerson"]').parent().hide();
                    resize();
                    break;
                case "add_contact":
                    $("#recordContact")
                        .tmpl(data.data)
                        .appendTo(`[data-record='${data.record}'] [data='contacts']`);
                    resize();
                    break;
                case "add_okved":
                    (data.main ? $("#orgMainOkved") : $("#orgOkved"))
                        .tmpl(data.data)
                        .appendTo("#okved2");
                    break;
                case "add_interest":
                    $("#orgInterest")
                        .tmpl(data.data)
                        .appendTo(".dop-info");
                    break;
                case "add_event":
                    @{
                        var accaunts = (
                            from acc in db.Logins
                            orderby acc.Caption
                            select "{Guid:'" + acc.ID + "',Value:'" + acc.Caption + "'}")
                            .ToArray()
                            .Join(",");
                    }

                    if (!$('*').is(`[id="${data.data.id}"]`)) {
                        var tpl = $("#recordEvent")
                            .tmpl(data.data)
                            .prependTo(`[data-record='${data.record}'] .chat-discussion`);
                        switch (data.data.type) {
                        case @((int) EventType.callTransfer):
                        case @((int) EventType.callUp):
                        case @((int) EventType.unknown):
                        case @((int) EventType.callSeminar):
                            tpl.find("input.type")
                                .kendoDropDownList({
                                    dataSource: [
                                        { id: @((int) EventType.callUp), name: "@(EventType.callUp.AtValue())" },
                                        {
                                            id: @((int) EventType.callTransfer),
                                            name: "@(EventType.callTransfer.AtValue())"
                                        },
                                        { id: @((int) EventType.unknown), name: "@(EventType.unknown.AtValue())" },
                                        {
                                            id: @((int) EventType.callSeminar),
                                            name: "@(EventType.callSeminar.AtValue())"
                                        },
                                    ],
                                    dataTextField: "name",
                                    dataValueField: "id",
                                    value: data.data.type
                                });

                            tpl.find("select.accaunt")
                                .kendoMultiSelect({
                                    dataSource: [@Html.Raw(accaunts)],
                                    dataTextField: "Value",
                                    dataValueField: "Guid",
                                    value: data.data.accaunts,
                                    change: function() {
                                        ws.send({
                                            method: "SetEventPlanAccaunt",
                                            data: {
                                                id: $(this.input).closest('[id]').attr("id"),
                                                value: JSON.stringify(this.value())
                                            }
                                        });
                                    },
                                });

                            //tpl.find("input.type").data("kendoDropDownList").value(data.data.type);
                            break;
                        case @((int) EventType.meeting):
                        case @((int) EventType.meetingEvent):
                            tpl.find("select.accaunt")
                                .kendoMultiSelect({
                                    dataSource: [@Html.Raw(accaunts)],
                                    dataTextField: "Value",
                                    dataValueField: "Guid",
                                    value: data.data.accaunts,
                                    change: function() {
                                        ws.send({
                                            method: "SetEventPlanAccaunt",
                                            data: {
                                                id: $(this.input).closest('[id]').attr("id"),
                                                value: JSON.stringify(this.value())
                                            }
                                        });
                                    },
                                });
                        case @((int) EventType.meetingRate):
                            tpl.find(".rating").rating({
                                min: 0,
                                max: 5,
                                step: 1,
                                starCaptions: {
                                    1: 'Очень плохо',
                                    2: 'Плохо',
                                    3: 'Средненько',
                                    4: 'Хорошо',
                                    5: 'Превосходно'
                                },
                                clearCaption: 'Не оценено',
                                showClear: false,
                                disabled: @Html.Author().Verificate(dbroles.consultant).ToString().ToLower()
                            });
                            tpl.find('.answerOk').bootstrapToggle({
                                    width: "300",
                                    on: "Сумел ответить на все вопросы",
                                    off: "Не сумел ответить на все вопросы",
                                    onstyle: "primary",
                                    offstyle: "danger"
                                })
                                .prop('disabled', @Html.Author().Verificate(dbroles.consultant).ToString().ToLower());
                            break;
                        default:
                        }
                        tpl.find("input.date")
                            .kendoDatePicker();
                        tpl.find("input.time")
                            .kendoTimePicker({
                                min: new Date(0, 0, 0, 8, 0, 0),
                                max: new Date(0, 0, 0, 20, 0, 0),
                            });
                        resize();
                    }
                    break;
                case "add_file":
                    if (!$('*').is(`[id="${data.data.id}"]`)) {
                        var content =
                            $(`[data-record='${data.record}'] [id='${data.task}'] .message-content .file-content`);
                        $("#recordFile").tmpl(data.data).prependTo(content);
                        content.find('[contenteditable]').remove().appendTo(content);
                        resize();
                    }
                    break;
                case "delete":
                    $(data.data.selector).remove();
                    break;
                case "show_currency":
                    $("#orgCurrency").tmpl(data.data).appendTo("#currency-table");
                    break;
                default:
                    break;
                }
            }
        });

    </script>

    <script>
        function resize() {
            $(".row-first")
                .each(function() {
                    const size = $("[class*='col-']:first-child", this).height();
                    $("[class*='col-']:not(:first-child)", this).height(size);
                });
        }

        resize();

        $(document)
            .on('resize', ".row-first", resize)
            .on('change',
                '[data="AddPost"]',
                function() {
                    ws.send({
                        method: "AddPost",
                        data: {
                            record: $(this).closest('[data-record]').attr('data-record'),
                            value: $(this).text()
                        }
                    });
                    $(this).empty();
                })
            .on('change',
                '[data="AddPerson"]',
                function() {
                    ws.send({
                        method: "AddPerson",
                        data: {
                            record: $(this).closest('[data-record]').attr('data-record'),
                            value: $(this).text()
                        }
                    });
                    $(this).empty();
                })
            .on('change',
                '[data="AddContact"]',
                function() {
                    ws.send({
                        method: "AddContact",
                        data: {
                            record: $(this).closest('[data-record]').attr('data-record'),
                            value: $(this).text()
                        }
                    });
                    $(this).empty();
                })
            .on('click',
                '[data="btn-history"]',
                function() {
                    $(this).closest("[data-record]").find("[class*='col-']:not(:first-child)").hide();
                    $(this).closest("[data-record]").find('[data="col-history"]').show();
                    $(this)
                        .closest("[data-record]")
                        .find('[data="DelPost"], [data="DelPerson"], [data="DelContact"]')
                        .hide();
                    $(this)
                        .closest("[data-record]")
                        .find('[data="BtnPhone"], [data="BtnEMail"]')
                        .css("display", "table-cell");
                })
            .on('click',
                '[data="btn-edit"]',
                function() {
                    $(this).closest("[data-record]").find("[class*='col-']:not(:first-child)").hide();
                    $(this).closest("[data-record]").find('[data="col-edit"]').show();
                    $(this)
                        .closest("[data-record]")
                        .find('[data="BtnPhone"], [data="BtnEMail"]')
                        .hide();
                    $(this)
                        .closest("[data-record]")
                        .find('[data="DelPost"], [data="DelPerson"], [data="DelContact"]')
                        .css("display", "table-cell");
                })
            .on('click',
                '[data="btn-comment"]',
                function() {
                    $(this).closest("[data-record]").find("[class*='col-']:not(:first-child)").hide();
                    $(this).closest("[data-record]").find('[data="col-history"]').show();
                    $(this)
                        .closest("[data-record]")
                        .find('[data="DelPost"], [data="DelPerson"], [data="DelContact"]')
                        .hide();
                    $(this)
                        .closest("[data-record]")
                        .find('[data="BtnPhone"], [data="BtnEMail"]')
                        .css("display", "table-cell");
                    ws.send({
                        method: "AddEventComment",
                        data: {
                            record: $(this).closest('[data-record]').attr('data-record')
                        }
                    });
                })
            .on('click',
                '[data="btn-bell"]',
                function() {
                    $(this).closest("[data-record]").find("[class*='col-']:not(:first-child)").hide();
                    $(this).closest("[data-record]").find('[data="col-history"]').show();
                    $(this)
                        .closest("[data-record]")
                        .find('[data="DelPost"], [data="DelPerson"], [data="DelContact"]')
                        .hide();
                    $(this)
                        .closest("[data-record]")
                        .find('[data="BtnPhone"], [data="BtnEMail"]')
                        .css("display", "table-cell");
                    ws.send({
                        method: "AddEventBell",
                        data: {
                            record: $(this).closest('[data-record]').attr('data-record'),
                            date: $(this).closest('[data="col-bell"]').find('input.date').val(),
                            time: $(this).closest('[data="col-bell"]').find('input.time').val(),
                            comment: $(this).closest('[data="col-bell"]').find('[contenteditable]').html(),
                        }
                    });
                })
            .on('change',
                "#OrgShortName",
                function() {
                    ws.send({
                        method: "OrgShortName",
                        data: {
                            id: $(this).closest("[data-org]").attr("data-org"),
                            value: $(this).text()
                        }
                    });
                })
            .on('change',
                "#AddNewPost",
                function() {
                    ws.send({
                        method: "AddNewPost",
                        data: {
                            id: $(this).closest("[data-org]").attr("data-org"),
                            value: $(this).text()
                        }
                    });
                    $(this).empty();
                })
            .on('change',
                "#AddNewPerson",
                function() {
                    ws.send({
                        method: "AddNewPerson",
                        data: {
                            id: $(this).closest("[data-org]").attr("data-org"),
                            value: $(this).text()
                        }
                    });
                })
            .on('change',
                "#AddNewContact",
                function() {
                    ws.send({
                        method: "AddNewContact",
                        data: {
                            id: $(this).closest("[data-org]").attr("data-org"),
                            value: $(this).text()
                        }
                    });
                })
            .on('change',
                "#OrgFullName",
                function() {
                    ws.send({
                        method: "OrgFullName",
                        data: {
                            id: $(this).closest("[data-org]").attr("data-org"),
                            value: $(this).text()
                        }
                    });
                })
            .on('change',
                "#OrgInn",
                function() {
                    ws.send({
                        method: "OrgInn",
                        data: {
                            id: $(this).closest("[data-org]").attr("data-org"),
                            value: $(this).text()
                        }
                    });
                })
            .on('change',
                "#OrgClientCode",
                function() {
                    ws.send({
                        method: "OrgClientCode",
                        data: {
                            id: $(this).closest("[data-org]").attr("data-org"),
                            value: $(this).text()
                        }
                    });
                })
            .on('change',
                "#OrgAddress",
                function() {
                    ws.send({
                        method: "OrgAddress",
                        data: {
                            id: $(this).closest("[data-org]").attr("data-org"),
                            value: $(this).text()
                        }
                    });
                })
            .on('change',
                "#OrgAddressLegal",
                function() {
                    ws.send({
                        method: "OrgAddressLegal",
                        data: {
                            id: $(this).closest("[data-org]").attr("data-org"),
                            value: $(this).text()
                        }
                    });
                })
            .on('change',
                "#OrgAddressPhyzical",
                function() {
                    ws.send({
                        method: "OrgAddressPhyzical",
                        data: {
                            id: $(this).closest("[data-org]").attr("data-org"),
                            value: $(this).text()
                        }
                    });
                })
            .on('change',
                "#OrgComment",
                function() {
                    ws.send({
                        method: "OrgComment",
                        data: {
                            id: $(this).closest("[data-org]").attr("data-org"),
                            value: $(this).html()
                        }
                    });
                })
            .on('change',
                "[data='posts'] [contenteditable]",
                function() {
                    ws.send({
                        method: "EditPost",
                        data: {
                            id: $(this).closest('[id]').attr("id"),
                            value: $(this).text()
                        }
                    });
                })
            .on('change',
                "[data='persons'] [contenteditable]",
                function() {
                    ws.send({
                        method: "EditPerson",
                        data: {
                            id: $(this).closest('[id]').attr("id"),
                            value: $(this).text()
                        }
                    });
                })
            .on('change',
                "[data='contacts'] [contenteditable]",
                function() {
                    ws.send({
                        method: "EditContact",
                        data: {
                            id: $(this).closest('[id]').attr("id"),
                            value: $(this).text()
                        }
                    });
                })
            .on('click',
                '[data="DelPost"]',
                function() {
                    ws.send({
                        method: "DelPost",
                        data: {
                            recordid: $(this).closest('[data-record]').attr('data-record'),
                            id: $(this).closest("[id]").attr("id")
                        }
                    });
                })
            .on('click',
                '[data="DelPerson"]',
                function() {
                    ws.send({
                        method: "DelPerson",
                        data: {
                            recordid: $(this).closest('[data-record]').attr('data-record'),
                            id: $(this).closest("[id]").attr("id")
                        }
                    });
                    $(this).closest('[id]').find('[data="AddPerson"]').parent().show();
                })
            .on('click',
                '[data="DelContact"]',
                function() {
                    ws.send({
                        method: "DelContact",
                        data: {
                            id: $(this).closest("[id]").attr("id")
                        }
                    });
                })
            .on('change',
                '.message-content [contenteditable]:not([data-result])',
                function() {
                    ws.send({
                        method: "EventComment",
                        data: {
                            id: $(this).closest("[id]").attr("id"),
                            value: $(this).html()
                        }
                    });
                })
            .on('change',
                '.message-content [data-result]',
                function() {
                    ws.send({
                        method: "EventResultComment",
                        data: {
                            id: $(this).attr("data-result"),
                            value: $(this).html()
                        }
                    });
                })
            .on('change',
                '.message-content input.date',
                function() {
                    ws.send({
                        method: "EventDate",
                        data: {
                            id: $(this).closest("[id]").attr("id"),
                            value: $(this).val()
                        }
                    });
                })
            .on('change',
                '.message-content input.time',
                function() {
                    ws.send({
                        method: "EventTime",
                        data: {
                            id: $(this).closest("[id]").attr("id"),
                            value: $(this).val()
                        }
                    });
                })
            .on('change',
                '.message-content input.type',
                function() {
                    ws.send({
                        method: "SetEventType",
                        data: {
                            id: $(this).closest("[id]").attr("id"),
                            value: $(this).val()
                        }
                    });
                })
            .on('click',
                '[data="btn-meeting"]',
                function() {
                    //var msg = $("#window").data("kendoWindow");
                    msg.restore().setOptions({
                        draggable: false,
                        width: "100%",
                        height: "100%",
                        position: {
                            top: 0,
                        },
                        modal: true,
                    });
                    msg.content("load").open().maximize();
                    msg.refresh({
                        url: "@Url.Action("Index", "Scheduller", new {area = "Organization"})",
                        data: {
                            id: $(this).closest('[data-record]').attr('data-record'),
                        }
                    });
                })
            .on('click',
                '[data="btn-skype"]',
                function() {
                    //var msg = $("#window").data("kendoWindow");
                    msg.restore().setOptions({
                        draggable: false,
                        width: "100%",
                        height: "100%",
                        position: {
                            top: 0,
                        },
                        modal: true,
                    });
                    msg.content("load").open().maximize();
                    msg.refresh({
                        url: "@Url.Action("Skype", "Scheduller", new {area = "Organization"})",
                        data: {
                            id: $(this).closest('[data-record]').attr('data-record'),
                        }
                    });
                })
            .on('change',
                '.dop-info select',
                function() {
                    ws.send({
                        method: "SetInterestType",
                        data: {
                            id: $(this).closest('[data-org]').attr('data-org'),
                            key: $(this).closest("[id]").attr("id"),
                            value: $(this).val()
                        }
                    });
                })
            .on('change',
                '.dop-info [contenteditable]',
                function() {
                    ws.send({
                        method: "SetInterestComment",
                        data: {
                            id: $(this).closest('[data-org]').attr('data-org'),
                            key: $(this).closest("[id]").attr("id"),
                            value: $(this).html()
                        }
                    });
                })
            .on('change',
                '.currency-status',
                function() {
                    ws.send({
                        method: "SetStatusCurrency",
                        data: {
                            id: $(this).closest('[data-org]').attr('data-org'),
                            value: $(this).val(),
                            key: $(this).closest('[data-id="currency"]').attr('data-key'),
                        }
                    });
                })
            .on('change',
                '.currency-single',
                function() {
                    ws.send({
                        method: "SetSingleCurrency",
                        data: {
                            id: $(this).closest('[data-org]').attr('data-org'),
                            value: $(this).val(),
                            key: $(this).closest('[data-id="currency"]').attr('data-key'),
                        }
                    });
                })
            .on('change',
                '.currency-year',
                function() {
                    ws.send({
                        method: "SetYearCurrency",
                        data: {
                            id: $(this).closest('[data-org]').attr('data-org'),
                            value: $(this).val(),
                            key: $(this).closest('[data-id="currency"]').attr('data-key'),
                        }
                    });
                })
            .on('click',
                '#btn-inet',
                function() {
                    //var msg = $("#window").data("kendoWindow");
                    msg.content("load").open().maximize();
                    msg.refresh({
                        url: "@Url.Action("Index", "Search", new {area = "Organization"})",
                        data: {
                            id: $(this).closest('[data-org]').attr('data-org'),
                        }
                    });
                });
    </script>

}