﻿@using BaseDBFX.Base
@using BaseDBFX.Table
@using Finflaex.Support.Attributes
@using Finflaex.Support.Reflection
@model BaseDBFX.Base.ActionData

<button class="btn btn-default btn-sm" data="btn-add-up-link">
    Добавить влияющую организацию
</button>

@*<button class="btn btn-default btn-sm" data="btn-add-link">
    Добавить равнозначную организацию
</button>*@

<button class="btn btn-default btn-sm" data="btn-add-down-link">
    Добавить зависимую организацю
</button>

<button class="btn btn-default btn-sm" data="btn-add-other-link">
    Добавить партнера
</button>

@{
    var auth = Html.Author().Author;

    var query = (
        from link in Model.db.Links
        where link.Type == TypeLink.up || link.Type == TypeLink.link || link.Type == TypeLink.other
        where link.SecondID == Model.GuidValue.id
        select new
        {
            name = link.First.ShortName ?? link.First.FullName,
            inn = link.First.Inn ?? "",
            address = link.First.FormatAddress ?? link.First.RawAddress ?? link.First.LegalAddress ?? link.First.PhysicalAdress,
            type = link.Type,
            accaunt = (from task in link.First.Events
                where !task.Closed
                where task.Type == EventType.progress
                where task.Start < Model.Now
                where task.End == null || task.End > Model.Now
                from user in task.Users
                select user.Caption
                ).FirstOrDefault(),
            description = link.Description,
            access = (from task in link.First.Events
                where !task.Closed
                where task.Type == EventType.progress || task.Type == EventType.edit
                where task.Start < Model.Now
                where task.End == null || task.End > Model.Now
                where task.Users.Select(v => v.ID).Contains(Model.AuthorGuid)
                select task.ID
                ).Any(),
            orgid = link.First.ID,
            link.ID
        })
        .Concat(
            from link in Model.db.Links
            where link.Type == TypeLink.up || link.Type == TypeLink.link || link.Type == TypeLink.other
            where link.FirstID == Model.GuidValue.id
            select new
            {
                name = link.Second.ShortName ?? link.First.FullName,
                inn = link.Second.Inn ?? "",
                address = link.Second.FormatAddress ?? link.Second.RawAddress ?? link.Second.LegalAddress ?? link.Second.PhysicalAdress,
                type = link.Type == TypeLink.up ? TypeLink.down : link.Type,
                accaunt = (from task in link.Second.Events
                    where !task.Closed
                    where task.Type == EventType.progress
                    where task.Start < Model.Now
                    where task.End == null || task.End > Model.Now
                    from user in task.Users
                    select user.Caption
                    ).FirstOrDefault(),
                description = link.Description,
                access = (from task in link.Second.Events
                    where !task.Closed
                    where task.Type == EventType.progress || task.Type == EventType.edit
                    where task.Start < Model.Now
                    where task.End == null || task.End > Model.Now
                    where task.Users.Select(v => v.ID).Contains(Model.AuthorGuid)
                    select task.ID
                    ).Any(),
                orgid = link.Second.ID,
                link.ID
            })
        .OrderBy(v => v.type);
}

@foreach (var read in query)
{
    <div style="border-top: 1px dashed #aaa; margin-top: 10px; padding-top: 10px;" id="@read.ID">
        <div class="label label-info">@read.type.AtValue()</div>
        @if (read.access || Html.Author().Verificate(dbroles.admin))
        {
            <a href="@Url.Action("Index", "Card", new
                     {
                         area = "Organization",
                         id = read.orgid
                     })">
                @read.name</a>
        }
        else
        {
            @read.name
        }
        @Html.Raw("(" + (read.inn.IsNullOrWhiteSpace() ? "<small>нет ИНН</small>" : read.inn)))
        @if (read.type != TypeLink.link)
        {
            <a class="pull-right label label-danger btn-link-delete"
               style="margin-left: 10px;">
                X
            </a>
        }
        <div class="pull-right label label-default">@read.accaunt</div>
        <small class="block" style="padding: 4px">@read.address</small>
        <div contenteditable="false" class="div-link-comment">
            @read.description.HtmlDecode().FromHtml()
        </div>
    </div>
}

<script>
    $('.btn-link-delete').click(function() {
        var id = $(this).closest('[id]').attr('id');
        $.post('@Url.Action("Delete")/${id}').done(function() {
            $('#${id}').remove();
        });
    });

    $('.div-link-comment').change(function() {
        const id = $(this).closest('[id]').attr('id');
        $.post('@Url.Action("Comment")',
            {
                id: id,
                comment: $(this).html()
            });
    });

    $('[data="btn-add-up-link"]').click(function() {
        msg.restore().setOptions({
            draggable: true,
            width: "auto",
            height: "auto",
            modal: true,
            resizable: true,
        });
        msg.content("load").open().center();
        msg.refresh({
            url: "@Url.Action("AddUpLink", "FormLinkEdit", new
                  {
                      area = "Links",
                      Model.GuidValue.id
                  })",
            data: {
            }
        });
    });

    $('[data="btn-add-down-link"]').click(function() {
        msg.restore().setOptions({
            draggable: true,
            width: "auto",
            height: "auto",
            modal: true,
            resizable: true,
        });
        msg.content("load").open().center();
        msg.refresh({
            url: "@Url.Action("AddDownLink", "FormLinkEdit", new
                  {
                      area = "Links",
                      Model.GuidValue.id
                  })",
            data: {
                //id: '.ToString()',
            
            }
        });
    });

    $('[data="btn-add-other-link"]').click(function() {
        msg.restore().setOptions({
            draggable: true,
            width: "auto",
            height: "auto",
            modal: true,
            resizable: true,
        });
        msg.content("load").open().center();
        msg.refresh({
            url: "@Url.Action("AddOtherLink", "FormLinkEdit", new
                  {
                      area = "Links",
                      Model.GuidValue.id
                  })",
            data: {
                //id: '.ToString()',
            
            }
        });
    });
</script>