﻿@using BaseDBFX.Base
@using BaseDBFX.Models
@using BaseDBFX.Table
@using Finflaex.Support.Attributes
@using Finflaex.Support.MVC.Models
@using Finflaex.Support.Reflection
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Operator.Models
@model BaseDBFX.Base.ActionData

@{
    ViewBag.Title = "План работы";
    Layout = "~/Views/Shared/_OneIndex.cshtml";

    RawFile cfg_read = null;

    try
    {
        cfg_read = (
            from user in Model.db.Logins
            where user.ID == Model.db.AuthorID
            from file in user.Files
            where file.Type == TypeFile.Config
            where file.Name == Login.Configs.OperatorPlanConfig
            select file)
            .FirstOrDefault();
    }
    catch
    {
        
    }

    OperatorPlanConfig cfg = null;

    if (cfg_read != null)
    {
        cfg = cfg_read.Raw.AsObject<OperatorPlanConfig>();
    }

    if (cfg == null)
    {
        cfg = new OperatorPlanConfig
        {
            Accaunt = Model.db.AuthorID,
            Types = new List<EventType>(),
            Start = DateTime.Now,
            End = DateTime.Now
        };
    }

    var list = (
        from user in Model.db.Logins
        where user.ID == Model.AuthorGuid
        from task in user.Events
        where task.Type == EventType.callUp
              || task.Type == EventType.meeting
              || task.Type == EventType.unknown
        where task.Closed == false
        where task.Start != null
        where
            task.NotifyConsultant && user.Roles.Select(v => v.Key).Contains(dbroles.consultant)
            ||
            !task.NotifyConsultant
        //orderby task.Start
        where (
            from access in task.Organization.Events
            where !access.Closed
            where access.Type == EventType.progress || access.Type == EventType.edit
            where access.Start < Model.Now
            where access.End == null || access.End > Model.Now
            where access.Users.Contains(user)
            select access
            ).Any()
        select task.Notify ?? task.Start)
        .ToList();

    var users = (
        from dep in Model.db.Departaments
        where dep.Key == Departament.OperatorDepartament
        from login in dep.Users
        select new GuidValue
        {
            Guid = login.ID,
            Value = login.Caption
        })
        .OrderBy(v => v.Value)
        .ToArray();

    var type = new[]
    {
        new MainValue
        {
            index = EventType.unknown.AsType<int>(),
            value = EventType.unknown.AtValue()
        },
        new MainValue
        {
            index = EventType.callUp.AsType<int>(),
            value = EventType.callUp.AtValue()
        },
        new MainValue
        {
            index = EventType.callTransfer.AsType<int>(),
            value = EventType.callTransfer.AtValue()
        },
        new MainValue
        {
            index = EventType.meetingRate.AsType<int>(),
            value = EventType.meetingRate.AtValue()
        },
        new MainValue
        {
            index = EventType.meetingEvent.AsType<int>(),
            value = EventType.meetingEvent.AtValue()
        },
        new MainValue
        {
            index = EventType.meeting.AsType<int>(),
            value = EventType.meeting.AtValue()
        },
        new MainValue
        {
            index = EventType.callSeminar.AsType<int>(),
            value = EventType.callSeminar.AtValue()
        }
    }
        .OrderBy(v => v.index);
}

@section head
{
    <script>
        function view(e) {
            e.preventDefault();

            const dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            document.location = `@Url.Action("Index", "Card", new {area = "Organization"})?id=${dataItem.ID}`;
            return false;
        }
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<script>
    function DateTimeFilter(control) {
        $(control).kendoDateTimePicker({
            format: "dd-MM-yyyy"
        });
    }
</script>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <script>
                        function SaveConfig() {
                            $.ajax({
                                type: 'post',
                                contentType: 'application/json',
                                url: '@Url.Action("SaveConfig", "Plan", new {area = "Operator"})',
                                data: JSON.stringify({
                                    Accaunt: $('#Accaunted').val(),
                                    Types: $('#Typed').val(),
                                    Start: $("#date_from").val(),
                                    End: $('#date_to').val()
                                }),
                                success: function() {
                                    $('#PlanOrgTable').data('kendoGrid').dataSource.read();
                                }
                            });
                        }
                    </script>

                    <div class="col-lg-6">
                        <div class="p-md">
                            <label class="inline">с:</label>
                            @Html.Kendo().DatePicker().Name("date_from").Value(cfg.Start).Events(v => v.Change("SaveConfig"))
                            &nbsp;
                            <label class="inline">по:</label>
                            @Html.Kendo().DatePicker().Name("date_to").Value(cfg.End).Events(v => v.Change("SaveConfig"))

                            @if (Html.Author().IsGod
                                 || Html.Author().Verificate(dbroles.admin)
                                 || Html.Author().Verificate(dbroles.developer)
                                 || Html.Author().Verificate(dbroles.manager).And(Html.Author().Verificate(dbroles.@operator)).And(!Html.Author().Verificate(dbroles.consultant)))
                            {
                                <div class="form-group m-t-md">
                                    @(Html.Kendo()
                                          .DropDownList()
                                          .Name("Accaunted")
                                          .HtmlAttributes(new
                                          {
                                              style = "width: 100%;"
                                          })
                                          .DataValueField("Guid")
                                          .DataTextField("Value")
                                          .BindTo(users)
                                          .Filter("contains")
                                          .Events(v => v.Change("SaveConfig"))
                                          .Value(cfg.Accaunt.ToString()))
                                </div>
                            }
                            <div class="form-group m-t-md">
                                @(Html.Kendo().MultiSelect()
                                      .Name("Typed")
                                      .HtmlAttributes(new
                                      {
                                          style = "width: 100%;"
                                      })
                                      .DataValueField("index")
                                      .DataTextField("value")
                                      .BindTo(type)
                                      .Filter("contains")
                                      .Events(v => v.Change("SaveConfig"))
                                      .Value(cfg.Types))
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <dl class="alert alert-info dl-horizontal">
                            <dt>Всего:</dt>
                            <dd class="text-success">
                                @list.Count
                            </dd>
                            <dt>Просрочено:</dt>
                            <dd class="text-danger">
                                @list.Count(v => v < DateTimeOffset.Now)
                            </dd>
                            <dt>Осталось сегодня:</dt>
                            <dd class="text-info">
                                @(list
                                      .Where(v => v > DateTimeOffset.Now)
                                      .Count(v => v < DateTimeOffset.Now.Date.AddDays(1)))
                            </dd>
                        </dl>
                    </div>
                </div>
                @(Html
                      .Kendo()
                      .Grid<PlanOrgTableItem>()
                      .Name("PlanOrgTable")
                      .Columns(columns =>
                      {
                          columns
                              .Bound(v => v.DateTimeFilter)
                              .Title("Time")
                              .Format("{0:dd-MM-yyyy}")
                              .ClientTemplate("#:Date# #:Time#")
                              .Filterable(false)
                              .Width(180);

                          columns.Bound(v => v.TypeString).Title("Тип").Format("{0}").Filterable(false);

                          columns.Bound(v => v.Name).Title("Наименование").Filterable(v => { v.IgnoreCase(true).Search(true).Cell(c => c.Operator("contains").ShowOperators(false)); });
                          columns.Bound(v => v.Address).Title("Адрес").Format("").Filterable(v => { v.IgnoreCase(true).Search(true).Cell(c => c.Operator("contains").ShowOperators(false)); });
                          columns.Bound(v => v.Description).Title("Комментарий").Format("").Filterable(v => { v.IgnoreCase(true).Search(true).Cell(c => c.Operator("contains").ShowOperators(false)); });
                          columns.Command(cmd => { cmd.Custom("view").Text("Подробно").Click("view"); });
                      })
                      .RowAction(row =>
                      {
                          if (row.DataItem.DateTime < DateTimeOffset.Now)
                          {
                              row.HtmlAttributes["class"] = "red-bg";
                          }
                      })
                      .Filterable(filter => { filter.Mode(GridFilterMode.Row); })
                      .Sortable(v => v.SortMode(GridSortMode.MultipleColumn))
                      .Resizable(v => v.Columns(true))
                      .DataSource(source =>
                      {
                          source
                              .Ajax()
                              .ServerOperation(true)
                              .Read(read => { read.Url(Url.Action("Read", "Plan", new {area = "Operator"})); });
                      }))
            </div>
        </div>
    </div>
</div>