﻿<script id="warning_client_tmpl" type="text/x-jquery-tmpl">
    <div class="alert alert-warning m-n row m-b-xs">
        <fieldset class="col-lg-4">
            <legend>Запрос</legend>
            <dl class="dl-horizontal">
                <dt>Фамилия</dt>
                <dd>${Query_Surname}</dd>
                <dt>Имя</dt>
                <dd>${Query_Name}</dd>
                <dt>Отчество</dt>
                <dd>${Query_Patronymic}</dd>
                <dt>Дата рождения</dt>
                <dd>${Query_DateBirthday}</dd>
                <dt>Тип документа</dt>
                <dd>${Query_DocType}</dd>
                <dt>Документ</dt>
                <dd>${Query_DocNumber}</dd>
            </dl>
        </fieldset>
        <fieldset class="col-lg-4">
            <legend>Ответ</legend>
            <dl class="dl-horizontal">
                <dt>Код клиента</dt>
                <dd>${Client_Code}</dd>
                <dt>Фамилия</dt>
                <dd>${Client_Surname}</dd>
                <dt>Имя</dt>
                <dd>${Client_Name}</dd>
                <dt>Отчество</dt>
                <dd>${Client_Patroymic}</dd>
                <dt>Дата рождения</dt>
                <dd>${Client_DateBirthday}</dd>
                <dt>Тип документа</dt>
                <dd>${Client_DocType}</dd>
                <dt>Документ</dt>
                <dd>${Client_DocNumber}</dd>
            </dl>
        </fieldset>
        <fieldset class="col-lg-4">
            <legend>Ошибки</legend>
            <ul>
                {{each Messages}}
                <li>${$value}</li>
                {{/each}}
            </ul>
        </fieldset>
    </div>
    <br />
</script>

<script id="warning_data_tmpl" type="text/x-jquery-tmpl">
    <div class="alert alert-warning m-n row m-b-xs">
        <fieldset class="col-lg-4">
            <legend>Запрос</legend>
            <dl class="dl-horizontal">
                <dt>Фамилия</dt>
                <dd>${Query_Surname}</dd>
                <dt>Имя</dt>
                <dd>${Query_Name}</dd>
                <dt>Отчество</dt>
                <dd>${Query_Patronymic}</dd>
                <dt>Дата рождения</dt>
                <dd>${Query_DateBirthday}</dd>
                <dt>Тип документа</dt>
                <dd>${Query_DocType}</dd>
                <dt>Документ</dt>
                <dd>${Query_DocNumber}</dd>
            </dl>
        </fieldset>
        <fieldset class="col-lg-4">
            <legend>Данные</legend>
            <dl class="dl-horizontal">
                <dt>Код клиента</dt>
                <dd>${Data_ClientID}</dd>
                <dt>Код инструмента</dt>
                <dd>${Data_InstrumentID}</dd>
                <dt>Инн эмитента</dt>
                <dd>${Data_IssuerInn}</dd>
                <dt>Эмитент</dt>
                <dd>${Data_IssuerName}</dd>
                <dt>Код ЦБ</dt>
                <dd>${Data_IsinCode}</dd>
                <dt>Название ЦБ</dt>
                <dd>${Data_Ticker}</dd>
                <dt>Вид ЦБ</dt>
                <dd>${Data_InstrumentTypeName}</dd>
                <dt>Вид ЦБ (идентификатор)</dt>
                <dd>${Data_InstrumentTypeID}</dd>
                <dt>Категория ЦБ</dt>
                <dd>${Data_CategoryID}</dd>
                <dt>Количество</dt>
                <dd>${Data_Amount}</dd>
                <dt>Номинал</dt>
                <dd>${Data_Nominal}</dd>
                <dt>Котировка</dt>
                <dd>${Data_Rate}</dd>
                <dt>Стоимость по формуле для видов ЦБ</dt>
                <dd>${Data_PriceAmount}</dd>

            </dl>
        </fieldset>
        <fieldset class="col-lg-4">
            <legend>Ошибки</legend>
            <ul>
                {{each Messages}}
                <li>${$value}</li>
                {{/each}}
            </ul>
        </fieldset>
    </div>
    <br />
</script>