﻿@using Finflaex.Support.Reflection
@using WebGBFXT.Areas.Organization.Controllers
@model IEnumerable<WebGBFXT.Areas.Organization.Controllers.SearchController.OrgModel>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <table class="concurency_result_table">
            <tr>
                <td style="font-weight: bold">имя:</td>
                <td style="width: 100%">@item.Name</td>
                @*<td rowspan="4" style="border-left: none; position: relative;">
                @using (Ajax.BeginForm("Concurency",
                    null,
                    new AjaxOptions
                    {
                        HttpMethod = "post",
                        UpdateTargetId = "concurency_result",
                    },
                    new
                    {
                        style = "height: 100%;"
                    }))
                {
                    @Html.Hidden("WorkID", item.WorkID)
                    @Html.Hidden("INN", item.INN)
                    <button class="btn btn-sm btn-default" type="submit" style="height: 100%; vertical-align: middle">></button>
                }
            </td>*@
            </tr>
            <tr>
                <td>инн:</td>
                <td>@item.INN</td>
            </tr>
            <tr>
                <td>адрес:</td>
                <td>@item.Address</td>
            </tr>
            <tr>
                <td>статус:</td>
                @if (item.Close)
                {
                    <td style="color: red;">закрыта</td>
                }
                else
                {
                    <td style="color: green;">работает</td>
                }
            </tr>
        </table>
    }
}
else
{
    <h2>Совпадений не найдено</h2>
    <p>Рекомендуется добавить организацию в базу</p>
    <form id="form_concurency">
        @{
            var item = ViewData["org"].AsType<SearchController.OrgModel>();
        }
        @Html.Hidden("WorkID", item.WorkID)
        @Html.Hidden("INN", item.INN)
        @Html.Hidden("ID", item.ID)
        <button id="submit_concurency"
                class="btn btn-sm btn-primary"
                type="submit"
                style="height: 100%; vertical-align: middle">
            Добавить
        </button>
    </form>
    <script>
        $('#submit_concurency')
            .click(function() {
                var btn = $(this);
                btn.attr('disabled', true);
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("LoadOrg", "Search", new {area = "Organization"})',
                    data: $('#form_concurency').serialize(),
                    success: function(e) {
                        btn.attr('disabled', false);
                        $('#result_load').html(e);
                    },
                    error: function() {
                        btn.attr('disabled', false);
                    }
                });
            });
    </script>
    @*using (Ajax.BeginForm("LoadOrg",
        null,
        new AjaxOptions
        {
            HttpMethod = "post",
            UpdateTargetId = "result_load",
        },
        new
        {
        }))
    {
        var item = ViewData["org"].AsType<SearchController.OrgModel>();
        @Html.Hidden("WorkID", item.WorkID)
        @Html.Hidden("INN", item.INN)
        @Html.Hidden("ID", item.ID)
        <button class="btn btn-sm btn-primary" type="submit" style="height: 100%; vertical-align: middle">Добавить</button>
    }*@
}