﻿@using Finflaex.Support.Types
@using Kendo.Mvc.UI
@model WebGBFXT.Areas.Organization.Controllers.SearchController.IndexModel

<style>
    [data="window-content"] form > div {
        display: table;
        width: 100%;
    }

    [data="window-content"] form > div > div { display: table-row; }

    [data="window-content"] form > div > div > * {
        display: table-cell;
        margin: 5px;
    }

    [data="window-content"] form > div > div > *:first-child {
        text-align: right;
        width: 150px;
    }

    [data="window-content"] form > div > div > *:not(:first-child) { width: 100%; }

    script { display: none !important; }

    [data="window-content"] h3 {
        border-bottom: 1px solid #eee;
        margin-top: 30px;
        padding-bottom: 20px;
        text-align: center;
    }

    .search_result_table,
    .concurency_result_table {
        border-bottom: solid 1px #eee;
        margin: 10px;
        width: 100%;
    }

    .search_result_table td,
    .concurency_result_table td {
        border-left: 1px dashed #eee;
        padding: 4px 4px;
    }

    .search_result_table td:first-child,
    .concurency_result_table td:first-child {
        border-left: none;
        font-weight: bold;
        text-align: right;
    }

    .search_result_table form {
        height: 100%;
        left: 0;
        margin: -11px;
        position: absolute;
        top: 0;
    }
</style>

<div class="row" data="window-content" style="margin: 0 2px;">
    <div class="col-md-5">
        <h3>Поиск в интернете:</h3>
        @using (Ajax.BeginForm("Search", null, new AjaxOptions
        {
            //HttpMethod = "post",
            UpdateTargetId = "result_search"
        }, new fxcDictSO()
            //.Set("class", "form-horizontal")
            ))
        {
            <div>
                <div>
                    <strong>Наименование:</strong>
                    @Html.EditorFor(v => v.Name)
                </div>
                <div>
                    <strong style="position: relative; top: -15px;">ИНН:</strong>
                    @Html.EditorFor(v => v.Inn)
                </div>
                <div>
                    <strong>Область:</strong>
                    @(Html.Kendo().DropDownListFor(v => v.AddressRegion).DataValueField("Guid").DataTextField("Value").DataSource(source => { source.Read(act => { act.Url(Url.Action("LoadRegion")); }); }).HtmlAttributes(new
                      {
                          style = "left:5px;"
                      }))
                </div>
                @Html.HiddenFor(v => v.OrgID)
            </div>
            <button class="btn btn-sm btn-primary block" type="submit">Искать</button>
        }
        <h3>Результат поиска:</h3>
        <div id="result_search"></div>
    </div>
    <div class="col-md-6">
        <h3>Совпадения в базе:</h3>
        <div id="concurency_result"></div>
        <h3>Результат загрузки:</h3>
        <div id="result_load"></div>
    </div>
</div>

<script>
    $('[data="window-content"] [type="submit"]')
        .click(function() {
            $("#result_search").text("ищем...");
        });
</script>