﻿@model WebGBFXT.Areas.Organization.Controllers.SearchController.OrgModel

<h3 style="color: green;">Обновление успешно завершено</h3>
<button class="btn btn-confirm" data="btn-reload">Обновить</button>
<script>
    $('[data="btn-reload"]')
        .click(function() {
            location.reload(true);
        });
</script>