﻿@model IEnumerable<WebGBFXT.Areas.Organization.Controllers.SearchController.OrgModel>

@foreach (var item in Model)
{
    <table class="search_result_table">
        <tr>
            <td style="font-weight: bold">имя:</td>
            <td style="width: 100%">@item.Name</td>
            <td rowspan="5" style="border-left: none; position: relative;">
                @using (Ajax.BeginForm("Concurency",
                    null,
                    new AjaxOptions
                    {
                        HttpMethod = "post",
                        UpdateTargetId = "concurency_result"
                    },
                    new
                    {
                        style = "height: 100%;"
                    }))
                {
                    @Html.Hidden("WorkID", item.WorkID)
                    @Html.Hidden("INN", item.INN)
                    @Html.Hidden("ID", item.ID)
                    <button class="btn btn-sm btn-default" type="submit" style="height: 100%; vertical-align: middle">></button>
                }
            </td>
        </tr>
        <tr>
            <td>инн:</td>
            <td>@item.INN</td>
        </tr>
        <tr>
            <td>адрес:</td>
            <td>@item.Address</td>
        </tr>
        <tr>
            <td>деятельность:</td>
            <td>@item.Activities</td>
        </tr>
        <tr>
            <td>статус:</td>
            @if (item.Close)
            {
                <td style="color: red;">ликвидирована</td>
            }
            else
            {
                <td style="color: green;">работает</td>
            }
        </tr>
    </table>
}