﻿@model finflaex_IIS_grottbjorn.Models.View.SetPasswordViewModel
@{
    ViewBag.Title = "Создать пароль";
}

<h2>@ViewBag.Title.</h2>
<p class="text-info">
    У вас нет локального имени пользователя и пароля для этого сайта. Добавьте локальную
    учетную запись, чтобы входить без использования внешнего входа.
</p>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()

    <h4>Создать локальное имя входа</h4>
    <hr/>
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Задать пароль" class="btn btn-default"/>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}