﻿@using BaseDBFX.Models
@using BaseDBFX.Table
@using Finflaex.Support.Reflection
@model BaseDBFX.Base.ActionData

@{
    Layout = null;

    var db = Model.db;

    var filter = (
        from user in db.Logins
        where user.ID == Model.AuthorGuid
        from file in user.Files
        where file.Type == TypeFile.Config
        where file.Name == Login.Configs.SeminarInviteConfig
        select file)
        .FirstOrDefault()
        .retIfNull(new RawFile {Raw = new byte[0]})
        .FuncSelect(raw => raw.Raw.AsObject<SeminarInviteConfig>())
        .retIfNull(new SeminarInviteConfig());

    var label_contains = filter.Contains ?? new Guid[0];
    var label_not_contains = filter.NotContains ?? new Guid[0];

    var has_contains = !label_contains.Any();
    var has_not_contains = !label_not_contains.Any();

    var read_orgs = (
        from seminar in db.Events
        where seminar.ID == Model.GuidValue.id
        let adr = (
            from adr in seminar.Prev.Address
            orderby adr.Type descending
            select adr
            )
            .FirstOrDefault()
        from org in adr.Organizations
        let progress = (
            from e in org.Events
            where !e.Closed
            where e.Start < db.Now
            where e.End > db.Now
            where e.Type == EventType.progress
            select e
            )
        where progress.SelectMany(v => v.Users).Any(v => v.ID == db.AuthorID)
        where has_contains || org.Labels.Any(v => label_contains.Contains(v.ID))
        where has_not_contains || org.Labels.All(v => !label_not_contains.Contains(v.ID))
        let records = (
            from rec in org.Contacts
            where seminar.Next.Where(v => !v.Closed).All(v => v.RecordID != rec.ID)
            where rec.Contacts.Any(v => v.Type == ContactType.phone)
            select new
            {
                rec.ID,
                FIO = rec.Persons.Select(v => v.FullName).FirstOrDefault(),
                Phones = rec.Contacts.Where(v => v.Type == ContactType.phone).Select(v => v.ParseValue),
                Posts = rec.Posts.Select(v => v.Caption)
            }
            )
        where records.Any()
        select new
        {
            org.ID,
            Name = org.ShortName ?? org.FullName,
            Address = org.FormatAddress ?? org.PhysicalAdress ?? org.LegalAddress,
            Records = records
        })
        .ToArray();

    foreach (var org in read_orgs)
    {
        <div class="row border-bottom" id="@org.ID">
            <div class="col-md-8">
                <a class="btn btn-link" href="@Url.Action("Index", "Card", new {area = "Organization", id = org.ID})" target="_blank">@org.Name</a>
                <div class="small m-b-xs">@org.Address</div>
                @foreach (var rec in org.Records)
                {
                    <dl style="margin-left: 20px;" id="@rec.ID">
                        <dt>@rec.FIO</dt>
                        <dd>
                            <div>@rec.Posts.Join(", ")</div>
                            <div>
                                <a class="btn btn-primary btn-xs willCome"
                                   data-seminar="@Model.GuidValue.id"
                                   data-org="@org.ID"
                                   data-rec="@rec.ID"
                                   data-flag="1">
                                    придёт
                                </a>
                                <a class="btn btn-danger btn-xs notWillCome"
                                   data-seminar="@Model.GuidValue.id"
                                   data-org="@org.ID"
                                   data-rec="@rec.ID"
                                   data-flag="2">
                                    не придёт
                                </a>
                                <a class="btn btn-success btn-xs inviteTask"
                                   data-seminar="@Model.GuidValue.id"
                                   data-org="@org.ID"
                                   data-rec="@rec.ID"
                                   data-flag="3">
                                    напоминалка
                                </a>
                                @foreach (var phone in rec.Phones)
                                {
                                    <a class="btn btn-info btn-xs"
                                       style="font-size: 1.1em;"
                                       onclick="copyToClipboard(this)"
                                       data-phone="@phone">
                                        <strong>
                                            @string.Format("{0:# (###) ###-##-##}", phone.Prepend("8").ToLong())
                                        </strong>
                                    </a>
                                }
                            </div>
                        </dd>
                    </dl>
                }
            </div>
            <div class="col-md-4">

            </div>
        </div>
    }
}

<script id="will_come" type="text/x-jquery-tmpl">
    <form role="form" id="willComeForm">
        <input type="hidden" class="seminar" value="${seminar}"/>
        <input type="hidden" class="organization" value="${org}"/>
        <input type="hidden" class="record" value="${rec}"/>
        <input type="hidden" class="flag" value="${flag}"/>
        <div class="form-group">
            <label>Комментарий</label>
            <textarea class="form-control comment" rows="5"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-sm btn-danger" type="button" onclick="$('#popup').hide()">
                <strong>Отменить</strong>
            </button>
            {{if flag == 1}}
            <input class="btn btn-sm btn-primary pull-right" type="submit" value="Придёт"/>
            {{else}}
            <input class="btn btn-sm btn-success pull-right" type="submit" value="Не придет"/>
            {{/if}}
        </div>
    </form>
</script>

<script id="invite_task" type="text/x-jquery-tmpl">
    <form role="form" id="willComeForm">
        <input type="hidden" class="seminar" value="${seminar}"/>
        <input type="hidden" class="organization" value="${org}"/>
        <input type="hidden" class="record" value="${rec}"/>
        <input type="hidden" class="flag" value="${flag}"/>
        <div class="form-group">
            <label>Дата напоминания</label>
            <input type="text" class="form-control datetime" value="@DateTime.Now.AddHours(1).ToString("dd.MM.yyyy HH:mm")"/>
        </div>
        <div class="form-group">
            <label>Комментарий</label>
            <textarea class="form-control comment" rows="5"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-sm btn-danger" type="button" onclick="$('#popup').hide()">
                <strong>Отменить</strong>
            </button>
            <input class="btn btn-sm btn-success pull-right" type="submit" value="Напомнить"/>
        </div>
    </form>
</script>

<script>
    function copyToClipboard(el) {

        const aux = document.createElement("input");
        const value = $(el).data('phone');
        aux.setAttribute("value", `98${value}`);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");

        document.body.removeChild(aux);
    }

    $(document)
        .on('click',
            '.willCome, .notWillCome',
            function(e) {
                const data = $(this).data();

                const tpl = $('#will_come').tmpl(data);
                $('#popup_content').html(tpl);
                $('#popup').show();
            })
        .on('click',
            '.inviteTask',
            function(e) {
                const data = $(this).data();

                const tpl = $('#invite_task').tmpl(data);
                tpl.find('.datetime').datetimepicker({
                    locale: 'ru-RU'
                });
                $('#popup_content').html(tpl);
                $('#popup').show();
            })
        .on('submit',
            '#willComeForm',
            function(e) {
                e.preventDefault();

                $('#willComeForm [type="submit"], #willComeForm [type="button"]').attr('disabled', true);

                var data = {
                    seminar: $('#willComeForm .seminar').val(),
                    organization: $('#willComeForm .organization').val(),
                    record: $('#willComeForm .record').val(),
                    comment: $('#willComeForm .comment').val(),
                    flag: $('#willComeForm .flag').val(),
                    datetime: $('#willComeForm .datetime').val()
                };

                jQuery
                    .ajax({
                        url: '@Url.Action("WillCome", "Invite", new {area = "Seminar"})',
                        contentType: 'application/json',
                        dataType: 'json',
                        type: 'post',
                        data: JSON.stringify(data)
                    })
                    .always(function() {
                        $('#willComeForm [type="submit"], #willComeForm [type="button"]').attr('disabled', false);
                    })
                    .done(function(e) {
                        if (e.OK) {
                            $(`#${data.record}`).remove();
                            if (!$(`#${data.organization} dl`).length) {
                                $(`#${data.organization}`).remove();
                            }
                            $('#popup').hide();
                        } else {
                            $('#popup_content').html(e.message);
                        }
                    });

                return false;
            });
</script>