﻿@using BaseDBFX.Table
@using Finflaex.Support.Reflection
@model BaseDBFX.Base.ActionData

@{
    ViewBag.Title = "Не пришедшие на семинар";
    Layout = "~/Views/Shared/_WithOutKendo.cshtml";

    var db = Model.db;
}

@section head
{
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet"/>

    @*<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet"/>
        <script src="~/Scripts/bootstrap-datetimepicker.js"></script>*@

    @*http://eonasdan.github.io/bootstrap-datetimepicker/*@
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/Scripts/jquery.tmpl.js"></script>
}
@section script
{
    <script src="~/Scripts/bootstrap-select.min.js"></script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        @{
            var seminar = db.Events.Where(v => v.ID == Model.GuidValue.id).Select(v => new
            {
                v.Prev.Prev.Caption,
                v.Start,
                v.End,
                desc1 = v.Prev.Prev.Description,
                desc2 = v.Prev.Description,
                desc3 = v.Description,
                TimeZone = v.Prev.Address.Where(a => a.Type == AddressType.region).Select(a => a.TimeZone).FirstOrDefault(),
                Address = v.Prev.Address.OrderBy(a => a.Type).Select(a => a.Suffix + " " + a.Name)
            })
                .FirstOrDefault();

            var start_date = seminar.Start.ToTZString(seminar.TimeZone);
            var end_date = seminar.End.ToTZString(seminar.TimeZone);
        }
        <ol class="breadcrumb">
            <li>
                <a class="btn btn-link" href="@Url.Action("Index", "List", new {area = "Seminar"})">
                    Список семинаров
                </a>
            </li>
            <li>
                <a class="btn btn-link" href="@Url.Action("Index", "Invited", new {area = "Seminar"})">
                    <strong>
                        @ViewBag.Title
                    </strong>
                </a>
            </li>
        </ol>
        <h2>@seminar.Caption</h2>
        <div>@seminar.Address.Join(", ")</div>
        <div>с: @start_date</div>
        <div>по: @end_date</div>
        <small>@Html.Raw(seminar.desc1)</small>
        <small>@Html.Raw(seminar.desc2)</small>
        <small>@Html.Raw(seminar.desc3)</small>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content" id="content_table">
            @{
                Html.RenderPartial("Table", Model);
            }
        </div>
    </div>
</div>