﻿@using BaseDBFX.Base
@using BaseDBFX.Table
@using Finflaex.Support.Reflection
@model BaseDBFX.Base.ActionData

@{
    Layout = null;

    var db = Model.db;

    var start = db.Events.Where(v => v.ID == Model.GuidValue.id).Select(v => v.Start).FirstOrDefault();

    var read_orgs = (
        from seminar in db.Events
        where seminar.ID == Model.GuidValue.id
        let consultants = seminar.Prev.Users.Select(v => v.ID)
        let manager = (
            from auth in db.Logins
            where auth.ID == db.AuthorID
            where auth.Departaments.Intersect(seminar.Prev.Prev.Departaments).Any()
            where auth.Roles.Any(v => v.Key == dbroles.manager)
            select auth.ID
            )
            .Any()
        from invited in seminar.Next
        let accaunts = (
            from progress in invited.Organization.Events
            where progress.Type == EventType.progress
            where !progress.Closed
            where progress.Start < db.Now
            where progress.End > db.Now
            from user in progress.Users
            select user.ID
            )
        let is_operator = (
            from progress in invited.Organization.Events
            where progress.Type == EventType.progress
            where !progress.Closed
            where progress.Start < db.Now
            where progress.End > db.Now
            from user in progress.Users
            from dep in user.Departaments
            where dep.Key == Departament.OperatorDepartament
            select dep.ID
            )
            .Any()
        where invited.Type == EventType.seminarSkiped
        where manager || consultants.Intersect(accaunts).Any() || accaunts.Contains(db.AuthorID)
        select new
        {
            invited.Organization.ID,
            Name = invited.Organization.ShortName ?? invited.Organization.FullName,
            Address = invited.Organization.FormatAddress
                      ?? invited.Organization.PhysicalAdress
                      ?? invited.Organization.LegalAddress,
            InvitedID = invited.ID,
            Record = new
            {
                invited.Record.ID,
                FIO = invited.Record.Persons.Select(v => v.FullName).FirstOrDefault(),
                Phones = invited.Record.Contacts.Where(v => v.Type == ContactType.phone).Select(v => v.ParseValue),
                Posts = invited.Record.Posts.Select(v => v.Caption),
                invited.Description
            },
            has_operator = is_operator
        })
        .ToArray();

    foreach (var org in read_orgs)
    {
        <div class="row border-bottom" id="@org.ID">
            <div class="col-md-8">
                <a class="btn btn-link" href="@Url.Action("Index", "Card", new {area = "Organization", id = org.ID})" target="_blank">@org.Name</a>
                <div class="small m-b-xs">@org.Address</div>
                <dl style="margin-left: 20px;" id="@org.Record.ID">
                    <dt>@org.Record.FIO</dt>
                    <dd>
                        <div>@org.Record.Posts.Join(", ")</div>
                        <div>
                            <a class="btn btn-success btn-xs actionInvited"
                               data-seminar="@Model.GuidValue.id"
                               data-org="@org.ID"
                               data-rec="@org.Record.ID"
                               data-invited="@org.InvitedID"
                               data-description="@org.Record.Description"
                               data-operator="@org.has_operator.ToString().ToLower()"
                               data-flag="1">
                                присутствовал
                            </a>
                            @foreach (var phone in org.Record.Phones)
                            {
                                <a class="btn btn-info btn-xs"
                                   style="font-size: 1.1em;"
                                   onclick="copyToClipboard(this)"
                                   data-phone="@phone">
                                    <strong>
                                        @string.Format("{0:# (###) ###-##-##}", phone.Prepend("8").ToLong())
                                    </strong>
                                </a>
                            }
                        </div>
                        <div>@Html.Raw(org.Record.Description)</div>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    }
}

<script id="templateCause" type="text/x-jquery-tmpl">
    <form role="form" id="formCause">
        <input type="hidden" class="seminar" value="${seminar}"/>
        <input type="hidden" class="org" value="${org}"/>
        <input type="hidden" class="rec" value="${rec}"/>
        <input type="hidden" class="flag" value="${flag}"/>
        <input type="hidden" class="invited" value="${invited}"/>
        {{if operator}}
        <div class="form-group">
            <label>Вознаграждение</label>
            <input type="number" class="form-control bonus" placeholder="" value="0" step="100">
            <span class="help-block">в рублях</span>
        </div>
        {{/if}}
        <div class="form-group">
            <label>Комментарий</label>
            <textarea class="form-control comment" rows="5">${description}</textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-sm btn-danger" type="button" onclick="$('#popup').hide()">
                <strong>Отменить</strong>
            </button>
            <input class="btn btn-sm btn-primary pull-right" type="submit" value="Подтвердить"/>
        </div>
    </form>
</script>

<script>
    function copyToClipboard(el) {

        const aux = document.createElement("input");
        const value = $(el).data('phone');
        aux.setAttribute("value", `98${value}`);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");

        document.body.removeChild(aux);
    }

    $(document)
        .on('click',
            '.actionInvited',
            function(e) {
                e.preventDefault();

                var data = $(this).data();

                if (data.flag !== 2) {
                    const tpl = $('#templateCause').tmpl(data);
                    $('#popup_content').html(tpl);
                    $('#popup').show();
                } else {
                    jQuery
                        .ajax({
                            url: '@Url.Action("ActionInvited", "Invited", new {area = "Seminar"})',
                            contentType: 'application/json',
                            dataType: 'json',
                            type: 'post',
                            data: JSON.stringify(data)
                        })
                        .done(function(e) {
                            if (e.OK) {
                                $(`#${data.rec}`).remove();
                                if (!$(`#${data.org} dl`).length) {
                                    $(`#${data.org}`).remove();
                                }
                            } else {
                                $('#popup_content').html(e.message);
                                $('#popup').show();
                            }
                        });
                }


                return false;
            })
        .on('submit',
            '#formCause',
            function(e) {
                e.preventDefault();
                var form = $('#formCause');

                form.find('[type="submit"]').attr('disabled', true);

                var data = {
                    seminar: form.find('.seminar').val(),
                    org: form.find('.org').val(),
                    rec: form.find('.rec').val(),
                    comment: form.find('.comment').val(),
                    flag: form.find('.flag').val(),
                    invited: form.find('.invited').val(),
                    bonus: form.find('.bonus').val()
                };

                jQuery
                    .ajax({
                        url: '@Url.Action("ActionInvited", "Skiped", new {area = "Seminar"})',
                        contentType: 'application/json',
                        dataType: 'json',
                        type: 'post',
                        data: JSON.stringify(data)
                    })
                    .always(function() {
                        form.find('[type="submit"]').attr('disabled', true);
                    })
                    .done(function(e) {
                        if (e.OK) {
                            $(`#${data.rec}`).remove();
                            if (!$(`#${data.org} dl`).length) {
                                $(`#${data.org}`).remove();
                            }
                            $('#popup').hide();
                        } else {
                            $('#popup_content').html(e.message);
                        }
                    });

                return false;
            });
</script>