﻿@model WebGBFXT.Areas.Consultant.Controllers.MeetingResultController.DistanceResult

<dl class="dl-horizontal">
    <dt>Откуда:</dt>
    <dd>@Model.start</dd>
    <dt>Куда:</dt>
    <dd>@Model.end</dd>
    <dt>Расстояние:</dt>
    <dd>@Model.distance</dd>
</dl>