﻿@using Kendo.Mvc.UI
@model WebGBFXT.Areas.Consultant.Controllers.MeetingResultController.MeetingModel

@{
    ViewBag.Title = "Отчет о результатах встречи";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <div class="h3 header">Результат встречи</div>
                </div>
                <div class="ibox-content" id="meetingResult">
                    <div style="max-width: 800px;" class="center-block">

                        @*<div class="alert alert-danger">
                            Форма находится в режиме разработки и тестирования.
                            <br/>
                            Просьба отложить пока оценку встречи.
                        </div>*@

                        @using (Ajax.BeginForm(new AjaxOptions
                        {
                            HttpMethod = "post",
                            Url = Url.Action("MeetingResult"),
                            UpdateTargetId = "meetingResult"
                        }))
                        {
                            @Html.HiddenFor(v => v.ID)
                            @Html.HiddenFor(v => v.TaskID)
                            <div class="form-group">
                                @(Html.Kendo().CheckBoxFor(v => v.LPR).Label("Присутствие ЛПР"))
                            </div>
                            <div class="form-group">
                                <label>Расстояние (в км)</label>
                                @(Html.Kendo().NumericTextBoxFor(v => v.Distance).HtmlAttributes(new
                                  {
                                      style = "width:100%"
                                  }))
                            </div>
                            <div class="form-group">
                                <label>Затраты (в руб.)</label>
                                @(Html.Kendo().NumericTextBoxFor(v => v.Cost).HtmlAttributes(new
                                  {
                                      style = "width:100%"
                                  }))
                            </div>
                            <div class="form-group">
                                <label>Вознаграждение оператору</label>
                                @(Html.Kendo().NumericTextBoxFor(v => v.Bonus).HtmlAttributes(new
                                  {
                                      style = "width:100%"
                                  })
                                      .Enable(Model.ID == null))
                            </div>
                            <div class="form-group">
                                <label>Комментарий</label>
                                @(Html.Kendo().EditorFor(v => v.Comment))
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Закрыть встречу</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <div class="h3 header">Калькулятор расстояний</div>
                </div>
                <div class="ibox-content">
                    <div style="max-width: 800px;" class="center-block">
                        @using (Ajax.BeginForm(new AjaxOptions
                        {
                            HttpMethod = "post",
                            Url = Url.Action("DistanceCalc"),
                            UpdateTargetId = "result"
                        }))
                        {
                            <div class="form-group">
                                <label>Откуда</label>
                                @(Html.Kendo().TextBox().Name("Address1").HtmlAttributes(new
                                  {
                                      style = "width:100%"
                                  }))
                            </div>
                            <div class="form-group">
                                <label>Куда</label>
                                @(Html.Kendo().TextBox().Name("Address2").HtmlAttributes(new
                                  {
                                      style = "width:100%"
                                  }))
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Рассчитать</button>
                            </div>
                        }
                        <div id="result"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>