﻿@model dynamic

@{
    Layout = null;
}

<h2 class="center">Встреча закрыта</h2>
<div class="center">
    <button id="return" class="btn btn-primary">Вернуться к плану встреч</button>
</div>
<script>
    $("#return")
        .click(function() {
            location.href = "@Url.Action("Index", "Plan", new
                             {
                                 area = "Consultant"
                             })";
        });
</script>