﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Reports.Controllers
@model dynamic
@{
    ViewBag.Title = "Результаты встреч";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="ibox">
        <div class="ibox-content">
            <div>
                @(Html.Kendo().DatePicker()
                      .Name("monthpicker")
                      .Start(CalendarView.Year)
                      .Depth(CalendarView.Year)
                      .Format("MMMM yyyy")
                      .Value(DateTime.Now)
                      .HtmlAttributes(new {style = "width: 300px;", title = "monthpicker"})
                      .Events(v => v.Change("ChangeDate")))
            </div>
            <div class="btn-group">
                <button id="all_cols_rows" class="btn btn-default">Все</button>
                <button id="operators" class="btn btn-default">Операторы</button>
                <button id="departaments" class="btn btn-default">Представительства</button>
                <button id="svode" class="btn btn-default">Сводная</button>
                <button id="result" class="btn btn-default">Результирующая</button>
                <button id="export" class="btn btn-default">Excel</button>
                @section script
                {
                    <script>
                        $("#all_cols_rows")
                            .click(function() {
                                const ds = $("#pivotgrid").data("kendoPivotGrid").dataSource;
                                ds.columns(["Departament"]);
                                ds.measures(["Назначено", "Контроль", "Оплачено", "Нулевые", "Премия"]);
                                ds.rows(["Operator", "Departament", "OrgName"]);
                            });

                        $("#operators")
                            .click(function() {
                                const ds = $("#pivotgrid").data("kendoPivotGrid").dataSource;
                                ds.columns([]);
                                ds.measures(["Премия"]);
                                ds.rows([
                                    {
                                        expand: true,
                                        name: "Operator"
                                    }, {
                                        expand: true,
                                        name: "Departament"
                                    }, {
                                        expand: true,
                                        name: "OrgName"
                                    }
                                ]);
                            });

                        $("#departaments")
                            .click(function() {
                                const ds = $("#pivotgrid").data("kendoPivotGrid").dataSource;
                                ds.columns([]);
                                ds.measures(["Назначено", "Контроль", "Оплачено", "Нулевые", "Премия"]);
                                ds.rows([
                                    {
                                        expand: true,
                                        name: "Departament"
                                    }
                                ]);
                            });

                        $("#svode")
                            .click(function() {
                                const ds = $("#pivotgrid").data("kendoPivotGrid").dataSource;
                                ds.columns([
                                    {
                                        expand: true,
                                        name: "Departament"
                                    }
                                ]);
                                ds.measures(["Премия"]);
                                ds.rows([
                                    {
                                        expand: true,
                                        name: "Operator"
                                    }
                                ]);
                            });

                        $("#result")
                            .click(function() {
                                const ds = $("#pivotgrid").data("kendoPivotGrid").dataSource;
                                ds.columns([]);
                                ds.rows([
                                    {
                                        expand: true,
                                        name: "Operator"
                                    }
                                ]);
                                ds.measures(["Назначено", "Контроль", "Оплачено", "Нулевые", "Премия"]);
                            });

                    </script>

                    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

                    <script>

                        $(function() {
                            $("#export").click(function() {
                                $("#pivotgrid").getKendoPivotGrid().saveAsExcel();
                            });
                        });

                        function onError(e) {
                            alert(`error: ${kendo.stringify(e.errors[0])}`);
                        }

                        function GetMonth() {
                            return {
                                date: $('#monthpicker').val()
                            };
                        }

                        function ChangeDate() {
                            $("#pivotgrid").data("kendoPivotGrid").dataSource.read();
                        }
                    </script>
                }
            </div>


            @(Html.Kendo().PivotGrid<ManagerOperatorController.ReportManagerOperatorModel>()
                  .Name("pivotgrid")
                  .Excel(excel => excel
                      .FileName("ZP.xlsx")
                      .Filterable(true)
                      .ProxyURL(Url.Action("Excel"))
                  )
                  //.HtmlAttributes(new { @class = "hidden-on-narrow" })
                  //.Filterable(true)
                  .Sortable()
                  //.ColumnWidth(120)
                  //.Height(570)
                  .DataSource(dataSource => dataSource
                      .Ajax()
                      .Transport(t => t.Read(act => act.Url(Url.Action("Read")).Data("GetMonth")))
                      .Schema(schema => schema
                          .Cube(cube => cube
                              .Dimensions(dimensions =>
                              {
                                  dimensions.Add(v => v.Departament).Caption("Представительство");
                                  dimensions.Add(v => v.OrgName).Caption("Организация");
                                  dimensions.Add(v => v.Operator).Caption("Оператор");
                              })
                              .Measures(measures =>
                              {
                                  measures.Add("Назначено").Field(v => v.Meetings).AggregateName("sum");
                                  measures.Add("Оплачено").Field(v => v.Paid).AggregateName("sum");
                                  measures.Add("Нулевые").Field(v => v.NotPaid).AggregateName("sum");
                                  measures.Add("Премия").Field(v => v.Bonus).AggregateName("sum");
                                  measures.Add("Контроль").Field(v => v.Rate).AggregateName("sum");
                              })
                          ))
                      .Columns(el =>
                      {
                          //el.Add("Operator").Expand(false);
                          el.Add("Departament").Expand(false);
                          //el.Add("OrgName").Expand(false);
                      })
                      .Rows(el =>
                      {
                          el.Add("Operator").Expand(false);
                          el.Add("Departament").Expand(false);
                          el.Add("OrgName").Expand(false);
                      })
                      .Measures(measures => { measures.Values("Премия", "Назначено", "Контроль", "Оплачено", "Нулевые"); })
                  )
                  )
        </div>
    </div>
</div>

@*<script id="template" type="text/kendo-tmpl">
        hello world
        #: qwe #
        # if (true) { #
        true
        # } else { #
        false
        # } #
    </script>

    <div id="result">

    </div>

    @section script
    {
        <script>
            $("#result").html(kendoTemplate("#template",
            {
                qwe: "from code"
            }));
        </script>
    }*@