﻿@using CoreLimitless
@using CoreSupport.Reflection
@using CoreWeb2.Areas.Admin.Models
@using CoreWeb2.Models
@using Kendo.Mvc.UI
@using Microsoft.AspNetCore.Mvc.Razor
@model LibCoreDB.DataDb
@{
    ViewData["Title"] = "Отделы";
    Layout = "_Index";

    var datasource = "datasource";

    Func<object, HelperResult> buttons =
        @<text>
        <a class='btn bg-blue' href='/Admin/UserItem/Index/#=ID#'>
            <i class='icon-hammer-wrench text-white'></i>
        </a>
        </text>;
}

@(new LimitlessPageHeader
{
    Caption = ViewData["Title"].AsType<string>(),
    Subcaption = " - таблица.",
    MarginBottom = 0,
    Path = new[]
      {
          new LessLink
          {
              Url = "/Admin/departamentslist/Index",
              Icon = "icon-home2",
              Caption = "Таблица"
          }
      },
    Buttons = new[]
      {
          new LessLink
          {
              Caption = "Добавить",
              Url = "/Admin/departamentitem/index",
              Icon = "icon-add"
          }
      }
})

@*<div class="input-group">
    <span class="input-group-btn">
        <button id="btn_search"
                class="btn btn-default btn-icon" type="button">
            <i class="icon-search4"></i>
        </button>
    </span>
    <input type="text" id="search"
           class="form-control" placeholder="поиск по логину">
    <span class="input-group-btn">
        <button id="btn_clear_search"
                class="btn btn-default" type="button">
            <i class="icon-backspace2"></i>
        </button>
    </span>
    <script>
        function reload_user_table() {
            $("#DepartamentTable").data("kendoTreeList").dataSource.read();
        }

        $("#search").keyup(function(e) {
            if (e.which === 13) {
                reload_user_table();
            }
            if (e.which === 27) {
                $('#search').val('');
                reload_user_table();
            }
        });
        $('#btn_search').click(function() {
            reload_user_table();
        });
        $('#btn_clear_search').click(function() {
            $('#search').val('');
            reload_user_table();
        });

        function user_table_filter() {
            return {
                login: $('#search').val()
            };
        }

        $(function() {
            $('#search').focus();
        });
    </script>
</div>*@

<script id="template_button" type="text/x-kendo-template">
    <a class="btn bg-blue" href="/Admin/DepartamentItem/Index/#= id #">
        <i class="icon-hammer-wrench text-white"></i>
    </a>
    <a class="k-button btn bg-danger" data-command="destroy" style="margin:0;min-width:0;">
        <i class="icon-trash text-white"></i>
    </a>
</script>

@(Html
      .Kendo()
      .TreeList<DepartamentModel>()
      .Name("DepartamentTable")
      .Columns(columns =>
      {
          columns.Add().Field(v => v.caption).Title("Наименование");
          columns.Add().Field(v => v.description).Title("Описание");
          columns.Add().Field(v => v.oldid).Title("Старый ИД");
          columns.Add().Field(v => v.order).Title("Индекс");
          columns.Add().Command(v => { }).TemplateId("template_button").Width(107);
          //columns.Add().Command(command =>
          //{
          //    command.Edit().Text("Редактировать");
          //    command.Destroy().Text("Удалить");
          //});
      })
      .Editable(editable =>
      {
          editable.Mode("inline").Move(true);
      })
      .Sortable(v=>v.Mode(TreeListSortMode.MultipleColumn))
      .Resizable(true)
      .DataSource(source =>
      {
          source
              .Model(model =>
              {
                  model.Id(v => v.id);
                  model.ParentId(v => v.parentId);
                  model.Expanded(true);
              })
              //.Create(create =>
              //{
              //    create.Url(Url.Action("Create", "Departament", new {area = "Administration"}));
              //})
              .Read(read =>
              {
                  //    read.Url(Url.Action("Read", "DepartamentList", new {area = "Admin"}));
                  //})
                  //.Update(update =>
                  //{
                  //    update.Url(Url.Action("Update", "DepartamentList", new {area = "Admin" }));
                  //})
                  //.Destroy(destroy =>
                  //{
                  //    destroy.Url(Url.Action("Destroy", "DepartamentList", new {area = "Admin" }));
              });
      })
      .Events(e =>
      {
          e.DragStart("dragStart").DragEnd("dragEnd");
      }))

@section script
{
    <script>
        function dragStart(e) {
            console.log("start");
            $("#DepartamentTable").data("kendoTreeList").dataSource.options.autoSync = true;
        }
        function dragEnd(e) {
            $("#DepartamentTable").data("kendoTreeList").dataSource.options.autoSync = false;
            console.log("stop");
        }
    </script>
}