﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
<title>@(ViewBag.PageTitle + (ViewBag.Title == null ? string.Empty : " - ") + ViewBag.Title ?? string.Empty)</title>
    @Styles.Render("~/styles")
    <link rel="stylesheet/less" type="text/css" href="~/Content/style.less">
    @Scripts.Render("~/scripts")
    @*<script src="~/Scripts/paginationTable.js"></script>*@
    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.css"/>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    @Html.Raw(ViewBag.Head)
</head>

<body>
@Html.Raw(ViewBag.Header)

@RenderBody()

@Html.Raw(ViewBag.Body)

@RenderSection("scripts", false)

@Html.Raw(ViewBag.Footer)
</body>
</html>