﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <title>@(ViewBag.PageTitle + (ViewBag.Title == null ? string.Empty : " - ") + ViewBag.Title ?? string.Empty)</title>
    @Styles.Render("~/start_style")
    <link rel="stylesheet/less" type="text/css" href="~/Content/style_start.less">
    @RenderSection("styles", false)
    @Scripts.Render("~/start_script_header")
    @{
        Html.RenderAction("Head", "Main");
    }
</head>

<body>
@{
    Html.RenderAction("HeadBody", "Main");
}
@RenderBody()
@Scripts.Render("~/start_script_footer")
@RenderSection("scripts", false)
<script class="remove">
    @Html.Raw(ViewBag.WsScript);
    $(".remove").remove();
</script>
@{
    Html.RenderAction("FootBody", "Main");
}
</body>
</html>