﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{
    @RenderSection("style", false)
}

@section head{
    @RenderSection("head", false)
}

<div id="wrapper">
    @{ Html.RenderAction("PartialNavbar", "Home", new {area = null as string}); }
    <div id="page-wrapper" class="gray-bg" style="min-height: 867px;">
        <div class="row border-bottom">
            @{ Html.RenderAction("PartialHeadbar", "Home", new { area = null as string }); }
        </div>
        @RenderBody()
        <div class="footer">
            @{ Html.RenderAction("PartialFooter", "Home", new { area = null as string }); }
        </div>
    </div>
    <div id="right-sidebar">
        <div class="sidebar-container">
            @{
                Html.RenderAction("PartialRight","Home", new { area = null as string });
            }
        </div>
    </div>
</div>

@section script{
    @RenderSection("script", false)
}