﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        @if (string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @Html.Raw("Grottbjorn")
        }
        else
        {
            @Html.Raw("GB | " + ViewBag.Title)
        }
    </title>

    @Styles.Render("~/style/standart")
    @RenderSection("style", false)

    @*<link href="@Url.Content("~/dashboard/css/plugins/toastr/toastr.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/dashboard/js/plugins/gritter/jquery.gritter.css")" rel="stylesheet"/>*@
    <link href="~/dashboard/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/dashboard/css/style.css" rel="stylesheet"/>

    <script src="~/dashboard/js/jquery-2.1.1.js"></script>
    <script src="~/dashboard/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("head", false)
</head>
<body class="@ViewBag.BodyClass">
@RenderBody()
<script src="@Url.Content("~/dashboard/js/plugins/metisMenu/jquery.metisMenu.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/slimscroll/jquery.slimscroll.min.js")"></script>
@*<script src="@Url.Content("~/dashboard/js/plugins/flot/jquery.flot.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/flot/jquery.flot.tooltip.min.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/flot/jquery.flot.spline.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/flot/jquery.flot.resize.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/flot/jquery.flot.pie.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/flot/jquery.flot.symbol.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/flot/jquery.flot.time.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/peity/jquery.peity.min.js")"></script>

<link src="@Url.Content("~/dashboard/css/plugins/jasny/jasny-bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/dashboard/js/plugins/jasny/jasny-bootstrap.min.js")"></script>

<script src="@Url.Content("~/dashboard/js/demo/peity-demo.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/toastr/toastr.min.js")"></script>


<script src="@Url.Content("~/dashboard/js/plugins/jquery-ui/jquery-ui.min.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/gritter/jquery.gritter.min.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/sparkline/jquery.sparkline.min.js")"></script>
<script src="@Url.Content("~/dashboard/js/demo/sparkline-demo.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/chartJs/Chart.min.js")"></script>*@

<script src="~/dashboard/js/inspinia.js"></script>
@RenderSection("script", false)
</html>