﻿@using Finflaex.Support.Reflection;
@functions
{
    public IHtmlString Title
    {
        get
        {
            var title = (string)ViewBag.Title;
            string result;
            if (title.IsNullOrWhiteSpace())
            {
                result = "GrottBjorn".TagWrap("title");
            }
            else
            {
                result = "GB | " + title;
            }
            return result.TagWrap("title").FuncSelect(Html.Raw);
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Title
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/dashboard/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/dashboard/css/style.css" rel="stylesheet" />

    @*<script src="~/Scripts/kendo/2016.2.504/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    @*<script src="~/dashboard/js/jquery-2.1.1.js"></script>*@
    <script src="~/Scripts/bootstrap.js"></script>

    
    @*<link href="~/dashboard/css/animate.css" rel="stylesheet" />*@
    
    @*<link href="~/Content/kendo/2016.2.504/kendo.common.min.css" rel="stylesheet"/>
	<link href="~/Content/kendo/2016.2.504/kendo.mobile.all.min.css" rel="stylesheet"/>
	<link href="~/Content/kendo/2016.2.504/kendo.dataviz.min.css" rel="stylesheet"/>
	<link href="~/Content/kendo/2016.2.504/kendo.silver.min.css" rel="stylesheet"/>
    <link href="~/Content/kendo/2016.2.504/kendo.dataviz.silver.min.css" rel="stylesheet"/>*@
    
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@
	@*<script src="~/Scripts/kendo/2016.2.504/kendo.all.min.js"></script>*@
	@*<script src="~/Scripts/kendo/2016.2.504/kendo.aspnetmvc.js"></script>*@
    @*<script src="~/Scripts/kendo.modernizr.custom.js"></script>
    <script src="~/Scripts/kendo/2016.2.504/cultures/kendo.culture.ru-RU.min.js"></script>
    <script>
        kendo.culture("ru-RU");
    </script>*@
    @RenderSection("head", false)
</head>
<body class="@ViewBag.BodyClass">
    
    <div id="wrapper">
        @{ Html.RenderAction("PartialNavbar", "Home", new { area = null as string }); }
        <div id="page-wrapper" class="gray-bg" style="min-height: 867px;">
            <div class="row border-bottom">
                @{ Html.RenderAction("PartialHeadbar", "Home", new { area = null as string }); }
            </div>
            @RenderBody()
            <div class="footer">
                @{ Html.RenderAction("PartialFooter", "Home", new { area = null as string }); }
            </div>
        </div>
        <div id="right-sidebar">
            <div class="sidebar-container">
                @{
                    Html.RenderAction("PartialRight", "Home", new { area = null as string });
                }
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/dashboard/js/plugins/metisMenu/jquery.metisMenu.js")"></script>
    <script src="@Url.Content("~/dashboard/js/plugins/slimscroll/jquery.slimscroll.min.js")"></script>
    @*<script src="@Url.Content("~/dashboard/js/plugins/jquery-ui/jquery-ui.min.js")"></script>*@
    <script src="~/dashboard/js/inspinia.js"></script>
    @RenderSection("script", false)
</html>