﻿@using WebGBFXT.Controllers
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        @if (string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @Html.Raw("Grottbjorn")
        }
        else
        {
            @Html.Raw("GB | " + ViewBag.Title)
        }
    </title>

   
    <link href="~/dashboard/css/bootstrap.min.css" rel="stylesheet"/>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet"/>*@
    @*<link href="~/Content/bootstrap-theme.css" rel="stylesheet"/>*@
    <link href="~/dashboard/font-awesome/css/font-awesome.css"  rel="stylesheet"/>
    <link href="~/dashboard/css/animate.css"  rel="stylesheet"/>
    @*<link href="~/dashboard/css/plugins/codemirror/codemirror.css"  rel="stylesheet"/>
    <link href="~/dashboard/css/plugins/codemirror/ambiance.css"  rel="stylesheet"/>*@
    <link href="~/dashboard/css/style.css"  rel="stylesheet"/>

    <link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.silver.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.dataviz.silver.min.css")" rel="stylesheet" type="text/css"/>

    <script src="@Url.Content("~/Scripts/kendo/2017.2.504/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.504/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.2.504/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.culture.ru-RU.js")"></script>
    <script>
        kendo.culture("ru-RU");
    </script>

    @*<script src="~/dashboard/js/jquery-2.1.1.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    @*<script src="~/signalr/hubs"></script>*@
    <script>
        var ws = $.connection("/ws");
    </script>
    @*<script>
        @Html.Raw(Runtime.Script)
        $.connection.hub.start().done(function(){});
        Runtime.client.GetCookis = function (name) {
            var cookie = $.cookie(name);
            Runtime.server.readCookies(cookie);
        }
        Runtime.client.GetPath = function (name) {
            Runtime.server.readPath(window.location.href);
        }
        function action(data) {
            Runtime.server.request(data);
        }
    </script>*@
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    @RenderSection("head", false)
    
    @(Html.Kendo().Window().Name("window")
            .Iframe(false).Title("")
            .Actions(actions => actions.Close())
            .Content("loading user info...")
            .Visible(false))

    <script>
        var msg;

        $(function() {
            msg = $("#window").data("kendoWindow");
        });
    </script>
</head>
<body class="@ViewBag.BodyClass">
<div id="wrapper">
    @{ Html.RenderAction("PartialNavbar", "Home", new { area = null as string }); }
    <div id="page-wrapper" class="gray-bg" style="min-height: 867px;">
        <div class="row border-bottom">
            @{ Html.RenderAction("PartialHeadbar", "Home", new { area = null as string }); }
        </div>
        @RenderBody()
        <div class="footer">
            @{ Html.RenderAction("PartialFooter", "Home", new { area = null as string }); }
        </div>
    </div>
    <div id="right-sidebar">
        <div class="sidebar-container">
            @{
                Html.RenderAction("PartialRight", "Home", new { area = null as string });
            }
        </div>
    </div>
</div>
<script src="~/dashboard/js/bootstrap.min.js"></script>
@*<script src="~/Scripts/bootstrap.js"></script>*@
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

@*<script src="@Url.Content("~/Scripts/kendo/2017.2.504/jszip.min.js")"></script>*@

<script src="@Url.Content("~/dashboard/js/plugins/metisMenu/jquery.metisMenu.js")"></script>
<script src="@Url.Content("~/dashboard/js/plugins/slimscroll/jquery.slimscroll.min.js")"></script>
<script src="~/dashboard/js/inspinia.js"></script>
<script>
    $(".nav").find("li").removeClass("active");
    $("[href = '@HttpContext.Current.Request.Url.LocalPath']").parents("li").addClass("active");
</script>
<script>

    function kendoTemplate(template, data) {
        return kendo.template($(template).html())(data);
    }

</script>
@RenderSection("script", false)
<script>
    ws.start();

    $(document)
        .on('click',
            "[contenteditable]",
            function() {
                $(this).attr("contenteditable", true).focus();
            })
        .on('focus',
            "[contenteditable]",
            function() {
                var $this = $(this);
                $this.data('before', $this.html());
                return $this;
            })
        .on('blur',
            "[contenteditable]",
            function() {
                var $this = $(this);
                if ($this.data('before') !== $this.html()) {
                    $this.data('before', $this.html())
                        .trigger('change');
                }
                $(this).attr("contenteditable", false);
                return $this;
            })
        .on("keydown",
            "[contenteditable]",
            function(e) {
                if (e.ctrlKey && e.keyCode === 13) {
                    $(this).blur();
                    e.preventDefault();
                }
            });
</script>
</html>