﻿@model dynamic

@{
    Layout = null;
}

<div class="page-header">Самая главная страница</div>

@*<div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
    <!-- Start .panel -->
    <div class="panel-heading">
        <h4 class="panel-title">Carousel</h4>
    </div>
    <div class="panel-body">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators dotstyle center">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
                    <a href="#">slide1</a>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="1">
                    <a href="#">slide2</a>
                </li>
                <li data-target="#carousel-example-generic" data-slide-to="2">
                    <a href="#">slide3</a>
                </li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="img/carousel/1.jpg" alt="Image1">
                    <div class="carousel-caption">
                        <h4>Seagull</h4>
                        <p>Wonderful seagull in the beach.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/carousel/2.jpg" alt="Image2">
                    <div class="carousel-caption">
                        <h4>Pack of Seagulls</h4>
                        <p>Wonderful pack of seagulls in the beach.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="img/carousel/3.jpg" alt="Image3">
                    <div class="carousel-caption">
                        <h4>Stones</h4>
                        <p>Very nice stones in the beach.</p>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>*@

@*<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Анекдот</h4>
            </div>
            <div class="panel-body">
                <iframe src="http://rzhunemogu.ru/Widzh/Anekdot2.aspx" frameborder="0" width="100%" style="padding: 10px;"></iframe>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Афоризм</h4>
            </div>
            <div class="panel-body">
                <iframe src="http://rzhunemogu.ru/Widzh/Aforizm.aspx" frameborder="0" width="100%" style="padding: 10px;"></iframe>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Цитата</h4>
            </div>
            <div class="panel-body">
                <iframe src="http://rzhunemogu.ru/Widzh/Cetata.aspx" frameborder="0" width="100%" style="padding: 10px;"></iframe>
            </div>
        </div>
    </div>
</div>*@