﻿@{
    Layout = "~/Views/Shared/_LayoutStart.cshtml";
}

<div class="pace pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>

@{
    Html.RenderAction("TopNavigationBar");
}

<div id="wrapper">
    <aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
        <div class="sidebar-inner">
            <div class="sidebar-scrollarea">
                @{
                    Html.RenderAction("LeftPanel_All");
                    Html.RenderAction("LeftPanel_Reg");
                    Html.RenderAction("LeftPanel_UnReg");
                }
            </div>
        </div>
    </aside>
    <div class="page-content clearfix sidebar-page">
        <div class="page-content-wrapper">
            <div id="page" class="page-content-inner">
                @{
                    Html.RenderAction("Content_Reg");
                    Html.RenderAction("FormLogin","Auth");
                }
            </div>
        </div>
    </div>
    <aside id="right-sidebar" class="right-sidebar hidden-md hidden-sm hidden-xs">
        <div class="sidebar-inner">
            <div class="sidebar-scrollarea">
                <div class="tabs">
                    @{
                        Html.RenderAction("RightPanel_Reg");
                        Html.RenderAction("RightPanel_UnReg");
                    }
                </div>
            </div>
        </div>
    </aside>
</div>

<div id="footer" class="clearfix sidebar-page" style="position: absolute;">
    <p class="pull-left">
        Copyrights © 2016 <a class="color-blue strong">Finflaex</a> by <a href="http://grottbjorn.com/" class="color-blue strong" target="_blank">Grottbjorn</a>. All rights reserved.
    </p>
</div>
<div id="back-to-top" style="display: none;">
    <a href="#">Back to Top</a>
</div>