﻿@using ServiceStack
@model Finflaex.Plugin.fxiModulMenuItem[]

@foreach (var item in Model)
{
    <li class="@(item.Submenu != null && item.Submenu.Any() ? "hasSub" : string.Empty)">
        @{
            var root_id = Guid.NewGuid().ToString("N");
        }
        <a id="@root_id" href="#" class="notExpand">
            @if (item.Submenu != null && item.Submenu.Any())
            {
                <i class="l-arrows-right sideNav-arrow"></i>
            }
            <i class="@item.Icon"></i>
            <span class="txt">@item.Caption</span>
        </a>
        @if (item.Action != null && !item.Action.ToString().IsNullOrEmpty())
        {
            <script>
                $("#@root_id").click(function(e) {
                    e.preventDefault();
                    @(Html.Raw(item.Action?.ToString()));
                    return null;
                });
            </script>
        }
        @if (item.Submenu != null && item.Submenu.Any())
        {
            <ul class="sub">
                @foreach (var subitem in item.Submenu)
                {
                    <li>
                        @{
                            var id = Guid.NewGuid().ToString("N");
                        }
                        <a id="@id">
                            <span class="txt">@subitem.Caption</span>
                        </a>
                        <script>
                            $("#@id").click(function(e) {
                                e.preventDefault();
                                @(Html.Raw(subitem.Action?.ToString() ?? string.Empty));
                                return null;
                            });
                        </script>
                    </li>
                }
            </ul>
        }
    </li>
}