﻿@model FinflaexWEB.Pages.System.Main.LeftPanel_Reg_Model

@{
    Layout = null;
}

<div class="sidebar-panel">
    <h5 class="sidebar-panel-title">Профиль</h5>
</div>
<div class="user-info clearfix">
    <span class="name">@Model.Login</span>
    @*<img src="~/Content/logo-sm.png"
         alt="user"/>
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs">
            <i class="l-basic-gear"></i>
        </button>
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            настройки <span class="caret"></span>
        </button>
        <ul class="dropdown-menu right" role="menu" style="margin-left: 1px;">
            <li>
                <a href="profile.html"><i class="fa fa-edit"></i>Edit profile</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-money"></i>Windraws</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-credit-card"></i>Deposits</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/Auth/ActionLogout" id="left_logout"><i class="fa fa-power-off"></i>Выход</a>
            </li>
        </ul>
    </div>*@
</div>
<div class="sidebar-panel">
    <h5 class="sidebar-panel-title">Навигация</h5>
</div>
<div class="side-nav">
    <ul class="nav">
        @{
            Html.RenderPartial("LeftPanel_NavArrayItem", Model.Menu);
        }
    </ul>
</div>