﻿@model FinflaexWEB.Pages.System.Main.LeftPanel_UnReg_Model

@{
    Layout = null;
}
@*<div class="sidebar-panel">
    <h5 class="sidebar-panel-title">Навигация</h5>
</div>
<div class="side-nav">
    <ul class="nav">
        @{
            Html.RenderPartial("LeftPanel_NavItem", new object[1]);
        }
    </ul>
</div>*@