﻿@model dynamic

<div class="tab-pane fade active in" id="activity">
    <ul class="timeline timeline-icons timeline-sm">
        @{
            Html.RenderAction("GetNews", "News", new { area = "News" });
        }
        @*<li>
            <p>
                <a href="#">Файл загружен</a>
                <span class="timeline-icon"><i class="fa fa-file-text-o"></i></span>
                <span class="timeline-date">Dec 10, 22:00</span>
            </p>
        </li>
        <li>
            <p>
                <a href="#">Admin</a> вам оставил сообщение
                <span class="timeline-icon"><i class="fa fa-comment"></i></span>
                <span class="timeline-date">Dec 8, 13:35</span>
            </p>
        </li>
        <li>
            <p>
                <a href="#">USD</a> на счет поступили деньги в размере 1 000 000
                <span class="timeline-icon"><i class="fa fa-money color-green"></i></span>
                <span class="timeline-date">Dec 6, 10:17</span>
            </p>
        </li>
        <li>
            <p>
                <a href="#">Услуги</a> Активирована новая услуга
                <span class="timeline-icon"><i class="fa fa-shopping-cart color-red"></i></span>
                <span class="timeline-date">Dec 5, 04:36</span>
            </p>
        </li>
        <li>
            <p>
                <a href="#">Помощь</a> Что бы получить деньги ...
                <span class="timeline-icon"><i class="fa fa-life-ring color-gray-light"></i></span>
                <span class="timeline-date">Dec 4, 18:40</span>
            </p>
        </li>
        <li>
            <p>
                <a href="#">Голосование</a> По итогам голосования ...
                <span class="timeline-icon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                <span class="timeline-date">Dec 4, 12:00</span>
            </p>
        </li>
        <li>
            <p>
                <a href="#">Настройки</a> Настройки успешно сохранены
                <span class="timeline-icon"><i class="glyphicon glyphicon-cog"></i></span>
                <span class="timeline-date">Dec 3, 23:17</span>
            </p>
        </li>
        <li>
            <p>
                <a href="#">Фото</a> Наша галерея обновилась ...
                <span class="timeline-icon"><i class="l-basic-photo"></i></span>
                <span class="timeline-date">Dec 2, 05:17</span>
            </p>
        </li>
        <li>
            <p>
                <a href="#">Сервер</a> Поступили новые данные
                <span class="timeline-icon"><i class="l-basic-server2"></i></span>
                <span class="timeline-date">Dec 2, 04:56</span>
            </p>
        </li>
        <li>
            <p>
                <a href="#">Ссылки</a> Что бы что-то сделать надо куда-то кликнуть...
                <span class="timeline-icon"><i class="fa fa-unlink"></i></span>
                <span class="timeline-date">Dec 1, 22:13</span>
            </p>
        </li>
        <li>
            <p>
                <a href="#">Обновление</a> Завтра будет обновление
                <span class="timeline-icon"><i class="fa fa-undo color-red"></i></span>
                <span class="timeline-date">Dec 1, 17:42</span>
            </p>
        </li>*@
    </ul>
</div>