﻿@model object[]

@{
    Layout = null;
}

<ul id="rstab" class="nav nav-tabs nav-justified">
    @foreach (var tab in Model)
    {
        Html.RenderPartial("RightPanel_TabHeader", new object());
    }
</ul>
<div id="rstab-content" class="tab-content">
    @foreach (var tab in Model)
    {
        Html.RenderPartial("RightPanel_Tab", new object());
    }
</div>