﻿@model dynamic

@{
    Layout = null;
}

<div id="header" class="page-navbar">
    <a
        class="navbar-brand tipB"
        data-original-title="Самая главная страница Grottbjorn"
       onclick="location.reload()"
        style="background: #FFF;">
        <img src="/Content/logo.png"
             class="logo hidden-xs"
             alt="GB"
             style="margin-top: 10px; width: 175px;">
        <img src="/Content/logo-sm.png"
             class="logo-sm hidden-lg hidden-md"
             alt="GB"
             style="height: 40px; margin-left: -4px; position: relative; top: 3px; width: 40px;">
    </a>
    <div id="navbar-no-collapse" class="navbar-no-collapse">
        <ul class="nav navbar-nav">
            <li class="toggle-sidebar">
                <a id="toggle-nav-sidebar"
                   class="tipB"
                   data-original-title="Переключение панели навигации">
                    <i class="fa fa-reorder"></i>
                    <span class="sr-only">Меню</span>
                </a>
            </li>
            @{
                Html.RenderAction("TopNavigationBar_Left_Reg");
                Html.RenderAction("TopNavigationBar_Left_All");
                Html.RenderAction("TopNavigationBar_Left_UnReg");
            }
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @{
                Html.RenderAction("TopNavigationBar_Right_All");
                Html.RenderAction("TopNavigationBar_Right_Reg");
                Html.RenderAction("TopNavigationBar_Right_UnReg");
            }
            <li>
                <a id="toggle-right-sidebar"
                   class="tipB"
                   title=""
                   data-original-title="Переключение панели уведомлений">
                    <i class="l-software-layout-sidebar-right"></i>
                    <span class="sr-only">Уведомления</span>
                </a>
            </li>
        </ul>
    </div>
</div>