﻿@model dynamic

@{
    Layout = null;
}

@*<li>
    <a href="#" class="reset-layout tipB" title="" data-original-title="Reset panel position for this page">
        <i class="fa fa-history"></i>
    </a>
</li>*@