﻿@model dynamic

@{
    Layout = null;
}
<li class="dropdown">
    <a href="#" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="sr-only">Уведомления</span>
        @*<span class="badge badge-danger">0</span>*@
        <span class="badge badge-success">0</span>
    </a>
    <ul class="dropdown-menu right dropdown-notification" role="menu" style="margin-left: -88.5px;">
        <li>
            <a href="#" class="dropdown-menu-header">уведомлений нет</a>
        </li>
        @*<li>
            <a href="#"><i class="l-basic-life-buoy"></i> 2 support request</a>
        </li>
        <li>
            <a href="#"><i class="l-basic-gear"></i> Settings is changed</a>
        </li>
        <li>
            <a href="#"><i class="l-weather-lightning"></i> 5 min server downtime</a>
        </li>
        <li>
            <a href="#"><i class="l-basic-server2"></i> Databse backup is complete</a>
        </li>
        <li>
            <a href="#"><i class="l-basic-lightbulb"></i> SuggeElson push 1 commit</a>
        </li>
        <li>
            <a href="#" class="view-all">View all <i class="l-arrows-right"></i> </a>
        </li>*@
    </ul>
</li>
@*<li class="dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog"></i>
            <span class="sr-only">Settings</span>
        </a>
        <ul class="dropdown-menu dropdown-form dynamic-settings right" role="menu" style="margin-left: -80.5px;">
            <li>
                <a href="#" class="dropdown-menu-header">Template settings</a>
            </li>
            <li>
                <div class="toggle-custom">
                    <label class="toggle" data-on="ON" data-off="OFF">
                        <input type="checkbox" id="fixed-header-toggle" name="fixed-header-toggle" checked="">
                        <span class="button-checkbox"></span>
                    </label>
                    <label for="fixed-header-toggle">Fixed header</label>
                </div>
            </li>
            <li>
                <div class="toggle-custom">
                    <label class="toggle" data-on="ON" data-off="OFF">
                        <input type="checkbox" id="fixed-left-sidebar" name="fixed-left-sidebar" checked="">
                        <span class="button-checkbox"></span>
                    </label>
                    <label for="fixed-left-sidebar">Fixed Left Sidebar</label>
                </div>
            </li>
            <li>
                <div class="toggle-custom">
                    <label class="toggle" data-on="ON" data-off="OFF">
                        <input type="checkbox" id="fixed-right-sidebar" name="fixed-right-sidebar" checked="">
                        <span class="button-checkbox"></span>
                    </label>
                    <label for="fixed-right-sidebar">Fixed Right Sidebar</label>
                </div>
            </li>
        </ul>
    </li>*@
<li>
    <a href="/Auth/ActionLogout" id="global_logout">
        <i class="fa fa-power-off"></i>
        <span class="sr-only">Выход</span>
    </a>
</li>
@*<script>
    $("#global_logout").click(function(e) {
        e.preventDefault();
        $.post("auth/actionlogout");
        return null;
    })
</script>*@