﻿@using Kendo.Mvc.UI
@model BaseDBFX.Base.ActionData

@{
    Layout = null;
}

<script>
    function SearchOrgFilter() {
        return {
            orgFilter: $('#OrgTargetID').data("kendoComboBox").input.val()
        };
    }
</script>

<script id="OrgTargetTemplate" type="tex/kendo-tmpl">
    <div class="bg-w border-bottom">
        <span style="padding:0 5px;">#=Accaunt#</span>
        <strong style="padding:0 5px;">#=Caption#</strong>
        <span style="padding:0 5px;">(#=INN#)</span>
        <small class="block">#=Address#</small>
    </div>
</script>

<h1>Добавление связи</h1>

<div class="alert alert-info">
    Выбранная организация будет <strong>вышестоящей</strong> для текущей.
</div>

<div class="form-group">
    <label class="control-label block">Организация с которой связь:</label>
    @(Html.Kendo().ComboBox()
          .Name("OrgTargetID")
          .Placeholder("Поиск по ИНН или наименованию")
          .DataTextField("Caption")
          .DataValueField("ID")
          .HtmlAttributes(new {style = "width:100%;"})
          .Filter("contains")
          .AutoBind(false)
          .MinLength(3)
          .DataSource(source => { source.Read(read => { read.Url(Url.Action("SearchOrg")).Data("SearchOrgFilter"); }).ServerFiltering(true); })
          .TemplateId("OrgTargetTemplate")
          .HtmlAttributes(new
          {
              style = "width:100%;",
              @class = "form-control"
          })
          .Height(300)
          )
    <div class="help-block">
        Добавьте организацию, если ее нет в базе, а затем найдите здесь.
    </div>
</div>

@*<div class="form-group">
    <label class="control-label block">
        @Html.CheckBox("OrgTargetPrimary")
        Главная
    </label>
    <div class="help-block">
        Выбранная организация является, в зависимости от типа, ведущей или ведомой.
    </div>
</div>*@

<div class="form-group">
    <label class="control-label block">Комментарий:</label>

    <div id="OrgLinkComment" contenteditable="false" style="min-height: 100px;">
    </div>
</div>

<div class="alert alert-danger" id="link_error" style="display: none"></div>

<div>
    @*<button class="btn btn-danger fa fa-trash" data="btn-link-delete">
        Удалить
    </button>*@
    <button class="btn btn-warning fa fa-times" data="btn-link-cancel">
        Отменить
    </button>
    <button class="btn btn-success fa fa-save" data="btn-link-save">
        Сохранить
    </button>
</div>

<script>
    $('body')
        .on('click',
            '[data="btn-link-cancel"]',
            function() {
                msg.close();
            }).on('click',
            '[data="btn-link-save"]',
            function() {
                $.post('@Url.Action("Add", "OrgModul", new
                        {
                            area = "Links",
                            Model.GuidValue.id
                        })',
                        {
                            type: 1,
                            target: $('#OrgTargetID').val(),
                            primary: $('#OrgTargetPrimary').is(':checked'),
                            comment: $('#OrgLinkComment').html()
                        })
                    .done(function() {
                        msg.close();
                    })
                    .fail(function(xhr, status, error) {
                        $('#link_error').show().html(xhr.responseText);
                    });
            });
    msg.center();
</script>