﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Operator.Models
@model dynamic

@{
    ViewBag.Title = "Мероприятия";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

@section head
{
    <script>
        function view(e) {
            e.preventDefault();

            const dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            document.location = `@Url.Action("Index", "Card", new {area = "Organization"})?id=${dataItem.ID}`;
            return false;
        }
    </script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                @(
        Html
            .Kendo()
            .Grid<PlanOrgTableItem>()
            .Name("PlanOrgTable")
            .Columns(columns =>
            {
                columns.Bound(v => v.Date)
                    .Title("Время")
                    .Format("{0:yyyy.MM.dd HH:mm}");
                columns.Bound(v => v.TypeString).Title("Тип")
                    .Format("{0}");
                columns.Bound(v => v.Name).Title("Наименование");
                columns.Bound(v => v.Address).Title("Адрес").Format("");
                columns.Command(cmd => { cmd.Custom("view").Text("Подробно").Click("view"); });
            })
            .Filterable(filter => { filter.Mode(GridFilterMode.Row); })
            .Sortable()
            .Pageable(pager => pager
                .Input(true)
                .Numeric(true)
                .Info(true)
                .PreviousNext(true)
                .Refresh(true)
                .PageSizes(true)
            )
            .DataSource(source =>
            {
                source
                    .Ajax()
                    .ServerOperation(true)
                    .Read(read => { read.Url(Url.Action("Read", "Plan", new {area = "Operator"})); });
            })
                      )
            </div>
        </div>
    </div>
</div>