﻿@model IEnumerable<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <ul>
        @foreach (string s in Model)
        {
            <li>@s</li>
        }
    </ul>
</div>
</body>
</html>