﻿@using Finflaex.Support.MVC.Models
@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Administration.Models
@{
    ViewBag.Title = "Администрирование оценки встреч";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<script>
    function change_dep() {
        $('#GridPrice').data('kendoGrid').dataSource.read();
        $.post(
            "@Url.Action("ReadRazCurrencyValue")",
            {
                depid: $("#Departaments").val()
            },
            function(read) {
                $("#MinCurrencyRaz").data("kendoNumericTextBox").value(read.value);
            });
    }

    function get_dep_id() {
        return {
            depid: $("#Departaments").val()
        };
    }

    function change_min_cur_raz() {
        $.post(
            "@Url.Action("WriteRazCurrencyValue")",
            {
                depid: $("#Departaments").val(),
                value: $("#MinCurrencyRaz").data("kendoNumericTextBox").value(),
            });
    }
</script>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Выбор подразделения</h3>
                        @(Html.Kendo().DropDownList().Name("Departaments").SelectedIndex(0).DataValueField("Guid").DataTextField("Value").Events(e => { e.Change("change_dep"); }).OptionLabel(new GuidValue
                          {
                              Guid = Guid.Empty,
                              Value = "Выберите подразделение"
                          }).DataSource(d => { d.Read(read => { read.Url(Url.Action("ReadDepartaments")); }); }).HtmlAttributes(new
                          {
                              style = "width:100%"
                          }))
                        <h3>Разовая сделка в Валюте</h3>
                        @(Html.Kendo().NumericTextBox<double>().Name("MinCurrencyRaz")
                              //.Format("p0")
                              .Min(0).Max(1000000).Step(10000).Value(50000).Events(e => { e.Change("change_min_cur_raz"); }).HtmlAttributes(new {style = "width: 100%"}))
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Расценки</h3>
                        @(Html.Kendo().Grid<GridPriceModel>().Name("GridPrice").Columns(col =>
                          {
                              col.Bound(v => v.Value).Title("Среднегодовой оборот");
                              col.Bound(v => v.LprAndRaz).Title("ЛПР и Разовые");
                              col.Bound(v => v.LprOrRaz).Title("ЛПР или Разовые");
                              col.Bound(v => v.NotLprAndNotRaz).Title("Нет ЛПР и нет Разовых");
                              col.Command(v => v.Destroy().Text("Удалить"));
                          }).ToolBar(bar =>
                          {
                              bar.Save().Text("Сохранить");
                              bar.Create().Text("Добавить");
                          }).Editable(edt => { edt.Mode(GridEditMode.InCell); }).DataSource(ds =>
                          {
                              ds.Ajax().Batch(true).ServerOperation(false)
                                  .Model(model =>
                                  {
                                      model.Id(v => v.ID);
                                      model.Field(v => v.Value).DefaultValue(0);
                                      model.Field(v => v.LprAndRaz).DefaultValue(0);
                                      model.Field(v => v.LprOrRaz).DefaultValue(0);
                                      model.Field(v => v.NotLprAndNotRaz).DefaultValue(0);
                                  })
                                  .Update(action => { action.Url(Url.Action("UpdatePrice")); })
                                  .Read(action => { action.Url(Url.Action("ReadPrice")).Data("get_dep_id"); })
                                  .Create(action => { action.Url(Url.Action("CreatePrice")).Data("get_dep_id"); })
                                  .Destroy(action => { action.Url(Url.Action("DestroyPrice")); })
                                  ;
                          }))
                    </div>
                </div>


                @*<div class="alert alert-info m-b-sm">
                        <i class="fa fa-info-circle"></i>
                        Изменение ключей не происходит, только при создании.
                    </div>*@

                @*@(Html
                    .Kendo()
                    .Grid<GuidValue>()
                    .Name("ActivityTable")
                    .ClientDetailTemplateId("template")
                    //.ToolBar(toolbar => { toolbar.Create().Text("Создать"); })
                    .Columns(columns =>
                    {
                        columns.Bound(v => v.Value).Title("Наименование");
                        //columns.Command(command =>
                        //{
                        //    command.Edit().Text("Редактировать");
                        //    command.Destroy().Text("Удалить");
                        //});
                    })
                    //.Editable(editable => { editable.Mode(GridEditMode.InLine); })
                    .Sortable()
                    .DataSource(source =>
                    {
                        source
                            .Ajax()
                            .Model(model => { model.Id(v => v.Guid); })
                            .Read(read => { read.Url(Url.Action("ReadDepartaments", "MeetingPrice", new { area = "Administration" })); })
                            ;
                    }))*@
            </div>
        </div>
    </div>
</div>

@*
    <script id="template" type="text/kendo-tmpl">
        @(Html.Kendo().Grid<ActivityTableItem>()
            .Name("grid_#=key#")
            .Columns(columns =>
            {
                columns.Bound(p => p.DirectionName).Title("Деятельность");
                columns
                    .ForeignKey(v => v.DepartamentKey,
                        (IEnumerable<TableItem>) ViewData["departament"],
                        "key",
                        "caption")
                    .Title("Подразделение");
            })
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(false)
                .ServerOperation(false)
                .AutoSync(true)
                .Model(model =>
                {
                    model.Id(p => p.DirectionKey);
                    model.Field(p => p.DepartamentKey).DefaultValue(Guid.Empty.ToString());
                })
                .Read(read =>
                {
                    read.Url(Url.Action("Read","Activity", new
                    {
                        area= "Administration",
                        id = "#=key#"
                    }));
                })
                .Update(update =>
                {
                    update.Url(Url.Action("Update", "Activity", new
                    {
                        area = "Administration"
                    }));
                })
            ).ToClientTemplate())
        </script>
*@