﻿@model dynamic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

@*@(Html.Kendo().Window()
    .Name("window")
    .Title("Rams's Ten Principles of Good Design")
    .Content("loading user info...")
    //.LoadContentFrom("AjaxContent", "Window")
    .Draggable()
    //.Events(ev => ev.Close("onClose"))
    .Resizable()
      )*@

<div class="btn-group">
    <button id="address" class="btn">Address</button>
</div>

@section script
{
    <script>
        //$(function() {
        //    $("#window").data("kendoWindow").close();
        //});

        $('#address')
            .click(function() {

                msg.restore().setOptions({
                    draggable: true,
                    width: "600px",
                    height: "auto",
                    modal: true,
                    resizable: true,
                });
                msg.content("load").open().center();
                msg.refresh({
                    url: "@Url.Action("Index", "Address", new
                          {
                              area = "Forms",
                              RequestUrl = "/forms/address/AddressRequest/asd"
                          })",
                    data: {
                    }
                });
            });
    </script>
}