﻿<div class="clearfix">
    <div class="page-header">
        <h2>ЦИК</h2>
        <span class="txt">обмен данными с ЦИК</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!--<div class="panel-heading min">
                Загрузка файла
            </div>-->
            <div class="panel-body">
                <!--upload-->
                <br/>
                <blockquote>
                    <small class="text-success">
                        Для получения ответа
                        Выберите файл с расширением XML
                    </small>
                    <small class="text-danger">
                        Если файл не расшифровывается
                        Выберите файл с расширением ENC
                    </small>
                    <small class="text-danger">
                        Если ошибка электронной подписи
                        Выберите файл с расширением SIG
                    </small>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
            <!--<div class="panel-heading min">
                Список загруженных файлов
            </div>-->
            <div class="panel-body">
                <!--table-->
            </div>
        </div>
    </div>
</div>