﻿@using CoreDB.Base
@using CoreWeb2.Services
@model dynamic
@inject ServiceDB<DataDb> gb

<ul class="nav navbar-nav">
    <li>
        <a class="sidebar-control sidebar-main-toggle hidden-xs icon-paragraph-justify3"
           onclick="config.save_sidebar_size()"></a>
    </li>
    <li>
        <a class="sidebar-control sidebar-secondary-hide hidden-xs"
           onclick="config.save_sidebar_left()">
            <i class="icon-transmission"></i>
        </a>
    </li>
    <li>
        <a class="sidebar-control sidebar-opposite-fix hidden-xs"
           onclick="config.save_sidebar_right()">
            <i class="icon-lan3"></i>
        </a>
    </li>
</ul>