﻿@using Kendo.Mvc.UI
@model WebGBFXT.Areas.Organization.Models.SchedullerIndexModel


@{
    Layout = null;
}

<div style="padding: 20px;">
    <div class="form-group">
        <h1 data-bind="text: OrganizationName"></h1>
    </div>
    <div class="form-group">
        <label style="display: block">Дата и время встречи:</label>
        @(Html.Kendo().DateTimePicker().Name("start"))
    </div>
    <div class="form-group">
        @(Html.Kendo().CheckBoxFor(v => v.NotifyConsultant).Label("Подтверждается консультантом"))
    </div>
    <div class="form-group">
        <div>
            @Html.RadioButtonFor(v => v.Notify, "true")
            <label>Подтвердить за 1 день</label>
        </div>
        <div>
            @Html.RadioButtonFor(v => v.Notify, "false")
            <label>Подтвердить утром</label>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label style="display: block">Время подтверждения:</label>
            @(Html.Kendo().TimePickerFor(v => v.NotifyTime))
        </div>
    </div>
    <div class="form-group">
        @(Html.Kendo().Editor().Name("description").Tools(t => { t.Clear().Bold().Italic().Underline().FontColor(); }).HtmlAttributes(
              new
              {
                  style = "width:100%;"
              }))
    </div>
</div>