﻿@using Kendo.Mvc.UI
@model WebGBFXT.Areas.Organization.Models.SchedullerTripModel


@{
    Layout = null;
}

<div style="padding: 20px;">
    <div class="form-group">
        <h1 data-bind="text: OrgName"></h1>
    </div>
    <div class="form-group">
        <label style="display: block">Дата и время встречи:</label>
        @(Html.Kendo().DateTimePicker().Name("start"))
    </div>
    <div class="form-group">
        @(Html.Kendo()
              //.EditorFor(v => v.Description)
              .Editor().Name("description").Tools(t => { t.Clear().Bold().Italic().Underline().FontColor(); }).HtmlAttributes(
                  new
                  {
                      style = "width:100%;"
                  }))
    </div>
</div>