﻿@using LibCoreDB
@using CoreLimitless
@using CoreSupport.MVC.Authorization
@using CoreSupport.Reflection
@using CoreSupport.Type
@using CoreWeb2.Areas.Admin.Models
@using Kendo.Mvc.UI
@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@using Microsoft.EntityFrameworkCore
@model LibCoreDB.DataDb
@{
    ViewData["Title"] = "Пользователь";
    Layout = "_Index";

    //var query_user =
    //    from user in Model.Users
    //    where user.ID == Model.DataModel.Guid
    //    select new
    //    {
    //        user,
    //        person = user.Person,
    //        roles = from link in user.RoleLinks
    //                select link.RoleKey,
    //        departaments = from dep in user.Departaments
    //                       select dep.DepartamentID
    //    };

    //var author = dbr.system_id == ViewContext.HttpContext.AuthRecord().Guid;

    //var query_roles =
    //    from role in Model.Roles
    //    where author || role.ID != dbr.architector
    //    where author || role.ID != dbr.guest
    //    select new MainValue
    //    {
    //        Key = role.ID,
    //        Value = role.Description
    //    };

    //var query_deps =
    //    from dep in Model.Departaments
    //    select new MainValue
    //    {
    //        Guid = dep.ID,
    //        Value = dep.Caption
    //    };

    //var read = await query_user.FirstOrDefaultAsync();
    //var roles = await query_roles.ToArrayAsync();
    //var deps = await query_deps.ToArrayAsync();
}

@(new LimitlessPageHeader
{
    Caption = ViewData["Title"].AsType<string>(),
    Subcaption = "- Администрирование пользователя.",
    //Path = new[]
    //{
    //    new LessLink
    //    {
    //        Url = "/Admin/UserList/Index",
    //        Icon = "icon-home2",
    //        Caption = "Таблица"
    //    },
    //    new LessLink
    //    {
    //        Url = $"/Admin/UserList/Index/{Model.DataModel.ID}",
    //        Caption = "Пользователь"
    //    }
    //},
    //Buttons = new[]
    //{
    //    new LessLink
    //    {
    //        Caption = "Удалить",
    //        Icon = "icon-trash",
    //        Url = $"/admin/useritem/delete/{Model.DataModel.Guid}"
    //    }
    //}
})


<div class="content">
    @*@if (Model.DataModel.Value != null)
    {
        @(new LimitlessPanel
          {
              Body = (@<div class="area area-info">@Model.DataModel.Value</div>)
          })
    }*@


    @(new LimitlessPanel
{
    PostUrl = "/admin/useritem/save",
    Submit = "Сохранить данные авторизации",
    Class = "col-md-6",
    FormLabel = "Данные авторизации",
    //FormElements = new[]
    //{
    //    new LimitlessFormGroup
    //    {
    //        Name = "ID",
    //        TypeInput = LimitlessTypeInput.hidden,
    //        Value = read?.user.ID
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Логин",
    //        Name = "Login",
    //        PlaceHolder = "логин",
    //        Value = read?.user.Login,
    //        Icon = "icon-user",
    //        IconPosition = LimitlessJustify.left
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Пароль",
    //        Name = "Password",
    //        PlaceHolder = "пароль",
    //        Value = read?.user.Password.Decrypt(),
    //        Icon = "icon-key",
    //        IconPosition = LimitlessJustify.left
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Роли",
    //        Content = Html.Kendo()
    //            .MultiSelect()
    //            .Name("Roles")
    //            .BindTo(roles)
    //            .DataValueField("Key")
    //            .DataTextField("Value")
    //            .Value(read?.roles ?? new string[0]),
    //        Help = "список ролей"
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Отделы",
    //        Content = Html.Kendo()
    //            .MultiSelect()
    //            .Name("Departaments")
    //            .BindTo(deps)
    //            .DataValueField("Guid")
    //            .DataTextField("Value")
    //            .Value(read?.departaments ?? new Guid?[0]),
    //        Help = "список отделов"
    //    }
    //}
})

    @(new LimitlessPanel
{
    PostUrl = "/admin/personitem/save",
    Submit = "Сохранить персональные данные",
    Class = "col-md-6",
    FormLabel = "Персональные данные",
    //FormElements = new[]
    //{
    //    new LimitlessFormGroup
    //    {
    //        Name = "ID",
    //        TypeInput = LimitlessTypeInput.hidden,
    //        Value = read?.person?.ID
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Name = "UserID",
    //        TypeInput = LimitlessTypeInput.hidden,
    //        Value = read?.user?.ID
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Name = nameof(PersonModel.RedirectPath),
    //        TypeInput = LimitlessTypeInput.hidden,
    //        Value = ViewContext.HttpContext.Request.GetUri().AbsoluteUri
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Часовой пояс",
    //        Name = "TimeZone",
    //        PlaceHolder = "сдвиг относительно нулевого мередиана",
    //        Value = read?.person?.TimeZone ?? 0,
    //        TypeInput = LimitlessTypeInput.number
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Фамилия",
    //        Name = "LastName",
    //        PlaceHolder = "фамилия",
    //        Value = read?.person?.SurName
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Имя",
    //        Name = "FirstName",
    //        PlaceHolder = "имя",
    //        Value = read?.person?.FirstName
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Отчество",
    //        Name = "MiddleName",
    //        PlaceHolder = "отчество",
    //        Value = read?.person?.MiddleName
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Внутренний телефон",
    //        Name = "InnerPhoneNumber",
    //        PlaceHolder = "внутренний номер телефона"
    //    },
    //    new LimitlessFormGroup
    //    {
    //        Label = "Корпаративный почтовый ящик",
    //        Name = "InnerEMailAddress",
    //        PlaceHolder = "корпоративный почтовый адрес"
    //    }
    //}
})
</div>