﻿@using BaseDBFX.Base
@using BaseDBFX.Table
@using Kendo.Mvc.UI
@model WebGBFXT.Areas.Organization.Controllers.TableEventController.EventModel

@{
    var gb = (ActionData) ViewBag.gb;

    var accounts = (
        from dep in gb.db.Departaments
        where dep.Parent.Key == Departament.ConsultantDepartament
        from user in dep.Users
        select new
        {
            user.ID,
            user.Caption
        })
        .Distinct()
        .OrderBy(v => v.Caption)
        .ToArray();
}

<div class="p-m">
    <h3>Выберите тех кто едет на встречу:</h3>
    <br/>

    @(Html.Kendo()
          .MultiSelect()
          .Name("Accounts")
          .AutoClose(false)
          .Placeholder("Выберите консультантов")
          .BindTo(accounts)
          .Value(Model.Accounts)
          .DataValueField("ID")
          .DataTextField("Caption"))

    <div class="form-group">
        <label>Комментарий</label>
        <small class="help-block">Этот комментарий увидят только те консультанты, с которыми были выполнены действия в письме на почту.</small>
        <textarea name="Description" class="form-control" rows="5" style="width: 332px;"></textarea>
    </div>
</div>