﻿@using CoreDB.Base
@using CoreWeb2.Services
@model dynamic
@inject ServiceDB<DataDb> gb

<!-- Main navigation -->
<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
            @*@if (ViewContext.HttpContext.AuthRecord().Guid == dbr.system_id)
            {
                <li class="has-ul">
                    <a>
                        <i class="icon-chess-king"></i><span>Сисадминка</span>
                    </a>
                    <ul>

                    </ul>
                </li>
            }*@
            @*@if (ViewContext.HttpContext.AuthRecord().IsGod)
            {
                <li class="has-ul">
                    <a>
                        <i class="icon-chess-king"></i><span>Суперадминка</span>
                    </a>
                    <ul>
                        <li>
                            <a asp-area="Admin" asp-controller="BaseActions" asp-action="Index">
                                <span>База данных</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="MenuList" asp-action="Index">
                                <span>Меню</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }*@
            @if (gb.Author.IsAdmin)
            {
                <li class="has-ul">
                    <a>
                        <i class="icon-chess-queen"></i><span>База данных</span>
                    </a>
                    <ul>
                        <li>
                            <a href="/admin/dbhistory">
                                <span>История</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has-ul">
                    <a>
                        <i class="icon-chess-queen"></i><span>Админка</span>
                    </a>
                    <ul>
                        <li>
                            <a href="/admin/roles">
                                <span>Роли</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/users">
                                <span>Пользователи</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            <li class="has-ul">
                <a>
                    <i class="icon-city"></i><span>Клиенты</span>
                </a>
                <ul>
                    @*@if (ViewContext.HttpContext.AuthRecord().Verificate(dbr.admin, dbr.@operator, dbr.consultant))
                    {
                        <li>
                            <a asp-area="Orgs" asp-controller="Table" asp-action="Index" asp-route-id="">
                                <span>Список</span>
                            </a>
                        </li>
                    }*@
                </ul>
            </li>
            <li class="has-ul">
                <a>
                    <i class="icon-database-upload"></i><span>Импорт</span>
                </a>
                <ul>
                    @*@if (ViewContext.HttpContext.AuthRecord().Verificate(dbr.admin, dbr.@operator, dbr.consultant))
                    {
                        <li>
                            <a asp-area="Import" asp-controller="OperatorDataFile" asp-action="Index">
                                <span>файл база Excel</span>
                            </a>
                        </li>
                    }*@
                </ul>
            </li>

            @*@{
        var menus = await (
            from user in Model.Users
            where user.ID == ViewContext.HttpContext.AuthRecord().Guid
            from menu in Model.Menus
            where menu.Parent == null
            where user.RoleLinks.Select(v => v.RoleKey).Intersect(menu.RolesLinks.Select(v => v.RoleKey)).Any()
            select menu)
            .Include(v => v.Submenu)
            .ToArrayAsync();
    }
    @foreach (var menu in menus)
    {
        if (menu.Header)
        {
            <li class="navigation-header">
                <span>@Html.Raw(menu.Caption)</span>
                <i class="@(menu.Icon ?? "icon-menu")" title="" data-original-title="@menu.Description"></i>
                @if (menu.Label.notEmpty())
                {
                    @Html.Raw(menu.Label)
                }
            </li>
        }
        else
        {
            <li>
                <a @(menu.Url == null ? string.Empty : $"href={menu.Url}")>
                    @Html.Raw(menu.Icon == null ? string.Empty : $"<i class='{menu.Icon}'></i>")
                    <span>@menu.Caption</span>
                    @if (menu.Label.notEmpty())
                    {
                        @Html.Raw(menu.Label)
                    }
                </a>
                @if (menu.Submenu.Any())
                {
                    <ul class="hidden-ul">
                        @foreach (var item in menu.Submenu)
                        {
                            <li>
                                <a @(item.Url == null ? string.Empty : $"href={item.Url}")>
                                    @Html.Raw(item.Icon == null ? string.Empty : $"<i class='{item.Icon}'></i>")
                                    <span>@item.Caption</span>
                                    @if (item.Label.notEmpty())
                                    {
                                        @Html.Raw(item.Label)
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    }*@
        </ul>
    </div>
</div>
@*<script>
    $('.navigation li').removeClass('active');
    $('.navigation li > ul').addClass('hidden-ul');
    $('.navigation li').each(function(i, item) {
        try {

            var a = $(item).find('a');
            var url = a.attr("href").toUpperCase();
            var path = window.location.pathname.toUpperCase();
            if (path.indexOf(url) > -1) {
                $(item).addClass('active').closest('ul').removeClass('hidden-ul');
            }
        } catch (e) {
        }
    });
</script>*@
<!-- /main navigation -->