﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Administration.Models
@{
    ViewBag.Title = "Администрирование ролей";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                <div class="alert alert-info m-b-sm">
                    <i class="fa fa-info-circle"></i>
                    Изменение ключей не происходит, только при создании.
                </div>
                @(Html
                      .Kendo()
                      .Grid<TableItem>()
                      .Name("RoleTable")
                      .ToolBar(toolbar => { toolbar.Create().Text("Создать"); })
                      .Columns(columns =>
                      {
                          columns.Bound(v => v.key).Title("Ключ");
                          columns.Bound(v => v.caption).Title("Наименование");
                          columns.Bound(v => v.description).Title("Описание");
                          columns.Command(command =>
                          {
                              command.Edit().Text("Редактировать");
                              command.Destroy().Text("Удалить");
                          });
                      })
                      .Editable(editable => { editable.Mode(GridEditMode.InLine); })
                      .Sortable()
                      .DataSource(source =>
                      {
                          source
                              .Ajax()
                              .Model(model => { model.Id(v => v.key); })
                              .Create(create => { create.Url(Url.Action("Create", "Roles", new {area = "Administration"})); })
                              .Read(read => { read.Url(Url.Action("Read", "Roles", new {area = "Administration"})); })
                              .Update(update => { update.Url(Url.Action("Update", "Roles", new {area = "Administration"})); })
                              .Destroy(destroy => { destroy.Url(Url.Action("Destroy", "Roles", new {area = "Administration"})); });
                      }))
            </div>
        </div>
    </div>
</div>

@section script
{
}