﻿@using CoreDB.Base
@using CoreWeb2.Services
@using Kendo.Mvc.UI
@using Microsoft.EntityFrameworkCore
@inject ServiceDB<DataDb> gb
@model CoreWeb2.Areas.Admin.Models.ModelUser
@{
    Layout = null;
    var FormID = "#FormClearOldEvents";
}

<form id="@FormID.Trim('#')" style="padding: 20px;">
    <div class="form-group">
        <button type="submit"
                class="btn btn-primary"
                style="display: block;">
            Удалить устаревшие данные
            <i class="icon-trash"></i>
        </button>
    </div>
</form>

<script>
    $('@FormID').submit(function (e) {

        ajaxFormNotify('@FormID', '@Url.Action("ClearOldEvents")')
            .always(function() {
                html_load('#panel_left', '@Url.Action("Index")');
            });

        e.preventDefault();
    });
</script>