﻿@using CoreDB.Base
@using CoreSupport.Type
@using CoreWeb2.Services
@using Kendo.Mvc.UI
@using Microsoft.EntityFrameworkCore
@inject ServiceDB<DataDb> gb
@{
    Layout = null;
}

<style>
    .table_history_db {
        width: 100%;
    }
    .table_history_db td:first-child {
        padding-left: 10px;
        font-weight: bold;
    }
    .table_history_db td:last-child {
        text-align: center;
        width: 20%;
    }
</style>
<div>
    <h2 class="text-center">Статистика базы данных</h2>
    @{
        var count_old_events = await gb.db.Links
            .Where(e => e.End < gb.db.Now)
            .CountAsync();

        var count_old_values = await gb.db.DynValues
            .Where(e => e.End < gb.db.Now)
            .CountAsync();
    }
    
    <table class="table_history_db table table-bordered table-striped table-hover">
        <tr id="old_events">
            <td>Количество устаревших событий</td>
            <td>@count_old_events</td>
        </tr>
        <tr id="old_values">
            <td>Количество устаревших данных</td>
            <td>@count_old_values</td>
        </tr>
    </table>
</div>

<script>
    $('.table_history_db')
        .on('click',
            '#old_events',
            function() {
                send({
                    key: 'LoadRightPanel',
                    url: '@Url.Action("FormClearOldEvents")'
                })
            });
</script>