﻿@model finflaex_IIS_grottbjorn.Models.View.Account.vmRegister
@{
    ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <h4>Создайте новую учетную запись.</h4>
    <hr/>
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(m => m.Login, new {@class = "col-md-2 control-label"})
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Login, new {@class = "form-control"})
            <span class="label label-default">не обязательно</span>
        </div>
        <blockquote class="col-md-5">
            <small>по умолчанию используется <B>email</b></small>
        </blockquote>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
        <div class="col-md-5">
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
            <span class="label label-danger">обязательно</span>
        </div>
        <blockquote class="col-md-5">
            <small>введите реальный адрес<br>необходим для обратной связи</small>
        </blockquote>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
        <div class="col-md-5">
            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
            <span class="label label-danger">обязательно</span>
        </div>
        <blockquote class="col-md-5">
            <small>никто, кроме Вас, не должен знать вашего пароля</small>
        </blockquote>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-5">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
            <span class="label label-warning">повтор</span>
        </div>
        <blockquote class="col-md-5">
            <small>на случай ошибки первого ввода</small>
        </blockquote>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Регистрация"/>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}