﻿@model finflaex_IIS_grottbjorn.Models.View.SendCodeViewModel
@{
    ViewBag.Title = "Отправить";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("SendCode", "Account", new {Model.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <h4>Отправить проверочный код</h4>
    <hr/>
    <div class="row">
        <div class="col-md-8">
            Выбор поставщика двухфакторной проверки подлинности:
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
            <input type="submit" value="Отправить" class="btn btn-default"/>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}