﻿@using Kendo.Mvc.UI
@model WebGBFXT.Areas.Sdl.Models.UserSdlModel
@{
    Layout = null;
}

<div style="padding: 20px;">
    <div class="form-group">
        @Html.LabelFor(v => v.Caption)
        @(Html.Kendo().TextBoxFor(v => v.Caption).HtmlAttributes(new
          {
              style = "width: 100%;"
          }))
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Phone)
        @(Html.Kendo().TextBoxFor(v => v.Phone).HtmlAttributes(new
          {
              style = "width: 100%;"
          }))
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.EMail)
        @(Html.Kendo().TextBoxFor(v => v.EMail).HtmlAttributes(new
          {
              style = "width: 100%;"
          }))
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Login)
        @(Html.Kendo().TextBoxFor(v => v.Login).HtmlAttributes(new
          {
              style = "width: 100%;"
          }))
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Password)
        @(Html.Kendo().TextBoxFor(v => v.Password).HtmlAttributes(new
          {
              style = "width: 100%;",
              type = "password"
          }))
    </div>
</div>