﻿@using fxGDB_GrottBjorn.Base
@using fxSupport.fdIIS.fdsAuth
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrottBjorn@(ViewBag.Title != null ? " - " + ViewBag.Title : string.Empty)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/webix.js"></script>
    <link href="~/Content/webix.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/finflaex/finflaexLib.js"></script>
    <script src="~/Scripts/finflaex/finflaexWs.js"></script>
    <script>
        ws_connect();
    </script>
    @RenderSection("style",false)
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" type-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("GrottBjorn", "Index", "Home", new{area = ""},new{@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("NavMenu")
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
    @RenderBody()
    <hr />
    <footer>
        <p>
            &copy; @DateTime.Now.Year – <b>GrottBjorn</b> <small>by finflaex</small>
        </p>
    </footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("script", false)
</body>
</html>