﻿@using fxGDB_GrottBjorn.Base
@using fxSupport.fdIIS.fdsAuth
@using Microsoft.AspNet.Identity

@{
    var context = new HttpContextWrapper(HttpContext.Current) as HttpContextBase;
    var fx = context.GetAuthentification<GDB>();
}

@if (fx.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Здравствуйте, " + fx.user.Name + "!", "Index", "Manage", null, new {title = "Manage"})
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", null, new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Выполнить вход", "Login", "Account", null, new {id = "loginLink"})</li>
    </ul>
}