﻿@using fxGDB_GrottBjorn.Tables
@{
    Layout = null;
}
@section style{
    <style>
        .marginBottom-0 {
            margin-bottom: 0;
        }
        .dropdown-submenu {
            position: relative;
        }
        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px 6px;
            border-radius: 0 6px 6px 6px;
        }
        .dropdown-submenu > a:after {
            display: block;content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #cccccc;
            margin-top: 5px;
            margin-right: -10px;
        }
        .dropdown-submenu:hover > a:after {
            border-left-color: #555;
        }
        .dropdown-submenu.pull-left {
            float: none;
        }.dropdown-submenu.pull-left > .dropdown-menu {
             left: -100%;margin-left: 10px;-webkit-border-radius: 6px 0 6px 6px;-moz-border-radius: 6px 0 6px 6px;border-radius: 6px 0 6px 6px;
         }
    </style>
}
<ul class="nav navbar-nav">
    @*<li class="active"><a href="#">Active Link</a></li>
    <li><a href="#">Link</a></li>*@
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">QUIK<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Стоп заявки","Index","Quik",new {type = nameof(Quik_StopOrder)},null)</li>
        </ul>
    </li>
    @*<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Dropdown Link 1</a></li>
            <li><a href="#">Dropdown Link 2</a></li>
            <li><a href="#">Dropdown Link 3</a></li>
            <li class="divider"></li>
            <li class="dropdown dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Link 4</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Dropdown Submenu Link 4.1</a></li>
                    <li><a href="#">Dropdown Submenu Link 4.2</a></li>
                    <li><a href="#">Dropdown Submenu Link 4.3</a></li>
                    <li><a href="#">Dropdown Submenu Link 4.4</a></li>
                </ul>
            </li>
            <li class="dropdown dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Link 5</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Dropdown Submenu Link 5.1</a></li>
                    <li><a href="#">Dropdown Submenu Link 5.2</a></li>
                    <li><a href="#">Dropdown Submenu Link 5.3</a></li>
                    <li class="divider"></li>
                    <li class="dropdown dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Submenu Link 5.4</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Dropdown Submenu Link 5.4.1</a></li>
                            <li><a href="#">Dropdown Submenu Link 5.4.2</a></li>
                            <li class="divider"></li>
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Submenu Link 5.4.3</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dropdown Submenu Link 5.4.3.1</a></li>
                                    <li><a href="#">Dropdown Submenu Link 5.4.3.2</a></li>
                                    <li><a href="#">Dropdown Submenu Link 5.4.3.3</a></li>
                                    <li><a href="#">Dropdown Submenu Link 5.4.3.4</a></li>
                                </ul>
                            </li>
                            <li class="dropdown dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown Submenu Link 5.4.4</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dropdown Submenu Link 5.4.4.1</a></li>
                                    <li><a href="#">Dropdown Submenu Link 5.4.4.2</a></li>
                                    <li><a href="#">Dropdown Submenu Link 5.4.4.3</a></li>
                                    <li><a href="#">Dropdown Submenu Link 5.4.4.4</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>*@
</ul>
@section script
{
    <script>
        (function($) {
            $(document).ready(function() {
                $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
                    event.preventDefault();
                    event.stopPropagation();
                    $(this).parent().siblings().removeClass('open');
                    $(this).parent().toggleClass('open');
                });
            });
        })(jQuery);
    </script>
}