﻿@using Kendo.Mvc.UI
@using WebGBFXT.Areas.Administration.Models
@{
    ViewBag.Title = "Администрирование отделов";
    Layout = "~/Views/Shared/_OneIndex.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row wrapper wrapper-content">
    <div class="col-lg-12 animated fadeIn">
        <div class="ibox">
            <div class="ibox-content">
                @(Html
                      .Kendo()
                      .TreeList<DepartamentTableItem>()
                      .Name("DepartamentTable")
                      .Toolbar(toolbar => { toolbar.Create().Text("Создать"); })
                      .Columns(columns =>
                      {
                          columns.Add().Field(v => v.caption).Title("Наименование");
                          columns.Add().Field(v => v.description).Title("Описание");
                          columns.Add().Field(v => v.oldid).Title("Старый ИД");
                          columns.Add().Command(command =>
                          {
                              command.Edit().Text("Редактировать");
                              command.Destroy().Text("Удалить");
                          });
                      })
                      .Editable(editable => { editable.Mode("inline").Move(true); })
                      .Sortable()
                      .DataSource(source =>
                      {
                          source
                              .Model(model =>
                              {
                                  model.Id(v => v.id);
                                  model.ParentId(v => v.parentId);
                                  model.Expanded(true);
                              })
                              .Create(create => { create.Url(Url.Action("Create", "Departament", new {area = "Administration"})); })
                              .Read(read => { read.Url(Url.Action("Read", "Departament", new {area = "Administration"})); })
                              .Update(update => { update.Url(Url.Action("Update", "Departament", new {area = "Administration"})); })
                              .Destroy(destroy => { destroy.Url(Url.Action("Destroy", "Departament", new {area = "Administration"})); });
                      })
                      .Events(e => { e.DragStart("dragStart").DragEnd("dragEnd"); }))
            </div>
        </div>
    </div>
</div>

@section script
{
    <script>
        function dragStart(e) {
            console.log("start");
            $("#DepartamentTable").data("kendoTreeList").dataSource.options.autoSync = true;
        }

        function dragEnd(e) {
            $("#DepartamentTable").data("kendoTreeList").dataSource.options.autoSync = false;
            console.log("stop");
        }
    </script>
}