﻿@using CoreLimitless
@using CoreSupport.Reflection
@using CoreWeb2.Models
@using Kendo.Mvc.UI
@model LibCoreDB.DataDb
@{
    ViewData["Title"] = "Меню";
    Layout = "_Index";
}

@(new LimitlessPageHeader
  {
      Caption = ViewData["Title"].AsType<string>(),
      Subcaption = " - Администрирование дерева меню.",
      MarginBottom = 0,
      Path = new[]
      {
          new LessLink
          {
              Url = "/Admin/MenuList/Index",
              Icon = "icon-home2",
              Caption = "Дерево"
          }
      },
      Buttons = new[]
      {
          new LessLink
          {
              Caption = "Добавить",
              Url = "/Admin/MenuItem/",
              Icon = "icon-add"
          }
      }
  })

<script id="template_link" type="text/x-kendo-template">
    # if(UrlLink){#
    <a class="btn btn-link bg-blue" href="#=UrlLink#">ссылка</a>
    #}#
</script>

<script id="template_icon" type="text/x-kendo-template">
    <div class="text-center">
        <i class="#=Icon#"></i>
    </div>
</script>

<script id="template_label" type="text/x-kendo-template">
    <div class="text-center">
        # if(Label) {#
        #=Label#
        #}#
    </div>
</script>

<script id="template_button" type="text/x-kendo-template">
    <a class="btn bg-blue" href="/Admin/MenuItem/Index/#=ID#">
        <i class="icon-hammer-wrench text-white"></i>
    </a>
    <a class="k-button btn bg-danger" data-command="destroy"  style="margin:0;min-width:0;">
        <i class="icon-trash text-white"></i>
    </a>
</script>

@(
        Html.Kendo().TreeList<MenuModel>()
            .Name("menuTreeList")
            .Columns(columns =>
            {
                columns.Add().Field(e => e.Header).Width(80);
                columns.Add().Field(e => e.Label).TemplateId("template_label").Width(70);
                columns.Add().Field(e => e.Icon).TemplateId("template_icon").Width(70);
                columns.Add().Field(e => e.Caption);
                columns.Add().Field(e => e.UrlLink).TemplateId("template_link").Width(100);
                columns.Add().Command(v => { }).TemplateId("template_button").Width(107);
            })
            .Sortable()
            .Scrollable(false)
            .Editable(v => { v.Move(true); })
            .DataSource(dataSource => dataSource
                .ServerOperation(false)
                .Model(m =>
                {
                    m.Id(f => f.ID);
                    m.ParentId(f => f.ParentID);
                    m.Expanded(true);
                })
                //.Read(v => v.Action("Read", "MenuList"))
                //.Update(v => v.Action("Update", "MenuList"))
                //.Destroy(v => v.Action("Destroy", "MenuList"))
                .AutoSync(true)
            )
            .HtmlAttributes(new
            {
                style = "height:100%"
            }))

@section script
{
    <script>
        function RenderMultiselect(array) {
            var text;
            try {
                array.forEach(function(item) {
                    if (text == undefined) {
                        text = item + ', ';
                    } else {
                        text = text + item + ', ';
                    }
                });
                if (array.length > 0) {
                    text = text.slice(0, -2);
                }
            } catch (err) {

            }
            if (text == undefined) {
                text = "";
            }
            return text;
        }
    </script>
}