﻿<style>
    .progress-circular-blue {
        width:100px;
        height:60px;
        overflow:hidden;
        float:right;
    }
</style>


<!--<div class="clearfix">
    <div class="page-header">
        <h3>Информация об остатках денежных средств</h3>
    </div>
</div>-->
<!--table-->

<script>
    $('.animated-bar .progress-bar').waypoint(function (direction) {
        $(this).progressbar({ display_text: 'fill' });
    }, { offset: 'bottom-in-view' });

    //------------- Circfull progress bar -------------//
    //red color
    $('.progress-circular-red').circliful({ backgroundColor: '#eeeeee', foregroundColor: '#df6a78' });
    //blue color
    $('.progress-circular-blue').circliful({ backgroundColor: '#eeeeee', foregroundColor: '#29b6d8' });
    //green color
    $('.progress-circular-green').circliful({ backgroundColor: '#eeeeee', foregroundColor: '#66c796' });
    //orange color
    $('.progress-circular-orange').circliful({ backgroundColor: '#eeeeee', foregroundColor: '#f4ad49' });
</script>